<template lang="pug">
    Loader(v-if="!templates" :center="true")
    Page(v-else)
        PageHeader(:title="$t('download_title')" :description="$t('download_desc')")
          template(slot='actions')
            Button(tag="button" @click="onOpenAddFile") {{$t('add_document')}}
        TableDocuments(
          data-path="data"
          :data="templates"
          :columns="columns"
          :loading="this.isLoading"
          @fetch="fetchTemplates"
        )
        AddTemplateModal(name="add-document" @success-add="afterAddFile")
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";

import {
  PageHeader,
  FormItem,
  TextField,
  Button,
  Loader,
  TableDocuments,
  Modal
} from "@/UI";
import { AddTemplateModal } from "@/components/Templates";
import router from "@/router";
import { Maybe, DataInterface } from "@/helpers/types";
import { downloaderUserDoc } from "@/helpers/utils/downloaderUserDoc";
import Page from "@/UI/Page/Page.vue";
import { downloader } from "@/helpers/utils/downloader";
import { URL } from "@/helpers/constants";
@Component({
  components: {
    Page,
    Modal,
    PageHeader,
    FormItem,
    TextField,
    Button,
    Loader,
    TableDocuments,
    AddTemplateModal
  }
})
export default class PageDocuments extends Vue {
  @Action fetchTemplates!: () => Promise<void>;
  @Getter("getTemplates") templates!: Maybe<DataInterface<any[]>>;
  public isLoading = false;
  public columns = [
    {
      field: "name",
      label: "title",
      sortable: true,
      component: () => "a",
      action: (media: { id: number }) => {
        const { id } = media;
        router.push(`${URL.DOCUMENTS}/${id}/edit`);
      }
    }
  ];

  public created() {
    this.fetchTemplates();
  }
  public async afterAddFile() {
    this.isLoading = true;
    await this.fetchTemplates();
    this.isLoading = false;
  }
  public onOpenAddFile() {
    this.$modal.show("add-document");
  }
}
</script>

<style lang="scss"></style>
