<template lang="pug">
    Loader(v-if="!this.file" :center="true")
    Page(v-else)
        PageHeader(:title="file.name")
        PageEditTabs
            Tabs
                TabContent(:title="$t('general')", id="General")
                    TabHeader(:title="$t('file_desc')")
                        Button(@click="onEdit" :loading="isLoading") {{$t('save')}}
                    Separator
                    Title(:offset="true") {{$t('general')}}
                    FormItem(:label="$t('title')" :required="true")
                        TextField(v-model="file.name" id="nameFront" name="nameFront")
                    Title(:offset="true") {{$t('file')}}
                    FormItem(:label="$t('file_curr')" class="w-100")
                        a.source.action_button_link.action_button_source(@click="onDownload(file)") {{$t('file_download')}}
                        a.replace.action_button_link.action_button_replace(@click="AddNewFile()") {{$t('file_change')}}
                    FormItem(:label="$t('file_new')" v-if="newFile")
                        span(v-if="fileUpload") {{fileUpload.name}} ({{fileSize(fileUpload.size)}})
                        FileUploader(id="file" @change="handleFileUpload" name="file" :placeholder="$t('file_select')")
                    FormItem
                        ProgressBar(v-if="this.percent" :percent="this.percent")
                    

</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {
  Button,
  Picture,
  Tabs,
  TabHeader,
  TabContent,
  Separator,
  Title,
  Loader,
  FormItem,
  TextField,
  PageEditTabs,
  PageEditHeader,
  PageHeader,
  Page,
  FileUploader,
  ProgressBar,
  Checkbox
} from "@/UI";

import { CourseInterface } from "@/helpers/types/courses";
import { Action, Getter } from "vuex-class";

import { URL } from "@/helpers/constants/url";
import { scrollToElement } from "@/helpers/utils/functions";
import { Maybe, MediaInterface } from "@/helpers/types";

import { CourseChapter, CourseChapterAdd } from "@/components/Course";
import MembersList from "@/components/MembersList.vue";
import Members from "@/components/Members.vue";
import { uploader } from "@/helpers/utils/uploader";
const pluralize = require("numeralize-ru").pluralize;
const filesize = require("filesize");
import { downloader } from "@/helpers/utils/downloader";
import { downloaderTwo } from "@/helpers/utils/downloaderTwo";
import { makeFormattedMediaType } from "@/helpers/utils/functions";
@Component({
  components: {
    Page,
    PageEditTabs,
    PageEditHeader,
    Members,
    Separator,
    TabHeader,
    MembersList,
    CourseChapter,
    CourseChapterAdd,
    TextField,
    FormItem,
    Title,
    Loader,
    Tabs,
    TabContent,
    Button,
    Picture,
    PageHeader,
    FileUploader,
    ProgressBar,
    Checkbox
  }
})
export default class PageCourseEdit extends Vue {
  //@Action fetchCourse!: (id: number) => Promise<void>;
  @Action getTemplate!: (id: number) => Promise<void>;
  @Getter("getCurrentTemplate") file!: any;

  public URL = URL;
  public courseChapterAddView: "button" | "form" = "button";
  public id = +this.$route.params.id;
  public data: Maybe<CourseInterface> = null;
  public fileUpload: Maybe<File> = null;
  public isLoading = false;
  public isDeleting = false;
  public percent = 0;
  public isProject = false;
  public days = 0;
  public hours = 0;
  public mins = 0;
  public newFile = false;

  async created(): Promise<void> {
    await this.getTemplate(this.id);
    //this.getUpdate();
  }

  public handleFileUpload(value: File) {
    console.log(value);
    this.fileUpload = value;
    if (this.file?.name_front === "") {
      this.file.name_front = value.name;
    }
  }

  public onDownload(file: any) {
    downloader(file.id, id => `/admin/document/${id}/download`, file.file);
  }
  public AddNewFile() {
    this.newFile = !this.newFile;
  }
  public async onEdit() {
    try {
      const params = {
        name: this.file?.name,
        file: this.fileUpload
      };
      this.isLoading = true;
      await uploader(
        `/admin/document/${this.id}`,
        params,
        percent => (this.percent = percent)
      );
      this.isLoading = false;
      this.$emit("success-add");
    } finally {
      this.percent = 0;
      this.isLoading = false;
    }
  }
  get isAdmin() {
    return this.$store.getters.isAdmin;
  }
  //
  //public getUpdate() {
  //  this.data = this.getCourse(this.id);
  //  //console.log(this.data.chapter)
  //}
  //
  //public onChangeChapterAddView(view: "button" | "form") {
  //  scrollToElement("chapter-add");
  //  this.courseChapterAddView = view;
  //}
  //public async onSuccess(): Promise<void> {
  //  console.log("add chapter");
  //  await this.fetchCourse(this.id);
  //  this.getUpdate();
  //}
}
</script>
