<template lang="pug">
    Loader(v-if="!documents" :center="true")
    Page(v-else)
        PageHeader(:title="$t('download_title')" :description="$t('download_desc')")
        .documents-links
            a(v-for="(document, index) in this.documents" :key="index" @click="downloadFile(document)" class="button button--primary documents-links__link")
              template(v-if="document.v") {{ $t(document.name) }} {{document.v}}
              template(v-else) {{ $t(document.name) }}
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";

import {
  PageHeader,
  FormItem,
  TextField,
  Button,
  Loader,
  Table,
  Modal
} from "@/UI";

import { Maybe, DataInterface } from "@/helpers/types";
import { downloaderUserDoc } from "@/helpers/utils/downloaderUserDoc";
import Page from "@/UI/Page/Page.vue";

@Component({
  components: {
    Page,
    Modal,
    PageHeader,
    FormItem,
    TextField,
    Button,
    Loader,
    Table
  }
})
export default class PageDocuments extends Vue {
  @Action fetchDocuments!: (params?: string) => Promise<void>;
  @Getter("getDocuments") documents!: Maybe<DataInterface<any[]>>;

  public created() {
    this.fetchDocuments();
  }

  public downloadFile(document: any) {
    if (document.v) {
      downloaderUserDoc(
        document.id,
        `/api/document/generation/${document.id}&v=${document.v}`
      );
    } else {
      downloaderUserDoc(document.id, `/api/document/generation/${document.id}`);
    }
  }
}
</script>

<style lang="scss">
.documents-links__link {
  min-width: 250px;
}
</style>
