<template lang="pug">
    Page
        PageHeader(:title="$t('Upload_the_documents')" :description="$t('Upload_text')")
        PageContent.main_content__document
          .row-group
            PageContentUploader.form-control.form-control-3.flex.flex-col.items-stretch
              p {{$t('Upload_the_certificate_of_completion_signed')}}
              file-upload(
                input-id="upload-1"
                ref="upload-1"
                v-model="act"
                @input="inputFileAct"
                :add-index="true"
                :size="5120"
                class="uploader"
                :drop="true"
                name="act"
              )
                i.icon.icon-upload(:class="{ loaded: act[0] }")
                template(v-if="act[0]")
                  span.loaded {{act[0].name}}
                  span(@click="removeFile(act, 'upload-1')").delete-uploaded.font-medium.text-red-600 Удалить
            PageContentUploader.form-control.form-control-3.flex.flex-col.items-stretch
              p {{$t('Upload_profile')}}
              file-upload(
                input-id="upload-2"
                ref="upload-2"
                v-model="anketa"
                @input="inputFileAnketa"
                :add-index="true"
                :size="5120"
                class="uploader"
                :drop="true"
                name="anketa"
              )
                i.icon.icon-upload(:class="{ loaded: anketa[0] }")
                template(v-if="anketa[0]")
                  span.loaded {{anketa[0].name}}
                  span(@click="removeFile(anketa, 'upload-2')").delete-uploaded.font-medium.text-red-600 Удалить
            PageContentUploader.form-control.form-control-3.flex.flex-col.items-stretch
              p {{$t('Upload_contract_signed')}}
              file-upload(
                input-id="upload-3"
                ref="upload-3"
                v-model="contract"
                @input="inputFileContract"
                :add-index="true"
                :size="5120"
                class="uploader"
                :drop="true"
                name="contract"
              )
                i.icon.icon-upload(:class="{ loaded: contract[0] }")
                template(v-if="contract[0]")
                  span.loaded {{contract[0].name}}
                  span(@click="removeFile(contract, 'upload-3')").delete-uploaded.font-medium.text-red-600 Удалить
            PageContentUploader.form-control.form-control-3.flex.flex-col.items-stretch
              p {{$t('Upload_application')}}
              file-upload(
                input-id="upload-4"
                ref="upload-4"
                v-model="application"
                @input="inputFileApplication"
                :add-index="true"
                :size="5120"
                class="uploader"
                :drop="true"
                name="application"
              )
                i.icon.icon-upload(:class="{ loaded: application[0] }")
                template(v-if="application[0]")
                  span.loaded {{application[0].name}}
                  span(@click="removeFile(application, 'upload-4')").delete-uploaded.font-medium.text-red-600 Удалить
            PageContentUploader.form-control.form-control-3.flex.flex-col.items-stretch
              p {{$t('Upload_passport')}}
              file-upload(
                input-id="upload-5"
                ref="upload-5"
                v-model="passport"
                @input="inputFilePassport"
                :add-index="true"
                :size="5120"
                class="uploader"
                :drop="true"
                name="passport"
              )
                i.icon.icon-upload(:class="{ loaded: passport[0] }")
                template(v-if="passport[0]")
                  span.loaded {{passport[0].name}}
                  span(@click="removeFile(passport, 'upload-5')").delete-uploaded.font-medium.text-red-600 Удалить
            PageContentUploader.form-control.form-control-3.flex.flex-col.items-stretch
              p {{$t('Upload_scan_of_education_diploma')}}
              file-upload(
                input-id="upload-6"
                ref="upload-6"
                v-model="diplom"
                @input="inputFileDiplom"
                :add-index="true"
                :size="5120"
                class="uploader"
                :drop="true"
                name="uploader"
              )
                i.icon.icon-upload(:class="{ loaded: diplom[0] }")
                template(v-if="diplom[0]")
                  span.loaded {{diplom[0].name}}
                  span(@click="removeFile(diplom, 'upload-6')").delete-uploaded.font-medium.text-red-600 Удалить
            PageContentUploader.form-control.form-control-3.flex.flex-col.items-stretch
              p {{$t('Upload_personal_schedule_signed')}}
              file-upload(
                input-id="upload-7"
                ref="upload-7"
                v-model="graph"
                @input="inputFileGraph"
                :add-index="true"
                :size="5120"
                class="uploader"
                :drop="true"
                name="graph"
              )
                i.icon.icon-upload(:class="{ loaded: graph[0] }")
                template(v-if="graph[0]")
                  span.loaded {{graph[0].name}}
                  span(@click="removeFile(graph, 'upload-7')").delete-uploaded.font-medium.text-red-600 Удалить
          .d-flex.flex-col.m-0
            a.source.action_button_link.action_button_source(v-for="(file) in this.userDocuments" @click="onDownload(file.id, file)") {{file.name}}
                
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";
import {
  Page,
  PageHeader,
  PageContent,
  PageContentUploader,
  Button,
  Loader,
  Checkbox,
  Select,
  Modal,
  FormItem,
  TextField,
  Datepicker,
  SelectSearch,
  FileUploader
} from "@/UI";
import { URL } from "@/helpers/constants";
import VideoItem from "@/components/VideoItem.vue";
import { makeQueryURL } from "@/helpers/utils/functions";
import { uploader } from "@/helpers/utils/uploader";
import {
  Maybe,
  DataInterface,
  CourseInterface,
  UserInterface,
  MediaInterface
} from "@/helpers/types";
import {downloader} from "@/helpers/utils/downloader";
@Component({
  components: {
    Page,
    PageHeader,
    PageContent,
    PageContentUploader,
    Button,
    Select,
    Loader,
    Checkbox,
    Modal,
    FormItem,
    TextField,
    VideoItem,
    Datepicker,
    SelectSearch,
    FileUploader
  }
})
export default class PageVideoManager extends Vue {
  @Action uploadUserDocuments!: (params?: any) => Promise<void>;
  @Getter("getProfile") profile!: Maybe<UserInterface>;
  @Action showDocuments!: (params?: string) => Promise<void>;
  @Getter("getUserDocuments") userDocuments!: any;
  //public async created() {
  //  await this.fetchCourses();
  //}
  public files: any;
  public act = [];
  public anketa = [];
  public actFile: Maybe<File> = null;
  public contract = [];
  public contractFile: Maybe<File> = null;
  public application = [];
  public passportFile: Maybe<File> = null;
  public passport = [];
  public diplomFile: Maybe<File> = null;
  public diplom = [];
  public applicationFile: Maybe<File> = null;
  public graph = [];
  public graphFile: Maybe<File> = null;
  public anketaFile: Maybe<File> = null;
  public percent = 0;

  public async created() {
    await this.showDocuments();
  }

  public onDownload(id: any, file: any) {
    downloader(
        id,
        id => `/api/document/${id}/view/?media=${id}&is_download=${id}`,
        file
    );
  }

  public async inputFileAct(value: any) {
    //console.log(value);
    //console.log(this.$refs["upload-1"]);
    if (value[0]) {
      this.actFile = value[0].file;
      try {
        const params = {
          collection: "act",
          id: this.profile?.id,
          file: this.actFile
        };
        await uploader(
          "/api/document",
          params,
          percent => (this.percent = percent)
        );
      } finally {
        this.percent = 0;
      }
    }
  }
  public removeFile(file: any, ref: string) {
    //console.log(file)
    (this.$refs[ref] as any).remove(file[0]);
  }
  public async inputFileAnketa(value: any) {
    console.log(value);
    if (value[0]) {
      this.anketaFile = value[0].file;
      try {
        const params = {
          collection: "anketa",
          id: this.profile?.id,
          file: this.anketaFile
        };
        await uploader(
          "/api/document",
          params,
          percent => (this.percent = percent)
        );
      } finally {
        this.percent = 0;
      }
    }
  }
  public async inputFileContract(value: any) {
    console.log(value);
    if (value[0]) {
      this.contractFile = value[0].file;
      try {
        const params = {
          collection: "contract",
          id: this.profile?.id,
          file: this.contractFile
        };
        await uploader(
          "/api/document",
          params,
          percent => (this.percent = percent)
        );
      } finally {
        this.percent = 0;
      }
    }
  }
  public async inputFileApplication(value: any) {
    console.log(value);
    if (value[0]) {
      this.applicationFile = value[0].file;
      try {
        const params = {
          collection: "application",
          id: this.profile?.id,
          file: this.applicationFile
        };
        await uploader(
          "/api/document",
          params,
          percent => (this.percent = percent)
        );
      } finally {
        this.percent = 0;
      }
    }
  }
  public async inputFilePassport(value: any) {
    console.log(value);
    if (value[0]) {
      this.passportFile = value[0].file;
      try {
        const params = {
          collection: "passport",
          id: this.profile?.id,
          file: this.passportFile
        };
        await uploader(
          "/api/document",
          params,
          percent => (this.percent = percent)
        );
      } finally {
        this.percent = 0;
      }
    }
  }
  public async inputFileDiplom(value: any) {
    console.log(value);
    if (value[0]) {
      this.diplomFile = value[0].file;
      try {
        const params = {
          collection: "diplom",
          id: this.profile?.id,
          file: this.diplomFile
        };
        await uploader(
          "/api/document",
          params,
          percent => (this.percent = percent)
        );
      } finally {
        this.percent = 0;
      }
    }
  }
  public async inputFileGraph(value: any) {
    console.log(value);
    if (value[0]) {
      this.graphFile = value[0].file;
      try {
        const params = {
          collection: "graph",
          id: this.profile?.id,
          file: this.graphFile
        };
        await uploader(
          "/api/document",
          params,
          percent => (this.percent = percent)
        );
      } finally {
        this.percent = 0;
      }
    }
  }
}
</script>
<style lang="scss">
.delete-uploaded {
  position: absolute;
  bottom: 0.375rem;
  cursor: pointer;
  z-index: 2;
}
</style>
