<template lang="pug">
    Page.quiz-page
        Loader(v-if="!currentQuestion" :center="true")

        PageHeader(v-else :title="question.question")
            template(slot="actions")
                //Button(icon="eye", variant="default", :to="`${URL.QUIZZES}/${this.id}`" target="_blank") {{$t('view')}}
                //Button(icon="pen" variant="default" @click="handleEditQuiz") {{$t('edit_quiz')}}
                Button(icon="trash-alt" variant="danger" :loading="isLoading" @click="handleDeleteQuiz") Удалить вопрос
        PageEditTabs(v-if="currentQuestion")
          Tabs
            TabContent(title="Варианты ответов", id="QuestionOptions")
              QuizQuestionOptions(
                    :question-id="currentQuestion.id"
                    :question-options="currentQuestion.options"
                    @question-option-delete="updateCurrentQuestion"
                    @question-option-add="updateCurrentQuestion"
                )
            TabContent(title="Настройки", id="Settings")
              TabHeader(title="На этой странице вы можете изменить настройки теста")
                  Button(@click="onEdit") {{$t('save')}}
              QuizQuestionActionTab(:question="currentQuestion" @question-update="updateCurrentQuestion")
        //QuizActionModal(
        //    v-if="currentQuiz"
        //    @submit="updateCurrentQuiz"
        //)
        //
        //QuizQuestionActionModal(
        //    v-if="currentQuiz && currentQuiz.id"
        //    @question-action="updateCurrentQuiz"
        //)
        //
        QuizQuestionOptionActionModal(
            v-if="currentQuestion && currentQuestion.id"
            @question-option-action="updateCurrentQuestion"
        )
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
import { Maybe } from "@/helpers/types";
import { Quiz, Question } from "@/helpers/types/quiz";
import { URL } from "@/helpers/constants/url";
import QuizQuestionOptions from "@/components/Quiz/QuizQuestionOptions.vue";
import {
  Page,
  PageHeader,
  PageContent,
  Loader,
  Table,
  Button,
  DraggableList,
  Subtitle,
  PageEditHeader,
  PageEditTabs,
  Tabs,
  TabContent,
  TabHeader
} from "@/UI";
import {
  QuizQuestions,
  QuizActionModal,
  QuizQuestionActionModal,
  QuizQuestionOptionActionModal,
  QuizQuestionActionTab
} from "@/components/Quiz";
import { uploader } from "@/helpers/utils/uploader";
@Component({
  components: {
    Page,
    PageHeader,
    PageContent,
    Loader,
    Table,
    Button,
    Subtitle,
    DraggableList,
    QuizQuestions,
    QuizActionModal,
    QuizQuestionActionModal,
    QuizQuestionOptionActionModal,
    PageEditHeader,
    PageEditTabs,
    Tabs,
    TabContent,
    TabHeader,
    QuizQuestionActionTab,
    QuizQuestionOptions
  }
})
export default class QuizPage extends Vue {
  /**
   * FIXME: Добиться того, чтобы Андрей определил точную типизацию тестов и вопросов!
   * Сейчас названия полей и их типы отличаются в параметрах запроса и объекте ответа,
   * из-за этого приходится переводить типы из одного в другой
   * и деконструировать объекты, чтобы указать правильные поля и типы полей.
   * Например:
   * Типы поля quiz_id в объекте Question
   * Поле visible/active и его тип (1/0, "1"/"0", true/false) в объекте Question
   */
  @Action deleteQuestion!: (question: Question) => Promise<void>;
  @Action fetchQuiz!: (id: Quiz["id"]) => Promise<void>;
  @Action fetchQuestion!: (id: number) => Promise<void>;
  @Action deleteQuiz!: (quiz: Quiz) => Promise<void>;
  @Getter("getQuiz") quiz!: Quiz;
  @Getter("getQuestion") question!: Question;
  public URL = URL;
  public id = +this.$route.params.optionId;
  private currentQuiz: Maybe<Quiz> = null;
  private currentQuestion: Maybe<Question> = null;
  private isLoading = false;
  public percent = 0;
  public async mounted() {
    await this.updateCurrentQuestion();
  }

  private async updateCurrentQuestion() {
    await this.fetchQuestion(this.id);
    this.currentQuestion = this.question;
  }
  public async onEdit() {
    try {
      const params = {
        ...(this.question.id !== undefined && { id: +this.question.id }),
        question: this.question.question,
        ...(this.question.quiz_id && { quiz_id: +this.question.quiz_id }),
        ...(this.question.image && {
          image: this.question.image
        }),
        type: this.question.type,
        visible: this.question.active,
        _method: "put"
      };
      await uploader(
        `/admin/question/${this.question.id}`,
        params,
        percent => (this.percent = percent)
      );
      // eslint-disable-next-line no-empty
    } catch (error) {}
  }
  public handleEditQuiz() {
    this.$modal.show("quizModal", {
      title: this.$t("edit_quiz"),
      action: "update",
      actionTitle: this.$t("save"),
      quiz: this.quiz
    });
  }

  private async handleDeleteQuiz() {
    this.isLoading = true;
    try {
      if (this.currentQuestion) {
        await this.deleteQuestion(this.question);
        this.$router.back();
      }
      // eslint-disable-next-line no-empty
    } catch (error) {}
    this.isLoading = false;
  }
}
</script>
