<template lang="pug">
    Page.quiz-client-page
        //span {{quiz}}
        //span {{currentQuizQuestion.Question}}
        Loader(v-if="isLoading" :center="true")
        
        PageContent(v-if="quizError.errorName === 'DONT_PERMISSION'")
          h2 У вас нет доступа к данному тесту
        PageContent(v-else-if="quizError.errorName === 'MAX_ATTEMPT'")
          h2 {{$t('no_attempt')}}
        PageHeader(v-else-if="quiz" :title="quiz.quiz.title")
        
        div(v-if="quiz && quiz.old && !isContinueAttempt").quiz-client-page__isold
            .quiz-client-page__isold__text
              Icon(name="question-circle")
              span {{$t('complete_test')}}
            .quiz-client-page__isold__buttons
              Button(
                  @click="continueAttempt"
              ) {{$t('yes')}}
              Button(
                  @click="newAttempt"
              ) {{$t('no')}}

        PageContent(v-if="currentQuizQuestion && (isContinueAttempt || !quiz.old)")
          div(v-if="currentQuizQuestion.status == 'FINISHED'")
            h2 {{$t('passed_test_on')}} {{currentQuizQuestion.QuizAttempt.score}} {{$t('points_from')}} {{quiz.quiz.max_score}} {{$t('possible_points')}}
            Button(
                    @click="newAttemptTwo"
                ) {{$t('new_attempt')}}
          div(v-if="!isQuestionLoading")  
            .quiz-client-page__header
              .quiz-client-page__header__questions
                span {{$t('question')}} {{currentQuizQuestion.QuizAttempt.progressAnswer}} {{$t('of')}} {{currentQuizQuestion.QuizAttempt.countQuestion}}
              .quiz-client-page__header__timer
                QuizQuestionTimer(:timer="quiz.quiz.response_time * 10" :alternate-text="$t('time_up')" @time-over="timeOver")
            QuizQuestionBlock(
                v-if="currentQuizQuestion"
                :question="currentQuizQuestion.Question"
                
                @select-value="kek"
            )
            .quiz-client-page__buttons  
              Button(
                  v-if="false"
                  variant="danger"
              ) {{$t('answers')}}
              Button(
                  :disabled="isNextButtonDisabled"
                  :loading="isQuestionLoading"
                  @click="nextQuestion"
              ) {{$t('next_question')}}
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";

import {
  QuizAttemptData,
  Question,
  Quiz,
  currentQuizQuestionInterface,
  QuestionUserAnswer
} from "@/helpers/types/quiz";
import {
  Page,
  PageHeader,
  PageContent,
  Loader,
  Separator,
  Subtitle,
  Button
} from "@/UI";
import { QuizQuestionBlock, QuizQuestionTimer } from "@/components/Quiz/client";
import { Maybe } from "@/helpers/types";

@Component({
  components: {
    Page,
    PageHeader,
    PageContent,
    Loader,
    Separator,
    Subtitle,
    QuizQuestionBlock,
    QuizQuestionTimer,
    Button
  }
})
export default class QuizPage extends Vue {
  //получаем квиз
  @Action fetchQuiz!: (id: Quiz["id"]) => Promise<void>;
  @Action addQuestionUserAnswer!: (
    questionUserAnswer: QuestionUserAnswer
  ) => Promise<void>;
  @Action fetchQuizAttemptData!: (id: Quiz["id"]) => Promise<QuizAttemptData>;
  @Action fetchQuizNewAttemptData!: (
    id: Quiz["id"]
  ) => Promise<QuizAttemptData>;
  //получаем вопросы к квизу
  @Getter("getQuizError") quizError!: Array<any>;
  @Action fetchQuizQuestion!: (quiz: QuizAttemptData) => Promise<Question>;
  @Getter("getQuizAttemptData") quiz!: Maybe<QuizAttemptData>;

  @Getter("getCurrentQuizQuestion") currentQuizQuestion!: Maybe<
    currentQuizQuestionInterface
  >;
  //@Getter("getCurrentQuizQuestion") question!: Maybe<QuizQuestions>;

  private isLoading = false;

  private isQuestionLoading = false;
  public isNextButtonDisabled = true;
  private currentQuestionIndex = 0;
  public isContinueAttempt = false;
  public currentAnswer: QuestionUserAnswer[] = [];
  vm: any;
  public async mounted() {
    this.isLoading = true;
    //получаем квиз
    await this.fetchQuizAttemptData(+this.$route.params?.id);
    this.isLoading = false;

    this.isQuestionLoading = true;
    if (typeof this.quiz?.quiz_id === "number") {
      await this.fetchQuizQuestion(this.quiz);
    }
    this.isQuestionLoading = false;
  }

  private prevQuestion() {
    this.currentQuestionIndex--;
  }

  private async nextQuestion() {
    await this.addQuestionUserAnswer(this.currentAnswer as any);
    this.isQuestionLoading = true;
    if (this.quiz) {
      await this.fetchQuizQuestion(this.quiz);
    }
    if (this.currentQuizQuestion?.status == "IN_PROCESS") {
      this.isQuestionLoading = false;
      this.currentQuestionIndex++;
    } else if (this.currentQuizQuestion?.status == "FINISHED") {
      this.isQuestionLoading = true;
    }
  }
  public async newAttempt() {
    this.isQuestionLoading = true;
    await this.fetchQuizNewAttemptData(+this.$route.params?.id);
    await this.fetchQuizQuestion(this.quiz as any);
    this.isQuestionLoading = false;
  }
  public newAttemptTwo() {
    window.location.reload();
  }
  public continueAttempt() {
    this.isContinueAttempt = true;
  }

  // TODO: Сделать отправку запроса на добавление ответа
  public kek(value: any) {
    //console.log(value);
    this.currentAnswer = value;
    if (this.currentAnswer) {
      if (
        !(
          typeof (this.currentAnswer as any).answer_id !== "undefined" &&
          (this.currentAnswer as any).answer_id.length > 0
        ) &&
        !(
          typeof (this.currentAnswer as any).alternative !== "undefined" &&
          (this.currentAnswer as any).alternative.length > 0
        )
      ) {
        this.isNextButtonDisabled = true;
      } else {
        this.isNextButtonDisabled = false;
      }
    }
  }
  public async timeOver() {
    if (typeof (this.currentAnswer as any).quiz_id !== "undefined") {
      //console.log(this.currentAnswer)
      if (this.currentAnswer) {
        await this.addQuestionUserAnswer(this.currentAnswer as any);
        this.isQuestionLoading = true;
        if (this.quiz) {
          await this.fetchQuizQuestion(this.quiz);
        }
        if (this.currentQuizQuestion?.status == "IN_PROCESS") {
          this.isQuestionLoading = false;
        } else if (this.currentQuizQuestion?.status == "FINISHED") {
          this.isQuestionLoading = true;
        }
      }
    } else {
      const answer: any = {
        quiz_id: (this.currentQuizQuestion as any).Question.quiz_id,
        question_id: (this.currentQuizQuestion as any).Question.id,
        alternative: "Нет ответа"
      };
      await this.addQuestionUserAnswer(answer);
      this.isQuestionLoading = true;
      if (this.quiz) {
        await this.fetchQuizQuestion(this.quiz);
      }
      if (this.currentQuizQuestion?.status == "IN_PROCESS") {
        this.isQuestionLoading = false;
        this.currentQuestionIndex++;
      } else if (this.currentQuizQuestion?.status == "FINISHED") {
        this.isQuestionLoading = true;
      }
    }
  }
}
</script>

<style lang="scss"></style>
