<template lang="pug">
    Loader(v-if="!rating" :center="true")
    Page(v-else)
        Button(@click="onFilter" v-if="!filter") {{$t('open_filter')}}
        Button(@click="onFilter" v-if="filter") {{$t('close_filter')}}
        .filter(v-if="filter")
          FormItem(:label="$t('month')" :required="true")
            Select(v-model="data.mounth" name="mounth" :options="['3', '6', '9', '12']")
          FormItem(:label="$t('year')" :required="true")
            TextField(v-model="data.year" name="year")
          Button(@click="filterData" v-if="filter") {{$t('apply')}}
        TableRating(
            class="table-rating"
            :data="this.rating"
            :columns="this.columns"
            :selectOptions="{ enable: false }"
        )
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";

import {
  PageHeader,
  FormItem,
  TextField,
  Button,
  Loader,
  Select,
  TableRating,
  Modal
} from "@/UI";

import { Maybe, DataInterface } from "@/helpers/types";
import Page from "@/UI/Page/Page.vue";

@Component({
  components: {
    Page,
    Modal,
    PageHeader,
    FormItem,
    TextField,
    Button,
    Loader,
    TableRating,
    Select
  }
})
export default class PageRating extends Vue {
  @Action fetchRating!: (params?: string) => Promise<void>;
  @Action fetchRatingWithFilter!: (params: any) => Promise<void>;
  @Getter("getRating") rating!: Maybe<DataInterface<any[]>>;

  public columns = [
    {
      field: "place",
      label: "position_two"
    },
    {
      field: "academic",
      label: "Academic_performance"
    },
    {
      field: "total_score",
      label: "total_score"
    },
    {
      field: "user.name",
      label: "user"
    },
    {
      field: "att",
      label: "Meeting_schedule_deadlines"
    },
    {
      field: "social",
      label: "Social_activity"
    },
    {
      field: "debt",
      label: "debt"
    },
    {
      field: "upcoming_events",
      label: "upcoming_events"
    }
  ];
  public data = {
    mounth: 3,
    year: "2021"
  };
  public onFilter() {
    if (this.filter === true) {
      this.filter = false;
    } else {
      this.filter = true;
    }
  }
  public async filterData() {
    await this.fetchRatingWithFilter(this.data);
  }
  public filter = false;
  public created() {
    this.fetchRating();
  }
}
</script>

<style lang="scss">
.filter {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 20px;
}

.filter .form-item + .form-item {
  margin-top: 0;
}
.filter .form-item {
  padding-left: 0;
  padding-right: 10px;
}
</style>
