<template lang="pug">
    Modal(:name="name" :title="$t('add_price')")
        FormItem(:label="$t('title')" :required="true")
            TextField(v-model="title" id="title" name="title")
        FormItem(:label="$t('lang')" :required="true")
            Select(v-model="selectedLang" name="lang" track-by="value" label="label" :options="langSelect")
        FormItem(:label="$t('price')" :required="true")
          .flex.flex-col
            div
                label.block.text-sm.font-medium.text-gray-700(for='price_full') Валюта
                .mt-1
                  Select.select-multiplie(v-model="selectedCurr" name="curr" track-by="value" label="label" :options="currSelect" :multiple="true")
            div
              label.block.text-sm.font-medium.text-gray-700(for='price_full') Цена за очное обучение
              .mt-1
                input#price_full.shadow-sm.block.w-full.border-gray-300.rounded-md(
                  v-model="price_full"
                  type='text'
                  name='price_full'
                  class='focus:ring-blue-500 focus:border-blue-500 sm:text-sm')
            div
              label.block.text-sm.font-medium.text-gray-700(for='price_dist') Цена за дистанционное обучение
              .mt-1
                input#price_dist.shadow-sm.block.w-full.border-gray-300.rounded-md(
                  v-model="price_dist"
                  type='text'
                  name='price_dist'
                  class='focus:ring-blue-500 focus:border-blue-500 sm:text-sm')
            div
              label.block.text-sm.font-medium.text-gray-700(for='price_online') Цена за онлайн обучение
              .mt-1
                input#price_online.shadow-sm.block.w-full.border-gray-300.rounded-md(
                  v-model="price_online"
                  type='text'
                  name='price_online'
                  class='focus:ring-blue-500 focus:border-blue-500 sm:text-sm')
        template(slot='footer')
            Button(@click="onAddFile" :loading="this.isLoading") Добавить
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";

import {
  Button,
  Modal,
  FormItem,
  TextField,
  FileUploader,
  ProgressBar,
  Checkbox,
  Select
} from "@/UI";

import { Maybe, UserInterface } from "@/helpers/types";
import { uploader } from "@/helpers/utils/uploader";

@Component({
  components: {
    Button,
    Modal,
    FormItem,
    TextField,
    FileUploader,
    ProgressBar,
    Checkbox,
    Select
  }
})
export default class AddFileModal extends Vue {
  @Prop({ required: true }) name!: string;
  @Prop({ default: "/" }) basePath!: string;
  @Action addFile!: (params: any) => Promise<void>;
  @Action addPrice!: (params: any) => Promise<void>;
  @Getter("getProfile") profile!: Maybe<UserInterface>;

  public file: Maybe<File> = null;
  public selectedLang: object = {};
  public selectedCurr: Array<any> = [];
  public title = "";
  public isLoading = false;
  public percent = 0;
  public price_full = null;
  public price_dist = null;
  public price_online = null;
  public isProject = false;
  public days = 0;
  public currSelect = [
    {
      value: "ru",
      label: "Рубли"
    },
    {
      value: "usd",
      label: "Доллары"
    },
    {
      value: "euro",
      label: "Евро"
    }
  ];
  public langSelect = [
    {
      value: "en",
      label: this.$t("en")
    },
    {
      value: "ru",
      label: this.$t("ru")
    }
  ];
  public onCloseModal() {
    this.$modal.hide(this.name);
  }

  public handleFileUpload(value: File) {
    console.log(value);
    this.file = value;
    if (this.title === "") {
      this.title = value.name;
    }
  }

  public async onAddFile() {
    try {
      const { path } = this.$route.params;

      const params = {
        name: this.title,
        lang: (this.selectedLang as any).value,
        settings: [] as any
      };
      this.selectedCurr.forEach(element => {
        params.settings.push({
          curr: element.value,
          price_full: Number(this.price_full),
          price_dist: Number(this.price_dist),
          price_online: Number(this.price_online)
        });
      });
      this.isLoading = true;

      await this.addPrice(params);

      this.isLoading = false;

      this.onCloseModal();
      this.$emit("success-add");
    } finally {
      this.percent = 0;
      this.isLoading = false;
    }
  }
}
</script>
