<template lang="pug">
    page
        PageEditTabs
            Tabs
                TabContent(:title="$t('networking_questionnaire')")
                    NetworkingQuestionnaireTab(@showNetworkingTab="showNetworkingTab")
                TabContent(:title="$t('network')" :disabled="!isNetworkingTab")
                    NetworkingTab
                    

</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Page from "@/UI/Page/Page.vue";

import NetworkingQuestionnaireTab from "./NetworkingQuestionnaireTab.vue";
import NetworkingTab from "./NetworkingTab.vue";

import { PageEditTabs, Tabs, TabContent } from "@/UI";

@Component({
  components: {
    Page,
    PageEditTabs,
    Tabs,
    TabContent,
    NetworkingQuestionnaireTab,
    NetworkingTab
  }
})
export default class NetworkingPage extends Vue {
  public isNetworkingTab: boolean = false;

  public showNetworkingTab(status: boolean) {
    this.isNetworkingTab = status;
  }
}
</script>
