<template lang="pug">
    .networking-questionnaire(v-if="isStatus")
        Button(@click="onEdit" :loading="isLoading") {{$t('save')}}
        Separator
        FormItem(:label="$t('status')" v-if="isStatus")
              Select(
                  v-model="networkingStatus.selected"
                  :value="networkingStatus.selected"
                  :options="networkingStatus.values"
                  track-by="id"
                  label="label"
              )
        FormItem(:label="$t('networking.Labor_market_status')")
            .checkbox-place
                Checkbox(v-model="constantFields.looking_job") {{$t('networking.Looking_job')}}
                Checkbox(v-model="constantFields.looking_employee") {{$t('networking.looking_employee')}}
                Checkbox(v-model="constantFields.is_hire") {{$t('networking.Is_hire')}}
                Checkbox(v-model="constantFields.is_owner") {{$t('networking.Is_owner')}}
        
        Separator

        .volatile-fields-place(v-if="isVolatileFields")
            FormItem(
                v-for="el in volatileFields"
                :label="$t(`networking.${el.key}`)"
                v-if="el.values"
            )
                Checkbox(
                    v-if="el.type === 'boolean'"
                    v-model="el.user_values"
                ) 

                Select(
                    v-else-if="el.type === 'select' || el.type === 'multiselect'"
                    :class="setMultiselectClass(el.type)"
                    :multiple="el.type === 'multiselect'"
                    v-model="el.selected"
                    :value="el.selected"
                    :options="el.options"
                    track-by="id"
                    label="values"
                )
            
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
import {
  FormItem,
  TextField,
  Checkbox,
  Select,
  Separator,
  Button,
  TabHeader
} from "@/UI";
import { Maybe, UserInterface } from "@/helpers/types";

@Component({
  components: {
    FormItem,
    TextField,
    Checkbox,
    Select,
    Separator,
    Button,
    TabHeader
  }
})
export default class NetworkingQuestionnaireTab extends Vue {
  @Action addAllNetworking!: () => Promise<void>;
  @Action saveAllNetworkingFileds!: (params: any) => Promise<void>;
  @Action saveNetworkingStatus!: (params: any) => Promise<void>;
  @Getter("getAllNetworking") allNetworking!: Array<any>;
  @Getter("getProfile") profile!: Maybe<UserInterface>;

  public isLoading: boolean = false;
  public isStatus: boolean = false;
  public isVolatileFields: boolean = false;
  public constantFields: any = {
    looking_job: false,
    looking_employee: false,
    is_hire: false,
    is_owner: false
  };
  public volatileFields: Array<any> = [];

  public networkingStatus: any = {
    selected: {},
    values: []
  };

  @Watch("networkingStatus.selected")
  private changeNetworkingStatus(status: any) {
    this.showNetworkingData(status);
    this.sendNetworkingStatus(status);
  }

  @Watch("allNetworking")
  private changeAllNetworkink(val: any) {
    // console.log(val);
  }

  // TODO: посмотреть более простой вариант
  // по идее при смене языка должен пересоздавать список с учетом этого самого языка
  // но что-то больно затратная операция
  public createNetworkingStatusWithLang() {
    this.networkingStatus.values = [
      { id: 1, label: this.$t("networking.local"), metaValue: "local" },
      { id: 2, label: this.$t("networking.global"), metaValue: "global" },
      { id: 3, label: this.$t("networking.off"), metaValue: null }
    ];
  }

  public showNetworkingData(status: any) {
    const isStatus: boolean = !!status.metaValue;
    this.isVolatileFields = isStatus;
    this.$emit("showNetworkingTab", isStatus);
  }

  public sendNetworkingStatus(status: any) {
    const email: string | undefined = this.profile?.email;
    this.saveNetworkingStatus({
      networking: status.metaValue,
      email
    });
  }

  public sortFields() {
    this.volatileFields = [];

    this.allNetworking?.map((el: any) => {
      switch (el.key) {
        // отлавливаются строкоустановленные поля
        case "looking_employee":
        case "looking_job":
        case "is_hire":
        case "is_owner":
          this.constantFields[el.key] = el.user_values ?? false;
          break;
        // все осатльные пушатся в массив, который потом их рендерит
        default:
          this.volatileFields.push(this.formatFields(el));
          break;
      }
    });
  }

  public setNetworkingStatus() {
    const obj: any = this.profile;

    if (obj?.networking !== undefined) {
      const status: string = obj.networking;
      this.networkingStatus.selected = this.networkingStatus.values.find(
        (el: any) => el.metaValue === status
      );
      console.log(this.networkingStatus);
    }

    this.isStatus = true;
  }

  public formatFields(field: any) {
    console.log(field.key, field.values);

    const newField: any = {
      key: field.key,
      options: field.values,
      type: field.type,
      name: field.name,
      values: field.values
    };

    if (field.type === "select" && field.values) {
      const obj: any = field.values.find(
        (el: any) => el.values === field.user_values
      );
      newField.selected = obj;
    } else if (field.type === "multiselect" && field.values) {
      const match: Array<any> = [];

      if (field.user_values !== null) {
        for (let i: number = 0; i < field.user_values.length; i++) {
          for (let j: number = 0; j < field.values.length; j++) {
            if (field.user_values[i] === field.values[j].values) {
              match.push(field.values[j]);
              break;
            }
          }
        }
      }

      newField.selected = match;
    } else {
      return field;
    }

    return newField;
  }

  public setMultiselectClass(type: string): string {
    return type === "multiselect" ? "select-multiplie" : "";
  }

  public createNewNetworkData() {
    const info: any = { ...this.constantFields };

    this.volatileFields.map((el: any) => {
      let valuesList: Array<string> = [];

      switch (el.type) {
        case "multiselect":
          valuesList = el.selected?.map((el: any) => el.values);
          valuesList?.length ? (info[el.key] = valuesList) : null;
          break;
        case "select":
          info[el.key] = el.selected?.values;
          break;
        case "boolean":
          info[el.key] = el.user_values ?? false;
          break;
      }
    });

    return info;
  }

  public async onEdit() {
    this.isLoading = true;
    const obj: any = this.createNewNetworkData();
    await this.saveAllNetworkingFileds(obj);
    this.isLoading = false;
  }

  public reload() {
    this.load(true);
  }

  public async load(reload: boolean = false) {
    if (!reload) {
      await this.addAllNetworking();
    }
    this.sortFields();
    this.setNetworkingStatus();
  }

  public created() {
    this.createNetworkingStatusWithLang();
    this.load();
  }
}
</script>
