<template lang="pug">
    .networking

        .networking__found-users
            TabHeader(:title="'Результаты поиска'")
            div(v-if="searchResult")
                User(v-for="el in searchResult.data" :key="el.id" :userData="el")

        .networking__panel
          FormItem(:label="$t('search')")
              TextField(v-model="searchInput" id="networkingSearch" name="networkingSearch")

          FormItem(:label="'Статус на рынке труда'")
              .checkbox-place
                  Checkbox(
                    v-for="el in checkboxList" 
                    v-model="el.checked"
                    ) {{el.label}}          

          FormItem
              Button(@click="search" :loading="isLoading" style="margin-left: 5px") {{$t('search')}}     
            
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
import {
  Title,
  Button,
  FormItem,
  Separator,
  TextField,
  Checkbox,
  Select,
  TabHeader
} from "@/UI";
import User from "./User.vue";

@Component({
  components: {
    Title,
    User,
    Button,
    FormItem,
    Separator,
    TextField,
    Checkbox,
    Select,
    TabHeader
  }
})
export default class NetworkingTab extends Vue {
  @Action toSearchNetwororking!: (params: any) => Promise<void>;
  @Getter("getSearchResult") searchResult!: any;

  public isLoading: boolean = false;
  public searchInput: string = "";
  public checkboxList: Array<any> = [
    { label: "Ищу сотрудника", checked: false, meta: "looking_employee" },
    { label: "Ищу работу", checked: false, meta: "looking_job" },
    { label: "Я - собственник", checked: false, meta: "is_hire" },
    { label: "Я - работник по найму", checked: false, meta: "is_owner" }
  ];

  @Watch("searchResult")
  private changeSearchResult(val: any) {
    console.log(val);
  }

  public getDaraSearch() {
    const info: any = {};

    info.search = this.searchInput;
    this.checkboxList.map((el: any) =>
      el.checked ? (info[el.meta] = el.checked) : ""
    );

    return info;
  }

  public async search() {
    this.isLoading = true;
    const searchData: any = this.getDaraSearch();
    await this.toSearchNetwororking(searchData);
    this.isLoading = false;
  }
}
</script>

<style lang="scss">
$borderSyle: 1px solid lightgray;

.networking {
  display: flex;
  justify-content: space-between;

  &__panel {
    width: calc(50% - 4px);
    border-left: $borderSyle;
  }

  &__found-users {
    width: calc(50% - 4px);
  }

  h3 {
    margin-top: 16px;
    width: 50%;
  }
}

@media (max-width: 580px) {
  .networking {
    flex-direction: column-reverse;

    &__panel,
    &__found-users {
      width: 100%;
    }

    &__panel {
      border-left: none;
      border-bottom: $borderSyle;
      margin-bottom: 16px;
      padding-bottom: 12px;
    }
  }
}
</style>
