<template lang="pug">
    .user
        .user__common
            Picture(:url="userData.img" :alt="'user photo'")
            Link(:to="'#'") {{$t('Continue')}}

        .user__basic-information
            Subtitle(:level="1") {{userData.displayname}}

            p
                span.user__title {{$t('users.country')}}
                span.user__clarification {{userData.country}}
            p
                span.user__title {{$t('users.city')}}
                span.user__clarification {{userData.city}}
            p
                span.user__title {{$t('users.hobby')}}
                span.user__clarification -
            p
                span.user__title {{$t('users.timezone')}}
                span.user__clarification -
            p
                span.user__title {{$t('users.interests')}}
                span.user__clarification -

</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from "vue-property-decorator";
import { FormItem, Subtitle, Picture, Button, Link } from "@/UI";

@Component({
  components: {
    Subtitle,
    FormItem,
    Picture,
    Button,
    Link
  }
})
export default class NetworkingTab extends Vue {
  @Prop({ required: false }) userData!: any;
}
</script>

<style lang="scss">
@mixin adaptive-card {
  .user {
    display: block;

    &__common {
      width: 65%;
      margin: 0 auto;
    }

    &__basic-information {
      width: 75%;
      margin: 0 auto;
    }
  }
}

.user {
  display: flex;
  padding: 4px;
  border: 1px solid lightgray;
  margin-bottom: 8px;

  &__common {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-height: 25px;
    padding: 0 auto;
  }

  &__basic-information {
    width: 75%;
    padding: 5px 10px;
    min-height: 25px;

    p {
      display: flex;
      margin-bottom: 4px;

      &:first-of-type {
        margin-top: 8px;
      }
    }
  }

  &__title {
    width: 35%;
  }

  &__clarification {
    width: 65%;
  }
}

@media (max-width: 1200px) {
  @include adaptive-card;
}

@media (max-width: 1049px) {
  .user {
    &__common,
    &__basic-information {
      width: 100%;
    }
  }
}

@media (max-width: 720px) {
  @include adaptive-card;
}

@media (max-width: 590px) {
  .user {
    &__common,
    &__basic-information {
      width: 100%;
    }
  }
}
</style>
