@function get-color($keys...) {
    @return map-get($colors, $keys...)
}

@function get-resolution($keys...) {
    @return map-get($resolutions, $keys...)
}

@function px2per($px, $parentSize) {
    @return ($px * 100 / $parentSize) * 1%;
}

@function rem($size, $baseSize: 16) {
    @return $size / $baseSize * 1rem;
}

@function vw($px-vw, $base-vw: 1920) {
    @return ($px-vw * 100 / $base-vw) * 1vw;
}

@function vh($px-vh, $base-vh: 1080) {
    @return ($px-vh * 100 / $base-vh) * 1vh;
}
