@import "normalize";
@import "~@/assets/fonts/fonts";

:root {
  --offset: 12px;
  --height-header: 65px;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
select,
div {
  outline: none;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

.body-fixed {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100vh;
}

body {
  @include offset-reset;

  min-width: 320px;
  height: 100%;
  overflow: hidden;
  position: relative;
  line-height: 1.6;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: $black;
  font-family: 'Roboto', 'Tahoma', sans-serif;
  letter-spacing: 0.02em;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  box-sizing: content-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  @include offset-reset;
}

ul,
ol {
  list-style: none;
}

strong,
b {
  font-weight: 600;
}


a {
  text-decoration: none;
  color: inherit;
}

.text {
  font-size: inherit;

  &--secondary {
    color: $secondary;
  }
}

@keyframes blink {
  from {
    background: transparent;
  }

  to {
    background: $light-grey;
  }
}

.vgt-table {
  thead th {
    background: transparent;
  }

  th {

    &.line-numbers,
    &.vgt-checkbox-col {
      background: transparent;
    }
  }
}

.quiz-client-page {
  min-height: 550px;

  &__header {
    padding-bottom: $offset;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  &__buttons {
    display: flex;

    & button:first-of-type {
      margin-right: auto;
    }
  }

  &__isold {
    @include card;

    width: 60%;
    margin: 0 auto;
    padding: 25px 35px;

    & .fa-icon {
      margin-right: 7px;
    }

    &__text {
      font-size: 16px;
      text-align: center;
      margin-bottom: 20px;
    }

    &__buttons {
      text-align: center;

      & button:first-of-type {
        margin-right: 10px;
      }
    }
  }
}

.multiselect__placeholder {
  margin-bottom: 0;
  padding-top: 0;
}

.tabs__list {
  flex-wrap: wrap;
  height: auto;
  border-bottom: 0;
}

.tab-panel {
  height: 45px;
  border-bottom: 1px solid #d8d8d8;
}

.tab-panel.tab-panel--active {
  border-bottom-color: #d8d8d8;
}

.tab-panel.tab-panel--active::after {
  content: none;
}

.tab-panel.--disabled {
  pointer-events: none;
  opacity: 0.7;
}

.table-rating table.vgt-table {
  font-size: 14px;
}

.course-chapter-media:hover {
  background: #fff;
}
.course-chapter:hover .drag_and_drop_control_chapter {
  opacity: 1;
}
.drag_and_drop_control_chapter {
  opacity: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  left: 0px;
  top: 0px;
  cursor: move;
  background-position: 0 0;
  background-image: url(/img/drag_and_drop_chapter.png);
  background-repeat: repeat;
  border-radius: 4px;
}
.drag_and_drop_control {
  opacity: 0;
  position: absolute;
  width: 6px;
  height: 18px;
  left: 7px;
  top: 18px;
  cursor: move;
  background-position: 0 0;
  background-image: url('/img/drag_and_drop.png');
  background-repeat: no-repeat;
}

.course-chapter-media:hover .drag_and_drop_control {
  opacity: 1;
}

.course-chapter-media:hover .course-chapter-media__delete {
  opacity: 1;
}

small.downloader {
  cursor: pointer;
  color: #60c44a;
  font-weight: 500;
}

.action_button_link {
  display: flex;
  align-items: center;
  height: 19px;
  margin: 0 0 0 25px;
  padding-left: 24px;
  color: #0075C2;
}

.action_button_link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.action_button_sprite,
.action_button_activate_user,
.action_button_add_to_catalog,
.action_button_blue_play,
.action_button_copy,
.action_button_deactivate_user,
.action_button_delete,
.action_button_delete_content,
.action_button_download,
.action_button_finish,
.action_button_forbid,
.action_button_group,
.action_button_invite_on_content,
.action_button_less_qualified_lead,
.action_button_manage,
.action_button_move,
.action_button_move_user,
.action_button_play,
.action_button_qualified_lead,
.action_button_rename,
.action_button_replace,
.action_button_restore,
.action_button_share,
.action_button_source,
.action_button_tick,
.action_button_user {
  background-image: url("/img/buttons.png");
  background-repeat: no-repeat;
}

.action_button_activate_user {
  background-position: 0 0;
}


.action_button_add_to_catalog {
  background-position: 0 -20px;
}


.action_button_blue_play {
  background-position: 0 -41px;
}


.action_button_copy {
  background-position: 0 -61px;
}


.action_button_deactivate_user {
  background-position: 0 -81px;
}


.action_button_delete {
  background-position: 0 -101px;
}


.action_button_delete_content {
  background-position: 0 -121px;
}


.action_button_download {
  background-position: 0 -141px;
}


.action_button_finish {
  background-position: 0 -161px;
}


.action_button_forbid {
  background-position: 0 -181px;
}


.action_button_group {
  background-position: 0 -201px;
}


.action_button_invite_on_content {
  background-position: 0 -221px;
}


.action_button_less_qualified_lead {
  background-position: 0 -241px;
}


.action_button_manage {
  background-position: 0 -263px;
}


.action_button_move {
  background-position: 0 -283px;
}


.action_button_move_user {
  background-position: 0 -303px;
}


.action_button_play {
  background-position: 0 -323px;
}


.action_button_qualified_lead {
  background-position: 0 -343px;
}


.action_button_rename {
  background-position: 0 -365px;
}


.action_button_replace {
  background-position: 0 -384px;
}


.action_button_restore {
  background-position: 0 -404px;
}


.action_button_share {
  background-position: 0 -424px;
}


.action_button_source {
  background-position: 0 -444px;
}


.action_button_tick {
  background-position: 0 -464px;
}


.action_button_user {
  background-position: 0 -484px;
}

.w-100 {
  width: 100%;
}

.documents-links {
  @include card;

  display: flex;
  flex-wrap: wrap;
  padding: $offset2x;
}

.documents-links a {
  margin: 2px;
}

.emas-message_wrapper {
  @include card;

  padding: $offset2x;
}

.emas-message {
  border-bottom: solid;
  margin-bottom: 30px;
  padding-bottom: 30px;
  white-space: pre-line;
}

.emas-message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses-empty {
  @include card;

  padding: $offset2x;
}

.row,
.row-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.form-control.form-control-3 {
  width: 32%;
  margin-left: 5px;
  margin-right: 5px;
}

.form-control {
  width: 100%;
  margin-bottom: 10px;

  @media screen and (max-width: 540px) {
    min-width: 250px;
    justify-content: center;
  }
}

.main_content__document .form-control {
  margin-bottom: 15px;
}

.main_content__document .form-control p {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  flex-grow: 1;
}

.form-control label {
  font-weight: 700;
}

.uploader {
  align-items: center;
  background-color: rgba(0, 0, 0, .02);
  cursor: pointer;
  display: flex !important;
  justify-content: center;
  outline: 2px dashed #ccc;
  outline-offset: 2px;
  height: 130px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  outline-color: rgb(204, 204, 204);
}

.uploader .icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
  height: 70px;
  width: 70px;
  opacity: .3;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 486.3 486.3'%3E%3Cpath d='M395.5 135.8c-5.2-30.9-20.5-59.1-43.9-80.5-26-23.8-59.8-36.9-95-36.9-27.2 0-53.7 7.8-76.4 22.5-18.9 12.2-34.6 28.7-45.7 48.1-4.8-.9-9.8-1.4-14.8-1.4-42.5 0-77.1 34.6-77.1 77.1 0 5.5.6 10.8 1.6 16C16.7 200.7 0 232.9 0 267.2c0 27.7 10.3 54.6 29.1 75.9 19.3 21.8 44.8 34.7 72 36.2h86.8c7.5 0 13.5-6 13.5-13.5s-6-13.5-13.5-13.5h-85.6C61.4 349.8 27 310.9 27 267.1c0-28.3 15.2-54.7 39.7-69 5.7-3.3 8.1-10.2 5.9-16.4-2-5.4-3-11.1-3-17.2 0-27.6 22.5-50.1 50.1-50.1 5.9 0 11.7 1 17.1 3 6.6 2.4 13.9-.6 16.9-6.9 18.7-39.7 59.1-65.3 103-65.3 59 0 107.7 44.2 113.3 102.8.6 6.1 5.2 11 11.2 12 44.5 7.6 78.1 48.7 78.1 95.6 0 49.7-39.1 92.9-87.3 96.6h-73.7c-7.5 0-13.5 6-13.5 13.5s6 13.5 13.5 13.5h75.2c30.5-2.2 59-16.2 80.2-39.6 21.1-23.2 32.6-53 32.6-84-.1-56.1-38.4-106-90.8-119.8z'/%3E%3Cpath d='M324.2 280c5.3-5.3 5.3-13.8 0-19.1l-71.5-71.5c-2.5-2.5-6-4-9.5-4s-7 1.4-9.5 4l-71.5 71.5c-5.3 5.3-5.3 13.8 0 19.1 2.6 2.6 6.1 4 9.5 4s6.9-1.3 9.5-4l48.5-48.5v222.9c0 7.5 6 13.5 13.5 13.5s13.5-6 13.5-13.5V231.5l48.5 48.5c5.2 5.3 13.7 5.3 19 0z'/%3E%3C/svg%3E")
}

.uploader .icon,
.uploader img {
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.uploader .icon.loaded {
  opacity: 0;
}

.uploader input {
  display: none;
}

.main_content__document .form-control p.resultSend {
  left: 2%;
  bottom: 2%;
  height: auto;
  font-weight: 700;
  z-index: 1;
  top: auto;
  width: auto;
  color: green;
}

span.loaded {
  height: 100%;
  font-weight: 400;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column
}

.course-chapter {
  @include card;

  overflow: hidden;
  position: relative;
}

.course-chapter+.course-chapter {
  margin-top: $offset;
}

.course-chapter__header {
  @include display-flex-centered;

  padding: 28px;

  @media screen and (max-width: 540px) {
    justify-content: end;
    flex-wrap: wrap;
  }
}

.course-chapter__header-prefix {
  @include display-flex-centered;
  @include circle(44);

  background: $lighter-main;
  flex: 0 0 auto;
  margin-right: $offset2x;
}

.course-chapter__header-icon {
  @include circle(28);

  color: $white;
}

.course-chapter__header-top {
  @include display-flex-centered;

  justify-content: flex-start;
}

.course-chapter__header-edit {
  @include circle(24);

  flex: 0 0 auto;
  margin-left: $offset;
}

.course-chapter__header-content {
  width: 100%;
  margin-right: auto;
  max-width: calc(100% - 44px - 100px);
}

.course-chapter__header-block {
  display: none;

  @media screen and (max-width: 540px) {
    margin-top: 20px;
  }
}

.course-chapter__header-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 -12px;
  padding: 0 12px;

  .course-chapter--editable & {
    @include radius();

    margin-right: 0;
    background: $light-grey;
  }
}

.course-chapter__header-duration {
  display: inline-flex;
  font-size: 12px;
  font-weight: 300;
  color: $secondary;

  @media screen and (max-width: 540px) {
    flex-wrap: wrap;
  }

  span {
    @include display-flex-centered;

    margin: 0 4px;

    @media screen and (max-width: 540px) {
      margin: 0;
    }

    .course-chapter--editable & {
      @include radius();

      color: $black;
      background: $light-grey;
    }
  }
}

.course-chapter__header-media {
  margin-top: 8px;
  font-weight: 500;
  color: $darker-main;
}

.course-chapter__header-delete {
  @include display-flex-centered;

  flex: 0 0 auto;

  @include children {
    @include not-last-child {
      margin-right: $offset;
    }
  }
}

.course-chapter__header-progress {
  font-size: 13px;
  margin-left: auto;
}

.course-chapter__wrapper {
  display: flex;
}

.course-chapter__medias {
  width: 100%;
}

.course-chapter.--disabled {
  opacity: 0.6;
  cursor: unset;
  pointer-events: none;
}

.course-chapter__medias.--disabled {
  opacity: 0.6;
  cursor: unset;
  pointer-events: none;
}

.course-chapter.--disabled .course-chapter__header-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.course-chapter-media {
  @include display-flex-centered;
  justify-content: flex-start;
  position: relative;
  background: $background-media;
  border: 1px solid transparent;
  padding: $offset $offset2x;
  border-bottom: 1px solid $border;

  &--hide,
  &--add {
    cursor: pointer;
  }

  &:first-of-type {
    border-top: 1px solid $border;
  }

  &:last-of-type {
    border-bottom: none;
  }

  &--add {
    background: $white;
  }

  &__label {

    @media screen and (max-width: 540px) {
      margin-bottom: 8px;
    }
  }

  &__type {
    margin-left: $offset2x;
    flex: 0 0 auto;
    opacity: 0.5;
    margin-right: 10px;

    @media screen and (max-width: 540px) {
      margin-left:0;
      margin-bottom: 10px;
    }
  }

  &__play {
    margin-right: $offset;

    @media screen and (max-width: 540px) {
      margin-bottom: 10px;
    }
  }

  &__delete {
    @include transition;
    margin-left: auto;
    opacity: 0;
    border-color: transparent;
  }

  &__block {
    margin-left: auto;
    @include display-flex-centered;
    display: flex;

    &__icon {
      width: 13px;
      height: 13px;
      margin-right: 5px;
    }

    &__text {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 13px;
    }
  }

  &__progress {
    display: flex;
    margin-left: auto;
    align-items: center;

    @media screen and (max-width: 540px) {
      margin-left: 0;
    }
  }
}

.course-chapter__header-duration span.m-0 {
  margin: 0;
}


.mx-datepicker.w-full {
  width: 100%;
}

.course-chapter-media__progress__success__text {
  color: green;
  margin-right: 18px;
  margin-left: 26px;

  @media screen and (max-width: 540px) {
    margin-left:0;
    margin-bottom: 10px;
  }
}

.course-chapter-media__progress__inprogress__text {
  color: #3181b4;
  margin-right: 18px;
  margin-left: 26px;

  @media screen and (max-width: 540px) {
    margin-left: 0;
  }
}

.course-chapter-media__progress__percent__text,
.course-chapter-media__progress__wait__text {
  color: grey;
}

.header_language {
  display: flex;
  margin-right: 6px;
}

.lang_img {
  cursor: pointer;
  margin-right: 7px;
}

.mt-2 {
  margin-top: 20px
}

.mb-2 {
  margin-bottom: 20px
}

.table-scores .button {
  font-size: 12px;
  padding: 5px;
  display: block;
  background: #8c8c8c;
}

.table-files tr {
  cursor: pointer;
}

.clear {
  display: block !important;
  line-height: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  clear: both !important;
}

.arrow_dropdown {
  position: absolute;
  overflow: visible;
  z-index: 5;
  border: 1px solid #C9D7E1;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.17);
  padding: 0;
}

.arrow_dropdown:before {
  position: absolute;
  width: 18px;
  height: 10px;
  top: -10px;
  right: 26px;
  background-image: url("https://emas.ispringonline.ru/images/ispring-ui/user_dropdown_menu/dropdown_menu_bg_arrow.png");
  content: '';
}

.user_dropdown_menu_container {
  font-weight: 500;
  width: 195px;
  font-size: 13px;
  line-height: 16px;
}

.user_dropdown_menu_container .user_info {
  margin: 0 11px;
  color: #89959E;
  padding: 12px 0 13px 9px;
  border-bottom: 1px solid #E1E5EA;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user_dropdown_menu_container .user_name {
  color: #484951;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 20px;
  white-space: nowrap;
}

.user_dropdown_menu_container .user_email {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user_dropdown_menu_container .actions {
  list-style: none;
  padding: 12px 0 13px;
  margin: 0;
}

.user_dropdown_menu_container .actions a, .user_dropdown_menu_container .actions button {
  color: #42484E;
  padding: 5px 20px 9px;
  display: block;
}

.user_dropdown_menu_container .actions a:hover, .user_dropdown_menu_container .actions button:hover {
  background: #F1F1F1;
  color: #42484E;
}

.user_dropdown_menu_container .actions li {
  list-style: none;
  padding: 0;
}

.user_dropdown_menu_container .action {
  color: #42484E;
  line-height: normal;
}

.user_dropdown_menu_container .action:hover {
  color: #42484E;
  text-decoration: none;
}

div.clear {
  font-size: 1px;
  line-height: 1px;
  width: 1px;
  height: 1px;
  clear: both;
}

.edit-group-modal .modal__wrapper {
  min-height: 500px;
}

.table-title {
  padding: 12px;
  border: 1px solid #DCDFE6;
  border-bottom: none;
  margin-top: 20px;
}

.question_title {
  font-weight: 500;
  font-size: 16px;
}

.button__fixed {
  position: fixed;
  top: 50%;
  right: 100px;
}

.button.green .button_text .label {
  color: #FFFFFF;
  position: relative;
  top: -1px;
}

.button.green .button_body {
  background: #52B651;
}

.button.green .button_preloader {
  background-image: url("https://emas.ispringonline.ru/images/ispring-ui/button_preloader/green.gif");
}

.button.white {
  border: 1px solid #D8D8D8;
}

.button.white .button_body {
  height: 36px;
}

.button.white .button_body .button_text {
  line-height: 36px;
  padding-left: 15px;
  padding-right: 15px;
}

.button.white .button_text .label {
  color: #42484E;
  font-size: 15px;
  font-weight: 400;
}

.button.white .button_body {
  background: #FFFFFF;
}

.button.white .button_preloader {
  background-image: url("https://emas.ispringonline.ru/images/ispring-ui/button_preloader/white.gif");
}

.ui_icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.button_with_icon .ui_icon {
  vertical-align: baseline;
  margin-bottom: -4px;
}

.button_with_icon .ui_icon.cross {
  background: url('https://emas.ispringonline.ru/images/sprites/ispring-ui/ui_icon-s35af441fdf.png') 0 -653px no-repeat;
  height: 20px;
  width: 16px;
}

.save_cancel_buttons .cancel_section {
  float: left;
  line-height: normal;
}

.save_cancel_buttons .button.cancel_button {
  margin-left: 15px;
}

.button .button_body {
  display: block;
  height: 38px;
  -webkit-appearance: none;
}

.button .button_body .button_text {
  box-sizing: content-box;
  line-height: 38px;
  min-width: 66px;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: none;
}

.button .button_body .button_text {
  padding: 0 18px;
  *overflow: visible;
}

.button .button_text .label {
  font-size: 17px;
  font-weight: 500;
}

.button .button_preloader {
  display: none;
}

.form_field::-ms-clear,
.form_field::-ms-reveal {
  display: none;
}

.form_field_container {
  box-sizing: content-box;
  max-width: 500px;
  position: relative;
}

.form_field_container .form_field_wrapper {
  min-width: 15px;
  display: block;
  padding: 8px 10px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  background: #FFFFFF;
  overflow: hidden;
}

.form_field_container .form_field_wrapper:hover {
  border-color: #C9C9C9;
}

.form_field_container .form_field {
  display: inline-block;
  box-sizing: content-box;
  width: 100%;
  height: 20px;
  border: none;
  background: none;
}

.form_field_container .form_field.hidden {
  display: none;
}

.form_field_container.focus .form_field_wrapper {
  border-color: #3FC8F4;
}

.form_field_container.disabled .form_field_wrapper {
  color: #8D98A2;
  border-color: #D8D8D8;
  background-color: #F3F3F3;
}

.error_container_tooltip,
.error_container_text {
  display: none;
  margin: 0;
  padding: 0;
}

.form_field_container .textarea_form_field {
  height: auto;
  margin: -8px -10px -8px;
  padding: 8px 10px 8px;
  resize: none;
  overflow: auto;
}

.form_field_container.default_height .textarea_form_field {
  height: 61px;
}

input[type="password"].form_field {
  font-family: sans-serif\9;
}

.form_field_container .form_field_inner {
  height: 20px;
  position: relative;
}

.form_field_container .form_field_inner .form_field.password_form_field {
  position: absolute;
  z-index: 2;
  background: url("https://emas.ispringonline.ru/images/ispring-ui/pixel.gif") repeat scroll 0 0 transparent\9;
}

.form_field_container .form_field_inner .form_field.password_form_field_placeholder {
  z-index: 1;
}

.form_field_container .form_field_inner .form_field.password_form_field_placeholder.hidden {
  display: none;
}

.form_field_container.search_form_field_container {
  margin-left: 0;
}

.form_field_container.search_form_field_container .form_field_wrapper {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 30px;
}

.form_field_container.search_form_field_container .search_icon {
  background: url("https://emas.ispringonline.ru/images/ispring-ui/filter_field/icon.png") no-repeat;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 11px;
  top: 9px;
  display: none;
}

.form_field_container.search_form_field_container .loading_icon {
  background: url("https://emas.ispringonline.ru/images/ispring-ui/filter_field/preloader_small.gif") no-repeat;
  height: 16px;
  width: 16px;
  position: absolute;
  right: 11px;
  top: 9px;
  display: none;
}

.form_field_container.search_form_field_container .clear_button {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 12px;
  right: 12px;
  background: url('https://emas.ispringonline.ru/images/sprites/ispring-ui/filter_field/clear_button-s25d54c4a9a.png') 0 0 no-repeat;
}

.form_field_container.search_form_field_container .clear_button:hover {
  background: url('https://emas.ispringonline.ru/images/sprites/ispring-ui/filter_field/clear_button-s25d54c4a9a.png') 0 -10px no-repeat;
}

.form_field_container.search_form_field_container.placeholder .search_icon {
  display: block;
}

.form_field_container.search_form_field_container.placeholder .clear_button {
  display: none;
}

.selectBox-dropdown,
.selectBox-dropdown:hover {
  text-decoration: none;
}

.selectBox-dropdown {
  position: relative;
  cursor: default;
  display: block !important;
}

.selectBox-dropdown .selectBox-label {
  box-sizing: content-box;
  height: 20px;
  margin-right: 20px;
  display: block;
  overflow: hidden;
  word-break: break-all;
  line-height: 20px;
}

.selectBox-dropdown .selectBox-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  background: url("https://emas.ispringonline.ru/images/ispring-ui/selectbox/dropdown_arrow.png") 50% center no-repeat;
}

.checkbox_ng,
.checkbox_ng.checked,
.checkbox_ng.disabled,
.checkbox_ng.checked.disabled {
  background-image: url('https://emas.ispringonline.ru/images/sprites/ispring-ui/checkbox/custom_checkbox_gray-s1c5749ece2.png');
  background-repeat: no-repeat;
}

.checkbox_ng {
  margin-top: 4px;
  cursor: pointer;
  background-position: 0 -28px;
}

.checkbox_ng.checked {
  background-position: 0 -42px;
}

.checkbox_ng.disabled {
  background-position: 0 0;
  cursor: auto;
}

.checkbox_ng.checked.disabled {
  background-position: 0 -14px;
  cursor: auto;
}

.radio_ng,
.radio_ng.checked {
  background-image: url('https://emas.ispringonline.ru/images/sprites/ispring-ui/radiobutton/custom_radiobutton-s410bc4db0c.png');
  background-repeat: no-repeat;
}

.radio_ng {
  margin-top: 4px;
  cursor: pointer;
  background-position: 0 0;
}

.radio_ng.checked {
  background-position: 0 -48px;
}

.radio_ng.checked {
  background-position: 0 -16px;
}

.icheckbox,
.icheckbox:hover {
  background-image: url('https://emas.ispringonline.ru/images/sprites/ispring-ui/checkbox/icheckbox-saa0018ca08.png');
  background-repeat: no-repeat;
}

.icheckbox {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  cursor: pointer;
}

.icheckbox {
  background-repeat: no-repeat;
  background-position: 0 -112px;
}

.icheckbox:hover {
  background-position: 0 -98px;
}

.mCustomScrollbar {
  -ms-touch-action: none;
  touch-action: none;
}

.mCustomScrollBox {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr;
}

.mCSB_container {
  overflow: hidden;
  width: auto;
  height: auto;
}

.mCSB_scrollTools {
  position: absolute;
  width: 16px;
  height: auto;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
}

.mCSB_outside+.mCSB_scrollTools {
  right: -26px;
}

.mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
}

.mCSB_scrollTools a+.mCSB_draggerContainer {
  margin: 20px 0;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 100%;
  height: 30px;
  z-index: 1;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  position: relative;
  width: 4px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  text-align: center;
}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

.mCSB_scrollTools .mCSB_buttonDown {
  bottom: 0;
}

.mCSB_scrollTools,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
}

.mCSB_scrollTools {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
}

.mCustomScrollBox:hover~.mCSB_scrollTools {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
  filter: "alpha(opacity=85)";
  -ms-filter: "alpha(opacity=85)";
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  background-image: url(https://emas.ispringonline.ru/images/ispring-ui/vendor/mcustomscrollbar/mCSB_buttons.png);
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
}

.mCSB_scrollTools .mCSB_buttonUp {
  background-position: 0 0;
}

.mCSB_scrollTools .mCSB_buttonDown {
  background-position: 0 -20px;
}

.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
}

.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active {
  opacity: 0.9;
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
}

.mCS-iscloud.mCSB_scrollTools .mCSB_draggerRail {
  width: 12px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2);
}

.mCS-iscloud.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  margin: 3px 5px;
  position: absolute;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mCS-iscloud.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #B6B6B6;
  background-color: rgba(182, 182, 182, 0.75);
}

.mCS-iscloud.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #B6B6B6;
  background-color: rgba(182, 182, 182, 0.85);
}

.mCS-iscloud.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #B6B6B6;
  background-color: rgba(182, 182, 182, 0.9);
}

.mCS-iscloud.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.1);
}

.mCS-iscloud.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -112px -72px;
}

.mCS-iscloud.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -112px -92px;
}

.mCS-iscloud.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mCS-iscloud.mCSB_scrollTools .mCSB_draggerRail {
  border-color: #B6B6B6;
  border-color: rgba(0, 0, 0, 0.2);
}

.mCSB_outside+.mCSB_scrollTools.mCS-iscloud {
  right: 0;
}

.mCustomScrollBox.mCSB_outside.mCS-iscloud {
  padding-right: 15px;
}

.groups_form_field_container {
  display: block;
  float: left;
}

.form_field:hover {
  border-color: #C9C9C9;
}

input[type="checkbox"].form_field:hover {
  cursor: pointer;
}

.form_field:focus {
  border-color: #3FC8F4;
}

.form_field_container.disabled .form_field,
.form_field.placeholder,
.form_field.password_form_field_placeholder {
  color: #8D98A2;
  -webkit-text-fill-color: #8D98A2;
}

.checkbox_field_container {
  padding-left: 15px;
  margin-top: 9px;
}

.checkbox_field_container.with_label {
  padding-left: 24px;
}



.checkbox_field_container,
.radio_field_container {
  display: inline-block;
  position: relative;
  zoom: 1;
  *display: inline;
}

.checkbox_field_container .checkbox_holder,
.radio_field_container .radio_holder {
  position: absolute;
  top: -1px;
}

.radio_field_container .radio_holder {
  left: 0;
}

.checkbox_field_container .checkbox_holder {
  left: 1px;
}

.checkbox_field_container .checkbox_field_label,
.radio_field_container .radio_field_label {
  display: block;
  cursor: pointer;
}

.checkbox_field_container .checkbox_form_field,
.radio_field_container .radio_form_field,
.radio_field_container .radio_field_label {
  vertical-align: middle;
}

.checkbox_field_container .checkbox_form_field,
.radio_field_container .radio_form_field {
  display: inline-block;
  margin: 0;
}

.radio_field_container .radio_form_field {
  margin-top: -1px\9;
  *margin-top: -1px;
}

.checkbox_field_container .checkbox_form_field {
  width: 14px;
  height: 14px;
}

.radio_field_container .radio_form_field {
  width: 16px;
  height: 16px;
}

.checkbox_field_container.disabled .checkbox_field_label {
  color: #8D98A2;
  cursor: default;
}

.selection_list {
  width: 443px;
  border: 1px solid #bed0db;
  border-radius: 2px;
  margin-bottom: 16px;
  position: relative;
}

.selection_list .field_container {
  background: #CCE0F5;
  border: 0;
  padding-top: 4px;
}

.selection_list .items_container {
  padding: 0;
  background: #FFF;
  height: 104px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.selection_list .items_container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: 0;
  left: 0;
}

.selection_list .items_container ul li {
  font-size: 11px;
  clear: both;
  padding: 10px;
  border-top: 1px solid #DFE5EB;
  white-space: nowrap;
}

.selection_list .items_container ul li:first-child {
  border-top: none;
}

.selection_list .items_container ul li:hover {
  background: #F5F7F9;
}

.selection_list .items_container input.checkbox {
  vertical-align: middle;
  display: none;
}

.selection_list img.load_progress {
  display: none;
  position: absolute;
  top: 52px;
  left: 50%;
  margin-left: -11px;
  margin-top: -11px;
}

.selection_list div.field_container .title {
  float: left;
  padding-top: 3px;
  margin-right: 10px;
  line-height: 22px;
}

.selection_list div.field_container .title span {
  line-height: 22px;
}

.russian .selection_list div.field_container .title {
  margin-right: 8px;
  padding-top: 4px;
}

.russian .selection_list div.field_container .title span {
  padding-top: 4px;
}

.selection_list .items_container ul li label {
  cursor: pointer;
  margin-left: 6px;
  text-overflow: ellipsis;
  position: relative;
  top: 2px;
}

.groups_form_field_container {
  position: relative;
  width: 100%;
}

.groups_form_field_container * {
  box-sizing: content-box;
}

.groups_form_field_container .selection_list {
  margin: 0;
  min-height: 238px;
}

.groups_form_field_container .selection_list div.field_container {
  padding-left: 5px;
}

.groups_form_field_container .selection_list div.field_container .title {
  padding: 0;
  margin: 1px 0 0;
  font-size: 15px;
}

.groups_form_field_container .selection_list .items_container {
  height: 202px;
}

.groups_form_field_container .disable_block {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 40;
  opacity: 0.5;
  top: 0;
  filter: alpha(opacity=50);
}

.groups_form_field_container .title,
.groups_form_field_container .title span {
  color: #5A6871;
  font-weight: 400;
}

.groups_form_field_container .search_form_field_container {
  float: right;
  width: 170px;
  background-color: #FFFFFF;
}

.groups_form_field_container .selection_list .items_container ul li {
  padding: 11px 0 15px 15px;
}

.groups_form_field_container .form_field_container.placeholder .search_form_field {
  color: #8D98A2;
}

.groups_form_field_container .selection_list div.field_container .title {
  margin-top: 5px;
}

.selection_list.groups_selection_list div.field_container {
  background: url("https://emas.ispringonline.ru/images/group.png") no-repeat 5px 8px;
  padding-left: 25px;
}

.selection_list.groups_selection_list div.field_container {
  border-bottom: 1px solid #eeeeee;
  background: #F9FBFC;
  padding: 6px 6px 6px 15px;
  border-radius: 3px 3px 0 0;
}

.selection_list.groups_selection_list div.field_container {
  padding: 3px 3px 2px 15px;
  height: 35px;
}

.selection_list .load_progress_content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

.popup .popup_content .popup_description {
  color: #42484E;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 34px;
}

.form_field_container {
  margin-left: 175px;
  float: none;
  width: auto;
}

.form_field_container.no_label {
  margin-left: 0;
}

.form_field {
  color: #42484E;
}

.row_text_element {
  display: inline-block;
}

.row_text_element {
  margin-top: 9px;
}

.action_button_link {
  display: inline-block;
  height: 19px;
  margin: 0 0 0 25px;
  padding-left: 24px;
}

.button_icons_eye {
  padding-left: 26px !important;
  background: url('https://emas.ispringonline.ru/images/sprites/ispring-ui/list_item_actions-sf267f9e531.png') 0 -456px no-repeat;
}

.info_gray_icon {
  padding-left: 22px !important;
  height: 18px !important;
  background: url('https://emas.ispringonline.ru/images/sprites/ispring-ui/link_icon-sdbf20a040e.png') 0 -231px no-repeat;
}

div.control_box {
  border: 1px solid #ABB6C3;
  background: #FFF7CA;
}

div.clear {
  font-size: 1px;
  line-height: 1px;
  width: 1px;
  height: 1px;
  clear: both;
}

div.compact_selection_list .selection_list {
  border: 1px solid #ABB6C3;
  background: #FFFFFF;
}

div.compact_selection_list .selection_list .field_container {
  background-color: #f4f7fa;
  border-bottom: 1px solid #ABB6C3;
}

div.compact_selection_list .selection_list .items_container {
  border: 0;
}

div.compact_selection_list .selection_list .items_container ul li {
  padding: 10px;
}

::-webkit-input-placeholder {
  color: #AEABAB;
}

:-moz-placeholder {
  color: #AEABAB;
  opacity: 1;
}

::-moz-placeholder {
  color: #AEABAB;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #AEABAB;
}

.load_progress_content {
  position: relative;
  z-index: 10;
}

.spoiler_button_block .ui_icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
}

.spoiler_button_block a {
  font-weight: 500;
  font-size: 16px;
  line-height: 37px;
  color: #42484E;
  cursor: pointer;
  border: none;
}

.spoiler_form_container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.spoiler_form_container .form_field_container {
  margin-bottom: 10px;
}

.spoiler_form_container.bordered {
  border: 1px solid #ced4dc;
  border-radius: 4px;
  background-color: #f7f8f8;
  padding: 0 10px;
}

.spoiler_form_container.bordered .save_cancel_buttons {
  padding-bottom: 10px;
}

.spoiler_form_container.bordered .save_cancel_buttons.right_align {
  float: right;
}

.add_user_popup .popup_content {
  padding-bottom: 21px;
}

.add_user_popup .popup_content .popup_description {
  width: 602px;
}

.add_user_popup .add_user_step {
  margin-bottom: 25px;
}

.add_user_popup .popup_inner .popup_content_container p.popup_description:first-child {
  margin-top: 13px;
  margin-bottom: 20px;
}

.add_user_popup {
  min-width: 680px;
}

.add_user_popup .left_column {
  float: left;
  width: 330px;
  margin-right: 60px;
}

.add_user_popup .right_column {
  float: right;
  width: 290px;
}

.add_user_popup .password_box {
  padding: 10px;
  margin-top: 0;
  border: 1px solid #B7C6D0;
  border-radius: 2px;
  background: #F7FAFD;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F4F8FC), to(#F0F4F8));
  background: -webkit-linear-gradient(#F4F8FC, #F0F4F8);
  background: -moz-linear-gradient(#F4F8FC, #F0F4F8);
  background: -ms-linear-gradient(#F4F8FC, #F0F4F8);
  background: -o-linear-gradient(#F4F8FC, #F0F4F8);
  background: linear-gradient(#F4F8FC, #F0F4F8);
  position: relative;
}

.add_user_popup .password_box .radio_field_container {
  margin-top: 10px;
}

.add_user_popup .password_box .radio_field_container.generated_password {
  margin-top: 0;
}

.add_user_popup .password_box .generated_password_emails_container {
  margin-top: 6px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.add_user_popup .password_box .special_password_container {
  float: right;
  width: 140px;
  margin-right: 0;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.add_user_popup .email_login_info {
  margin-top: 5px;
}

.add_user_popup .email_login_info label.active {
  color: #707C82;
}

.add_user_popup .groups_form_field_container {
  margin-bottom: 6px;
}

.add_user_popup .groups_form_field_container .search_form_field_container {
  width: 120px;
}

.add_user_popup .groups_form_field_container .selection_list {
  min-height: 141px;
}

.add_user_popup .groups_form_field_container .selection_list .items_container {
  height: 120px;
}

.add_user_popup .selection_list {
  width: 288px;
}

.add_user_popup .selection_list .field_container {
  height: auto;
  padding: 6px;
}

.add_user_popup .items_container {
  width: 288px;
}

.add_user_popup .spoiler_form_container .form_field_container {
  margin-left: 0;
}

.add_user_popup .add_user_step_title {
  color: #000;
  margin-bottom: 11px;
}

.add_user_popup .add_user_step_title .small {
  color: #8D98A2;
  font-weight: normal;
}

.add_user_popup label.active {
  height: auto;
}

.add_user_popup .preview_message_link_container {
  float: left;
  margin-left: 0;
  position: absolute;
  bottom: 27px;
}

.russian .add_user_popup .popup_content .right_column .add_user_step {
  width: 290px;
}

.russian .add_user_popup .popup_content .left_column .add_user_step {
  width: 330px;
}

.add_user_info_tooltip {
  cursor: pointer;
  top: 4px;
  position: relative;
}

.spoiler_form_container .spoiler_button_block .ui_icon.cross {
  margin-right: 4px;
}
.floating_button {
  position: absolute;
  right: 13%;
}
.user_course_view_button {
  margin-left: 10px;
    padding: 4px;
    font-size: 13px;
    font-weight: 500;
}
.users-table .user_name {
  flex-direction: column;
}
.d-flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.no-wrap {
  white-space: nowrap;
}
dd {
  margin-inline-start: unset !important;
}
.badger-accordion__panel {
  max-height: 110vh !important;
}
.ag-grid-cell__link {
  display: block;
}
.table-header {
  margin-bottom: 0 !important;
}
.vm--container {
  overflow: scroll;
}
.table-header .ag-header {
  height: 49px;
  min-height: 49px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  border: 1px solid #babfc7;
  border-bottom: none;
}
.table-header .ag-header .search {
  margin-right: 15px;
}
.table-header .ag-header .actions_for_selected_rows_button {
  display: flex;
  align-items: center;
}
.table-header .ag-header .ag-header-title {
  font-weight: 700;
  margin-right: 15px;
}

.vuecal__weekdays-headings {
  padding: 0 !important;
}
.ag-root-wrapper-body.ag-layout-normal {
  height: auto !important;
  min-height: auto !important;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
