@mixin row() {
    display: flex;
    flex-wrap: wrap;
}

@mixin transition($time: 0.2) {
    transition: #{$time}s ease-in-out;
}

@mixin display-flex-centered() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin full-size() {
    width: 100%;
    height: 100%;
}

@mixin radius($radius: 4, $unit: 'px') {
    border-radius: #{$radius}#{$unit};
}

@mixin square($height, $width, $unit: 'px') {
    width: #{$width}#{$unit};
    min-width: #{$width}#{$unit};
    max-width: #{$width}#{$unit};
    height: #{$height}#{$unit};
    min-height: #{$height}#{$unit};
    max-height: #{$height}#{$unit};
}

@mixin circle($size, $unit: 'px') {
    @include square($size, $size, $unit);
    @include radius(50, '%');
}

@mixin offset-reset {
    margin: 0;
    padding: 0;
}

@mixin button-reset {
    @include offset-reset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    font: inherit;
}

@mixin placeholder {
    &::-webkit-input-placeholder { @content }
    &::-moz-placeholder { @content }
    &:-moz-placeholder { @content }
    &:-ms-input-placeholder { @content }
}

@mixin text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin card {
    @include radius();
    border: 1px solid $card-border;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.02);
    background: $white;
}

@mixin two-grid-items {
    @include row;
    margin: calc(-1 * #{$offset}) calc(-1 * #{$offset} / 2);
    & > * {
        width: 50%;
        flex: 0 0 50%;
        padding: $offset calc(#{$offset} / 2);
    }
}

@mixin three-grid-items {
    @include row;
    margin: calc(-1 * #{$offset}) calc(-1 * #{$offset} / 2);
    & > * {
        width: 33.333333%;
        flex: 0 0 33.333333%;
        padding: $offset calc(#{$offset} / 2);
    }
}


@mixin desktop {
    @media screen and (min-width: 1366px) {
        @content;
    }
}

@mixin tablets {
    @media screen and (max-width: 1366px) and (hover: none) and (pointer: coarse) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin portrait {
    @media screen and (orientation: portrait) {
        @content;
    }
}

@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin touchscreens {
    @media (hover: none) and (pointer: coarse) {
        @content;
    }
}

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-display: swap;
        font-style: $style;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.ttf') format('truetype');
    }
}

@mixin children() {
    & > * {
        @content;
    }
}

@mixin not-last-child() {
    &:not(:last-child) {
        @content;
    }
}
