// colors
$red: #E84F5E;
$green: #60C44A;
$white: #FFFFFF;
$light-grey: #EDEDED;
$black: #42474D;
$darker-black: #21262B;
$border: #D9D9D9;
$main: #3790C8;
$lighter-main: #00A8EB;
$darker-main: #0074C2;

$menu-text: #FFFFFF;
$text: #5B6971;
$secondary: #8C97A1;

$background-main: #EDEFF2;
$background-avatar: #C0D1DD;
$background-media: #FCFCFC;
$card-border: #E3E3E3;
$header-border: rgba(0, 0, 0, 0.1);

$header-height: var(--height-header);
$offset:  var(--offset);
$offset2x:  calc(var(--offset) * 2);
