<template lang="pug">
    .course-chapter-add-button(@click="onChangeView('form')")
        Button(icon="plus" :circle="true").course-chapter-add-button__component
        span.course-chapter-add-button__label {{$t('add_chapter')}}

</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import { Title, Button, FormItem, TextField } from "@/UI";

type CourseChapterAddType = "button" | "form";

@Component({
  components: { Title, TextField, FormItem, Button }
})
export default class CourseChapterAddButton extends Vue {
  public onChangeView(view: CourseChapterAddType) {
    this.$emit("change-view", view);
  }
}
</script>

<style lang="scss">
.course-chapter-add-button {
  @include full-size;
  @include display-flex-centered;
  cursor: pointer;
  min-height: 100px;

  &:hover {
    @include transition;
    background: lighten($light-grey, 3);
  }

  &__component {
    margin-right: $offset;
  }
}
</style>
