<template lang="pug">
    .course-chapter(:class="{'course-chapter--editable': isEditable}")
        .course-chapter__header
            .course-chapter__header-prefix
                Icon(name="graduation-cap").course-chapter__header-icon
            .course-chapter__header-content
                .course-chapter__header-top
                    p.course-chapter__header-title.subtitle(:title="chapter.name") {{ chapter.name }}
                span(style="display:none") Минуты на сервер {{timeConvertToServer(hours, mins)}}
                .course-chapter__header-duration(v-if="isAdmin || isSuperAdmin").d-flex
                    | {{$t('days_to_study')}}
                    span {{chapter.days || 0}} {{normalise(chapter.days, $t('day'),  $t('2day'),  $t('3day'))}}
                .course-chapter__header-duration
                    span {{$t('duration')}}: {{timeConvert(chapter.duration)}}
                .course-chapter__header-media(v-if="chapter.media.length > 0") {{ chapter.media.length }} {{normalise(chapter.media.length, $t('mat'),  $t('2mat'),  $t('3mat'))}}
                .course-chapter__header-media(v-if="chapter.quizzes.length > 0") {{ chapter.quizzes.length }} {{normalise(chapter.quizzes.length, $t('test'),  $t('2test'),  $t('3test'))}}
            .course-chapter__header-block
              Icon(name="lock").course-chapter-media__block__icon
              span.course-chapter-media__block__text {{$t('blocked')}}
        .course-chapter__wrapper
          .course-chapter__medias
              .course-chapter__item
                .course-chapter-media.flex.flex-col(v-for="(media, index) in chapter.media" v-show="countHidden ? index < countHidden : true" :key="media.id" :id="media.id" :class="{'--disabled': media.block }")
                  div.w-100.flex.items-center.course-chapter-media__container
                    Button(icon="play" variant="default" :circle="true" @click="onDownload(media)").course-chapter-media__play
                    Button(@click="onDownloadTwo(media)").course-chapter-media__play.text-xs(v-if="makeFormattedMediaType(media.mime_type) != 'video'") {{$t('download_file')}}
                    span.course-chapter-media__label {{ media.name_front || media.file_name}}
                    span.course-chapter-media__type {{ $t(makeFormattedMediaType(media.mime_type)) }}
                    label(v-if="media.is_project" for="file").ml-6.course-chapter-media__label--additional
                      Button(ref="uploadfilebutton" @click="OpenFileUploader(index)").course-chapter-media__play.text-xs {{$t('upload_file')}}
                      input(type='file' class="hidden" name="file" ref="fileuploader" @change="onChange($event, media.id)")
                      span(:ref="'filename-' + media.id")
                    span(v-if="media.is_project" style="width: 305px; font-size: 10px") Если вам необходимо загрузить больше одного (1) файла, то, пожалуйста, перед загрузкой предварительно соберите все файлы в один (1) архив!
                    .course-chapter-media__block(v-if="media.block")
                      Icon(name="lock").course-chapter-media__block__icon
                      span.course-chapter-media__block__text {{$t('blocked')}}
                    .course-chapter-media__progress(v-else-if="media.progress")
                      template(v-if="media.progress === 0 || media.progress === null")
                        span.course-chapter-media__progress__wait__text {{$t('not_start')}}
                      template(v-if="media.progress === 100")
                        span.course-chapter-media__progress__success__text {{$t('done')}}
                      template(v-if="media.progress < 100 && media.progress > 0")
                        span.course-chapter-media__progress__inprogress__text {{$t('in_process')}}
                        span.course-chapter-media__progress__percent__text ({{media.progress}}% {{$t('in_process_view')}})
                  .course-chapter-media__submitted.w-100.flex.items-center(v-for="(item, index) in media.submittedProject" :key="index")
                    span Проект. Версия {{index + 1}}
                    .flex.flex-col.justify-center.ml-4
                      Button.text-xs(@click="DownloadSubmittedMedia(item.id, item.media_id, item.originalName)") {{$t('download_project')}}
                    span.flex.flex-col.justify-center.ml-4(v-if="item.check_admin && media.type_score !== 'pass'") Оценка: {{item.score}}
                    span.flex.flex-col.justify-center.ml-4(v-if="item.check_admin && media.type_score === 'pass'") Оценка: {{item.score === 10? "Зачет" : "Незачет"}}
                    button.file-download.ml-4(v-for="(file, index) in item.trainer_file" v-if="item.check_admin" @click="DownloadTrainerFiles(item.id, index, file)") {{'Файл тренера ' + ++index}}
                      img(:src="Download")
                    span.flex.flex-col.justify-center.ml-4(v-if="item.check_admin && item.message") {{$t('comment')}}: {{item.message}}
                .course-chapter-media.course-chapter-media--hide(
                    @click="setCountHidden(countHidden ? 0 : defaultCountHidden)"
                    v-if="countHidden < (chapter.media && chapter.media.length)"
                ) {{ countHidden ? $t('show_all') : $t('hide_all') }}
              .course-chapter__item
                .course-chapter-media(v-for="(quizzes, index) in chapter.quizzes" v-show="countHidden ? index < countHidden : true" :key="quizzes.id" :id="quizzes.id" :class="{'--disabled': quizzes.block }")
                  Button(icon="play" variant="default" :circle="true" @click="startQuiz(quizzes.id)").course-chapter-media__play
                  span.course-chapter-media__label {{ quizzes.title }}
                  span.course-chapter-media__type {{$t('Test')}}
                  .course-chapter-media__block(v-if="quizzes.block")
                    Icon(name="lock").course-chapter-media__block__icon
                    span.course-chapter-media__block__text {{$t('blocked')}}
                .course-chapter-media.course-chapter-media--hide(
                    @click="setCountHidden(countHidden ? 0 : defaultCountHidden)"
                    v-if="countHidden < (chapter.quizzes && chapter.quizzes.length)"
                ) {{ countHidden ? $t('show_all_quiz') : $t('hide_all_quiz') }}
</template>

<script lang="ts">
import draggable from "vuedraggable";
import { Component, Prop, Vue } from "vue-property-decorator";
import { Action, Getter, Mutation } from "vuex-class";
import { CourseInterface } from "@/helpers/types/courses";
import {
  Button,
  Modal,
  TableQuizzes,
  DraggableList,
  DraggableListItem
} from "@/UI";
import Download from "@/assets/svg/icons/download.svg";
import { Quiz } from "@/helpers/types/quiz";
import { DataInterface, ChapterInterface, Maybe } from "@/helpers/types";
import { makeFormattedMediaType } from "@/helpers/utils/functions";
import { downloader } from "@/helpers/utils/downloader";
import { downloaderTwo } from "@/helpers/utils/downloaderTwo";
import { MediaInterface } from "@/helpers/types/common";
import FileTransfer from "@/components/FileManager/FileTransfer.vue";
import { URL } from "@/helpers/constants/url";
import { uploader } from "@/helpers/utils/uploader";
import i18n from "@/i18n";

const pluralize = require("numeralize-ru").pluralize;

@Component({
  components: {
    FileTransfer,
    Button,
    TableQuizzes,
    Modal,
    DraggableList,
    DraggableListItem,
    draggable
  }
})
export default class CourseChapter extends Vue {
  @Action fetchQuizzes!: () => Promise<void>;
  @Action fetchCourse!: (id: number) => Promise<void>;
  @Action editChapter!: (chapter: ChapterInterface) => Promise<void>;
  @Action attachMediaToChapter!: (params: any) => Promise<void>;
  @Action SubmitProject!: (params: any) => Promise<void>;
  @Action attachQuizzesToChapter!: (params: any) => Promise<void>;
  @Action deleteChapter!: (chapter: ChapterInterface) => Promise<void>;
  @Action deleteMediaChapter!: (params: any) => Promise<void>;
  @Action deleteQuizzChapter!: (params: any) => Promise<void>;
  @Action sortChapterMedia!: (params: any) => Promise<void>;
  @Action sortChapterQuizzes!: (params: any) => Promise<void>;

  @Mutation setEditableChapter!: (chapter: ChapterInterface) => void;

  @Getter("getEditableChapter") editableChapter!: Maybe<ChapterInterface>;
  @Getter("getQuizzes") quizzes!: DataInterface<Quiz[]>;
  @Getter getCourse!: (id: number) => CourseInterface;

  @Prop({ required: true, type: Object as () => ChapterInterface })
  chapter!: ChapterInterface;
  public URL = URL;
  public Download: string = Download;
  public defaultCountHidden = 10;
  public countHidden = this.defaultCountHidden;
  public newMedia: MediaInterface[] = [];
  public newQuizzes: Array<any> = [];
  public isLoading = false;
  public selected: Array<any> = [];
  public hours = 0;
  public mins = 0;
  public percent = 0;
  public id = +this.$route.params.id;

  public DownloadSubmittedMedia(submit_id: number, media_id: number, file: any) {
    downloader(
      media_id,
      () => `/api/media/${media_id}/submittedProject/${submit_id}`,
      file
    );
  }
  public DownloadTrainerFiles(submit_id: number, index: number, file: any) {
    downloader(
      submit_id,
      id => `/api/submittedProject/${submit_id}/download_file_trainer?key=${index}`,
      file
    );
  }

  public OpenFileUploader(index: any) {
    (this.$refs.fileuploader as any)[index].click();
  }

  public makeFormattedMediaType(type: string): string {
    return makeFormattedMediaType(type);
  }

  public created() {
    this.converTime(this.chapter.duration);
  }

  public async onChange(event: Event, id: number) {
    const files = (event.target as HTMLInputElement)?.files;
    const file: File = files![0];
    (this.$refs.uploadfilebutton as any)[0].$el.style = "display: none";
    (this.$refs[`filename-${id}`] as any)[0].innerText =
      `${this.$t("project_is_load")}: ` + file.name;
    if (file) {
      const params = {
        file: file
      };
      await uploader(
        `/api/media/${id}/submittedProject`,
        params,
        percent => (this.percent = percent)
      );
    }
    this.$events.$emit("updateChapter");
  }

  public async onDeleteChapter(): Promise<void> {
    const { chapter } = this;

    try {
      this.$set(chapter, "delete", true);
      await this.deleteChapter(chapter);
    } catch (error) {
      this.$set(chapter, "delete", false);
    }
  }

  public async onEditChapter() {
    const { chapter } = this;
    this.timeConvertToServer(this.hours, this.mins);

    if (this.isEditable) {
      try {
        this.$set(chapter, "edit", true);
        await this.editChapter(chapter);
        this.$set(chapter, "edit", false);
      } catch (error) {
        this.$set(chapter, "edit", false);
      }
    } else {
      this.setEditableChapter(chapter);
    }
  }

  public async changeTime() {
    await this.timeConvertToServer(this.hours, this.mins);
    await this.editChapter(this.chapter);
  }

  public onChangeChapter(event: any, field: string) {
    const { textContent } = event.target;
    const { chapter } = this;

    this.$set(chapter, field, textContent);
  }

  public onEditTime(event: any, field: string) {
    const { textContent } = event.target;
    const { chapter } = this;

    let hourss = 0;
    let minss = 0;

    if (field === "hours") {
      this.hours = textContent;
      hourss = textContent;
    } else if (field === "mins") {
      this.mins = textContent;
      minss = textContent;
    }

    this.$set(chapter, field, textContent);
  }

  public onEditMins(event: any) {
    this.mins = event.target.textContent;
  }

  public async onDownload(media: any) {
    if (makeFormattedMediaType(media.mime_type) === "video") {
      this.$router.push(`${URL.CONTENT}/info/${media.id}`);
    } else {
      await downloader(media.id);
    }

    this.$events.$emit("updateChapter");
  }

  public async onDownloadTwo(media: any) {
    await downloaderTwo(media.id);
  }

  public startQuiz(id: number) {
    if (this.isAdmin || this.isSuperAdmin) {
      this.$router.push(`${URL.QUIZZES}/${id}`);
    } else {
      this.$router.push(`/client${URL.QUIZZES}/${id}`);
    }
  }

  public setCountHidden(count: number) {
    this.countHidden = count;
  }

  public get isEditable() {
    if (this.editableChapter) {
      return this.editableChapter.id === this.chapter.id;
    }
    return false;
  }

  public onOpenModalAddMaterial() {
    this.$modal.show(`add-material-${this.chapter.name}`);
  }

  public onOpenModalAddQuizzes() {
    this.$modal.show(`add-quizzes-${this.chapter.name}`);
  }

  public onChangeSelectedMedia(media: MediaInterface[]) {
    this.newMedia = media;
  }

  public async onAttachMedia() {
    const { chapter, newMedia } = this;
    this.isLoading = true;

    const media_ids = [];
    const mediaIdsOld = chapter.media?.map(media => media.id);
    const mediaIdsNew = newMedia.map(media => media.id_media);

    if (mediaIdsOld) {
      media_ids.push(...mediaIdsOld);
    }

    if (mediaIdsNew) {
      media_ids.push(...mediaIdsNew);
    }

    const params = {
      id: chapter.id,
      media_ids
    };

    try {
      await this.attachMediaToChapter(params);
      this.$modal.hide(`add-material-${chapter.name}`);
    } catch (e) {
      console.error(e);
    }

    this.isLoading = false;
  }

  public async onAttachQuizzes() {
    const { chapter, newQuizzes } = this;
    this.isLoading = true;

    const quiz_ids = [];
    const quizIdsOld = chapter.quizzes?.map(
      (quizzes: { id: any }) => quizzes.id
    );
    const quizIdsNew = newQuizzes.map(selected => selected.id);

    if (quizIdsOld) {
      quiz_ids.push(...quizIdsOld);
    }

    if (quizIdsNew) {
      quiz_ids.push(...quizIdsNew);
    }

    try {
      for (let i = 0; i < quiz_ids.length; i++) {
        const params = {
          id: chapter.id,
          quiz_id: quiz_ids[i]
        };
        await this.attachQuizzesToChapter(params);
      }
      this.$modal.hide(`add-quizzes-${chapter.name}`);
    } catch (e) {
      console.error(e);
    }

    this.isLoading = false;
  }

  public async onDeleteMediaChapter(index: number): Promise<void> {
    const { chapter } = this;
    const media = chapter?.media?.[index];

    if (media) {
      try {
        this.$set(media, "delete", true);
        await this.deleteMediaChapter({
          id: chapter.id,
          media_id: media.id || media.id_media
        });
      } catch (error) {
        this.$set(media, "delete", false);
      }
    }
  }

  public async onDeleteQuizzChapter(index: number): Promise<void> {
    const { chapter } = this;
    const quiz = chapter?.quizzes?.[index];

    if (quiz) {
      try {
        this.$set(quiz, "delete", true);
        await this.deleteQuizzChapter({
          id: chapter.id,
          quiz_id: quiz.id
        });
      } catch (error) {
        this.$set(quiz, "delete", false);
      }
    }
  }

  get isAdmin() {
    return this.$store.getters.isAdmin;
  }

  get isSuperAdmin() {
    return this.$store.getters.isSuperAdmin;
  }

  public async sortMedias() {
    const sortedIds = [];
    for (let i = 0; i < (this.chapter.media as any).length; ++i) {
      const field = (this.chapter as any).media[i].id;
      sortedIds.push(field);
    }
    const data = {
      ids_media: sortedIds,
      id: this.chapter.id
    };
    try {
      await this.sortChapterMedia(data);
    } catch (e) {
      console.error(e);
    }
  }

  public async sortQuizzes() {
    const sortedIds = [];
    for (let i = 0; i < (this.chapter.quizzes as any).length; ++i) {
      const field = (this.chapter as any).quizzes[i].id;
      sortedIds.push(field);
    }
    const data = {
      ids_quiz: sortedIds,
      id: this.chapter.id
    };
    try {
      await this.sortChapterQuizzes(data);
    } catch (e) {
      console.error(e);
    }
  }

  public timeConvert(mins: any) {
    const num = mins;
    const hours = num / 60;
    const rhours = Math.floor(hours);
    const minutes = (hours - rhours) * 60;
    const rminutes = Math.round(minutes);

    if (rhours > 0) {
      return (
        rhours +
        ` ${pluralize(
          rhours,
          i18n.t("hour"),
          i18n.t("2hours"),
          i18n.t("3hours")
        )} ` +
        rminutes +
        ` ${pluralize(rminutes, i18n.t("min"), i18n.t("2min"), i18n.t("3min"))}`
      );
    } else {
      return rminutes + " " + i18n.t("3min");
    }
  }

  public timeConvertToServer(hours: any, mins: any) {
    const { chapter } = this;
    let hourss = 0;
    let minss = 0;
    if (hours > 0) {
      hourss = hours * 60;
    }
    if (mins > 0) {
      minss = mins;
    }

    const calc = hourss - -minss;
    this.chapter.duration = String(calc);
    this.$set(chapter, "duration", String(calc));
    return calc;
  }

  public converTime(mins: any) {
    const num = mins;
    const hours = num / 60;
    const rhours = Math.floor(hours);
    const minutes = (hours - rhours) * 60;
    const rminutes = Math.round(minutes);

    if (rhours > 0) {
      this.hours = rhours;
      this.mins = rminutes;
    } else {
      this.mins = rminutes;
    }
  }

  public normalise(value: number, one: string, two: string, three: string) {
    return pluralize(value, one, two, three);
  }
}
</script>

<style lang="scss">
.course-chapter-media__submitted {
  padding: var(--offset) calc(var(--offset) * 3);
  background: #fcfcfc;

  @media screen and (max-width: 540px) {
    padding-left: 0;
  }
}
.course-chapter-media.flex-col:hover {
  background: #fcfcfc;
}

.file-download {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  min-width: 150px;
  max-width: fit-content;
  padding: 5px 12px;
  border-radius: 3px;
  color: #fff;
  background: #2485ff;
  &:not(:first-child) {
    margin-top: 5px;
  }
  img {
    margin-right: 8px;
  }
  &:hover {
    background: #1f78e7;
  }
}

.course-chapter-media__container {
  flex-wrap: wrap;
  row-gap: 10px;

  @media screen and (max-width: 540px) {
    flex-direction: column;
    align-items: flex-start !important;
  }
}

.course-chapter-media__label--additional {
  @media screen and (max-width: 540px) {
    margin-left: 0 !important;
  }
}
</style>
