<template lang="pug">
    .course-chapter-add
        .course-chapter-add__wrapper
            CourseChapterAddButton(v-if="view === 'button'" @change-view="onChangeView")
            CourseChapterAddForm(v-else @change-view="onChangeView" @success-add-chapter="onSuccess" :program-id="this.programId")
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

import { Title, Button, FormItem, TextField } from "@/UI";
import CourseChapterAddButton from "./CourseChapterAddButton.vue";
import CourseChapterAddForm from "./CourseChapterAddForm.vue";

type CourseChapterAddType = "button" | "form";

@Component({
  components: {
    CourseChapterAddButton,
    CourseChapterAddForm,
    Title,
    TextField,
    FormItem,
    Button
  }
})
export default class CourseChapterAdd extends Vue {
  @Prop({ required: true, type: Number }) programId!: number;
  @Prop({ required: true, type: String as () => CourseChapterAddType })
  view: CourseChapterAddType = "button";

  public onChangeView(view: CourseChapterAddType) {
    this.$emit("change-view", view);
  }
  public onSuccess() {
    this.$emit("success-add-chapter");
  }
}
</script>

<style lang="scss">
.course-chapter-add {
  @include card;
  @include full-size;
  margin-top: $offset;
  overflow: hidden;

  &__wrapper {
    @include full-size;
  }
}
</style>
