<template lang="pug">
    .course-chapter-add-form
        FormItem
            Title(component="p", :level="4" weight="500") {{$t('add_chapter_title')}}
        FormItem(:label="$t('title')" :required="true")
            TextField(v-model="data.name")
        FormItem(:label="$t('days_to_study')")
            TextField(v-model="data.days")
        FormItem
            Button(:loading="isLoading" @click="onAddChapter") {{$t('add_chapter')}}
            Button(:disabled="isLoading" variant="default" @click="onChangeView('button')") {{$t('cancel')}}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Action } from "vuex-class";

import { ChapterInterface } from "@/helpers/types";
import { Title, Button, FormItem, TextField } from "@/UI";

type CourseChapterAddType = "button" | "form";

@Component({
  components: { Title, TextField, FormItem, Button }
})
export default class CourseChapterAddForm extends Vue {
  @Action fetchCourse!: (id: number) => Promise<void>;
  @Action createChapter!: (data: ChapterInterface) => Promise<void>;
  @Prop({ required: true, type: Number }) programId!: number;

  public isLoading = false;
  public data: ChapterInterface = {
    name: "",
    days: "",
    program_id: this.programId
  };

  public onChangeView(view: CourseChapterAddType) {
    this.$emit("change-view", view);
  }
  public onSuccess() {
    this.$emit("success-add-chapter");
  }

  public async onAddChapter() {
    this.isLoading = true;
    try {
      await this.createChapter(this.data);
      this.onChangeView("button");
      this.onSuccess();
    } catch (error) {
      console.error(error);
    }
    this.isLoading = false;
  }
}
</script>

<style lang="scss">
.course-chapter-add-form {
  @include full-size;
  padding: $offset2x 0;
}
</style>
