<template lang="pug">
    .course-chapter(:class="{'course-chapter--editable': isEditable}")
        .drag_and_drop_control_chapter
        .course-chapter__header
            .course-chapter__header-prefix
                Icon(name="graduation-cap").course-chapter__header-icon
            .course-chapter__header-content
                .course-chapter__header-top
                    p.course-chapter__header-title.subtitle(
                        :title="chapter.name"
                        :contenteditable="isEditable && (isAdmin || isSuperAdmin)"
                        @blur="e => onChangeChapter(e, 'name')"
                        @click="() => !isEditable && isAdmin ? onEditChapter() : false"
                    ) {{ chapter.name }}
                    Button.course-chapter__header-edit(
                        v-if="isAdmin || isSuperAdmin"
                        :icon="isEditable ? 'check': 'pencil-alt'"
                        :loading="chapter.edit"
                        variant="default"
                        @click="onEditChapter"
                    )
                span(style="display:none") Минуты на сервер {{timeConvertToServer(hours, mins)}} 
                .course-chapter__header-duration(v-if="isAdmin || isSuperAdmin").d-flex
                    | {{$t('days_to_study')}}
                    span(
                        :contenteditable="isEditable && isAdmin || isSuperAdmin"
                        @blur="e => onChangeChapter(e, 'days')"
                        @click="() => !isEditable && (isAdmin || isSuperAdmin) ? onEditChapter() : false"
                    ) {{chapter.days || 0}}
                .course-chapter__header-duration(v-if="isAdmin || isSuperAdmin")
                    | {{$t('duration')}}:
                    span(
                        :contenteditable="isEditable && (isAdmin || isSuperAdmin)"
                        @blur="e => onEditTime(e, 'hours')"
                        @click="() => !isEditable && (isAdmin || isSuperAdmin) ? onEditChapter() : false"
                    )  {{ hours || 0 }}
                    | {{normalise(hours,  'hour',  '2hours', '3hours')}}
                    span(
                        :contenteditable="isEditable && (isAdmin || isSuperAdmin)"
                        @blur="e => onEditTime(e, 'mins')"
                        @click="() => !isEditable && (isAdmin || isSuperAdmin) ? onEditChapter() : false"
                    )  {{ mins || 0 }}
                    | {{normalise(mins, 'min',  '2min',  '3min')}}
                .course-chapter__header-duration(v-else)
                    span {{$t('duration')}}: {{timeConvert(chapter.duration)}}
                .course-chapter__header-media(v-if="chapter.media && (isAdmin || isSuperAdmin)") {{ chapter.media.length }} {{normalise(chapter.media.length, 'mat',  '2mat',  '3mat')}}
                .course-chapter__header-media(v-if="chapter.quizzes && (isAdmin || isSuperAdmin)") {{ chapter.quizzes.length }} {{normalise(chapter.quizzes.length, 'test',  '2test',  '3test')}}
            .course-chapter__header-block
              Icon(name="lock").course-chapter-media__block__icon
              span.course-chapter-media__block__text {{$t('blocked')}}
            Button.course-chapter__header-delete(
                v-if="isAdmin || isSuperAdmin"
                icon="trash-alt"
                variant="default"
                :loading="chapter.delete"
                @click="onDeleteChapter"
            )
        .course-chapter__wrapper
          .course-chapter__medias
              .course-chapter__item
                .course-chapter-media.course-chapter-media--add(v-if="isAdmin || isSuperAdmin" @click="onOpenModalAddMaterial")
                    Button(icon="plus" :circle="true").course-chapter-media__play
                    span.course-chapter-media__label {{$t('mat_add')}}
                draggable(v-model="chapter.media" handle=".drag_and_drop_control" draggable=".course-chapter-media" @change="sortMedias")
                  .course-chapter-media(v-for="(media, index) in chapter.media" v-show="countHidden ? index < countHidden : true" :key="media.id" :id="media.id" :class="{'--disabled': media.block }")
                    .drag_and_drop_control(v-if="isAdmin || isSuperAdmin")
                    Button(icon="play" variant="default" :circle="true" @click="onDownload(media)").course-chapter-media__play
                    Button(icon="download" variant="default" :circle="true" @click="onDownloadTwo(media)").course-chapter-media__play
                    span.course-chapter-media__label {{ media.name_front || media.name }}
                    span.course-chapter-media__type {{ $t(makeFormattedMediaType(media.mime_type)) }}
                    Button.course-chapter-media__delete(
                            v-if="isAdmin || isSuperAdmin"
                            icon="trash-alt"
                            :circle="true"
                            variant="default"
                            :loading="media.delete"
                            @click="onDeleteMediaChapter(index)"
                    )
                    .course-chapter-media__block(v-if="media.block")
                      Icon(name="lock").course-chapter-media__block__icon
                      span.course-chapter-media__block__text {{$t('mat_add')}}
                    .course-chapter-media__progress(v-else-if="media.progress")
                      template(v-if="media.progress === 0 || media.progress === null")
                        span.course-chapter-media__progress__wait__text {{$t('not_start')}}
                      template(v-if="media.progress === 100")
                        span.course-chapter-media__progress__success__text {{$t('done')}}
                      template(v-if="media.progress < 100 && media.progress > 0")
                        span.course-chapter-media__progress__inprogress__text {{$t('in_process')}}
                        span.course-chapter-media__progress__percent__text ({{media.progress}}% {{$t('in_process_view')}})
                .course-chapter-media.course-chapter-media--hide(
                    @click="setCountHidden(countHidden ? 0 : defaultCountHidden)"
                    v-if="countHidden < (chapter.media && chapter.media.length)"
                ) {{ countHidden ? $t('show_all') : $t('hide_all') }}
              .course-chapter__item
                .course-chapter-media.course-chapter-media--add(v-if="isAdmin || isSuperAdmin" @click="onOpenModalAddQuizzes")
                    Button(icon="plus" :circle="true").course-chapter-media__play
                    span.course-chapter-media__label {{$t('test_add')}}
                draggable(v-model="chapter.quizzes" handle=".drag_and_drop_control" draggable=".course-chapter-media" @change="sortQuizzes")
                  .course-chapter-media(v-for="(quizzes, index) in chapter.quizzes" v-show="countHidden ? index < countHidden : true" :key="quizzes.id" :id="quizzes.id" :class="{'--disabled': quizzes.block }")
                    .drag_and_drop_control(v-if="isAdmin || isSuperAdmin")
                    Button(icon="play" variant="default" :circle="true" @click="startQuiz(quizzes.id)").course-chapter-media__play
                    span.course-chapter-media__label {{ quizzes.title }}
                    Button.course-chapter-media__delete(
                            v-if="isAdmin || isSuperAdmin"
                            icon="trash-alt"
                            :circle="true"
                            variant="default"
                            :loading="quizzes.delete"
                            @click="onDeleteQuizzChapter(index)"
                    )
                    .course-chapter-media__block(v-if="quizzes.block")
                      Icon(name="lock").course-chapter-media__block__icon
                      span.course-chapter-media__block__text {{$t('blocked')}}
                .course-chapter-media.course-chapter-media--hide(
                    @click="setCountHidden(countHidden ? 0 : defaultCountHidden)"
                    v-if="countHidden < (chapter.quizzes && chapter.quizzes.length)"
                ) {{ countHidden ? $t('show_all_quiz') : $t('hide_all_quiz') }}
        Modal(:name="`add-material-${chapter.name}`" :title="$t('mat_add')" width="700px")
            FileTransfer(@change="onChangeSelectedMedia")
            template(slot='footer')
                Button(@click="onAttachMedia" :loading="this.isLoading") {{$t('add')}}
        Modal(:name="`add-quizzes-${chapter.name}`" :title="$t('test_add')" width="700px")
            TableQuizzes(
                :data="this.quizzes"
                data-path="data"
                :columns="this.columns"
                styleClass="vgt-table"
                @on-selected-rows-change="onSelectionChanged"
                @fetch="this.fetchQuizzes"
            )
            template(slot='footer')
                Button(@click="onAttachQuizzes" :loading="this.isLoading") {{$t('add')}}
</template>

<script lang="ts">
import draggable from "vuedraggable";
import { Component, Prop, Vue } from "vue-property-decorator";
import { Action, Getter, Mutation } from "vuex-class";
import { CourseInterface } from "@/helpers/types/courses";
import {
  Button,
  Modal,
  TableQuizzes,
  DraggableList,
  DraggableListItem
} from "@/UI";
//import Table from "@/UI";
import { Quiz } from "@/helpers/types/quiz";
import { DataInterface, ChapterInterface, Maybe } from "@/helpers/types";
import { makeFormattedMediaType } from "@/helpers/utils/functions";
import { downloader } from "@/helpers/utils/downloader";
import { MediaInterface } from "@/helpers/types/common";
import FileTransfer from "@/components/FileManager/FileTransfer.vue";
import { URL } from "@/helpers/constants/url";
const pluralize = require("numeralize-ru").pluralize;
import { downloaderTwo } from "@/helpers/utils/downloaderTwo";
@Component({
  components: {
    FileTransfer,
    Button,
    TableQuizzes,
    Modal,
    DraggableList,
    DraggableListItem,
    draggable
  }
})
export default class CourseChapter extends Vue {
  @Action fetchQuizzes!: () => Promise<void>;
  @Action fetchCourse!: (id: number) => Promise<void>;
  @Mutation setEditableChapter!: (chapter: ChapterInterface) => void;
  @Action editChapter!: (chapter: ChapterInterface) => Promise<void>;
  @Action attachMediaToChapter!: (params: any) => Promise<void>;
  @Action attachQuizzesToChapter!: (params: any) => Promise<void>;
  @Action deleteChapter!: (chapter: ChapterInterface) => Promise<void>;
  @Action deleteMediaChapter!: (params: any) => Promise<void>;
  @Action deleteQuizzChapter!: (params: any) => Promise<void>;
  @Action sortChapterMedia!: (params: any) => Promise<void>;
  @Action sortChapterQuizzes!: (params: any) => Promise<void>;
  @Getter("getEditableChapter") editableChapter!: Maybe<ChapterInterface>;
  @Getter("getQuizzes") quizzes!: DataInterface<Quiz[]>;
  @Getter getCourse!: (id: number) => CourseInterface;
  @Prop({ required: true, type: Object as () => ChapterInterface })
  chapter!: ChapterInterface;
  public URL = URL;
  public defaultCountHidden = 10;
  public countHidden = this.defaultCountHidden;
  public newMedia: MediaInterface[] = [];
  public newQuizzes: Array<any> = [];
  public isLoading = false;
  public selected: Array<any> = [];
  public hours = 0;
  public mins = 0;
  public id = +this.$route.params.id;
  public makeFormattedMediaType(type: string): string {
    return makeFormattedMediaType(type);
  }
  public created() {
    //if (this.isAdmin || this.isSuperAdmin) {
    //  this.fetchQuizzes();
    //}
    this.converTime(this.chapter.duration);
  }
  public async onDeleteChapter(): Promise<void> {
    const { chapter } = this;

    try {
      this.$set(chapter, "delete", true);
      await this.deleteChapter(chapter);
    } catch (error) {
      this.$set(chapter, "delete", false);
    }
  }
  private columns = [
    {
      field: "title",
      label: "quiz_title",
      width: "90%",
      sortable: true
    }
  ];
  public async onEditChapter() {
    const { chapter } = this;
    this.timeConvertToServer(this.hours, this.mins);
    if (this.isEditable) {
      try {
        this.$set(chapter, "edit", true);
        await this.editChapter(chapter);
        this.$set(chapter, "edit", false);
      } catch (error) {
        this.$set(chapter, "edit", false);
      }
    } else {
      this.setEditableChapter(chapter);
    }
  }
  public async changeTime() {
    await this.timeConvertToServer(this.hours, this.mins);
    await this.editChapter(this.chapter);
  }

  public onChangeChapter(event: any, field: string) {
    const { textContent } = event.target;
    const { chapter } = this;

    this.$set(chapter, field, textContent);
  }
  public onEditTime(event: any, field: string) {
    const { textContent } = event.target;
    const { chapter } = this;

    let hourss = 0;
    let minss = 0;

    if (field === "hours") {
      this.hours = textContent;
      hourss = textContent;
    } else if (field === "mins") {
      this.mins = textContent;
      minss = textContent;
    }

    const durationForServer = this.timeConvertToServer(hourss, minss);
    //console.log(durationForServer);
    this.$set(chapter, field, textContent);
  }
  public onEditMins(event: any) {
    const { textContent } = event.target;
    const { chapter } = this;

    this.mins = textContent;
    //this.$set(chapter, field, textContent);
  }

  public async onDownload(media: any) {
    this.$router.push(`${URL.FILE}/${media.id}/edit`);
    //if (makeFormattedMediaType(media.mime_type) === "Видео") {
    //  this.$router.push(`${URL.CONTENT}/info/${media.id}`);
    //} else {
    //  await downloader(media.id);
    //}
    //this.$events.$emit("updateChapter");
  }
  public async onDownloadTwo(media: any) {
    await downloaderTwo(media.id);
  }

  public startQuiz(id: number) {
    if (this.isAdmin || this.isSuperAdmin) {
      this.$router.push(`${URL.QUIZZES}/${id}`);
    } else {
      this.$router.push(`/client${URL.QUIZZES}/${id}`);
    }
  }

  public setCountHidden(count: number) {
    this.countHidden = count;
  }

  public get isEditable() {
    if (this.editableChapter) {
      return this.editableChapter.id === this.chapter.id;
    }
    return false;
  }

  public onOpenModalAddMaterial() {
    this.$modal.show(`add-material-${this.chapter.name}`);
  }
  public onOpenModalAddQuizzes() {
    this.$modal.show(`add-quizzes-${this.chapter.name}`);
  }

  public onChangeSelectedMedia(media: MediaInterface[]) {
    this.newMedia = media;
  }

  public async onAttachMedia() {
    const { chapter, newMedia } = this;
    this.isLoading = true;

    const media_ids = [];

    const mediaIdsOld = chapter.media?.map(media => media.id);
    const mediaIdsNew = newMedia.map(media => media.id_media);

    if (mediaIdsOld) {
      media_ids.push(...mediaIdsOld);
    }

    if (mediaIdsNew) {
      media_ids.push(...mediaIdsNew);
    }

    const params = {
      id: chapter.id,
      media_ids
    };

    try {
      await this.attachMediaToChapter(params);
      this.$modal.hide(`add-material-${chapter.name}`);
    } catch (e) {
      console.error(e);
    }

    this.isLoading = false;
  }

  public async onAttachQuizzes() {
    const { chapter, newQuizzes } = this;
    this.isLoading = true;

    const quiz_ids = [];

    const quizIdsOld = chapter.quizzes?.map(
      (quizzes: { id: any }) => quizzes.id
    );
    const quizIdsNew = newQuizzes.map(selected => selected.id);

    if (quizIdsOld) {
      quiz_ids.push(...quizIdsOld);
    }

    if (quizIdsNew) {
      quiz_ids.push(...quizIdsNew);
    }
    try {
      for (let i = 0; i < quiz_ids.length; i++) {
        const params = {
          id: chapter.id,
          quiz_id: quiz_ids[i]
        };
        await this.attachQuizzesToChapter(params);
      }
      this.$modal.hide(`add-quizzes-${chapter.name}`);
    } catch (e) {
      console.error(e);
    }

    this.isLoading = false;
  }

  public async onDeleteMediaChapter(index: number): Promise<void> {
    const { chapter } = this;
    const media = chapter?.media?.[index];

    if (media) {
      try {
        this.$set(media, "delete", true);
        await this.deleteMediaChapter({
          id: chapter.id,
          media_id: media.id || media.id_media
        });
      } catch (error) {
        this.$set(media, "delete", false);
      }
    }
  }
  public async onDeleteQuizzChapter(index: number): Promise<void> {
    const { chapter } = this;
    const quiz = chapter?.quizzes?.[index];

    if (quiz) {
      try {
        this.$set(quiz, "delete", true);
        await this.deleteQuizzChapter({
          id: chapter.id,
          quiz_id: quiz.id
        });
      } catch (error) {
        this.$set(quiz, "delete", false);
      }
    }
  }

  get isAdmin() {
    return this.$store.getters.isAdmin;
  }
  get isSuperAdmin() {
    return this.$store.getters.isSuperAdmin;
  }
  private onSelectionChanged(data: { selectedRows: any[] }) {
    this.selected = data?.selectedRows;
    this.newQuizzes = data?.selectedRows;
    return data?.selectedRows;
  }
  public async sortMedias() {
    const sortedIds = [];
    for (let i = 0; i < (this.chapter.media as any).length; ++i) {
      const field = (this.chapter as any).media[i].id;
      sortedIds.push(field);
    }
    const data = {
      ids_media: sortedIds,
      id: this.chapter.id
    };
    try {
      await this.sortChapterMedia(data);
    } catch (e) {
      console.error(e);
    }
  }
  public async sortQuizzes() {
    const sortedIds = [];
    for (let i = 0; i < (this.chapter.quizzes as any).length; ++i) {
      const field = (this.chapter as any).quizzes[i].id;
      sortedIds.push(field);
    }
    const data = {
      ids_quiz: sortedIds,
      id: this.chapter.id
    };
    try {
      await this.sortChapterQuizzes(data);
    } catch (e) {
      console.error(e);
    }
  }
  public timeConvert(mins: any) {
    const num = mins;
    const hours = num / 60;
    const rhours = Math.floor(hours);
    const minutes = (hours - rhours) * 60;
    const rminutes = Math.round(minutes);
    if (rhours > 0) {
      return (
        rhours +
        ` ${pluralize(
          rhours,
          this.$t("hour"),
          this.$t("2hours"),
          this.$t("3hours")
        )} ` +
        rminutes +
        ` ${pluralize(
          rminutes,
          this.$t("min"),
          this.$t("2min"),
          this.$t("3min")
        )}`
      );
    } else {
      return rminutes + ` ${this.$t("3min")}}`;
    }
  }
  public timeConvertToServer(hours: any, mins: any) {
    const { chapter } = this;
    let hourss = 0;
    let minss = 0;
    if (hours > 0) {
      hourss = hours * 60;
    }
    if (mins > 0) {
      minss = mins;
    }
    const calc = hourss - -minss;
    this.chapter.duration = String(calc);
    this.$set(chapter, "duration", String(calc));
    return calc;
  }
  public converTime(mins: any) {
    const num = mins;
    const hours = num / 60;
    const rhours = Math.floor(hours);
    const minutes = (hours - rhours) * 60;
    const rminutes = Math.round(minutes);
    if (rhours > 0) {
      this.hours = rhours;
      this.mins = rminutes;
    } else {
      this.mins = rminutes;
    }
  }
  public normalise(value: number, one: string, two: string, three: string) {
    return pluralize(value, this.$t(one), this.$t(two), this.$t(three));
  }
}
</script>

<style lang="scss"></style>
