<template lang="pug">
  div
    VueGoodTable(
        :mode="this.mode"
        v-bind="$attrs"
        v-on="$listeners"
        :rows="this.rows"
        :columns="this.columns"
        :totalRows="this.total"
        @on-page-change="onPageChange"
        @on-column-filter="onColumnFilter"
        @on-sort-change="onSortChange"
        @on-per-page-change="onPerPageChange"
        @on-selected-rows-change="onSelectionChanged"
        :pagination-options="mode === 'remote' ? this.paginationOptions : false"
        :isLoading.sync="isLoading"
        :select-options="selectOptions"
        :fixed-header="fixedHeader"
    )   
        template(slot='table-column' slot-scope='props')
          span {{ $t(props.column.label) }}
        template(slot="selected-row-actions")
            a.delete.action_button_link.action_button_delete_content(@click="onDelete(selected)") {{$t('delete')}}
            a.copy.action_button_link.action_button_copy(@click="onCopy(selected)" v-if="every(this.selected, {'type': 'file'})") {{$t('copy')}}
            a.move.action_button_link.action_button_move(@click="onMove(selected)" v-if="every(this.selected, {'type': 'file'})") {{$t('move')}}
        template(slot="emptystate")
            span(v-if="serverParams.searchTerm") {{$t('search_empty')}}
            span(v-else) {{$t('havent_info')}}
        template(slot='table-row' slot-scope='props')
            component(
                v-if="props.column.component && props.column.component(props.row)"
                :is="props.column.component(props.row)"
                @click.prevent="props.column.action && props.column.component && props.column.component(props.row) ? props.column.action(props.row) : undefined"
            ) 
              img(:src="props.column.icon(props.row)").actions_for_selected_rows_button_icon/ {{ props.formattedRow[props.column.field] }}
            router-link(
                v-else-if="props.column.link && props.column.icon"
                :to="props.column.link(props.row)"
            )
                img(:src="props.column.icon(props.row)").actions_for_selected_rows_button_icon/ {{ props.formattedRow[props.column.field] }}
            router-link(
                v-else-if="props.column.link"
                :to="props.column.link(props.row)"
            ) {{ props.formattedRow[props.column.field] }}
            span(v-else) {{ props.formattedRow[props.column.field] }}
    
</template>

<script lang="ts">
import every from "lodash/every";
import { Action } from "vuex-class";
import { Component, Emit, Prop, Vue, Watch } from "vue-property-decorator";
import { VueGoodTable } from "vue-good-table";

import { DataInterface } from "@/helpers/types";
import { makeQueryURL } from "@/helpers/utils/functions";
import FileMove from "@/components/FileManager/FileMove.vue";
import { PaginationOptionsInterface } from "./types";
import { Link, Modal, Button } from "@/UI";
import { URL } from "@/helpers/constants/url";
import i18n from "@/i18n";
const defaultPaginationOptions: PaginationOptionsInterface = {
  enabled: false,
  mode: "pages",
  position: "bottom",
  perPageDropdown: [3, 5, 7, 9, 10, 50],
  nextLabel: String(i18n.t("Next")),
  prevLabel: String(i18n.t("Back")),
  rowsPerPageLabel: String(i18n.t("output")),
  ofLabel: String(i18n.t("out_of")),
  pageLabel: String(i18n.t("page")),
  allLabel: String(i18n.t("all"))
};

@Component({
  components: {
    Link,
    VueGoodTable,
    Modal,
    FileMove,
    Button
  },
  name: "Table"
})
export default class Table extends Vue {
  @Action deleteCourses!: (params: any) => Promise<void>;
  @Action duplicateCourses!: (params: any) => Promise<void>;
  @Action moveFile!: (params: any) => Promise<void>;
  @Action deleteFolder!: (path: string) => Promise<void>;
  @Action cloneCourse!: (id: number) => Promise<void>;
  @Action deleteCourse!: (id: number) => Promise<void>;
  @Action deleteFileById!: (id: number) => Promise<void>;
  @Prop({ required: false, default: null }) fetch!: () => Promise<void>;
  @Prop({ required: true }) data!: DataInterface<any>;
  @Prop({ required: true }) columns!: any;
  @Prop({ required: false, default: false }) loading!: boolean;
  @Prop({ required: false }) dataPath!: string;
  @Prop({ required: false }) fixedHeader!: boolean;
  @Prop({
    required: false,
    default: () => ({
      enabled: true,
      selectOnCheckboxOnly: true,
      selectionText: i18n.t("item_selected"),
      clearSelectionText: i18n.t("deselect_all"),
      selectionInfoClass: "actions_for_selected_rows"
    })
  })
  selectOptions!: Record<string, any>;
  @Prop({
    required: false,
    default: () => ({ enabled: true })
  })
  searchOptions!: Record<string, any>;
  public onChangeSelectedMedia(data: any) {
    console.log(data)
  }
  public onAttachMedia(data: any) {
    console.log(data)
  }
  public selected: Array<any> = [];
  public selectedId = null;

  public isLoading = false;
  public mode = !this.$listeners.fetch ? "local" : "remote";
  public rows: Omit<DataInterface<any>, "data"> = this.setData();

  public total = this.data.total ? this.data.total : 0;
  public serverParams = {
    sort: [],
    searchTerm: "",
    page: this.data.current_page,
    perPage: this.data.per_page
  };
  public paginationOptions: PaginationOptionsInterface = {
    ...defaultPaginationOptions,
    ...this.serverParams
  };

  public URL = URL;

  private setData() {
    let data;

    if (this.dataPath) {
      data = this.data[this.dataPath as string];
    } else {
      data = this.data;
    }

    return data;
  }
  public every(array: any[], condition: any) {
    return every(array, condition)
  }

  public updateParams(newParams: any) {
    this.serverParams = Object.assign({}, this.serverParams, newParams);
  }

  public onPageChange(params: any) {
    this.updateParams({ page: params.currentPage });
    this.fetchData();
  }

  public onPerPageChange(params: any) {
    this.updateParams({ perPage: params.currentPerPage });
    this.fetchData();
  }

  public onSortChange(params: any) {
    this.updateParams({
      sort: params ? JSON.stringify(params) : []
    });
    this.fetchData();
  }

  public onSearch({ searchTerm }: any) {
    this.updateParams({
      searchTerm
    });
    this.fetchData();
  }

  public onColumnFilter(params: any) {
    this.updateParams(params);
    this.fetchData();
  }
  public async onClone(data: string | any[]) {
    const ids: Array<any> = [];
    for (let i = 0; i < data.length; i++) {
      ids.push(data[i].id);
    }
    const params = {
      ids
    };
    try {
      await this.duplicateCourses(params);
    } catch (e) {
      console.error(e);
    }
    this.$router.go(0);
  }
  public async onDelete(data: Array<any>) {
    data.forEach(async (element: any) => {
      if (element.type === "folder") {
        try {
          const path = element.path;
          this.isLoading = true;
          await this.deleteFolder(`/${path}/`);
          this.isLoading = false;
        } finally {
          this.isLoading = false;
        }
      } else if (element.type === "file") {
        const id = element.id_media;
        try {
          await this.deleteFileById(id as number);
          this.isLoading = false;
        } catch {
          this.isLoading = false;
        }
      }
    });
  }
  public async onMove(data: Array<any>) {
    this.$modal.show("move-file");
  }
  public async onCopy(data: Array<any>) {
    this.$modal.show("copy-file");
  }
  public getIcon(File: any) {
    console.log(File);
    return require(File);
  }

  @Emit("fetch")
  private fetchData() {
    // this.isLoading = true;
    return this.serverParams;
  }

  @Emit("select")
  private onSelectionChanged(data: { selectedRows: any[] }) {
    this.selected = data?.selectedRows;
    if (data?.selectedRows[0]) {
      this.selectedId = data?.selectedRows[0].id;
    } else {
      this.selectedId = null;
    }
    return data?.selectedRows;
  }

  @Watch("data")
  private changeData(data: DataInterface<any>) {
    this.rows = this.setData();
    this.total = data?.total;
  }

  @Watch("loading")
  private changeLoading(loading: boolean) {
    this.isLoading = loading;
  }
}
</script>
