<template lang="pug">
    ul.reports-block-children
        ReportsBlockChild(v-for="(child, index) in data" :key="index" :data="child")
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { ReportLinkChildType } from "@/helpers/types";
import ReportsBlockChild from "./ReportsBlockChild.vue";

@Component({
  components: { ReportsBlockChild }
})
export default class ReportsBlockChildren extends Vue {
  @Prop() public data!: ReportLinkChildType[];
}
</script>
