<template lang="pug">
    .reports__block
        Title {{ $t(data.title) }}

        Separator

        ReportsBlockChildren(:data="data.children")
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { ReportLinkType } from "@/helpers/types";
import { Title, Separator } from "@/UI";
import ReportBlockChild from "./ReportsBlockChild.vue";
import ReportsBlockChildren from "@/components/Reports/ReportsBlockChildren.vue";

@Component({
  components: { ReportsBlockChildren, ReportBlockChild, Separator, Title }
})
export default class ReportsBlock extends Vue {
  @Prop() data!: ReportLinkType;
}
</script>

<style lang="scss">
.reports__block {
  display: grid;
  padding: $offset2x 0;
  grid-template-rows: 1fr auto;
  break-inside: avoid;

  .separator {
    margin-top: $offset;
    margin-bottom: $offset2x;
  }

  .report-block-child {
    @include not-last-child {
      margin-bottom: $offset;
    }
  }
}
</style>
