<template lang="pug">
    li.reports-block-child(:class="{'reports-block-child--disabled': data.disabled}")
        Link.reports-block-child__link(:to="`/reports/${data.id}`")
            Icon.reports-block-child__link-icon(:name="data.iconName")
            | {{ $t(data.name) }}
        | : {{ $t(data.description) }}
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { ReportLinkChildType } from "@/helpers/types";
import { Link } from "@/UI";

@Component({
  components: { Link }
})
export default class ReportBlockChild extends Vue {
  @Prop() data!: ReportLinkChildType;
}
</script>

<style lang="scss">
.reports-block-child {
  $root: reports-block-child;

  &__link {
    font-weight: 700;
  }

  &__link-icon {
    margin-right: 0.3em;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
  }

  &--disabled {
    pointer-events: none;
    color: $secondary;
    opacity: 0.5;

    .#{$root}__link {
      color: $secondary;
    }
  }
}
</style>
