<template lang="pug">
    .reports
        ReportsBlock(v-for="block in data" :key="block.title" :data="block")
        .reports__block
          Title {{$t('debts_users')}}

          Separator

          ul.reports-block-children
            li.reports-block-child(:class="{'reports-block-child--disabled': data.disabled}")
              Button(@click="sendDebt") {{$t('debts_users_send')}}
  </template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { ReportLinkType } from "@/helpers/types";
import ReportsBlock from "./ReportsBlock.vue";
import { Title, Separator, Link, Button } from "@/UI";

import { Action, Getter } from "vuex-class";
@Component({
  components: { ReportsBlock, Title, Separator, Link, Button }
})
export default class ReportsList extends Vue {
  @Prop() data!: ReportLinkType[];
  @Action checkPayments!: () => Promise<void>;
  public async sendDebt() {
    await this.checkPayments();
  }
}
</script>

<style lang="scss">
.reports {
  margin-top: $offset;
  column-count: 2;
  column-gap: $offset2x;

  &__block {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
</style>
