<template lang="pug">
  div
    .avatar(:style="styles" :class="classes" @click="uploadFile")
        .avatar__plus(v-if="hasUploader")
            Icon(name="plus").avatar__icon
        input(
            v-if="hasUploader"
            :value="computedValue"
            ref="file"
            type="file"
            @change="onChange"
        ).avatar__file
        img(v-if="avatar" :src="avatar", alt="avatar").avatar__image
        Icon(v-else name="user").avatar__icon
    .download(v-if="id")
      small(@click="onDownload(id)").downloader {{$t('Download')}}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { downloader } from "@/helpers/utils/downloader";
@Component
export default class Avatar extends Vue {
  @Prop({ type: [Number, String] }) value!: File;
  @Prop({ default: "", required: false, type: String }) avatar!: string;
  @Prop({ default: 30, required: false, type: Number }) size!: string;
  @Prop({ required: false, type: Number }) id!: string;

  public newValue = this.value;

  get computedValue(): File {
    return this.newValue;
  }

  set computedValue(file: File) {
    this.newValue = file;
    this.$emit("set", file);
  }

  get hasUploader() {
    return !!this.$listeners.set;
  }

  get classes() {
    return {
      "avatar--with-action": this.hasUploader
    };
  }

  get styles() {
    return {
      height: `${this.size}px`,
      width: `${this.size}px`
    };
  }

  public async onChange(event: Event) {
    const files = (event.target as HTMLInputElement)?.files;
    const file = files?.[0];

    if (file) {
      this.updateValue(file);
    }
  }

  public updateValue(value: File): void {
    this.computedValue = value;
  }

  public uploadFile() {
    if (this.hasUploader) {
      (this.$refs.file as any).click();
    }
  }
  public onDownload(id: number) {
    downloader(id);
  }
}
</script>

<style lang="scss">
.avatar {
  @include display-flex-centered;
  position: relative;
  background: $background-avatar;
  color: $white;
  border-radius: 50%;
  overflow: hidden;

  &--with-action {
    cursor: pointer;
  }

  &__image {
    @include full-size;
    object-fit: cover;
  }

  &__icon {
    height: 40%;
    width: 40%;
  }

  &__file {
    opacity: 0;
    height: 0;
    width: 0;
    border: none;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &__plus {
    @include full-size;
    @include display-flex-centered;
    @include transition;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background: $black;

    &:hover {
      opacity: 1;
    }
  }
}
</style>
