<template lang="pug">
    router-link(:to="URL.INDEX" :style="{ width: this.width }").logo
        img(:src="logo" alt="logo" @click="$emit('linkClick')")
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import logo from "@/assets/images/logo.svg";
import { URL } from "@/helpers/constants/url";

@Component
export default class Logo extends Vue {
  @Prop() width?: string;
  public URL = URL;
  public logo: string = logo;
}
</script>

<style lang="scss">
.logo {
  @include display-flex-centered;
  height: auto;
  width: 100%;
  img {
    width: 100%;
    display: inline-block;
  }
}
</style>
