<template lang="pug">
    nav.menu
        ul.menu__list(@click="$emit('linkClick')")
            li.menu__item(v-for="link in links" :class="{'--profile' : (link.path === '/profile')}")
                router-link.menu-link(:to="link.path" active-class="menu-link--active")
                    span.menu-link__icon
                        Icon(:name="link.menuIcon" :inverse="true")
                    span.menu-link__title {{ $t(getLinkTitle(link)) }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { list } from "@/config/routes";
import { Getter } from "vuex-class";
import { UserRole } from "@/helpers/types";
import { RouteType } from "@/router/utils";
import { UserInterface } from "@/helpers/types";

@Component
export default class Menu extends Vue {
  @Getter("getRole") role!: UserRole;

  @Prop({ default: "", required: false }) profile!: UserInterface;

  public formatForUser: string = "";

  public created() {
    if (this.profile.programView) {
      if (this.profile.format === "full-time") {
        this.formatForUser = String(this.$t("Full_time"));
      } else if (this.profile.format === "blended") {
        this.formatForUser = String(this.$t("Blended"));
      } else if (this.profile.format === "online") {
        this.formatForUser = String(this.$t("Online"));
      }
    }
  }

  get links() {
    return list.filter(route => {
      const hasAccess = route.meta?.roles.includes("student");

      if (route.menuIcon && hasAccess) {
        return true;
      }

      return false;
    });
  }

  get isAdmin() {
    return this.$store.getters.isAdmin;
  }

  get isNew() {
    return this.$store.getters.isNew;
  }

  getLinkTitle(link: RouteType) {
    if (!link || !this.role) {
      return "";
    }

    const roleTitle = link.meta?.roleTitle?.[this.role];

    if (this.role && roleTitle) {
      return roleTitle;
    }

    return link.meta?.title;
  }
}
</script>

<style lang="scss">
.menu-link {
  @include transition;

  color: $menu-text;
  display: inline-flex;
  align-items: center;
  padding: $offset $offset2x;
  font-weight: 600;
  width: 100%;
}

.menu-link--active {
  background: darken($main, 5);
}

.menu-link__icon {
  @include display-flex-centered;
  @include transition;
  @include square(24, 24);

  margin-right: 14px;
  flex: 0 0 auto;
  opacity: 0.85;

  svg {
    @include square(20, 20);
  }

  .fa-inverse {
    filter: invert(100%);
  }

  .menu-link--active & {
    opacity: 1;
    color: lighten($main, 20);
  }
}

.menu__item.--disabled {
  opacity: 0.5;
  pointer-events: none;
}
.menu__item.--disabled.--profile {
  opacity: 1;
  pointer-events: all;
}
</style>
