<template lang="pug">
    notifications(position="bottom right" classes="notification" width="400px")
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Notification extends Vue {}
</script>

<style lang="scss">
.notification {
  padding: $offset;
  margin: 0 $offset2x $offset2x;
  color: $white;
  background: $main;
  border-left: 5px solid $darker-main;

  &.warn {
    background: rgba(#ffb648, 0.7);
    border-left-color: #f48a06;
  }

  &.error {
    background: rgba($red, 0.7);
    border-left-color: #b82e24;
  }

  &.success {
    background: rgba($green, 0.7);
    border-left-color: #42a85f;
  }
}
</style>
