<template lang="pug">
    aside.sidebar(@scroll="onScroll")
      .sidebar__top
        Logo(width="150px" @linkClick="$emit('hideSidebar')")
        Button(@click="$emit('hideSidebar')").sidebar__close-button &times;
      .sidebar__main
        .sidebar__profile
          .sidebar__profile-avatar(v-if="!!profile")
            Avatar(v-if="profile.avatar" :avatar="profile.avatar.url")
          .sidebar__profile-info
            p {{ profile ? profile.displayname : ''}}
            p {{ profile ? profile.email : '' }}
        .sidebar__menu
          Menu(:profile="profile" @linkClick="$emit('hideSidebar')")
      .sidebar__rating(v-if="userRating.user_id")
        .content
          .rating
            | {{$t('Final_ranking')}} 
            b {{userRating.total_score}}
            br
            | {{$t('Place')}} 
            b {{userRating.place}}
          .icon-rating(ref="rating") ?
          .popup-rating(ref="popupRating")
            .rating
            | {{$t('Student_academic_progress_rating')}} 
            b {{userRating.academic}}
            .rating
            | {{$t('Average_social_activity_score')}} 
            b {{userRating.social}}
            .rating
            | {{$t('Rating_timeliness_training_schedule')}} 
            b {{userRating.att}}
      .sidebar__calendar
        VueCal(
          id="vuecal"
          :time="false"
          active-view="month"
          :disable-views="['years', 'year', 'week', 'day']"
          hide-view-selector
          :locale="this.$i18n.locale"
          small
          :events="events"
          @cell-click="cellClick"
          ref="calendar"
          @ready="readyCalendar")
        div.popup-calendar(:class="{'show': this.showPopupCalenar}" ref="popupCalendar")
          button.close(@click="closePopupCalendar") x
          div(v-for="item in currentEvent")
            p(v-if="item.date")
              b {{$t('date')}} 
              span {{item.date}}
            ul
              span(v-html="item.html")
</template>

<script lang="ts">
const VueCal = require("vue-cal");
import Autolinker from "autolinker";
import "vue-cal/dist/i18n/ru.js";
import { Component, Vue } from "vue-property-decorator";
import Logo from "@/modules/Logo.vue";
import Menu from "@/modules/Menu.vue";
import MenuAdmin from "@/modules/MenuAdmin.vue";
import Avatar from "@/modules/Avatar.vue";
import { UserInterface } from "@/helpers/types/user";
import { URL } from "@/helpers/constants/url";
import { Getter, Action } from "vuex-class";
import { Maybe } from "@/helpers/types";
import { Modal } from "@/UI";

@Component({
  components: {
    Avatar,
    Menu,
    MenuAdmin,
    Logo,
    VueCal,
    Modal
  }
})
export default class Sidebar extends Vue {
  @Action getUserPlan!: () => Promise<void>;
  @Action getRating!: () => Promise<void>;
  @Action setCurrentView!: (view: string) => Promise<void>;

  @Getter("getterUserPlan") userPlan!: any;
  @Getter("getUserRating") userRating!: any;
  @Getter("getProfile") profile!: Maybe<UserInterface>;
  @Getter("isAdmin") isAdmin!: boolean;

  private datesModules: any[] = [];
  private events: any[] = [];

  public URL = URL;
  public showPopupCalenar = false;
  public currentEvent: any[] = [];

  public cellClick(value: any) {
    const date =
      ("0" + value.getDate()).slice(-2) +
      "." +
      ("0" + (value.getMonth() + 1)).slice(-2) +
      "." +
      value.getFullYear();
    this.currentEvent = [];
    if ((this.datesModules as any)[date] !== undefined) {
      this.currentEvent = (this.datesModules as any)[date];
      this.showPopupCalenar = true;
    } else {
      this.showPopupCalenar = false;
    }
  }

  public closePopupCalendar() {
    this.showPopupCalenar = false;
  }

  private async fetchEvents() {
    await window.gapi.client
      .request({
        path:
          "https://www.googleapis.com/calendar/v3/calendars/emasglobe.com_chd3hn1f8ht45jd3ita5mgjkq8@group.calendar.google.com/events"
      })
      .then(response => {
        response.result.items.forEach((item: any, index: any) => {
          let date;
          if (item.end["dateTime"]) {
            date = new Date(item.end["dateTime"]);
          } else {
            date = new Date(item.end["date"]);
          }
          const newdate = date
            .toLocaleDateString("ru-RU", {
              day: "numeric",
              month: "numeric",
              year: "numeric",
              timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone
            })
            .split(" ")
            .join(".");
          if (!(newdate in this.datesModules)) {
            (this.datesModules as any)[newdate] = [];
          }
          (this.datesModules as any)[newdate].push({
            key: index,
            html:
              "<li key=" +
              index +
              '><strong class="popup-calendar__title">' +
              item.summary +
              '.</strong></br><div class="popup-calendar__desc" style="display: grid;">' +
              Autolinker.link(item.description) +
              "</div></li>",
            title: item.summary,
            description:
              "<li key=" +
              index +
              '><strong class="popup-calendar__title">' +
              item.summary +
              ".</strong></li>",
            date: newdate
          });
          this.events.push({
            start: date,
            end: date
          });
        });
      });
    await this.getUserPlan();
    if (this.userPlan.lines) {
      this.userPlan.lines.forEach((item: any, index: any) => {
        if (typeof item.date_to !== "undefined") {
          const dateDate = new Date(item.date_to.date);
          const dateto = dateDate
            .toLocaleDateString("ru-RU", {
              day: "numeric",
              month: "numeric",
              year: "numeric",
              timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone
            })
            .split(" ")
            .join(".");
          if (!(dateto in (this.datesModules as any))) {
            (this.datesModules as any)[dateto] = [];
          }
          (this.datesModules as any)[dateto].push({
            html:
              "<li key=" +
              index +
              '><strong class="popup-calendar__title">Сдача моудля: ' +
              item.name +
              "</strong></li>",
            date: dateto
          });
          this.events.push({
            start: dateDate,
            end: dateDate
          });
        }
        if (typeof item.project_to !== "undefined") {
          const projectDate = new Date(item.project_to.date);
          const projectto = projectDate
            .toLocaleDateString("ru-RU", {
              day: "numeric",
              month: "numeric",
              year: "numeric",
              timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone
            })
            .split(" ")
            .join(".");
          if (!(projectto in (this.datesModules as any))) {
            (this.datesModules as any)[projectto] = [];
          }
          (this.datesModules as any)[projectto].push({
            html:
              "<li key=" +
              index +
              '><strong class="popup-calendar__title">Сдача проекта: ' +
              item.name +
              "</strong></li>",
            date: projectto
          });
          this.events.push({
            start: projectDate,
            end: projectDate
          });
        }
      });
    }
  }

  private init() {
    new Promise(resolve => {
      window.gapi.load("client", this.initClient);
      setTimeout(resolve, 1000);
    }).then(() => {
      this.fetchEvents();
    });
  }

  private async initClient() {
    await window.gapi.client.init({
      apiKey: "AIzaSyANbhrQkYP4QS-oM0EfTS1qY9-0sIH2NuE"
    });
  }

  private initUserCalendar() {
    /* This solution makes use of "simple access" to google, providing only an API Key.
    * This way we can only get access to private calendars. To access a private calendar,
    * we would need to use OAuth 2.0 access.
    *
    * "Simple" vs. "Authorized" access:
    https://developers.google.com/api-client-library/javascript/features/authentication
    * Examples of "simple" vs OAuth 2.0 access:
    https://developers.google.com/api-client-library/javascript/samples/samples#authorizing-and-making-authorized-requests
    *
    * We will make use of "Option 1: Load the API discovery document, then assemble the request."
    * as described in https://developers.google.com/api-client-library/javascript/start/start-js
    */
    // The "Calendar ID" from your calendar settings page, "Calendar Integration" secion:
    const calendarId = (this.profile as any).google_calendar;
    //console.log(calendarId)

    // 1. Create a project using google's wizzard: https://console.developers.google.com/start/api?id=calendar
    // 2. Create credentials:
    // a) Go to https://console.cloud.google.com/apis/credentials
    // b) Create Credentials / API key
    // c) Since your key will be called from any of your users' browsers, set "Application restrictions" to "None",
    // leave "Website restrictions" blank; you may optionally set "API restrictions" to "Google Calendar API"
    //const apiKey = (this.profile as any).google_calendar_api;
    //console.log(apiKey)
    // You can get a list of time zones from here: http://www.timezoneconverter.com/cgi-bin/zonehelp
    const userTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;

    // Initializes the client with the API key and the Translate API.
    window.gapi.client
      .init({
        //apiKey: apiKey,
        // Discovery docs docs: https://developers.google.com/api-client-library/javascript/features/discovery
        discoveryDocs: [
          "https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"
        ]
      })
      .then(function() {
        // Use Google's "apis-explorer" for research: https://developers.google.com/apis-explorer/#s/calendar/v3/
        // Events: list API docs: https://developers.google.com/calendar/v3/reference/events/list
        return (window.gapi.client as any).calendar.events.list({
          calendarId: calendarId,
          timeZone: userTimeZone,
          singleEvents: true,
          timeMin: new Date().toISOString(), //gathers only events not happened yet
          maxResults: 20,
          orderBy: "startTime"
        });
      })
      .then(
        response => {
          if (response.result.items) {
            response.result.items.forEach((item: any, index: any) => {
              let date;
              if (item.end["dateTime"]) {
                date = new Date(item.end["dateTime"]);
              } else {
                date = new Date(item.end["date"]);
              }
              const newdate = date
                .toLocaleDateString("ru-RU", {
                  day: "numeric",
                  month: "numeric",
                  year: "numeric",
                  timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone
                })
                .split(" ")
                .join(".");
              if (!(newdate in this.datesModules)) {
                (this.datesModules as any)[newdate] = [];
              }
              (this.datesModules as any)[newdate].push({
                key: index,
                html:
                  "<li key=" +
                  index +
                  '><strong class="popup-calendar__title">' +
                  item.summary +
                  '.</strong></br><div class="popup-calendar__desc" style="display: grid;">' +
                  Autolinker.link(item.description) +
                  "</div></li>",
                title: item.summary,
                description:
                  "<li key=" +
                  index +
                  '><strong class="popup-calendar__title">' +
                  item.summary +
                  ".</strong></li>",
                date: newdate
              });
              this.events.push({
                start: date,
                end: date
              });
            });
          }
        },
        function(reason) {
          //console.log("Error: " + reason.result.error.message);
        }
      );

    // Loads the JavaScript client library and invokes `start` afterwards.
  }

  private ifUserHaveCalendar() {
    setTimeout(() => {
      window.gapi.load("client", this.initUserCalendar);
    }, 3000);
  }

  public async mounted() {
    await this.getRating();
    await this.init();

    if (this.profile?.google_calendar_api !== "") {
      await this.ifUserHaveCalendar();
    }

    this.setCurrentView("student");
    this.getTopOfIcon();
  }

  private getTopOfCalendar() {
    const calendar = document.querySelector("#vuecal");
    const calendarBottom = (calendar as any).getBoundingClientRect().top;
    const popupCalendar = this.$refs.popupCalendar;

    (popupCalendar as any).style.top = `${calendarBottom}px`;
  }

  private getTopOfIcon() {
    const icon = this.$refs.rating;
    const iconTop = (icon as any).getBoundingClientRect().top;
    const popup = this.$refs.popupRating;

    (popup as any).style.top = `${iconTop - 25}px`;
  }

  public readyCalendar() {
    this.getTopOfCalendar();
  }

  public onScroll() {
    this.getTopOfIcon();
    this.getTopOfCalendar();
  }
}
</script>

<style lang="scss">
.sidebar {
  @include full-size;

  overflow-y: auto;
  overflow-x: hidden;
  background: $darker-black;
}

.sidebar__close-button {
  font-size: 40px;
  color: #fff;
  position: relative;
  right: -52px;

  @media screen and (min-width: 900px) {
    display: none;
  }
}

.sidebar__top {
  @include display-flex-centered;

  height: $header-height;
  border-bottom: 1px solid $header-border;
}

.sidebar__profile {
  @include display-flex-centered;

  color: $menu-text;
  justify-content: flex-start;
  padding: $offset $offset2x;
}

.sidebar__profile--active {
  background: darken($darker-black, 5);
}

.sidebar__profile-avatar {
  flex: 0 0 auto;
  margin-right: 10px;
}

.sidebar__profile-info {
  font-weight: 500;
}

.fc .fc-view-harness {
  height: 350px !important;
}

@import "~vue-cal/dist/vuecal.css";

.vuecal__heading .small {
  text-transform: uppercase;
}
.vuecal__header button {
  color: #fff;
}
.vuecal {
  color: #fff;
}
.vuecal__cell--out-of-scope {
  color: #ffffff70;
}
.popup-calendar {
  position: static;
  z-index: 6;
  padding: 12px;
  opacity: 0;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  width: 100%;
  margin-top: 14px;
  font-size: 12px;
  color: #fff;
  height: 0;

  @media screen and (min-width: 900px) {
    position: absolute;
    left: 0%;
    padding: 20px;
    color: #000;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    border: 2px dashed #167eff;
    -webkit-box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.12);
    width: 450px;
    max-height: 400px;
    overflow: auto;
    background: #fff;
    pointer-events: none;
  }
}
.popup-calendar ul {
  padding-left: 20px;
  font-size: 14px;
  list-style-type: disc;
}
.popup-calendar ul li {
  line-height: 1.4;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
  max-width: 250px;
}
.popup-calendar .popup-calendar__title {
  color: #167eff;
}
.popup-calendar.show {
  opacity: 1;
  transform: translateX(0);
  height: auto;
  max-height: 140px;

  @media screen and (min-width: 900px) {
    max-height: 300px;
    pointer-events: auto;
    -webkit-transform: translateX(85%);
    -ms-transform: translateX(85%);
    transform: translateX(85%);
  }
}

.popup-calendar .close {
  position: absolute;
  right: 10px;
  background: #167eff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  display: inline-block;
  top: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.popup-calendar .close:hover {
  background: #2f9aff;
}

.popup-calendar p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 12px;
}

.popup-calendar__desc a {
  color: #167eff;
  font-weight: 500;
  font-size: 12px;
}
.vuecal__bg {
  overflow: hidden !important;
}
.vuecal__cells.month-view .vuecal__cell {
  padding-bottom: 5px;
}
.sidebar__rating {
  line-height: 1.5;
  min-height: 78px;
  color: #fff;
  padding: 15px 20px 15px 35px;
}
.sidebar__rating .content {
  padding-top: 8px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 900px) {
    flex-wrap: wrap;
  }
}
.icon-rating {
  color: #fff;
  background: $main;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  margin-left: 15px;
  margin-top: -2px;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.popup-rating {
  z-index: 10;
  padding: 0;
  position: static;
  width: 100%;
  margin-top: 8px;
  font-size: 12px;
  color: #fff;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;

  @media screen and (min-width: 900px) {
    position: absolute;
    left: 0;
    transform: translateX(0);
    border: 2px dashed #167eff;
    box-shadow: 0 2px 22px #0000001f;
    background: #fff;
    color: #000;
    width: 450px;
    font-size: 14px;
    padding: 20px;

    pointer-events: none;
    max-height: 200px;
    overflow: hidden;
  }
}

.icon-rating:hover + .popup-rating {
  opacity: 1;
  transform: translateX(0);
  height: 120px;
  @media screen and (min-width: 900px) {
    transform: translateX(382px);
  }
}
</style>
