<template lang="pug">
    aside.sidebar
        .sidebar__top
            Logo(width="150px" @linkClick="$emit('hideSidebar')")
            Button(@click="$emit('hideSidebar')").sidebar__close-button &times;
        .sidebar__main
            .sidebar__profile
                .sidebar__profile-avatar(v-if="!!profile")
                    Avatar(v-if="profile.avatar" :avatar="profile.avatar.url")
                .sidebar__profile-info
                    p {{ profile ? profile.name : ''}}
                    p {{ profile ? profile.email : '' }}
            .sidebar__menu
                MenuAdmin(:profile="profile" @linkClick="$emit('hideSidebar')")
</template>

<script lang="ts">
const VueCal = require("vue-cal");
import "vue-cal/dist/i18n/ru.js";
import { Component, Vue } from "vue-property-decorator";
import Logo from "@/modules/Logo.vue";
import Menu from "@/modules/Menu.vue";
import MenuAdmin from "@/modules/MenuAdmin.vue";
import Avatar from "@/modules/Avatar.vue";
import { UserInterface } from "@/helpers/types/user";
import { URL } from "@/helpers/constants/url";
import { Getter, Action } from "vuex-class";
import { Maybe } from "@/helpers/types";
import { Modal } from "@/UI";

@Component({
  components: {
    Avatar,
    Menu,
    MenuAdmin,
    Logo,
    VueCal,
    Modal
  }
})
export default class Sidebar extends Vue {
  @Action getUserPlan!: () => Promise<void>;
  @Action setCurrentView!: (view: string) => Promise<void>;
  @Action getRating!: () => Promise<void>;
  @Getter("getterUserPlan") userPlan!: any;
  @Getter("getUserRating") userRating!: any;
  @Getter("getProfile") profile!: Maybe<UserInterface>;

  public URL = URL;

  get isAdmin() {
    return this.$store.getters.isAdmin;
  }

  public async mounted() {
    await this.getRating();

    this.setCurrentView("admin");
  }
}
</script>

<style lang="scss">
.sidebar {
  @include full-size;

  background: $darker-black;
}

.sidebar__top {
  @include display-flex-centered;

  height: $header-height;
  border-bottom: 1px solid $header-border;
}

.sidebar__profile {
  @include display-flex-centered;

  color: $menu-text;
  justify-content: flex-start;
  padding: $offset $offset2x;
}

.sidebar__profile--active {
  background: darken($darker-black, 5);
}

.sidebar__profile-avatar {
  flex: 0 0 auto;
  margin-right: 10px;
}

.sidebar__profile-info {
  font-weight: 500;
}

.sidebar__close-button {
  font-size: 40px;
  color: #fff;
  position: relative;
  right: -52px;

  @media screen and (min-width: 900px) {
    display: none;
  }
}

.fc .fc-view-harness {
  height: 350px !important;
}

@import "~vue-cal/dist/vuecal.css";

.vuecal__heading .small {
  text-transform: uppercase;
}

.vuecal__header button {
  color: #fff;
}

.vuecal {
  color: #fff;
}

.vuecal__cell--out-of-scope {
  color: #ffffff70;
}

.vuecal__bg {
  overflow: hidden !important;
}

.vuecal__cells.month-view .vuecal__cell {
  padding-bottom: 5px;
}
</style>
