<template lang="pug">
    Loader(v-if="!project" :center="true")
    Page(v-else)
        PageHeader(:title="$t('project_edit')")
        PageEditTabs
            Tabs
                TabContent(:title="$t('general')", id="General")
                    TabHeader(:title="$t('project')")
                        Button(@click="onApprove" v-if="profile.cusRoles[0] === 'superadmin'" :disabled="project.check_admin" :loading="isLoading") {{$t('approve_project')}}
                        Button.ml-2(@click="onEdit" :loading="isLoading" :disabled="profile.cusRoles[0] === 'trainer' && project.check_admin") {{$t('update_score')}}
                    Separator
                    Title(:offset="true") {{$t('general')}}
                    FormItem(:label="$t('project_name')" :required="true")
                      span {{project.media.name_front}}
                    FormItem(:label="$t('file_curr')" class="w-100")
                        a.source.action_button_link.action_button_source(@click="onDownload(project)") {{$t('file_download')}}
                    FormItem(:label="$t('Grade_for_project')" :class="{disabled: profile.cusRoles[0] === 'trainer' && project.check_admin}" :required="true")
                      TextField(v-model="project.score" v-if="project.media.type_score !== 'pass'" name="score" type="number")
                      //Select(v-model="selectedScore" v-if="project.media.type_score === 'pass'" name="score" :options="scoreSelect" @change="scoreChange" label="label" track-by="value" :lang="true")
                      SelectScore(v-model="selectedScore" :value="selectedScore" v-if="project.media.type_score === 'pass'" name="score" :options="scoreSelect" @change="scoreChange" label="label" track-by="value")
                    FormItem(:label="$t('comment')" :class="{disabled: profile.cusRoles[0] === 'trainer' && project.check_admin}")
                      TextField(v-model="project.message" name="message" type="textarea")
                    FormItem(:label="$t('files')")
                      .row-group.flex-col
                        .form-control.form-control-full
                          //FileUploader(id="file" @change="handleFileUpload" name="file" :placeholder="$t('file_select')")
                          //FileUploader(id="file2" @change="handleFileUpload2" name="file2" :placeholder="$t('file_select')")
                          //FileUploader(id="file3" @change="handleFileUpload3" name="file3" :placeholder="$t('file_select')")
                          //FileUploader(id="file4" @change="handleFileUpload4" name="file4" :placeholder="$t('file_select')")
                          //FileUploader(id="file5" @change="handleFileUpload5" name="file5" :placeholder="$t('file_select')")

                          //file-upload(
                          //  ref="upload"
                          //  v-model="files"
                          //  :size="5120"
                          //  class="uploader"
                          //  multiple
                          //  :drop="true"
                          //  name="scan"
                          //  @input="handleFileUpload"
                          //  )
                          //  i.icon.icon-upload(:class="{ loaded: files[0] }")
                          //  span(v-if="files[0]").loaded
                          //    span(v-for="item in files") {{item.name}}
                          .file-upload__wrapper
                            span(v-if="files.length === 0 ") {{$t('upload_files')}}
                            span(v-for="file in files" ) {{file.name}}
                            input(
                              v-bind="$attrs"
                              ref="trainerFiles"
                              type="file"
                              multiple="true"
                              :disabled="profile.cusRoles[0] === 'trainer' && project.check_admin"
                              @change="inputOnChange"
                            )
                        button.file-download(v-for="(file, index) in project.trainer_file")(@click="onDownloadFile(project, index, file)") {{$t('file_trainer') + ++index}}
                          img(:src="Download")
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {
  Button,
  Checkbox,
  FileUploader,
  FormItem,
  Loader,
  Page,
  PageEditHeader,
  PageEditTabs,
  PageHeader,
  Picture,
  ProgressBar,
  Separator,
  TabContent,
  TabHeader,
  Tabs,
  TextField,
  Title
} from "@/UI";
import Download from "@/assets/svg/icons/download.svg";

import { CourseInterface } from "@/helpers/types/courses";
import { Action, Getter } from "vuex-class";

import { URL } from "@/helpers/constants/url";
import { Maybe, UserInterface } from "@/helpers/types";

import { CourseChapter, CourseChapterAdd } from "@/components/Course";
import MembersList from "@/components/MembersList.vue";
import Members from "@/components/Members.vue";
import { downloader } from "@/helpers/utils/downloader";
import find from "lodash/find";
import SelectScore from "@/UI/SelectScore.vue";

const pluralize = require("numeralize-ru").pluralize;
const filesize = require("filesize");

@Component({
  components: {
    SelectScore,
    Page,
    PageEditTabs,
    PageEditHeader,
    Members,
    Separator,
    TabHeader,
    MembersList,
    CourseChapter,
    CourseChapterAdd,
    TextField,
    FormItem,
    Title,
    Loader,
    Tabs,
    TabContent,
    Button,
    Picture,
    PageHeader,
    FileUploader,
    ProgressBar,
    Checkbox
  }
})
export default class PageProjectEdit extends Vue {
  //@Action fetchCourse!: (id: number) => Promise<void>;
  @Action fetchProject!: (id: number) => Promise<void>;
  @Action editProject!: (params: any) => Promise<void>;
  @Action approveProject!: (params: any) => Promise<void>;
  @Action sendProjectDocumentList!: (params: any) => Promise<void>;
  @Getter("getProject") project!: any;
  @Getter("getProfile") profile!: Maybe<UserInterface>;
  public URL = URL;
  public courseChapterAddView: "button" | "form" = "button";
  public id = +this.$route.params.id;
  public data: Maybe<CourseInterface> = null;
  public fileUpload: Maybe<File> = null;
  public isLoading = false;
  public isDeleting = false;
  public percent = 0;
  public days = 0;
  public hours = 0;
  public mins = 0;
  public files: any = [];
  public Download: string = Download;
  public selectedScore: any = null;
  public scoreSelect = [
    {
      value: 10,
      label: "credit"
    },
    {
      value: 0,
      label: "no_credit"
    }
  ];

  public async mounted() {
    await this.fetchProject(this.id);
    if (this.project.score !== null && this.project.media.type_score) {
      this.selectedScore = find(this.scoreSelect, i => {
        return i.value === this.project.score;
      });
    }
  }
  // метод не предпологает отправку в формате FormData
  // public async onEdit() {
  //   this.isLoading = true;
  //   await this.editProject(this.project);
  //   await this.fetchProject(this.id);
  //   this.isLoading = false;
  // }
  get isAdmin() {
    return this.$store.getters.isAdmin;
  }

  public scoreChange(value: any) {
    this.selectedScore = value;
    this.project.score = value.value;
  }

  public onDownload(project: any) {
    ///admin/document/${id}/download`
    downloader(
      project.id,
      id => `/api/media/${project.media.id}/submittedProject/${project.id}`,
      project.originalName
    );
  }

  public onDownloadFile(project: any, index: any, file: any) {
    ///admin/document/${id}/download`
    downloader(
      project.id,
      id =>
        `/api/submittedProject/${project.id}/download_file_trainer?key=${index}`,
      file
    );
  }

  public inputOnChange(event: Event) {
    if ((event.target as HTMLInputElement).files) {
      // this.files = event.target.files;
      this.files = (event.target as HTMLInputElement).files;
    }
  }

  public async onApprove() {
    await this.approveProject(this.project);
    await this.fetchProject(this.id);
  }

  public async onEdit() {
    if (this.files) {
      if (this.files.length > 5) {
        alert("Загруженных файлов должно быть не более 5");
        return;
      }
    }
    this.isLoading = true;
    const params = {
      _method: "put",
      id: this.project.id,
      score: this.project.score,
      message: this.project.message,
      files: this.files
    };

    await this.sendProjectDocumentList(params);

    await this.fetchProject(this.id);
    this.files = [];
    (this.$refs.trainerFiles as any).value = null;
    this.isLoading = false;
  }
}
</script>

<style lang="scss">
.file-download {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  min-width: 150px;
  max-width: fit-content;
  padding: 5px 12px;
  border-radius: 3px;
  color: #fff;
  background: #2485ff;
  &:not(:first-child) {
    margin-top: 5px;
  }
  img {
    margin-right: 8px;
  }
  &:hover {
    background: #1f78e7;
  }
}

.file-upload__wrapper {
  width: 100%;
  height: 150px;
  background: #fefefe;
  position: relative;
  border: 1px dashed #bbbbbb;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
</style>
