<template lang="pug">
    Loader(v-if="!projects" :center="true")
    Page(v-else)
        Table(
          data-path="data"
          :data="projects"
          :columns="profile.cusRoles[0] === 'superadmin'? columns : columnsTrainer"
          :loading="this.isLoading"
          @fetch="fetchProjects"
        )
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";

import {
  PageHeader,
  FormItem,
  TextField,
  Button,
  Loader,
  Table,
  Modal
} from "@/UI";
import { AddPriceModal } from "@/components/Price";
import router from "@/router";
import { Maybe, DataInterface, UserInterface } from "@/helpers/types";
import Page from "@/UI/Page/Page.vue";
import { URL } from "@/helpers/constants";
@Component({
  components: {
    Page,
    Modal,
    PageHeader,
    FormItem,
    TextField,
    Button,
    Loader,
    Table,
    AddPriceModal
  }
})
export default class PageProjects extends Vue {
  @Action fetchProjects!: () => Promise<void>;
  @Getter("getProjects") projects!: Maybe<DataInterface<any[]>>;
  @Getter("getProfile") profile!: Maybe<UserInterface>;
  public isLoading = false;
  public columns = [
    {
      field: "id",
      label: "ID",
      hidden: true,
      sortable: true,
      component: () => "a",
      action: (project: { id: number }) => {
        router.push(`${URL.PROJECTS}/${project.id}/edit`);
      }
    },
    {
      field: "name_front",
      label: "project_name",
      sortable: false,
      component: () => "a",
      action: (project: { id: number }) => {
        router.push(`${URL.PROJECTS}/${project.id}/edit`);
      }
    },
    {
      field: this.fieldFio,
      label: "ФИО",
      sortable: false
    },
    {
      field: "date_set_trainer",
      label: "Дата назначения тренера",
      type: "date",
      dateInputFormat: "yyyy-MM-dd",
      dateOutputFormat: "dd.MM.yyyy",
      sortable: true
    },
    {
      field: "trainerFio",
      label: "ФИО назначенного тренера",
      sortable: true
    },
    {
      field: "date_download_trainer",
      label: "Дата скачивания проекта преподавателем",
      type: "date",
      dateInputFormat: "yyyy-MM-dd",
      dateOutputFormat: "dd.MM.yyyy",
      sortable: true
    },
    {
      field: "date_check_trainer",
      label: "Дата загрузки проекта с оценкой от преподавателя",
      type: "date",
      dateInputFormat: "yyyy-MM-dd",
      dateOutputFormat: "dd.MM.yyyy",
      sortable: true
    },
    {
      field: "date_send_user",
      label: "Дата отправки проверенного проекта студенту",
      type: "date",
      dateInputFormat: "yyyy-MM-dd",
      dateOutputFormat: "dd.MM.yyyy",
      sortable: true
    },
    {
      field: "who_set_score_user",
      label:
        "Метка возле оценки кем проставлена (администратор, преподаватель)",
      sortable: true
    },
    {
      field: "check_admin",
      formatFn: this.filterCheckProject,
      label: "Проверен или нет проект админом",
      sortable: true
    }
    /*{
      field: "created_at",
      label: "date_start",
      type: "date",
      dateInputFormat: "yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'",
      dateOutputFormat: "dd.MM.yyyy (HH:mm)",
      sortable: true
    }*/
  ];
  public columnsTrainer = [
    {
      field: "id",
      label: "ID",
      hidden: true,
      sortable: true,
      component: () => "a",
      action: (project: { id: number }) => {
        router.push(`${URL.PROJECTS}/${project.id}/edit`);
      }
    },
    {
      field: "name_front",
      label: "project_name",
      sortable: false,
      component: () => "a",
      action: (project: { id: number }) => {
        router.push(`${URL.PROJECTS}/${project.id}/edit`);
      }
    },
    {
      field: "date_set_trainer",
      label: "Дата назначения тренера",
      type: "date",
      dateInputFormat: "yyyy-MM-dd",
      dateOutputFormat: "dd.MM.yyyy",
      sortable: true
    },
    {
      field: "date_download_trainer",
      label: "Дата скачивания проекта преподавателем",
      type: "date",
      dateInputFormat: "yyyy-MM-dd",
      dateOutputFormat: "dd.MM.yyyy",
      sortable: true
    },
    {
      field: "date_check_trainer",
      label: "Дата загрузки проекта с оценкой от преподавателя",
      type: "date",
      dateInputFormat: "yyyy-MM-dd",
      dateOutputFormat: "dd.MM.yyyy",
      sortable: true
    },
    {
      field: "date_send_user",
      label: "Дата отправки проверенного проекта студенту",
      type: "date",
      dateInputFormat: "yyyy-MM-dd",
      dateOutputFormat: "dd.MM.yyyy",
      sortable: true
    }
    /*{
      field: "created_at",
      label: "date_start",
      type: "date",
      dateInputFormat: "yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'",
      dateOutputFormat: "dd.MM.yyyy (HH:mm)",
      sortable: true
    }*/
  ];

  public fieldFio(field: any) {
    if (field.u_first_name == null) {
      return "";
    } else {
      return field.u_first_name + " " + field.u_last_name;
    }
  }

  public filterCheckProject(value: any) {
    if (value == true) {
      return "Да";
    } else {
      return "Нет";
    }
  }

  public created() {
    this.fetchProjects();
  }
}
</script>

<style lang="scss"></style>
