<template lang="pug">
    Loader(v-if="!pageDataValue" :center="true")

    Page(v-else)
        PageHeader(:title="$t(pageDataValue.name)")
            template(slot="actions")
                label.report-selector
                    span {{$t('edit_report_type')}}: {{ " " }}
                    Select(
                        v-model="pageDataValue"
                        :options="allReports"
                        group-label="title",
                        group-values="children",
                        track-by="id"
                        label="name"
                        :custom-label="customLabel"
                        @change="(value) => onChangeReportType(value.id)"
                    )

        PageContent
            ReportGrid
                ReportCard(
                    v-for="(card, index) in pageLayout.cards"
                    :slot="index === 0 ? 'single' : 'multiple'"
                    :key="`${id}-${card.view}`"
                    :card-id="`${id}-${card.view}`"
                    :number="index + 1"
                    :data="card"
                    :is-loading="isLoading"
                    @table:select="onSelectFromTable"
                    @params:changeEventType="onParamsChange"
                    @params:changeGroup="onParamsChange"
                    @params:changeShowAllUsers="onParamsChange"
                    @params:changeOnlyUnverified="onParamsChange"
                    @params:changeHideUnassigned="onParamsChange"
                    @params:changeStep="onParamsChange"
                    @params:change="onParamsChange"
                    @result:create="onCreateReport"
                )

        PageContent(
            v-if="resultValues.showReportBelow && (report && report.length > 0)"
            :key="`${id}-result`"
        )
            Loader(v-if="isLoading" :center="false")

            ReportResult(
                v-else
                :title="pageDataValue.name"
                :show-info="pageLayout.result.showInfo"
                :table-columns="pageLayout.result.table.columns"
                :date="paramsValues.dateRange"
            )
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
import {
  Maybe,
  ReportLinkChildType,
  ReportLinkType,
  ReportTypes,
  ReportLayoutsType,
  ReportCardReturnedTableType,
  ReportCardReturnedParamsType,
  ReportCardReturnedResultType,
  ReportRequestType,
  ReportLayoutType,
  ReportType
} from "@/helpers/types";
import { Loader, Page, PageHeader, PageContent, Select } from "@/UI";
import { ReportGrid, ReportCard, ReportResult } from "@/components/Report";
import { reportLayouts } from "@/components/Report/reportsLayouts";
import { URL } from "@/helpers/constants";

@Component({
  components: {
    ReportResult,
    Loader,
    Page,
    PageHeader,
    PageContent,
    ReportGrid,
    ReportCard,
    Select
  }
})
export default class ReportPage extends Vue {
  @Action fetchReport!: (params: ReportRequestType) => Promise<void>;
  @Getter("getReports") allReports!: Maybe<ReportLinkType[]>;
  @Getter("getReport") report!: Maybe<ReportType[]>;

  private isLoading = false;

  public id: ReportTypes = this.$route.params.id as ReportTypes;
  public reportViews: ReportLayoutsType = reportLayouts;

  public selectedValues: ReportCardReturnedTableType = [];
  public paramsValues: ReportCardReturnedParamsType = {};

  public resultValues: Maybe<ReportCardReturnedResultType> = {
    showReportBelow: false
  };

  public onChangeReportType(id: ReportTypes): void {
    this.$router.push(`${URL.REPORTS}/${id}`);
    this.id = id;
  }

  public pageData: Maybe<ReportLinkChildType> | undefined = undefined;
  public get pageDataValue(): Maybe<ReportLinkChildType> | undefined {
    return this.allReports
      ?.map(group => group?.children.find(report => report?.id === this.id))
      .filter(Boolean)[0];
  }

  public set pageDataValue(value) {
    this.pageData = value;
  }

  private get pageLayout(): ReportLayoutType {
    return this.reportViews[this.id];
  }

  private onSelectFromTable(val: ReportCardReturnedTableType) {
    this.selectedValues = val;
  }

  private onParamsChange(
    value: ReportCardReturnedParamsType,
    key?: string | undefined
  ) {
    if (typeof key !== "string") {
      this.paramsValues = { ...this.paramsValues, ...value };
    } else {
      this.paramsValues = { ...this.paramsValues, [key]: value };
    }
  }

  public customLabel({ name }: { name: any }) {
    return this.$t(name);
  }

  private async onCreateReport(value: ReportCardReturnedResultType) {
    this.resultValues = value;

    this.isLoading = true;
    const params = {
      quiz_id: this.selectedValues.toString(),
      user_id: this.selectedValues.toString(),
      users: this.selectedValues,
      program_id: this.selectedValues.toString(),
      group_id: this.paramsValues.group_id ?? "",
      date_start:
        ((this.paramsValues?.dateRange as string[])?.[0] as string) ?? "",
      date_end:
        ((this.paramsValues?.dateRange as string[])?.[1] as string) ?? "",
      hide_unassigned: this.paramsValues.hideUnassigned,
      step: this.paramsValues.step
    };

    try {
      await this.fetchReport({
        type: this.id,
        params
      });

      if (!this.resultValues.showReportBelow) {
        await this.$router.push(`${URL.REPORTS}/${this.id}/view`);
      }
    } catch (error) {
      console.error(error);
    }

    this.isLoading = false;
  }
}
</script>

<style lang="scss">
.report-selector {
  display: flex;
  align-items: center;
  white-space: nowrap;

  .select {
    min-width: 320px;
    margin-left: $offset;
  }
}
</style>
