<template lang="pug">
    Loader(v-if="!report" :center="true")

    Page.report-page-view(v-else)
        PageHeader.report-page-view__header(title="")
            label.report-page-view__select(v-if="'group' in paramsLayout")
                span.report-page-view__select-text {{$t('group')}}:
                Autocomplete(
                    v-model="selectedGroupLabel"
                    :fetchedData="fetchedGroups"
                    @input="fetchGroups"
                    @select="onSelectGroup"
                )
            label.report-page-view__select
                span.report-page-view__select-text {{$t('range')}}:
                Datepicker(
                    v-model="dateRange"
                    :label="dateRangeLabel"
                    :shortcuts="dateRangeShortcuts"
                    :range="true"
                    @change="onDateRangeChange"
                )

        PageContent
            ReportResult(
                :title="pageDataValue.name"
                :show-info="showInfo"
                :type="getType"
                :table-columns="tableColumns"
                :date="dateRangeLabel"
                :lastReportRequestParams="lastReportRequestParams"
            )
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
import { debounce } from "decko";
import API from "@/api";
import {
  Maybe,
  GroupInterface,
  ReportLinkChildType,
  ReportLinkType,
  ReportType,
  ReportTypes,
  ReportRequestType,
  ReportParamsDateRangeLocale
} from "@/helpers/types";
import { URL } from "@/helpers/constants";
import {
  Loader,
  Page,
  PageHeader,
  PageContent,
  Autocomplete,
  Datepicker
} from "@/UI";
import { reportLayouts } from "@/components/Report/reportsLayouts";
import { dateRangeShortcuts } from "@/components/Report/helpers";
import { ReportResult } from "@/components/Report";

@Component({
  components: {
    Loader,
    Page,
    PageHeader,
    PageContent,
    ReportResult,
    Autocomplete,
    Datepicker
  }
})
export default class ReportViewPage extends Vue {
  @Action fetchReport!: (params: ReportRequestType) => Promise<void>;
  @Getter("getReports") allReports!: Maybe<ReportLinkType[]>;
  @Getter("getReport") report!: Maybe<ReportType[]>;
  @Getter("getLastReportRequestParams")
  lastReportRequestParams!: ReportRequestType;

  private reportLayouts = reportLayouts;
  private pageId = this.$route.params.id as ReportTypes;

  private get paramsLayout() {
    return this.reportLayouts[this.pageId].cards[1].content;
  }

  private get pageDataValue(): Maybe<ReportLinkChildType> | undefined {
    return this.allReports
      ?.map(group => group?.children.find(report => report?.id === this.pageId))
      .filter(Boolean)[0];
  }

  private get showInfo() {
    return this.reportLayouts[this.pageId].result.showInfo;
  }

  private get getType() {
    return this.reportLayouts[this.pageId].result.type;
  }

  private get tableColumns() {
    return this.reportLayouts[this.pageId].result.table.columns;
  }

  created() {
    if (!this.report) {
      this.$router.push(`${URL.REPORTS}/${this.pageId}`);
    }
  }

  // Group autocomplete
  private selectedGroupLabel = "Все группы";
  private selectedGroup: number | number[] = [];
  private foundGroups: Maybe<GroupInterface[]> = null;
  private get fetchedGroups(): { id: number; label: string }[] | null {
    return this.foundGroups
      ? this.foundGroups.map(g => ({ id: g.id, label: g.name }))
      : [];
  }
  @debounce(500)
  private async fetchGroups(value: string) {
    let list: GroupInterface[];

    if (value.length > 0) {
      const { data: response } = await API.group.getGroups(`name=${value}`);
      list = response;
    } else {
      list = [];
    }

    this.foundGroups = list;
  }
  private async onSelectGroup(value: { id: number; label: string }) {
    if (this.selectedGroup !== value.id) {
      await this.updateReport({ group_id: value.id });
    }

    if (this.selectedGroupLabel) {
      this.selectedGroupLabel = value.label;
      this.selectedGroup = value.id;
    } else {
      this.selectedGroupLabel = "Все группы";
      this.selectedGroup = [];
    }
  }

  // Date range
  private dateRange = "";
  private dateRangeShortcuts = dateRangeShortcuts;
  private dateRangeLabel: ReportParamsDateRangeLocale | string = String(
    this.$t("select_dates")
  );
  private async onDateRangeChange(dates: Maybe<string> | Maybe<string>[]) {
    if (!dates || !dates[0]) {
      this.dateRangeLabel = ReportParamsDateRangeLocale.ALL_TIME;
    }

    if (Array.isArray(dates)) {
      this.dateRangeLabel = `${dates[0]} ~ ${dates[1]}`;
      await this.updateReport({
        date_start: dates[0],
        date_end: dates[1]
      });
    } else {
      this.dateRangeLabel = dates as string;
      await this.updateReport({
        date_start: dates
      });
    }
  }

  private async updateReport(newParams: Record<string, any>) {
    const { type, params } = this.lastReportRequestParams;
    await this.fetchReport({
      type,
      params: {
        ...params,
        ...newParams
      }
    });
  }
}
</script>

<style lang="scss">
.report-page-view {
  &__select {
    display: flex;
    align-items: center;

    @include not-last-child {
      margin-bottom: $offset;
    }
  }

  &__select-text {
    width: 100px;
    margin-right: $offset;
  }
}
</style>
