<template lang="pug">
    Page
        PageContent
            FormItem(:label="$t('title')")
                TextField(v-model="title" name="title")
            FormItem(:label="$t('lang_select')")
                Select(v-model="lang" name="lang" track-by="value" label="title" :options="langSelect" @change="langChange")
            FormItem(:label="$t('news_date_end')")
                Datepicker(
                    v-model="date" @change="onDateChange" format="YYYY-MM-DD" type="date" name="date" cant="true")
                span.form-value {{date  | moment("DD.MM.YYYY")}}
            FormItem(:label="$t('program')")
                SelectSearch(
                    v-if="courses"
                    v-model="programGraph"
                    :options="courses.data"
                    placeholder="$t('select_one')"
                    label="name"
                    track-by="id"
                    @search-change="asyncFind"
                    @change="courseChange"
                )
            FormItem(:label="$t('program_from_emas')" v-if="lang")
                Select(v-model="programView" name="program" track-by="id" label="name" :options="emasPrograms" @change="programChange")
            FormItem(:label="$t('news_text')")
                TextField(type="textarea" v-model="message" id="message" name="message" placeholder="Введите сообщение")
            FormItem(label="Кнопка")
                TextField(v-model="title_button")
            FormItem(:label="$t('new_mustread')")
                Checkbox(v-model="required")
            FormItem(:label="$t('files')")
              .row-group
                .form-control.form-control-full
                  file-upload(
                    ref="upload"
                    v-model="files"
                    :size="5120"
                    class="uploader"
                    :drop="true"
                    :multiple="true"
                    :maximum="5"
                    name="scan"
                    @input="fileUpload"
                    )
                    i.icon.icon-upload(:class="{ loaded: files[0] }")
                    span(v-if="files[0]").loaded
                      span(v-for="item in files") {{item.name}}
            Button(@click="sendNewTest" :loading="this.sendingTest" style="margin-right:15px") {{$t('send_test')}}
            Button(@click="sendNew" :loading="this.sending" v-if="isTestWasSended") {{$t('send_confirm')}} - {{testNew.emails}} {{normalise(testNew.emails, $t('student'),  $t('2students'),  $t('3students'))}}
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";
import {
  Page,
  PageHeader,
  PageContent,
  Button,
  Loader,
  Checkbox,
  Select,
  Modal,
  FormItem,
  TextField,
  Datepicker,
  SelectSearch,
  FileUploader
} from "@/UI";
import { URL } from "@/helpers/constants";
import VideoItem from "@/components/VideoItem.vue";
import { makeQueryURL } from "@/helpers/utils/functions";
import {
  Maybe,
  DataInterface,
  CourseInterface,
  UserInterface,
  MediaInterface
} from "@/helpers/types";
const pluralize = require("numeralize-ru").pluralize;
@Component({
  components: {
    Page,
    PageHeader,
    PageContent,
    Button,
    Select,
    Loader,
    Checkbox,
    Modal,
    FormItem,
    TextField,
    VideoItem,
    Datepicker,
    SelectSearch,
    FileUploader
  }
})
export default class PageVideoManager extends Vue {
  @Action fetchCourses!: (params?: string) => Promise<void>;
  @Getter("getCourses") courses!: Maybe<DataInterface<CourseInterface[]>>;
  @Action getEmasPrograms!: (lang: string) => Promise<void>;
  @Action sendNews!: (params: any) => Promise<void>;
  @Getter("getTestNew") testNew!: any;
  @Getter("getterEmasPrograms") emasPrograms!: Array<any>;
  public async created() {
    await this.fetchCourses(makeQueryURL({ perPage: 999 }));
  }
  public title = "";
  public lang = "";
  public date = "";
  public programView = "";
  public message = "";
  public title_button = "";
  public file: Maybe<File> = null;
  public files: Array<any> = [];
  public fileTwo: Maybe<File> = null;
  public fileThree: Maybe<File> = null;
  public fileFour: Maybe<File> = null;
  public fileFive: Maybe<File> = null;
  public isTestWasSended = false;
  public required = false;
  public isLoading = false;
  public sending = false;
  public sendingTest = false;
  public programGraph = 0;
  public langSelect = [
    {
      value: "ru",
      title: this.$t("ru")
    },
    {
      value: "en",
      title: this.$t("en")
    }
  ];
  public fileUpload(value: any) {
    console.log(value);
  }
  public langChange(value: any) {
    this.lang = value.value;
    this.getEmasPrograms(value.value);
  }
  public onDateChange(value: any) {
    this.date = value;
  }
  public serverParams = {
    sort: [],
    searchTerm: "",
    page: 1,
    perPage: this.courses?.total
  };
  public updateParams(newParams: any) {
    this.serverParams = Object.assign({}, this.serverParams, newParams);
  }
  public asyncFind(searchTerm: any) {
    this.isLoading = true;
    this.updateParams({ searchTerm });
    this.updateParams({ perPage: (this.courses as any).total });
    this.fetchCourses(makeQueryURL(this.serverParams));
    this.isLoading = false;
  }
  private courseChange(selectedOption: any) {
    //console.log(selectedOption.name)
    this.programGraph = selectedOption.id;
  }
  public programChange(value: any) {
    this.programView = value;
  }
  public handleFileUpload(value: File) {
    this.file = value;
  }
  public handleFileUploadTwo(value: File) {
    this.fileTwo = value;
  }
  public handleFileUploadThree(value: File) {
    this.fileThree = value;
  }
  public handleFileUploadFour(value: File) {
    this.fileFour = value;
  }
  public handleFileUploadFive(value: File) {
    this.fileFive = value;
  }
  public async sendNew() {
    this.sending = true;
    const params = {
      programGraph: this.programGraph,
      lang: this.lang,
      programView: this.programView,
      title: this.title,
      body: this.message,
      title_button: this.title_button,
      date_end: this.date,
      files: this.files,
      is_required: this.required,
      testing: false
    };
    await this.sendNews(params);
    this.sending = false;
  }
  public async sendNewTest() {
    this.sendingTest = true;
    const params = {
      programGraph: this.programGraph,
      lang: this.lang,
      programView: this.programView,
      title: this.title,
      body: this.message,
      date_end: this.date,
      files: this.files,
      is_required: this.required,
      testing: true
    };
    await this.sendNews(params);
    this.sendingTest = false;
    this.isTestWasSended = true;
  }
  public normalise(value: number, one: string, two: string, three: string) {
    return pluralize(value, one, two, three);
  }
}
</script>
<style lang="scss"></style>
