<template lang="pug">
    Modal(:name="name" title="Добавить группу")
        FormItem(label="Название группы" :required="true")
            TextField(v-model="groupName" id="name" name="name")
        template(slot='footer')
            Button(@click="onAddGroup" :loading="this.isLoading") Добавить
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Action } from "vuex-class";

import {
  Button,
  Modal,
  FormItem,
  TextField,
  FileUploader,
  ProgressBar
} from "@/UI";

@Component({
  components: {
    Button,
    Modal,
    FormItem,
    TextField,
    FileUploader,
    ProgressBar
  }
})
export default class AddUserModal extends Vue {
  @Action fetchGroups!: (params?: string) => Promise<void>;
  @Prop({ required: true }) name!: string;
  @Action addGroup!: (params: {
    name: string;
    description: string;
  }) => Promise<void>;

  public groupName = "";
  public description = "";
  public isLoading = false;
  public percent = 0;

  public onCloseModal() {
    this.$modal.hide(this.name);
  }

  public async onAddGroup() {
    try {
      this.isLoading = true;

      const params = {
        name: this.groupName,
        description: this.description
      };
      await this.addGroup(params);
      await this.fetchGroups();

      this.isLoading = false;
      this.onCloseModal();
    } catch {
      this.isLoading = false;
      this.onCloseModal();
    }
  }
}
</script>
