<template lang="pug">
    Modal(:name="name" :title="$t('users.add')").add_user_popup
        .left_column
          .add_user_step
            #strategyTypeStep.add_user_step_title.manual_user_import_type 1. {{$t('users.add_email')}}
            #userEmailsContainer.user_emails.no_label.default_height.form_field_container
              TextField.form_field_wrapper(v-model="emails" id="emails userEmailsWrapper" name="emails", :placeholder="$t('users.add_emails')" type="textarea")
          #passwordTypeStep.add_user_step
            .add_user_step_title 2. {{$t('users.add_pass')}}
            .control_box.password_box
              #passwordTypeRadioItem6100bd0a061d1Container.generated_password.radio_field_container
                label.checkbox
                  input.checkbox__input(type="radio" value="defaulPass" v-model="pass")
                  span.checkbox__mark(aria-hidden="true")
                  span.checkbox__label {{$t('users.add_pass_default')}}
              #passwordTypeRadioItem6100bd0a06290Container.special_password.radio_field_container
                label.checkbox
                  input.checkbox__input(type="radio" value="customPass" v-model="pass")
                  span.checkbox__mark(aria-hidden="true")
                  span.checkbox__label {{$t('users.add_pass_custom')}}:
                
              #specialPasswordFieldContainer.special_password_container.no_label.form_field_container(:class="{'disabled' : pass != 'customPass'}")
                TextField(v-model="password" id="specialPasswordFieldWrapper" name="password" :disabled="pass != 'customPass'").form_field_wrapper
              
            #sendEmailLoginInfoContainer.email_login_info
              #emailLoginInfoContainer.disabled
                label.checkbox
                  input.checkbox__input(type="checkbox" v-model="send")
                  span.checkbox__mark(aria-hidden="true")
                  span.checkbox__label {{$t('users.add_send')}}
        .right_column
          //#emailInvitationTextStep.add_user_step
            .add_user_step_title 3. {{$t('users.add_msg')}} 
              span.small ({{$t('optional')}})
            #invitationMessageContainer.no_label.default_height.form_field_container(:class="{'disabled' : !send}")
              TextField(v-model="message" id="specialPasswordFieldWrapper" name="invitationMessage" :disabled="!send" type="textarea").form_field_wrapper EMAS Business School
          #organizationSelectionStep.add_user_step
            .add_user_step_title 3. {{$t('users.add_lang')}}
            #groupsListOrganizationSelectionContainer.no_label.form_field_container.select_form_field_container
              Select(name="lang" track-by="value" label="label" :options="langSelect" @change="langChange")
        //FormItem(label="E-email" :required="true")
        //    TextField(v-model="emails" id="emails" name="emails", placeholder="Введите e-mail через запятую")
        //FormItem(label="Сообщение")
        //    TextField(type="textarea" v-model="message" id="message" name="message", placeholder="Введите сообщение")
        template(slot='footer')
            Button(@click="onAddUsers" :loading="this.isLoading") {{$t('users.add')}}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Action } from "vuex-class";

import {
  Button,
  Modal,
  FormItem,
  TextField,
  Select,
  FileUploader,
  ProgressBar
} from "@/UI";

@Component({
  components: {
    Button,
    Modal,
    FormItem,
    Select,
    TextField,
    FileUploader,
    ProgressBar
  }
})
export default class AddUserModal extends Vue {
  @Action fetchUsers!: (params?: string) => Promise<void>;
  @Prop({ required: true }) name!: string;
  @Action addUsers!: (params: {
    emails: string[];
    message?: string;
  }) => Promise<void>;

  public emails = "";
  public password = "";
  public lang = "";
  public message = "EMAS Business School";
  public pass = "defaulPass";
  public defaultPass = true;
  public customPass = false;
  public send = true;
  public isLoading = false;
  public percent = 0;
  public langSelect = [
    {
      value: "en",
      label: this.$t('en')
    },
    {
      value: "ru",
      label: this.$t('ru')
    }
  ];
  private langChange(value: any) {
    this.lang = value.value;
  }
  public onCloseModal() {
    this.$modal.hide(this.name);
  }
  public changePassMethod() {
    this.defaultPass = !this.defaultPass;
    this.customPass = !this.customPass;
  }

  public async onAddUsers() {
    try {
      this.isLoading = true;

      const params = {
        emails: this.emails.split(","),
        //message: "EMAS Business School",
        lang: this.lang,
        ...(this.send === true && {
          is_message: true
        })
      };
      await this.addUsers(params);
      await this.fetchUsers();

      this.isLoading = false;
    } catch {
      this.isLoading = false;
    }
  }
}
</script>
<style lang="scss">
.add_user_popup .vm--modal,
.add_user_popup .modal__wrapper {
  width: 750px !important;
}
.add_user_popup .modal__content {
  display: flex;
  flex-direction: row;
}
</style>
