<template lang="pug">
  Modal(:name="name" :title="$t('group_edit')" width="800").edit-group-modal
    Loader(v-if="!this.group" :center="true")
    div(v-else).edit-group-modal__inner
      FormItem(:label="$t('title')" :required="true")
        TextField(v-model="group.name" id="name" name="name")
      FormItem(:label="$t('users.title')")
        multiselect.multiselect_users(
          v-model="group.users",
          :tag-placeholder="$t('add')",
          :placeholder="$t('search_and_add')",
          :selectLabel="$t('select_to_add')"
          :deselectLabel="$t('select_to_delete')"
          :selectedLabel="$t('selected')"
          label="name",
          track-by="id",
          :options="users.data",
          :multiple="true",
          :taggable="true",
          :max-height="300"
          :custom-label="customLabel"
          @change="userChange"
          @select="userChange"
          @search-change="asyncFind"
        )
      template(slot='footer')
        Button(@click="onEditGroup" :loading="this.isLoading") {{$t('edit')}}
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
import Multiselect from "vue-multiselect";
import "vue-multiselect/dist/vue-multiselect.min.css";
import { makeQueryURL } from "@/helpers/utils/functions";
import { Button, Modal, FormItem, TextField, Loader } from "@/UI";
import { Maybe, DataInterface, UserInterface } from "@/helpers/types";

@Component({
  components: {
    Button,
    Modal,
    FormItem,
    TextField,
    Multiselect,
    Loader
  }
})
export default class EditGroupModal extends Vue {
  @Action fetchUsers!: (params?: string) => Promise<void>;
  @Action fetchGroups!: (params?: string) => Promise<void>;
  @Action getGroup!: (id: number) => Promise<void>;
  @Action addGroupToUser!: (params: {
    user: UserInterface;
    id: number;
  }) => Promise<void>;
  @Action editGroup!: (params: {
    name: string;
    description: string;
    id: number;
  }) => Promise<void>;

  @Getter("getUsers") users!: Maybe<DataInterface<UserInterface[]>>;
  @Getter("getterGroup") group!: any;

  public name = "edit-group";
  public groupName = "";
  public description = "";
  public isLoading = false;
  public percent = 0;
  public selectedGroup: Array<any> = [];
  public value = [{ name: "Студент", id: 39 }];
  public options = [
    { name: "Vue.js", code: "vu" },
    { name: "Javascript", code: "js" },
    { name: "Open Source", code: "os" }
  ];

  public addTag(newTag: any) {
    const tag = {
      name: newTag,
      id: newTag.id
    };
    this.value.push(tag);
  }

  public onCloseModal() {
    this.$modal.hide(this.name);
  }

  public serverParams = {
    sort: [],
    searchTerm: "",
    page: 1,
    perPage: this.users?.total
  };

  public updateParams(newParams: any) {
    this.serverParams = Object.assign({}, this.serverParams, newParams);
  }

  public asyncFind(searchTerm: any) {
    this.isLoading = true;
    this.updateParams({ searchTerm });
    this.updateParams({ perPage: (this.users as any).total });
    this.fetchUsers(makeQueryURL(this.serverParams));
    this.isLoading = false;
  }

  public async onEditGroup() {
    try {
      this.isLoading = true;

      const params = {
        name: this.group.name,
        description: this.group.description,
        id: this.group.id
      };
      await this.editGroup(params);
      await this.fetchGroups();

      this.isLoading = false;
      this.onCloseModal();
    } catch {
      this.isLoading = false;
      this.onCloseModal();
    }
  }

  public async userChange(data: any) {
    await this.addGroupToUser({ user: data, id: this.group.id });
  }

  public customLabel({ name, email }: { name: any; email: any }) {
    if (name === email) {
      return `${name}`;
    } else {
      return `${name} (${email})`;
    }
  }

  public async created() {
    this.$events.$on("editGroup", async data => await this.getGroup(data));
  }
}
</script>
<style lang="scss">
.multiselect_users .multiselect__input {
  margin-top: 10px;
  margin-bottom: 10px;
}
.multiselect_users .multiselect__tags {
  padding: 8px 40px 8px 8px;
  max-height: 150px;
  overflow-y: scroll;
}
.multiselect_users .multiselect__tags-wrap {
  display: flex;
  flex-wrap: wrap;
}
.multiselect_users .multiselect__tag {
  margin-bottom: 2px;
  margin-right: 3px;
}

.edit-group-modal__inner {
  min-height: 60vh;
}
</style>
