<template lang="pug">
    .groups-table
        TableGroup(
            v-if="this.groups"
            :data="this.groups"
            data-path="data"
            :columns="this.columns"
            @fetch="this.fetchGroups"
            @on-selected-rows-change="onSelectionChanged"
        )
        EditGroupModal(name="edit-group")
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { TableGroup } from "@/UI";
import { DataInterface, GroupInterface, Maybe } from "@/helpers/types";
import EditGroupModal from "@/components/Users/EditGroupModal.vue";
import { Action, Getter } from "vuex-class";
import { downloader } from "@/helpers/utils/downloader";
import router from "@/router";
import { URL } from "@/helpers/constants";

@Component({
  components: {
    TableGroup,
    EditGroupModal
  }
})
export default class UsersTable extends Vue {
  @Action fetchGroups!: (params?: string) => Promise<void>;
  @Getter("getGroups") groups!: Maybe<DataInterface<GroupInterface[]>>;
  public selected: Array<any> = [];
  public columns = [
    {
      field: "name",
      label: "group_name",
      width: "50%",
      sortable: true,
      component: () => {
        return "a";
      },
      action: async (data: any) => {
        this.selected = [];
        this.selected.push(data);
        await this.$events.$emit("editGroup", data.id);
        this.$modal.show("edit-group");
      }
    },
    {
      field: "created_at",
      label: "date_start",
      type: "date",
      dateInputFormat: "yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'",
      dateOutputFormat: "dd.MM.yyyy (HH:mm)",
      sortable: false
    },
    {
      field: "updated_at",
      label: "date_update",
      type: "date",
      dateInputFormat: "yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'",
      dateOutputFormat: "dd.MM.yyyy (HH:mm)",
      sortable: false
    }
  ];
  public async created() {
    await this.fetchGroups();
  }
  public onSelectionChanged(data: { selectedRows: any[] }) {
    this.selected = data?.selectedRows;
    return data?.selectedRows;
  }
  get isAdmin() {
    return this.$store.getters.isAdmin;
  }
}
</script>
