<template lang="pug">
    .users-table
        Loader(v-if="loading" :center="true")
        TableUsers(
            v-else
            :data="this.users"
            data-path="data"
            :columns="this.columns"
            @fetch="this.fetchUsers"
        )
</template>

<script lang="ts">
import find from "lodash/find";
import { Component, Prop, Vue } from "vue-property-decorator";
import { TableUsers, Loader } from "@/UI";
import {
  DataInterface,
  GroupInterface,
  Maybe,
  UserInterface,
  CourseInterface
} from "@/helpers/types";
const moment = require("moment");
import { URL } from "@/helpers/constants";
import { Action, Getter } from "vuex-class";
import { makeQueryURL } from "@/helpers/utils/functions";
@Component({
  components: {
    TableUsers,
    Loader
  }
})
export default class UsersTable extends Vue {
  @Action fetchUsers!: (params?: string) => Promise<void>;
  @Getter("getUsers") users!: Maybe<DataInterface<UserInterface[]>>;
  @Action fetchCourses!: (params?: string) => Promise<void>;
  @Getter("getCourses") courses!: Maybe<DataInterface<CourseInterface[]>>;
  public serverParams = {
    sort: [],
    searchTerm: "",
    page: 1,
    perPage: 999
  };
  public loading = true;
  public async created() {
    if (this.isAdmin || this.isSuperAdmin) {
      await this.fetchCourses();
    }

    this.columns = [
      {
        field: "first_name",
        label: "First name",
        hidden: true
      },
      {
        field: "last_name",
        label: "Last name",
        hidden: true
      },
      {
        field: "email",
        label: "Email",
        hidden: true
      },
      {
        field: "name",
        label: "Username",
        width: "20%",
        link: ({ id }: { id: number }) => `${URL.USERS}/${id}/edit`,
        sortable: true,
        twoField: "email"
      },
      {
        field: "programGraph",
        label: "program",
        sortable: false,
        formatFn: (value: any) => {
          if (this.isAdmin || this.isSuperAdmin) {
            if (this.users) {
              if (this.courses) {
                const findItemProgram = find(this.courses.data, i => {
                  return i.id === Number(value);
                });
                return findItemProgram?.name;
              }
            }
          } else {
            return value;
          }
        }
      },
      {
        field: "groups",
        label: "groups",
        sortable: false
      },
      {
        field: "lang",
        label: "lang",
        sortable: false,
        formatFn: (value: any) => {
          if (value === "en") {
            return this.$t("en");
          }
          if (value === "ru") {
            return this.$t("ru");
          }
        }
      },
      {
        field: "date_block",
        label: "date_block",
        sortable: false,
        formatFn: (value: any) => {
          if (value === null) {
            return this.$t("unknown");
          }
          if (value) {
            return moment(value).format("DD.MM.YYYY");
          }
        }
      },
      {
        field: "last_login",
        label: "date_login",
        type: "date",
        dateInputFormat: "yyyy-MM-dd",
        dateOutputFormat: "dd.MM.yyyy",
        sortable: false
      }
    ];
    this.loading = false;
  }
  get isAdmin() {
    return this.$store.getters.isAdmin;
  }
  get isSuperAdmin() {
    return this.$store.getters.isSuperAdmin;
  }
  public columns: any[] = [];
}
</script>
