<template lang="pug">
    div.flex.flex-col.mx-5.py-5.w-full(class="lg:flex-row md:flex-row lg:mx-40 md:mx-20 lg:py-0 md:py-0")
      AuthWelcome(class="md:w-1/2 lg:w-1/2 xl:w-2/3")
      AuthForm(class="md:w-1/2 lg:w-1/2 xl:w-1/3")
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import AuthForm from "@/components/AuthForm.vue";
import AuthWelcome from "@/components/AuthWelcome.vue";

@Component({
  components: { AuthForm, AuthWelcome }
})
export default class PageAuth extends Vue {}
</script>
