<template lang="pug">
    .tab-content(v-show='isActive')
        slot
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  name: "TabContent"
})
export default class TabContent extends Vue {
  @Prop({ required: true }) title!: string;
  @Prop({ required: false }) disabled!: boolean;
  public isActive = true;
}
</script>
