<template lang="pug">
    .tab-header
        .tab-header__title
            p {{ title }}
        .tab-header__action
            slot
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class TabHeader extends Vue {
  @Prop({ required: true, type: String }) title!: string;
}
</script>

<style lang="scss">
.tab-header {
  display: flex;
  flex-wrap: wrap;
}

.tab-header__title {
  max-width: 800px;
  margin-bottom: 10px;
  margin-right: $offset2x;
  margin-left: 0;
}

.tab-header__action {
  flex: 0 0 auto;

  @media screen and (min-width: 1080px) {
    margin-left: auto;
  }
}
</style>
