<template lang="pug">
    .tabs
        ul.tabs__list
            .tab-panel(
                v-for="(tab, index) in this.tabs"
                :key="index"
                :tab="tab"
                :class="{'tab-panel--active': tab.isActive, '--disabled': tab.disabled}"
                @click="selectTab(index)"
            ) {{ tab.title }}
        .tabs__content(:class="{'tabs__content--without-offset': !this.offset}")
            slot
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  name: "Tabs"
})
export default class Tabs extends Vue {
  @Prop({ required: false, default: true }) offset!: boolean;
  public tabs: (Vue & { isActive?: boolean; disabled?: boolean })[] = [];

  created() {
    this.tabs = this.$children;
  }

  mounted() {
    this.selectTab(0);
  }

  public selectTab(i: number) {
    this.tabs.forEach((tab, index) => (tab.isActive = index === i));
  }
}
</script>

<style lang="scss">
.tabs {
  @include card;
  &__list {
    @include display-flex-centered;
    overflow-y: auto;
    justify-content: flex-start;
    height: 48px;
    background: #f9fcfc;
    border-bottom: 1px solid #d8d8d8;
    position: sticky;
    z-index: 2;
    right: 0;
    top: calc(-1 * #{$offset});
    overflow: hidden;
  }
  &__content {
    padding: $offset2x $offset2x calc(#{$offset2x} * 2);

    &--without-offset {
      padding: 0;
    }
  }
}

.tab-panel {
  flex: 0 0 auto;
  @include display-flex-centered;
  position: relative;
  z-index: 1;
  margin: -1px 0 0;
  height: 100%;
  padding: 0 28px;
  white-space: nowrap;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  list-style: none;
  border-right: 1px solid #d8d8d8;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 2px;
  }
  &--active {
    border-bottom-color: white;
    background: white;
    &:before {
      background: $green;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      top: 100%;
      background: $white;
    }
  }
}
</style>
