<template lang="pug">
    form.user-general(@keydown="hasChanged=true")
        //Button(@click="onEdit"  v-if="hasChanged" type="button").floating_button {{$t('save')}}
        Title(:offset="true") {{$t('Change_password')}}
        FormItem(:label="$t('Old_password')")
          Password.password(v-model="oldpass" type="password" name="oldpass")
        ValidationObserver(tag="div").my-6
          FormItem(:label="$t('New_password')")
            ValidationProvider(rules="min:8|confirmed:confirm" name="newpass" v-slot="{ failedRules }" tag="div").w-full
              PasswordValidation.password(v-model="newpass" type="password" name="newpass" :errors="failedRules")
          FormItem(:label="$t('Repeat_new_password')")
            ValidationProvider(rules="min:8|confirmed:newpass" name="confirm" v-slot="{ failedRules }" tag="div").w-full
              PasswordValidation.password(v-model="confirmnewpass" type="password" name="confirmnewpass" :errors="failedRules")
        FormItem(:label="$t('Change_password')")
          Button(@click="OnChangePass" type="button") {{$t('Change_password')}}
        FormItem(:label="$t('users.login')")
            TextField(v-model="data.name" name="name" :required="true")
        FormItem(:label="$t('users.surname')")
            TextField(v-model="data.last_name" name="last_name" :required="true")
        FormItem(:label="$t('users.surname_latin')")
            TextField(v-model="data.last_name_latin" name="last_name_latin" :required="true")
        FormItem(:label="$t('users.name')")
            TextField(v-model="data.first_name" name="first_name" :required="true")
        FormItem(:label="$t('users.name_latin')")
            TextField(v-model="data.first_name_latin" name="first_name_latin" :required="true")
        FormItem(:label="$t('users.patronymic')")
            TextField(v-model="data.patronymic" name="patronymic" :required="true")
        ValidationProvider(name="email" rules="email" tag="div" :bails="false").my-6.validation-field
          div(slot-scope="{ failedRules }")
            FormItem(:label="$t('email')")
                TextFieldValidation(v-model="data.email" name="email" :required="true" :errors="failedRules")
        FormItem(:label="$t('users.birthdate')")
            //Datepicker(
                v-model="data.birthday_date" @change="onDateChange" format="YYYY-MM-DD" type="date" cant="true")
              span.form-value {{data.birthday_date | moment("DD.MM.YYYY")}}
            DatepickerMain.w-full(v-model="data.birthday_date" @change="onDateChange")
        FormItem(:label="$t('users.sex')")
            Select(v-model="selectedSex" name="gender" :options="genderSelect" @change="genderChange" label="label" track-by="value" :lang="true")
        FormItem(:label="$t('users.phone')")
            TextField(v-model="data.phone" name="phone" :required="true")
        FormItem(:label="$t('work_exp')")
            TextField(v-model="data.work_exp" name="work_exp" :required="true")
        FormItem(:label="$t('manage_exp')")
            TextField(v-model="data.manage_exp" name="manage_exp" :required="true")
        FormItem(:label="$t('company_sphere')")
            TextField(v-model="data.company_activity" name="company_activity" :required="true")
        FormItem(:label="$t('position')")
            TextField(v-model="data.position_company" name="position_company" :required="true")
        FormItem(:label="$t('users.citizenship')")
            TextField(v-model="data.citizenship" name="citizenship" :required="true")
        FormItem(label="Instagram")
            TextField(v-model="data.inst" name="inst")
        FormItem(label="VK")
            TextField(v-model="data.vk" name="vk")
        FormItem(label="Facebook")
            TextField(v-model="data.facebook" name="facebook")
        FormItem(label="Linkedin")
            TextField(v-model="data.linkedin" name="linkedin")
        FormItem(label="Twitter")
            TextField(v-model="data.twitter" name="twitter")
        FormItem(:label="$t('comment')")
            TextField(v-model="data.comment" name="comment" type="textarea")
</template>

<script lang="ts">
import DatePickerTwo from "vue2-datepicker";
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import {
  Button,
  Datepicker,
  FormItem,
  Loader,
  Page,
  PageEditHeader,
  PageEditTabs,
  Picture,
  Select,
  Separator,
  TabContent,
  TabHeader,
  Tabs,
  TextField,
  TextFieldValidation,
  Title,
  Password,
  PasswordValidation,
  DatepickerMain
} from "@/UI";
import { UserInterface } from "@/helpers/types";
import Avatar from "@/modules/Avatar.vue";
import { Action, Getter } from "vuex-class";
import { extend } from "vee-validate";
import {
  required,
  email,
  length,
  confirmed,
  min
} from "vee-validate/dist/rules";
import find from "lodash/find";
import { StringToDate, DateToString } from "@/helpers/utils/functions";
const moment = require("moment");
// Add the required rule
extend("required", {
  ...required,
  message: "Поле необходимо к заполнению"
});
// Add the required rule
extend("required", {
  ...required,
  message: "Поле необходимо к заполнению"
});
// Add the required rule
extend("length", {
  ...length,
  message: "Минимальная длина пароля 8 символов"
});

extend("min", {
  ...min,
  message: "Минимальная длина пароля 8 символов"
});

// Add the email rule
extend("email", {
  ...email,
  message: "Введен некорректный Email"
});

// Add the email rule
extend("confirmed", {
  ...confirmed,
  message: "Пароли не совпадают"
});
@Component({
  components: {
    Select,
    TabHeader,
    Separator,
    PageEditTabs,
    PageEditHeader,
    Page,
    Avatar,
    TextField,
    TextFieldValidation,
    FormItem,
    Title,
    Loader,
    Tabs,
    TabContent,
    Button,
    Picture,
    Datepicker,
    DatePickerTwo,
    Password,
    PasswordValidation,
    DatepickerMain
  }
})
export default class UserGeneralUser extends Vue {
  @Prop({ required: true }) data!: UserInterface;
  @Action changePass!: (params: any) => Promise<void>;
  public StringToDate(date: string): string {
    return StringToDate(date);
  }
  public DateToString(date: string): string {
    return DateToString(date);
  }
  public isnewpass = false;
  public oldpass = "";
  public newpass = "";
  public confirmnewpass = "";
  public selectedSex: Array<any> = [];
  public ChangePass() {
    this.isnewpass = !this.isnewpass;
  }
  public async OnChangePass() {
    await this.changePass({
      old_password: this.oldpass,
      password: this.newpass,
      confirm_password: this.confirmnewpass
    });
  }
  public created() {
    if (this.data.gender) {
      //ищем пол и кидаем в выбранное
      const findGender = find(this.genderSelect, i => {
        return i.value === this.data.gender;
      });
      this.selectedSex.push(findGender);
    }
    this.data.birthday_date = moment(this.data.birthday_date).format(
      "DD.MM.YYYY"
    );
  }
  @Watch("data.birthday_date")
  public ChangeDateBirthday(newVal: any, oldVal: any) {
    this.data.birthday_date = this.StringToDate(newVal);
  }
  public genderSelect = [
    {
      value: "Male",
      label: "Мужской"
    },
    {
      value: "Female",
      label: "Женский"
    }
  ];
  public genderChange(value: any) {
    this.data.gender = value.value;
    this.hasChanged = true;
  }
  public changeDate(value: any) {
    this.data.date_block = value;
  }
  public onDateChange(value: any) {
    this.data.birthday_date = value;
    this.hasChanged = true;
  }
  @Action editUser!: (user: UserInterface) => Promise<void>;
  public isLoading = false;
  public hasChanged = false;
  public async onEdit() {
    if (this.data) {
      try {
        this.isLoading = true;

        await this.editUser(this.data);
        this.isLoading = false;
      } catch {
        this.isLoading = false;
      }
    }
  }
}
</script>
