<template lang="pug">
    Loader(v-if="loading")
    .course-chapter-item(v-else )
      Toggle(v-for="(course, indexCourse) in course" :key="course.id").course-chapter-item-wrapper
        template(v-slot:question)
          h2.course-chapter-title {{$t('program')}} "{{course.name}}"
        template(v-slot:open)
          span {{$t('open_program_text')}}
        template(v-slot:close)
          span {{$t('close_program_text')}}
        template(v-slot:answer)
          Toggle(v-for="(chapter, indexChapter) in course.chapter" :key="indexChapter")
            template(v-slot:question)
              .course-chapter__header
                  .course-chapter__header-prefix
                      Icon(name="graduation-cap").course-chapter__header-icon
                  .course-chapter__header-top
                          p.course-chapter__header-title.subtitle.whitespace-normal {{ chapter.name }}
                  .course-chapter__header-block
                    Icon(name="lock").course-chapter-media__block__icon
                    span.course-chapter-media__block__text {{$t('blocked')}}
            template(v-slot:open)
              span {{$t('open_chapter_text')}}
            template(v-slot:close)
              span {{$t('close_chapter_text')}}
            template(v-slot:answer)
              .course-chapter__wrapper
                .course-chapter__medias
                    .course-chapter__item
                      .course-chapter-media.flex-col.p-0(v-for="(media, indexMedia) in chapter.media" :key="media.id" :id="media.id" :class="{'--disabled': media.block }")
                        .course-chapter-media_item.w-100
                          span.course-chapter-media__label {{ media.name_front || media.name }}
                          span.course-chapter-media__type {{ $t(makeFormattedMediaType(media.mime_type)) }}
                          .course-chapter-media__progress
                            template(v-if="media.progress === 0")
                              span.course-chapter-media__progress__wait__text {{$t('not_start')}}
                              Button(@click="readByAdmin(media.id)").user_course_view_button {{$t('complete')}}
                            template(v-if="media.progress === 100")
                              span.course-chapter-media__progress__success__text {{$t('done')}}
                            template(v-if="media.progress < 100 && media.progress > 0")
                              span.course-chapter-media__progress__inprogress__text {{$t('in_process')}}
                              span.course-chapter-media__progress__percent__text ({{media.progress}}% {{$t('in_process_view')}})
                              Button(@click="readByAdmin(media.id)").user_course_view_button {{$t('complete')}}
                        .course-chapter-media__submitted.w-100.flex.items-end.justify-between(v-for="(submitted, indexSubmitted) in media.submittedProject" :key="indexSubmitted")
                          span Версия {{indexSubmitted + 1}}
                          .flex.flex-col.justify-center
                            Button(@click="DownloadSubmittedMedia(submitted.id, submitted.media_id, submitted.file)").text-xs {{$t('download')}}
                          .flex.flex-col.justify-center
                            Button(@click="DownloadSubmittedMedia(submitted.id, submitted.media_id, submitted.file, true)").text-xs {{$t('open')}}
                          .flex.flex-col.justify-center(class="w-1/4")
                            span {{$t('trainer_select')}}
                            SelectSearch.select_trainer(
                              v-if="usersSlug && usersSlug.data"
                              v-model="submitted.trainer"
                              :options="usersSlug.data"
                              :placeholder="$t('select_one')"
                              label="email"
                              track-by="id"
                              @search-change="asyncFind"
                              @change="trainerChange($event, indexSubmitted)"
                              openDirection="bottom"
                            )
                          .flex.flex-col.justify-center
                            span Оценка
                            //TextField(name="score" v-model="scores[index]")
                            input.text-field.w-10(type="number" v-if="media.type_score !== 'pass'" v-model="submitted.score" :name="'name_' + indexSubmitted" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md")
                            //Select.w-10(v-model="submitted.score" v-if="media.type_score === 'pass'" name="score" :options="scoreSelect" @change="scoreChange($event, indexSubmitted, indexCourse, indexChapter, indexMedia)" label="label" track-by="value" :lang="true")
                            SelectScore.w-10(v-model="submitted.score" :value="submitted.score" v-if="media.type_score === 'pass'" name="score" :options="scoreSelect" @change="scoreChange($event, indexSubmitted, indexCourse, indexChapter, indexMedia)" label="label" track-by="value")
                          Button.p-1(@click="SendScore(indexSubmitted, indexCourse, indexChapter, indexMedia)") Отправить
                      .course-chapter-media.flex-col.p-0(v-for="(quiz, indexQuiz) in chapter.quizzes" :key="quiz.id" :id="quiz.id" :class="{'--disabled': quiz.block }")
                        .course-chapter-media__submitted.w-100.flex.items-end.justify-between
                            span.course-chapter-media__label {{ quiz.title }}
                            .flex.flex-col.justify-center
                              span Оценка
                                input.text-field(type="number" v-model="quiz.score" :name="'name_' + indexQuiz" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md")
                            .flex.flex-col.justify-center
                              span Дата сдачи теста
                              DatepickerMain.w-full(v-model="quiz.created_at_front" @change="dateChange($event, indexCourse, indexChapter,indexQuiz)")
                            Button.p-1(@click="sendSetScoreQuiz(indexCourse, indexChapter,indexQuiz)") Обновить


</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { downloader } from "@/helpers/utils/downloader";
import { Maybe, UserInterface, DataInterface } from "@/helpers/types";
import { Action, Getter } from "vuex-class";
import Toggle from "@/components/Toggle.vue";
import MembersList from "@/components/MembersList.vue";
import Table from "@/UI/Table/Table.vue";
import {
  Loader,
  Button,
  TextField,
  SelectSearch,
  DatepickerMain,
  Select
} from "@/UI";
import SelectScore from "@/UI/SelectScore.vue";
import { makeFormattedMediaType } from "@/helpers/utils/functions";
import { makeQueryURL } from "@/helpers/utils/functions";
const columns = [
  {
    field: "name",
    label: "Наименование программы",
    sortable: false
  },
  {
    field: "duration",
    label: "Продолжительность",
    sortable: false
  }
];

@Component({
  components: {
    Table,
    MembersList,
    Loader,
    Button,
    TextField,
    DatepickerMain,
    SelectSearch,
    Toggle,
    Select,
    SelectScore
  }
})
export default class UserPrograms extends Vue {
  @Prop({ required: true }) data!: UserInterface;

  @Action fetchCourseForUser!: (id: number) => Promise<void>;
  @Action ScoreAndTrainerForSubmitProject!: (params: any) => Promise<void>;
  @Action SetScoreQuiz!: (params: any) => Promise<void>;
  @Action fetchUsersSlug!: (params?: string) => Promise<void>;
  @Action readMediaByAdmin!: (params: {
    id_media: number;
    id_user: number;
  }) => Promise<void>;

  @Getter("gettertUsersSlug") usersSlug!: Maybe<DataInterface<UserInterface[]>>;
  @Getter("getCourseForUser") course!: any;

  public timeData: any = "11.02.2022";
  public newValue: any = "";
  public selectedTrainer: Array<any> = [];
  public quizzesDates: Array<any> = [];
  public columns = columns;
  public id: number = 0;
  public loading = false;
  public ScoresAndTrainers: Array<any> = [];
  public trainers: Array<any> = [];
  public scores: Array<any> = [];
  public trainer = {
    id: 48,
    email: "info@dmtay.ru"
  };
  public selectedScore: any = [];
  public scoreSelect = [
    {
      value: 10,
      label: "credit"
    },
    {
      value: 0,
      label: "no_credit"
    }
  ];

  public createSelectValue(score: any) {
    if (score == 10) return { value: 10, label: "credit" };
    if (score == 0) return { value: 0, label: "no_credit" };
  }

  public updateTrainer(value: any) {
    console.log(value);
    //this.statusPageCreation.monitors = [];
    //entity.forEach((monitorObject: any) => {
    //    this.statusPageCreation.monitors.push(monitorObject.id);
    //});
  }

  async created() {
    this.loading = true;
    await this.fetchCourseForUser((this.data as any).id);
    await this.fetchUsersSlug(makeQueryURL({ role_slug: "trainer" }));
    /*this.data.date_termination = moment(this.data.date_termination).format(
        "DD.MM.YYYY"
    )*/
    this.loading = false;
    /*this.course.forEach(i => i.chapter.forEach(i => {
      if(i.quizzes.length !== 0) i.quizzes.forEach(i => {
        i.scores? this.quizzesDates.push(moment(i.scores.created_at).format("DD.MM.YYYY")) : this.quizzesDates.push(null)
      })
    }));*/
  }

  public dateChange(
    value: any,
    indexCourse: any,
    indexChapter: any,
    indexQuiz: any
  ) {
    this.course[indexCourse].chapter[indexChapter].quizzes[
      indexQuiz
    ].created_at_front = value;
  }

  public scoreChange(
    value: any,
    indexSubmitted: any,
    indexCourse: any,
    indexChapter: any,
    indexMedia: any
  ) {
    this.selectedScore = value;
    this.course[indexCourse].chapter[indexChapter].media[
      indexMedia
    ].submittedProject[indexSubmitted].score = Number(this.selectedScore.value);
  }

  /*public createDateFormat(date) {
    const off = new Date(date)
    console.log(off)
  }*/

  public asyncFind(searchTerm: any) {
    this.fetchUsersSlug(
      makeQueryURL({ role_slug: "trainer", searchTerm: searchTerm })
    );
  }

  get isAdmin() {
    return this.$store.getters.isAdmin;
  }

  public makeFormattedMediaType(type: string): string {
    return makeFormattedMediaType(type);
  }

  public DownloadSubmittedMedia(
    submit_id: number,
    media_id: number,
    filename: string,
    open?: boolean
  ) {
    if (open) {
      downloader(
        media_id,
        id => `/api/media/${media_id}/submittedProject/${submit_id}`,
        filename,
        open
      );
    }
    downloader(
      media_id,
      id => `/api/media/${media_id}/submittedProject/${submit_id}`,
      filename
    );
  }

  private trainerChange(selectedOption: any, id: number) {
    this.trainers[id] = selectedOption.id;
  }

  public OnChangeScore(value: any) {
    console.log("scores" + this.scores[value]);
  }

  public sendSetScoreQuiz(indexCourse: any, indexChapter: any, indexQuiz: any) {
    const params = {
      user_id: this.data.id,
      quiz_id: this.course[indexCourse].chapter[indexChapter].quizzes[indexQuiz]
        .id,
      score: this.course[indexCourse].chapter[indexChapter].quizzes[indexQuiz]
        .score,
      created_at_front: this.course[indexCourse].chapter[indexChapter].quizzes[
        indexQuiz
      ].created_at_front
    };
    this.SetScoreQuiz(params);
  }

  public SendScore(
    indexSubmitted: any,
    indexCourse: any,
    indexChapter: any,
    indexMedia: any
  ) {
    const params = {
      user_id: this.data.id,
      media_id: this.course[indexCourse].chapter[indexChapter].media[indexMedia]
        .id,
      submit_id: this.course[indexCourse].chapter[indexChapter].media[
        indexMedia
      ].submittedProject[indexSubmitted].id,
      score: this.course[indexCourse].chapter[indexChapter].media[indexMedia]
        .submittedProject[indexSubmitted].score,
      trainer_id: this.course[indexCourse].chapter[indexChapter].media[
        indexMedia
      ].submittedProject[indexSubmitted].trainer.id
    };
    this.ScoreAndTrainerForSubmitProject(params);
  }

  public async readByAdmin(id: number) {
    const params = {
      id_media: id,
      id_user: (this.data as any).id
    };
    await this.readMediaByAdmin(params);
  }
}
</script>
<style lang="scss">
.course-chapter-item-wrapper {
  @include card;
  padding: $offset2x;
}
.course-chapter-media_item {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  position: relative;
  background: #fcfcfc;
  border: 1px solid transparent;
  padding: var(--offset) calc(var(--offset) * 2);
  border-bottom: 1px solid #d9d9d9;
}
.course-chapter-media__submitted {
  padding: var(--offset) calc(var(--offset) * 4);
  background: #fcfcfc;
}
.course-chapter-media.flex-col:hover {
  background: #fcfcfc;
}
.select_trainer {
  position: relative;
}
.select_trainer .multiselect--active {
  z-index: 99999;
}
.select_trainer .multiselect__content-wrapper {
  z-index: 99999;
}
</style>
