<template lang="pug">
    form.user-passport(@keydown="hasChanged=true")
        //Button(@click="onEdit"  v-if="hasChanged" type="button").floating_button {{$t('save')}}
        FormItem(:label="$t('users.passport_num')")
            TextField(v-model="data.passport_series" name="passport_series")
            TextField(v-model="data.passport_number" name="passport_number")
        FormItem(:label="$t('users.passport_who')")
            TextField(v-model="data.passport_number_who" name="passport_number_who")
        FormItem(:label="$t('users.code_passport')")
            TextField(v-model="data.passport_code" name="passport_code")
        FormItem(:label="$t('users.passport_when')")
            //TextField(v-model="data.passport_number_when" name="passport_number_when")
            DatepickerMain.w-full(v-model="data.passport_number_when" @change="onDateChange")
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import {
  Button,
  DatepickerMain,
  FormItem,
  Loader,
  Page,
  PageEditHeader,
  PageEditTabs,
  Picture,
  Select,
  Separator,
  TabContent,
  TabHeader,
  Tabs,
  TextField,
  Title
} from "@/UI";
import { UserInterface } from "@/helpers/types";
import Avatar from "@/modules/Avatar.vue";
import { Action, Getter } from "vuex-class";
import { StringToDate, DateToString } from "@/helpers/utils/functions";
const moment = require("moment");
@Component({
  components: {
    Select,
    TabHeader,
    Separator,
    PageEditTabs,
    PageEditHeader,
    Page,
    Avatar,
    TextField,
    FormItem,
    Title,
    Loader,
    Tabs,
    TabContent,
    Button,
    Picture,
    DatepickerMain
  }
})
export default class UserPassport extends Vue {
  @Prop({ required: true }) data!: UserInterface;
  public StringToDate(date: string): string {
    return StringToDate(date);
  }
  public DateToString(date: string): string {
    return DateToString(date);
  }
  public onDateChange(value: any) {
    this.data.passport_number_when = value;
    this.hasChanged = true;
  }
  public created() {
    this.data.passport_number_when = moment(
      this.data.passport_number_when
    ).format("DD.MM.YYYY");
  }
  @Watch("data.passport_number_when")
  public ChangeDatePassport(newVal: any, oldVal: any) {
    this.data.passport_number_when = this.StringToDate(newVal);
  }
  @Action editUser!: (user: UserInterface) => Promise<void>;
  public isLoading = false;
  public hasChanged = false;
  public async onEdit() {
    if (this.data) {
      try {
        this.isLoading = true;

        await this.editUser(this.data);
        this.isLoading = false;
      } catch {
        this.isLoading = false;
      }
    }
  }
}
</script>
