<template lang="pug">
  div
    .vgt-responsive
      table.vgt-table.bordered 
        thead
          tr
            th.text-sm {{$t('name_module')}}
            th.text-sm {{$t('duration_module_days')}}
            th.text-sm {{$t('date_start_module')}}
            th.text-sm {{$t('date_start_module_fact')}}
            th.text-sm {{$t('date_pass_exam2')}}
            th.text-sm {{$t('date_pass_exam2_fact')}}
            th.text-sm {{$t('date_pass_project')}}
            th.text-sm {{$t('date_pass_project2')}}
            th.text-sm {{$t('score_exam')}}
            th.text-sm {{$t('score_project')}}
        tbody
          tr(v-for="item, index in userPlan.lines")
            td {{item.name}}
            td {{item.days}}
            td.relative
              DatepickerMain.w-28(v-model="item.date_from" v-if="item.id_chapter" @change="dateChange($event, item, 'date_from', index)")
            td {{item.date_from_fact}}
            td.relative
              DatepickerMain.w-28(v-model="item.date_to" v-if="item.id_chapter" @change="dateChange($event, item, 'date_to', index)")
            td {{item.date_to_fact}}
            td.relative
              DatepickerMain.w-28(v-model="item.project_to" v-if="item.id_chapter" @change="dateChange($event, item, 'project_to', index)")
            td {{item.project_to_fact}}
            td
              span(v-if="item.quiz_score") {{item.quiz_score}}
            td
              TextField(v-if="item.is_project" type='number' class="input__scores" name="scores"  @change="scoresChange($event, item)")
    .vgt-responsive.mt-3
      table.vgt-table.bordered 
        thead
          tr
            th Название сессии
            th Начало сессии
            th Окончание сессии
            th Действия
        tbody
          tr(v-for="item, index in sessions")
            td
              TextField(v-model="item.name" @input="changeSession")
            td.relative
              DatepickerMain.w-full(v-model="item.date_from" @input="DateChange($event, index, 'from')")
            td.relative
              DatepickerMain.w-full(v-model="item.date_to" @input="DateChange($event, index, 'to')")
            td.text-center
              Button.py-1.px-1.font-normal(@click="$emit('editUserData')") Сохранить
              Button.py-1.px-1.font-normal.ml-2(variant="danger" @click="deleteSession(index)") Удалить
          tr
            td(colspan="4").text-center
              Button.py-1.px-2.font-normal(@click="addSession") Добавить строку
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Button, TextField, Datepicker, DatepickerMain } from "@/UI";
import Table from "@/UI/Table/Table.vue";

@Component({
  components: {
    Table,
    Button,
    TextField,
    Datepicker,
    DatepickerMain
  }
})
export default class UserPrograms extends Vue {
  @Prop({ required: true }) userSessions!: any[];
  @Prop({ required: true }) userPlan!: any[];

  sessions = [
    {
      name: null,
      date_from: null,
      date_to: null
    }
  ];

  addSession() {
    this.sessions.push({ name: null, date_from: null, date_to: null });
  }

  dateChange(value: string, item: any, key: string, index: number) {
    this.$emit("dateChange", { value, item, key, index });
  }

  deleteSession(index: number) {
    this.sessions.splice(index, 1);
  }

  changeSession() {
    this.$emit("changeSession", this.sessions);
  }

  DateChange(value: any, index: number, type: "from" | "to") {
    switch (type) {
      case "from":
        this.sessions[index].date_from = value;
        break;
      case "to":
        this.sessions[index].date_to = value;
        break;
    }

    this.changeSession();
  }

  scoresChange(event: any, item: any) {
    this.$emit("scoresChange", {
      id: item.id_chapter,
      scoreable_id: item.project_media_id,
      scoreable_type: `App\\Media`,
      create_at: item.project_to,
      score: +event.target.value
    });
  }

  async mounted() {
    if (this.userSessions) {
      this.sessions = this.userSessions;
    }
  }
}
</script>
