<template lang="pug">
    .user-activity
      .vgt-responsive
        table.vgt-table.bordered 
          thead
            tr
              th
                span.text-sm ID
              th
                span.text-sm {{$t('month')}}
              th
                span.text-sm {{$t('year')}}
              th
                span.text-sm {{$t('in_emas')}}
              th
                span.text-sm {{$t('in_social')}}
              th
                span.text-sm {{$t('in_vebinar')}}
              th
                span.text-sm {{$t('score_online')}}
              th
                span.text-sm {{$t('score_graph')}}
              th
                span.text-sm {{$t('network')}}
              th
                span.text-sm {{$t('prod_emas')}}
              th
                span.text-sm {{$t('business_emas')}}
          tbody
            tr(v-for="item in activity")
              td
                span {{item.id}}
              td
                span {{new Date(item.date).getMonth() + 1}}
              td
                span {{new Date(item.date).getFullYear()}}
              td
                TextField(type="number" v-model="item.mba")
              td
                TextField(type="number" v-model="item.out")
              td
                TextField(type="number" v-model="item.webinar")
              td
                TextField(type="number" v-model="item.visiting")
              td
                TextField(type="number" v-model="item.full_time")
              td
                TextField(type="number" v-model="item.networking")
              td
                TextField(type="number" v-model="item.prodvizhenie_mba")
              td
                TextField(type="number" v-model="item.sodeistv")
      Button(@click="onEditActivity" :loading="isLoading") {{$t('save')}}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Button, TextField } from "@/UI";
import { UserInterface } from "@/helpers/types";
import { Action, Getter } from "vuex-class";
import MembersList from "@/components/MembersList.vue";
import Table from "@/UI/Table/Table.vue";

const columns = [
  {
    field: "name",
    label: "Наименование программы",
    sortable: false
  },
  {
    field: "duration",
    label: "Продолжительность",
    sortable: false
  }
];

@Component({
  components: {
    Table,
    MembersList,
    Button,
    TextField
  }
})
export default class UserPrograms extends Vue {
  @Prop({ required: true }) data!: UserInterface;
  @Action getSocialActivity!: (user: UserInterface) => Promise<void>;
  @Action editUserActivity!: (params: any) => Promise<void>;
  @Getter("getterSocialActivity") activity!: any[];
  public isLoading = false;
  async created() {
    await this.getSocialActivity(this.data);
  }
  public async onEditActivity() {
    this.isLoading = true;
    await this.activity.forEach(item => {
      const params = {
        id: item.user_id,
        social: item.id,
        mba: item.mba,
        out: item.out,
        webinar: item.webinar,
        visiting: item.visiting,
        full_time: item.full_time
      };
      this.editUserActivity(params);
    });
    this.isLoading = false;
  }
}
</script>
