<template lang="pug">
    form.user-general(@keydown="hasChanged=true")
        //Button(@click="onEdit"  v-if="hasChanged" type="button").floating_button {{$t('save')}}
          Password.password(v-model="oldpass" type="password" name="oldpass")
        FormItem(:label="$t('New_password')")
          Password.password(v-model="newpass" type="password" name="newpass")
        FormItem(:label="$t('Repeat_new_password')")
          Password.password(v-model="confirmnewpass" type="password" name="confirmnewpass")
        FormItem(:label="$t('Change_password')")
          Button(@click="OnChangePass" type="button") {{$t('Change_password')}}
        FormItem(:label="$t('send_email_welcome')")
          Button(@click="sendWelcome" type="button") {{$t('send_email_welcome')}}
        FormItem(:label="$t('lang')" :required="true")
            Select(v-model="selectedLang" name="lang" track-by="value" label="label" :options="langSelect" @change="langChange")
        FormItem(:label="$t('users.role')" :required="true")
            Select(v-model="selectedRole" name="role" track-by="value" label="label" :options="roleSelect" @change="roleChange")
        FormItem(:label="$t('users.login')" :required="true")
            TextField(v-model="data.name" name="name")
        FormItem(:label="$t('users.surname')" :required="true")
            TextField(v-model="data.last_name" name="last_name")
        FormItem(:label="$t('users.name')" :required="true")
            TextField(v-model="data.first_name" name="first_name")
        FormItem(:label="$t('users.patronymic')")
            TextField(v-model="data.patronymic" name="patronymic")
        FormItem(:label="$t('email')" :required="true")
            TextField(v-model="data.email" name="email")
        FormItem(:label="$t('users.birthdate')")
            Datepicker(
                v-model="data.birthday_date" @change="onDateChange" format="YYYY-MM-DD" type="date" cant="true")
            span.form-value {{data.birthday_date | moment("DD.MM.YYYY")}}
        FormItem(:label="$t('users.sex')")
            Select(v-model="selectedGender" name="gender" :options="genderSelect" @change="genderChange" label="label" track-by="value")
        FormItem(:label="$t('users.phone')")
            TextField(v-model="data.phone" name="phone")
        FormItem(:label="$t('work_exp')")
            TextField(v-model="data.work_exp" name="work_exp")
        FormItem(:label="$t('manage_exp')")
            TextField(v-model="data.manage_exp" name="manage_exp")
        FormItem(:label="$t('company_sphere')")
            TextField(v-model="data.company_activity" name="company_activity")
        FormItem(:label="$t('position')")
            TextField(v-model="data.position_company" name="position_company")
        FormItem(:label="$t('users.citizenship')")
            TextField(v-model="data.citizenship" name="citizenship")
        FormItem(label="Instagram")
            TextField(v-model="data.inst" name="inst")
        FormItem(label="VK")
            TextField(v-model="data.vk" name="vk")
        FormItem(label="Facebook")
            TextField(v-model="data.facebook" name="facebook")
        FormItem(label="Linkedin")
            TextField(v-model="data.linkedin" name="linkedin")
        FormItem(label="Twitter")
            TextField(v-model="data.twitter" name="twitter")
        FormItem(:label="$t('comment')")
            TextField(v-model="data.comment" name="comment" type="textarea")
</template>

<script lang="ts">
import DatePickerTwo from "vue2-datepicker";
import { Component, Prop, Vue } from "vue-property-decorator";
import {
  Button,
  Datepicker,
  FormItem,
  Loader,
  Page,
  PageEditHeader,
  PageEditTabs,
  Picture,
  Select,
  Separator,
  TabContent,
  TabHeader,
  Tabs,
  TextField,
  Title,
  Password
} from "@/UI";
import { UserInterface } from "@/helpers/types";
import Avatar from "@/modules/Avatar.vue";
import { Action, Getter } from "vuex-class";
@Component({
  components: {
    Select,
    TabHeader,
    Separator,
    PageEditTabs,
    PageEditHeader,
    Page,
    Avatar,
    TextField,
    FormItem,
    Title,
    Loader,
    Tabs,
    TabContent,
    Button,
    Picture,
    Datepicker,
    DatePickerTwo,
    Password
  }
})
export default class UserGeneral extends Vue {
  @Prop({ required: true }) data!: UserInterface;
  @Action changePass!: (params: any) => Promise<void>;
  @Action sendWelcomeEmail!: (id: number) => Promise<void>;
  public selectedGender: object = {};
  public selectedRole: object = {};
  public oldpass = "";
  public newpass = "";
  public confirmnewpass = "";
  public selectedLang: object = {};
  public async OnChangePass() {
    await this.changePass({
      password: this.newpass,
      confirm_password: this.confirmnewpass,
      user_id: this.data.id
    });
  }
  public async sendWelcome() {
    await this.sendWelcomeEmail(this.data.id as any);
  }
  public changeDate(value: any) {
    this.data.date_block = value;
    this.hasChanged = true;
  }
  @Action editUser!: (user: UserInterface) => Promise<void>;
  public isLoading = false;
  public hasChanged = false;
  public async onEdit() {
    if (this.data) {
      try {
        this.isLoading = true;

        await this.editUser(this.data);
        this.isLoading = false;
      } catch {
        this.isLoading = false;
      }
    }
  }
  get isAdmin() {
    return this.$store.getters.isAdmin;
  }
  get isSuperAdmin() {
    return this.$store.getters.isSuperAdmin;
  }
  get isModerator() {
    return this.$store.getters.isModerator;
  }
  public roleSelect = [
    {
      value: "superadmin",
      label: this.$t("users.superadmin"),
      ...(!this.isSuperAdmin && {
        $isDisabled: true
      })
    },
    {
      value: "admin",
      label: this.$t("users.admin"),
      ...(!this.isAdmin && !this.isSuperAdmin && {
        $isDisabled: true
      })
    },
    {
      value: "moderator",
      label: this.$t("users.moderator"),
      ...(!this.isModerator && !this.isAdmin && !this.isSuperAdmin && {
        $isDisabled: true
      })
    },
    {
      value: "trainer",
      label: this.$t("users.trainer")
    },
    {
      value: "student",
      label: this.$t("users.student")
    }
  ];
  public langSelect = [
    {
      value: "en",
      label: this.$t("en")
    },
    {
      value: "ru",
      label: this.$t("ru")
    }
  ];
  private async roleChange(value: any) {
    this.selectedRole = value;
    this.data.role_slug = value.value;
  }
  private langChange(value: any) {
    this.data.lang = value.value;
  }

  public genderSelect = [
    {
      value: "Male",
      label: this.$t("male")
    },
    {
      value: "Female",
      label: this.$t("female")
    }
  ];
  public created() {
    switch (this.data.role_slug) {
      case "superadmin":
        this.selectedRole = {
          value: "superadmin",
          label: this.$t("users.superadmin")
        };
        break;
      case "admin":
        this.selectedRole = {
          value: "admin",
          label: this.$t("users.admin")
        };
        break;
      case "student":
        this.selectedRole = {
          value: "student",
          label: this.$t("users.student")
        };
        break;
      case "moderator":
        this.selectedRole = {
          value: "moderator",
          label: this.$t("users.moderator")
        };
        break;
      case "trainer":
        this.selectedRole = {
          value: "trainer",
          label: this.$t("users.trainer")
        };
        break;
    }
    switch (this.data.gender) {
      case "Male":
        this.selectedGender = {
          label: this.$t("male"),
          value: "Male"
        };
        break;
      case "Female":
        this.selectedGender = {
          label: this.$t("female"),
          value: "Female"
        };
        break;
    }
    switch (this.data.lang) {
      case "en":
        this.selectedLang = {
          value: "en",
          label: this.$t("en")
        };
        break;
      case "ru":
        this.selectedLang = {
          value: "ru",
          label: this.$t("ru")
        };
        break;
    }
  }

  public genderChange(value: any) {
    this.selectedGender = value;
    this.data.gender = value.value;
    this.hasChanged = true;
  }
  
  public onDateChange(value: any) {
    this.data.birthday_date = value;
    this.hasChanged = true;
  }
}
</script>
