<template lang="pug">
    form.user-company(@keydown="hasChanged=true")
        //Button(@click="onEdit"  v-if="hasChanged" type="button").floating_button {{$t('save')}}
        FormItem(:label="$t('pay_company')")
            //Checkbox(v-model="isCompany")
            label.checkbox
                input.checkbox__input(@change="changeCompany" v-model="data.companyPayment" type="checkbox")
                span.checkbox__mark(aria-hidden="true")
                span.checkbox__label
        div(v-if="data.companyPayment")
            FormItem(:label="$t('Name_of_the_organization')")
                TextField(v-model="data.CP_name" name="CP_name")
            FormItem(:label="$t('Legal_address')")
                TextField(v-model="data.CP_lawaddress" name="CP_lawaddress")
            FormItem(:label="$t('Postal_address')")
                TextField(v-model="data.CP_postaddress" name="CP_postaddress")
            FormItem(:label="$t('General_manager')")
                TextField(v-model="data.CP_ceo" name="CP_ceo")
            FormItem(:label="$t('inn')")
                TextField(v-model="data.CP_inn" name="CP_inn")
            FormItem(:label="$t('kpp')")
                TextField(v-model="data.CP_kpp" name="CP_kpp")
            FormItem(:label="$t('ogrn')")
                TextField(v-model="data.CP_ogrn" name="CP_ogrn")
            FormItem(:label="$t('bank')")
                TextField(v-model="data.CP_bank" name="CP_bank")
            FormItem(:label="$t('bik')")
                TextField(v-model="data.CP_bik" name="CP_bik")
            FormItem(:label="$t('rs')")
                TextField(v-model="data.CP_rs" name="CP_rs")
            FormItem(:label="$t('Position_of_the_head_of_the_organization')")
                TextField(v-model="data.CP_ceo" name="CP_ceo")
            FormItem(:label="$t('Full_name_of_the_head_of_the_organization')")
                TextField(v-model="data.CP_ceofio" name="CP_ceofio")
            FormItem(:label="$t('Type_of_the_constituent_document_of_the_organization')")
                TextField(v-model="data.CP_doc" name="CP_doc")
            FormItem(:label="$t('Type_of_the_certifying_document')")
                TextField(v-model="data.typeID" name="typeID")
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import {
  Button,
  Datepicker,
  FormItem,
  Loader,
  Page,
  PageEditHeader,
  PageEditTabs,
  Picture,
  Select,
  Separator,
  TabContent,
  TabHeader,
  Tabs,
  TextField,
  Checkbox,
  Title
} from "@/UI";
import { UserInterface } from "@/helpers/types";
import Avatar from "@/modules/Avatar.vue";
import { Action, Getter } from "vuex-class";
@Component({
  components: {
    Select,
    TabHeader,
    Separator,
    PageEditTabs,
    PageEditHeader,
    Page,
    Avatar,
    TextField,
    FormItem,
    Title,
    Loader,
    Tabs,
    TabContent,
    Checkbox,
    Button,
    Picture,
    Datepicker
  }
})
export default class UserCompany extends Vue {
  @Prop({ required: true }) data!: UserInterface;
  public isCompany = false;
  @Action editUser!: (user: UserInterface) => Promise<void>;
  public isLoading = false;
  public hasChanged = false;
  public async onEdit() {
    if (this.data) {
      try {
        this.isLoading = true;

        await this.editUser(this.data);
        this.isLoading = false;
      } catch {
        this.isLoading = false;
      }
    }
  }
  public changeCompany() {
    this.hasChanged = true;
  }
}
</script>
