<template lang="pug">
    form.user-address(@keydown="hasChanged=true")
        //Button(@click="onEdit" v-if="hasChanged" type="button").floating_button {{$t('save')}}
        FormItem(:label="$t('users.country')")
            TextField(v-model="data.country" name="country")
        FormItem(:label="$t('users.city')")
            TextField(v-model="data.city" name="city")
        FormItem(:label="$t('users.street')")
            TextField(v-model="data.street" name="street")
        FormItem(:label="$t('users.house')")
            TextField(v-model="data.house" name="house")
        //FormItem(:label="$t('users.building')")
            TextField(v-model="data.housing" name="housing")
        FormItem(:label="$t('users.apartment')")
            TextField(v-model="data.apartment" name="apartment")
        //FormItem(:label="$t('users.postalcode')")
            TextField(v-model="data.zip" name="zip")
        
        
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import {
  Button,
  Datepicker,
  FormItem,
  Loader,
  Page,
  PageEditHeader,
  PageEditTabs,
  Picture,
  Select,
  Separator,
  TabContent,
  TabHeader,
  Tabs,
  TextField,
  Title
} from "@/UI";
import { UserInterface } from "@/helpers/types";
import Avatar from "@/modules/Avatar.vue";
import { Action, Getter } from "vuex-class";
@Component({
  components: {
    Select,
    TabHeader,
    Separator,
    PageEditTabs,
    PageEditHeader,
    Page,
    Avatar,
    TextField,
    FormItem,
    Title,
    Loader,
    Tabs,
    TabContent,
    Button,
    Picture,
    Datepicker
  }
})
export default class UserAddress extends Vue {
  @Prop({ required: true }) data!: UserInterface;
  @Action editUser!: (user: UserInterface) => Promise<void>;
  public isLoading = false;
  public hasChanged = false;
  public async onEdit() {
    if (this.data) {
      try {
        this.isLoading = true;

        await this.editUser(this.data);
        this.isLoading = false;
      } catch {
        this.isLoading = false;
      }
    }
  }
}
</script>
