<template lang="pug">
    Loader(v-if="loading")
    .user-general(v-else)
        div(v-if="data.programView && data.format && formatForUser && data.priceSelected && data.currency && data.payment")
          FormItem(:label="$t('program')" v-if="data.programView").disabled
              TextField(v-model="data.programView" name="programView" disabled)
          FormItem(:label="$t('Learning_format')").disabled
              TextField(v-model="formatForUser" name="format" disabled)
          FormItem(:label="$t('Sum_of_learning')").disabled
              TextField(v-model="data.priceSelected" name="price" disabled)
          FormItem(:label="$t('curr_payment')").disabled
              TextField(v-model="data.currency" name="curr" disabled)
          FormItem(:label="$t('Payment_options')").disabled
            TextField(v-model="data.payment" name="payment" disabled)
          FormItem(:label="$t('need_to_pay')").disabled
            TextField(v-model="data.lostPayment" name="needToPay" disabled)
        div(v-else)
          FormItem(:label="$t('select_program')")
              Select(v-model="selectedProgram" name="program" track-by="lang" label="name" :options="emasProgramss" @change="programChange")
          FormItem(v-if="selectedProgram.name" :label="$t('Select_Learning_format')")
              Select(v-model="selectedFormat" name="format" track-by="value" label="label" :options="formatselect" @change="formatChange")
          FormItem(v-if="priceForFormat !== ''" :label="$t('Sum_of_learning')")
              TextField(v-model="priceForFormat" name="price" disabled)
          FormItem(v-if="priceForFormat !== ''" :label="$t('curr_payment')")
              TextField(v-model="data.currency" name="curr" disabled)
          FormItem(:label="$t('Payment_options')")
            //Select(
            //    v-model="data.payment"
            //    :value="data.payment"
            //    :options="priceSelect"
            //)
            SelectPayment(
              v-model="selectedPrice"
              :value="selectedPrice"
              name="payment"
              :options="priceSelect"
              @change="paymentChange"
              label="label"
              track-by="value")
</template>

<script lang="ts">
import DatePickerTwo from "vue2-datepicker";
import filter from "lodash/filter";
import reject from "lodash/reject";
import { Action, Getter } from "vuex-class";
import { Component, Prop, Vue } from "vue-property-decorator";
import SelectPayment from "@/UI/SelectScore.vue";
import {
  Button,
  Datepicker,
  FormItem,
  Loader,
  Page,
  PageEditHeader,
  PageEditTabs,
  Picture,
  Select,
  Separator,
  TabContent,
  TabHeader,
  Tabs,
  TextField,
  Title
} from "@/UI";
import { UserInterface } from "@/helpers/types";
import Avatar from "@/modules/Avatar.vue";
import find from "lodash/find";

@Component({
  components: {
    Select,
    SelectPayment,
    TabHeader,
    Separator,
    PageEditTabs,
    PageEditHeader,
    Page,
    Avatar,
    TextField,
    FormItem,
    Title,
    Loader,
    Tabs,
    TabContent,
    Button,
    Picture,
    Datepicker,
    DatePickerTwo
  }
})
export default class UserGeneral extends Vue {
  @Prop({ required: true }) data!: UserInterface;
  @Action getEmasPrograms!: () => Promise<void>;
  @Getter("getterEmasPrograms") emasPrograms!: Array<any>;
  public selectedProgram: any[] = [];
  public selectedFormat: any[] = [];
  public priceForFormat = "";
  public emasProgramss: any[] = [];
  public formatselect = [
    {
      value: "full-time",
      label: this.$t("Full_time")
    },
    {
      value: "blended",
      label: this.$t("Blended")
    },
    {
      value: "online",
      label: this.$t("Online")
    }
  ];
  public formatForUser: string = "";
  public selectedPrice: any = null;
  public priceSelect = [
    {
      value: 0,
      label: "Prepayment"
    },
    {
      value: 6,
      label: "installment_plan_6_months"
    },
    {
      value: 12,
      label: "installment_plan_12_months"
    },
    {
      value: 18,
      label: "installment_plan_1_5_years"
    },
    {
      value: 24,
      label: "installment_plan_24_months"
    },
    {
      value: 36,
      label: "installment_plan_36_months"
    }
  ];
  public loading = false;
  async created() {
    this.loading = true;
    if (this.data) {
      await this.getEmasPrograms();
      this.emasProgramss = this.emasPrograms;

      //console.log(filtered);
      if (this.data.programView) {
        if (this.data.format === "full-time") {
          this.formatForUser = String(this.$t("Full_time"));
        } else if (this.data.format === "blended") {
          this.formatForUser = String(this.$t("Blended"));
        } else if (this.data.format === "online") {
          this.formatForUser = String(this.$t("Online"));
        }
      }
      console.log(this.data.payment)
      if (this.data.payment !== null) {
        this.selectedPrice = find(this.priceSelect, i => {
          return i.value === this.data.payment;
        });
      }
    }
    this.loading = false;
  }
  public changeDate(value: any) {
    this.data.date_block = value;
  }
  public onDateChange(value: any) {
    this.data.birthday_date = value;
  }

  public paymentChange(value: any) {
    this.data.payment = value.value;
  }

  public programChange(value: any) {
    this.selectedProgram = value;
    this.data.programView = value.name;
  }
  public formatChange(value: any) {
    this.selectedFormat = value;
    if (value.value === "full-time") {
      this.priceForFormat = (this
        .selectedProgram as any).settings[0].price_full;
      this.data.currency = (this.selectedProgram as any).settings[0].curr;
      this.data.priceSelected = (this
        .selectedProgram as any).settings[0].price_full;
      this.data.currency = (this.selectedProgram as any).settings[0].curr;
    } else if (value.value === "blended") {
      this.priceForFormat = (this
        .selectedProgram as any).settings[0].price_online;
      this.data.currency = (this.selectedProgram as any).settings[0].curr;
      this.data.priceSelected = (this
        .selectedProgram as any).settings[0].price_online;
      this.data.currency = (this.selectedProgram as any).settings[0].curr;
    } else if (value.value === "online") {
      this.priceForFormat = (this
        .selectedProgram as any).settings[0].price_dist;
      this.data.currency = (this.selectedProgram as any).settings[0].curr;
      this.data.priceSelected = (this
        .selectedProgram as any).settings[0].price_dist;
      this.data.currency = (this.selectedProgram as any).settings[0].curr;
    }
    this.data.format = value.value;
    this.$events.$emit("unsetDisable");
  }
}
</script>
