<template lang="pug">
    .user-contract
        Title(:offset="true") {{$t('contract')}}
        FormItem(:label="$t('program_site')")
            TextField(v-model="data.programView" name="programView")
        FormItem(:label="$t('program')" v-if="courses && selectedprogramGraph")
            SelectSearch(
                v-model="selectedprogramGraph"
                :options="courses.data"
                :placeholder="$t('select_one')"
                label="name"
                track-by="id"
                @search-change="asyncFind"
                @change="courseChange"
            )
        FormItem(:label="$t('Learning_format')")
            Select(v-model="selectedformat" name="format" track-by="value" label="label" :options="formatselect" @change="formatChange")
        FormItem(:label="$t('Start_date')")
            //Datepicker(
                v-model="data.date_start" @change="onDateStartChange" format="YYYY-MM-DD" type="date" name="date_start" cant="true")
                span.form-value {{data.date_start  | moment("DD.MM.YYYY")}}
            DatepickerMain.w-full(v-model="data.date_start" @change="dateChange($event, 'date_start')")
        FormItem(:label="$t('Duration_of_study')")
            Select(v-model="selectedTime" name="duration" track-by="value" label="label" :options="timeSelect" @change="timeChange")
        FormItem(:label="$t('contact_num')")
            TextField(v-model="data.d_num" name="d_num")
        FormItem(:label="$t('contact_date')")
            //Datepicker(
                v-model="data.d_date" @change="onDateChange" format="YYYY-MM-DD" type="date" name="d_date" cant="true")
                span.form-value {{data.d_date  | moment("DD.MM.YYYY")}}
            DatepickerMain.w-full(v-model="data.d_date" @change="dateChange($event, 'd_date')")
        FormItem(:label="$t('date_block')")
            //Datepicker( v-model="data.date_block" @change="dateBlockChange" format="YYYY-MM-DD" type="date" cant="true")
              span.form-value {{data.date_block | moment("DD.MM.YYYY")}}
            DatepickerMain.w-full(v-model="data.date_block" @change="dateChange($event, 'date_block')")
        FormItem(:label="$t('date_termination')")
            //Datepicker( v-model="data.date_termination" @change="dateTermChange" format="YYYY-MM-DD" type="date" cant="true")
            //span.form-value {{data.date_termination | moment("DD.MM.YYYY")}}
            DatepickerMain.w-full(v-model="data.date_termination" @change="dateChange($event, 'date_termination')")
        FormItem(v-if="data.date_termination")
            Button(@click="DownloadTermFile") {{$t('doc_term')}}
        FormItem(:label="$t('select_company_for_pay')")
          Select(
              v-model="data.nameOrgan"
              :value="data.nameOrgan"
              :options="['EMAS', 'Eurasion']"
          )
        FormItem(:label="$t('Total_cost')")
            TextField(v-model="data.priceSelected" name="priceSelected")
        FormItem(:label="$t('curr_payment')")
            Select(v-model="selectedCurrency" track-by="value" :placeholder="$t('curr_payment')" label="label" :options="currencies" @change="currencyChange")
        FormItem(:label="$t('Payment_options')")
            Select(v-model="selectedPrice" name="payment" track-by="value" label="label" :options="priceSelect" @change="priceChange")
        FormItem(:label="$t('no_notify')")
            //Checkbox(v-model="data.no_notifications" name="no_notifications")
            label.checkbox
              input.checkbox__input(@change="changePay" v-model="data.no_notifications" type="checkbox" name="no_notifications")
              span.checkbox__mark(aria-hidden="true")
              span.checkbox__label
        
        FormItem(:label="$t('reset_installment')")
            Button(@click="openResetModal") {{this.$t('reset_installment')}}
            span.ml-2.text-red-600.font-medium {{this.$t('reset_installment_desc')}}
        Title(:offset="true") {{$t(data.payment)}}
        .act_payment.flex-wrap
          .item(v-for="(item, index) in data.payments" :key="index" class="w-1/3 p-2")
            .title {{$t('payment')}} {{index + 1}}
            .content
              .content_item
                .label {{$t('paid')}}
                .value
                  label.checkbox
                    Select(
                        v-model="item.status"
                        :value="item.status"
                        :options="['plan', 'paid']"
                    )
              .content_item
                .label {{$t('summ')}}
                .value
                  TextField(v-model="item.payment" :name="'payment_part_sum_'+ index" @change="editPayment")
              .content_item
                .label {{$t('date')}}
                .value
                  span.form-value {{item.date  | moment("DD.MM.YYYY")}}
                  DatepickerMain.w-full(v-model="item.date" @change="changeDate($event, index)" :name="'payment_part_date_'+ index")
        Title(:offset="true") {{$t('documents')}}
        .documents-links
            a(v-for="(document, index) in data.documents" :key="index" @click="downloadFile(document)" class="button button--primary")
              template(v-if="document.v") {{ document.name }} №{{document.v}}
              template(v-else) {{ document.name }}
        Title(:offset="true") {{$t('files')}}
        //.documents-links
        //    a(v-for="(document, index) in data.media" :key="index" @click="downloadFile(document)" class="button button--primary")
        //      template(v-if="document.name === 'Акт оказанных услуг № '") {{ document.name }} {{document.v}}
        //      template(v-else) {{ document.name }}
        ul.grid.grid-cols-1.gap-6(class='sm:grid-cols-2 lg:grid-cols-3')
          li.col-span-1.bg-white.rounded-lg.shadow.divide-y.divide-gray-200(v-for='(item,index) in data.media' :key='index')
            .w-full.flex.items-center.justify-between.p-6.space-x-6
              .flex-1.truncate
                .flex.items-center.space-x-3.justify-between
                  h3.text-gray-900.text-sm.font-medium.truncate {{ item.file_name }}
                  span.flex-shrink-0.inline-block.px-2.text-green-800.text-xs.font-medium.bg-green-100.rounded-full(class='py-0.5') {{ $t(makeFormattedMediaType(item.mime_type)) }}
                p.mt-1.text-gray-500.text-sm.truncate 123
            div
              .-mt-px.flex.divide-x.divide-gray-200
                .w-0.flex-1.flex
                  span.cursor-pointer.relative.-mr-px.w-0.flex-1.inline-flex.items-center.justify-center.py-4.text-sm.text-gray-700.font-medium.border.border-transparent.rounded-bl-lg(class='hover:text-gray-500' @click="DownloadMedia(item)") {{$t('Download')}}
                .-ml-px.w-0.flex-1.flex
                  span.cursor-pointer.relative.w-0.flex-1.inline-flex.items-center.justify-center.py-4.text-sm.text-gray-700.font-medium.border.border-transparent.rounded-br-lg(class='hover:text-gray-500' @click="OpenMedia(item)") {{$t('open')}}
        Modal(name="confirm-reset" :title="$t('reset_installment')")
            p {{this.$t('reset_installment_text')}}
            template(slot='footer')
                Button(@click="reset(data.id)") {{$t('confirm')}}
</template>

<script lang="ts">
import Vue2DatePicker from "vue2-datepicker";
import find from "lodash/find";
import { Getter, Action } from "vuex-class";
import { makeQueryURL } from "@/helpers/utils/functions";
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import {
  makeFormattedMediaType,
  StringToDate,
  DateToString
} from "@/helpers/utils/functions";
import {
  Button,
  Checkbox,
  Datepicker,
  FormItem,
  Loader,
  Page,
  PageEditHeader,
  PageEditTabs,
  Picture,
  Select,
  SelectSearch,
  Separator,
  TabContent,
  TabHeader,
  Tabs,
  TextField,
  Title,
  Modal,
  DatepickerMain
} from "@/UI";
import {
  Maybe,
  DataInterface,
  CourseInterface,
  UserInterface
} from "@/helpers/types";
import Avatar from "@/modules/Avatar.vue";
import Multiselect from "vue-multiselect";
import { downloaderUserDoc } from "@/helpers/utils/downloaderUserDoc";
import { downloader } from "@/helpers/utils/downloader";
import { downloaderTwo } from "@/helpers/utils/downloaderTwo";

const moment = require("moment");

@Component({
  components: {
    Select,
    Checkbox,
    SelectSearch,
    TabHeader,
    Separator,
    PageEditTabs,
    PageEditHeader,
    Page,
    Avatar,
    TextField,
    FormItem,
    Title,
    Loader,
    Tabs,
    TabContent,
    Button,
    Picture,
    Datepicker,
    Multiselect,
    Modal,
    Vue2DatePicker,
    DatepickerMain
  }
})
export default class UserContract extends Vue {
  @Action fetchCourses!: (params?: string) => Promise<void>;
  @Action resetPayment!: (id: number) => Promise<void>;
  @Action editUser!: (user: UserInterface) => Promise<void>;
  @Action getAdminUserPlan!: (id: number) => Promise<void>;

  @Getter("getCourses") courses!: Maybe<DataInterface<CourseInterface[]>>;
  @Prop({ required: true }) data!: UserInterface;

  public isLoading = false;
  public hasChanged = false;

  currencies = [
    {
      value: "ru",
      label: "RUB"
    },
    {
      value: "euro",
      label: "EURO"
    },
    {
      value: "usd",
      label: "USD"
    }
  ];

  public makeFormattedMediaType(type: string): string {
    return makeFormattedMediaType(type);
  }

  public StringToDate(date: string): string {
    return StringToDate(date);
  }

  public DateToString(date: string): string {
    return DateToString(date);
  }

  public async onEdit() {
    if (this.data) {
      try {
        this.isLoading = true;

        await this.editUser(this.data);
        this.isLoading = false;
      } catch {
        this.isLoading = false;
      }
    }
  }

  public async DownloadMedia(media: any) {
    await downloaderTwo(media.id);
  }

  public async OpenMedia(media: any) {
    await downloader(media.id);
  }

  public async changeDate(event: any, index: number) {
    event = StringToDate(event);
    //this.data.payments[index].date = event;
    await this.editPayment();
    this.$events.$emit("updateUserData");
  }

  public DownloadTermFile() {
    downloader(
      210,
      id => `/admin/document/210/download`,
      "Справка для недоучив"
    );
  }

  public dateBlockChange(value: any) {
    this.data.date_block = value;
  }

  public dateChange(value: any, dateName: string) {
    (this.data as any)[dateName] = value;
  }

  @Watch("data.date_termination")
  public ChangeDateFormatTerm(newVal: any, oldVal: any) {
    this.data.date_termination = this.StringToDate(newVal);
  }
  @Watch("data.d_date")
  public ChangeDateFormatDDate(newVal: any, oldVal: any) {
    this.data.d_date = this.StringToDate(newVal);
  }
  @Watch("data.date_block")
  public ChangeDateFormatBlock(newVal: any, oldVal: any) {
    this.data.date_block = this.StringToDate(newVal);
  }
  @Watch("data.date_start")
  public ChangeDateFormatStart(newVal: any, oldVal: any) {
    this.data.date_start = this.StringToDate(newVal);
  }
  @Watch("data.payments", { deep: true })
  public ChangeDateFormatPayment(newVal: any, oldVal: any) {
    newVal.forEach((element: { data: string }) => {
      element.data = this.StringToDate(element.data);
    });
  }

  public async reset(id: number) {
    await this.resetPayment(id);
    this.$events.$emit("updateUserData");
    this.$modal.hide("confirm-reset");
  }

  public openResetModal() {
    this.$modal.show("confirm-reset");
  }

  public selectedprogramGraph: Array<any> = [];
  public selectedformat: Array<any> = [];
  public selectedTime: Array<any> = [];
  public selectedPrice: Array<any> = [];
  selectedCurrency: Array<any> = [];
  public selectedPayment: Array<any> = [];
  public on = "on";
  public off = "off";

  public priceSelect = [
    {
      value: 0,
      label: this.$t("Prepayment")
    },
    {
      value: 6,
      label: this.$t("installment_plan_6_months")
    },
    {
      value: 12,
      label: this.$t("installment_plan_12_months")
    },
    {
      value: 18,
      label: this.$t("installment_plan_1_5_years")
    },
    {
      value: 24,
      label: this.$t("installment_plan_24_months")
    },
    {
      value: 36,
      label: this.$t("installment_plan_36_months")
    }
  ];
  public studyTimeSelect = [
    {
      value: 0,
      label: this.$t("Prepayment")
    },
    {
      value: 6,
      label: this.$t("months_6")
    },
    {
      value: 12,
      label: this.$t("years_1")
    },
    {
      value: 18,
      label: this.$t("months_18")
    },
    {
      value: 24,
      label: this.$t("years_2")
    },
    {
      value: 36,
      label: this.$t("years_3")
    }
  ];

  private paymentChange(value: any) {
    this.data.payment = value.value;
  }

  public downloadFile(document: any) {
    if (document.v) {
      downloaderUserDoc(
        document.id,
        `/api/document/generation/${document.id}?user_id=${this.data.id}&v=${document.v}`
      );
    } else {
      downloaderUserDoc(
        document.id,
        `/api/document/generation/${document.id}?user_id=${this.data.id}`
      );
    }
  }

  public timeSelect = [
    {
      value: 6,
      label: this.$t("months_6")
    },
    {
      value: 12,
      label: this.$t("years_1")
    },
    {
      value: 18,
      label: this.$t("months_18")
    },
    {
      value: 24,
      label: this.$t("years_2")
    },
    {
      value: 36,
      label: this.$t("years_3")
    }
  ];

  public formatselect = [
    {
      value: "full-time",
      label: this.$t("Full_time")
    },
    {
      value: "blended",
      label: this.$t("Blended")
    },
    {
      value: "online",
      label: this.$t("Online")
    }
  ];

  public async editPayment() {
    if (this.data) {
      try {
        this.isLoading = true;
        await this.editUser(this.data);
        this.isLoading = false;
      } catch {
        this.isLoading = false;
      }
    }
  }

  public serverParamsOnFetch = {
    sort: [],
    searchTerm: "",
    page: 1,
    perPage: 999
  };

  //public beforeCreate() {
  //  if (this.data) {
  //    this.data.date_termination = moment(this.data.date_termination).format("DD.MM.YYYY")
  //  }
  //  console.log("beforeCreate()")
  //}

  public async created() {
    if (this.data) {
      this.data.date_termination = moment(this.data.date_termination).format(
        "DD.MM.YYYY"
      );
      this.data.d_date = moment(this.data.d_date).format("DD.MM.YYYY");
      this.data.date_block = moment(this.data.date_block).format("DD.MM.YYYY");
      this.data.date_start = moment(this.data.date_start).format("DD.MM.YYYY");
    }

    if (this.data.payments?.length){
      this.data.payments.forEach((element) => {
        element.date = this.StringToDate(element.date);
      });
    }
    await this.fetchCourses(makeQueryURL(this.serverParamsOnFetch));

    if (this.courses) {
      if (this.data) {
        if (this.data.programGraph) {
          //ищем программу и кидаем её в выбранное
          const findItemProgram = find(this.courses.data, i => {
            return i.id === Number(this.data.programGraph);
          });
          this.selectedprogramGraph.push(findItemProgram);
        }
        if (this.data.format) {
          //ищем формат обучения и кидаем в выбранное
          const findItemFormat = find(this.formatselect, i => {
            return i.value === this.data.format;
          });
          this.selectedformat.push(findItemFormat);
        }
        if (this.data.duration) {
          //ищем время обучения и кидаем в выбранное
          const findItemTime = find(this.timeSelect, i => {
            return i.value === this.data.duration;
          });
          this.selectedTime.push(findItemTime);
        }
        if (this.data.payment) {
          //ищем время обучения и кидаем в выбранное
          const findItemPayment = find(this.priceSelect, i => {
            return i.value === this.data.payment;
          });
          this.selectedPrice.push(findItemPayment);
        }
        if (this.data.currency) {
          const foundCurrency = this.currencies.find(
            ({ value }) => value === this.data.currency
          );
          this.selectedCurrency.push(foundCurrency);
        }
      }
    }
  }

  public serverParams = {
    sort: [],
    searchTerm: "",
    page: 1,
    perPage: this.courses?.total
  };

  public updateParams(newParams: any) {
    this.serverParams = Object.assign({}, this.serverParams, newParams);
  }

  public asyncFind(searchTerm: any) {
    this.isLoading = true;
    this.updateParams({ searchTerm });
    this.updateParams({ perPage: (this.courses as any).total });
    this.fetchCourses(makeQueryURL(this.serverParams));
    this.isLoading = false;
  }

  private timeChange(value: any) {
    this.data.duration = value.value;
  }

  private priceChange(value: any) {
    this.data.payment = value.value;
  }

  currencyChange({ value }: any) {
    this.data.currency = value;
  }

  formatChange(value: any) {
    this.data.format = value.value;
  }

  async courseChange(selectedOption: any) {
    this.hasChanged = true;
    this.data.programGraph = selectedOption.id;
    if (this.hasChanged) {
      await this.getAdminUserPlan(this.data.id!);
    }
  }

  public selectCourses: any[] = [];

  public onDateChange(value: any) {
    this.data.d_date = value;
  }

  public changePay() {}

  public onDateStartChange(value: any) {
    this.data.date_start = value;
  }

  public changePayment(value: any) {
    console.log(value);
  }
}
</script>
<style lang="scss">
.act_payment {
  display: flex;
  @include card;
  padding: $offset2x;
}

.act_payment .item .content {
  margin-left: 20px;
}
.act_payment .item .title {
  font-size: 18px;
}
.act_payment .item .content_item {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}
.act_payment .item .content_item .form-value {
  position: absolute;
  padding: 7px 10px;
}
.act_payment .item .content_item:first-of-type {
  margin-top: 10px;
}
.act_payment .item .content_item .label {
  width: 30%;
  flex-basis: 30%;
  display: flex;
  align-items: center;
}
.act_payment .item .content_item .value {
  width: 70%;
  flex-basis: 70%;
  display: flex;
  align-items: center;
}
</style>
