<template lang="pug">
    .user-general
        //FormItem(label="API KEY")
            TextField(v-model="data.google_calendar_api" name="google_calendar_api")
        FormItem(label="CALENDAR ID")
            TextField(v-model="data.google_calendar" name="google_calendar")
        .container
          h3 {{$t('google_inst_title')}}
          br
          p {{$t('google_inst_1')}}
          p(v-html="$t('google_inst_2')")
          p {{$t('google_inst_3')}}
          p {{$t('google_inst_4')}}
          p {{$t('google_inst_5')}}
          p {{$t('google_inst_51')}}
          br
          //p {{$t('google_inst_6')}}
          //p(v-html="$t('google_inst_7')")
          //p {{$t('google_inst_8')}}
          //p {{$t('google_inst_9')}}
          //p {{$t('google_inst_10')}}
          //p {{$t('google_inst_11')}}
</template>

<script lang="ts">
import DatePickerTwo from "vue2-datepicker";
import filter from "lodash/filter";
import reject from "lodash/reject";
import { Action, Getter } from "vuex-class";
import { Component, Prop, Vue } from "vue-property-decorator";
import {
  Button,
  Datepicker,
  FormItem,
  Loader,
  Page,
  PageEditHeader,
  PageEditTabs,
  Picture,
  Select,
  Separator,
  TabContent,
  TabHeader,
  Tabs,
  TextField,
  Title
} from "@/UI";
import { UserInterface } from "@/helpers/types";
import Avatar from "@/modules/Avatar.vue";

@Component({
  components: {
    Select,
    TabHeader,
    Separator,
    PageEditTabs,
    PageEditHeader,
    Page,
    Avatar,
    TextField,
    FormItem,
    Title,
    Loader,
    Tabs,
    TabContent,
    Button,
    Picture,
    Datepicker,
    DatePickerTwo
  }
})
export default class UserGeneral extends Vue {
  @Prop({ required: true }) data!: UserInterface;
  @Action getEmasPrograms!: (lang: string) => Promise<void>;
  @Getter("getterEmasPrograms") emasPrograms!: Array<any>;
}
</script>
<style lang="scss">
.container {
  margin-top: calc(var(--offset) * 2);
  padding-left: 8%;
  padding-right: 8%;
}
</style>
