<template lang="pug">
    .user-contract
        //FormItem(label="Программа обучения")
        //    TextField(v-if="courses && selectedprogramGraph[0]" v-model="selectedprogramGraph[0].name" name="selectedprogramGraph" disabled)
        //FormItem(label="Формат обучения")
        //    TextField(v-if="selectedformat[0]" v-model="selectedformat[0].label" name="selectedformat" disabled)
        FormItem(:label="$t('date_block')" v-if="data.date_block").disabled
            TextField
            span.form-value {{data.date_block | moment("DD.MM.YYYY")}}
        FormItem(:label="$t('Start_date')").disabled
            TextField(disabled)
            span.form-value {{data.date_start  | moment("DD.MM.YYYY")}}
        FormItem(:label="$t('Duration_of_study')" v-if="selectedTime[0]").disabled
            TextField(v-model="selectedTime[0].label" name="selectedTime" disabled)
        FormItem(:label="$t('contact_num')").disabled
            TextField(v-model="data.d_num" name="d_num" disabled)
        //FormItem(:label="$t('contact_date')").disabled
        //    TextField(disabled)
        //    span.form-value {{data.d_date  | moment("DD.MM.YYYY")}}
        FormItem(:label="$t('contact_date')" :class="{'disabled' : data.d_date}")
            Datepicker(
                v-model="data.d_date" @change="onDateChange" format="YYYY-MM-DD" type="date" name="d_date" cant="true" )
            span.form-value {{data.d_date  | moment("DD.MM.YYYY")}}
        FormItem(:label="$t('date_termination')" :class="{'disabled' : data.date_termination}" v-if="data.date_termination")
            Datepicker(
                v-model="data.date_termination" @change="onDateChange" format="YYYY-MM-DD" type="date" name="date_termination" cant="true" )
            span.form-value {{data.date_termination  | moment("DD.MM.YYYY")}}
        FormItem(v-if="data.date_termination")
            Button(@click="DownloadTermFile") {{$t('doc_term')}}
        Title(:offset="true") {{$t('reason_title')}}
        .flex.flex-wrap
          label.checkbox(v-for="(item, index) in reasons" :key="index" v-if="index < reasons.length - 1").m-3
            input.checkbox__input(v-model="item.checked" type="checkbox" :name="item.name" @change="reasonChange")
            span.checkbox__mark(aria-hidden="true")
            span.checkbox__label {{$t(item.title)}}
            input.ml-3(v-if="index + 1 === reasons.length - 1 && reasons[reasons.length - 2].checked" @input="reasonChange" v-model="item.value" type="text" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md")
        Title(:offset="true") {{$t('source_title')}}
        .flex.flex-wrap
          label.checkbox(v-for="(item, index) in sources" :key="index" v-if="index < sources.length - 1").m-3
            input.checkbox__input(v-model="item.checked" type="checkbox" :name="item.name" @change="sourceChange")
            span.checkbox__mark(aria-hidden="true")
            span.checkbox__label {{$t(item.title)}}
            input.ml-3(v-if="index + 1 === sources.length - 1 && sources[sources.length - 2].checked" @input="sourceChange" v-model="item.value" type="text" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md")
          
</template>

<script lang="ts">
import find from "lodash/find";
import filter from "lodash/filter";
import { Getter, Action } from "vuex-class";
import { makeQueryURL } from "@/helpers/utils/functions";
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import {
  Button,
  Checkbox,
  Datepicker,
  FormItem,
  Loader,
  Page,
  PageEditHeader,
  PageEditTabs,
  Picture,
  Select,
  SelectSearch,
  Separator,
  TabContent,
  TabHeader,
  Tabs,
  TextField,
  Title
} from "@/UI";
import {
  Maybe,
  DataInterface,
  CourseInterface,
  UserInterface
} from "@/helpers/types";
import Avatar from "@/modules/Avatar.vue";
import Multiselect from "vue-multiselect";
import { downloader } from "@/helpers/utils/downloader";
import { downloaderUserDoc } from "@/helpers/utils/downloaderUserDoc";
@Component({
  components: {
    Select,
    Checkbox,
    SelectSearch,
    TabHeader,
    Separator,
    PageEditTabs,
    PageEditHeader,
    Page,
    Avatar,
    TextField,
    FormItem,
    Title,
    Loader,
    Tabs,
    TabContent,
    Button,
    Picture,
    Datepicker,
    Multiselect
  }
})
export default class UserContract extends Vue {
  @Action fetchCoursesForUser!: (params?: string) => Promise<void>;
  @Getter("getCourses") courses!: Maybe<DataInterface<CourseInterface[]>>;
  @Prop({ required: true }) data!: UserInterface;
  public selectedprogramGraph: Array<any> = [];
  public selectedformat: Array<any> = [];
  public selectedTime: Array<any> = [];
  public programGraph = 0;
  public reasonChange(event: any) {
    //console.log(event.target.name);
    const reasons = this.reasons.filter(item => item.checked || item.value != "");
    this.data.goal = reasons;
    //console.log(reasons)
  }
  public sourceChange(event: any) {
    //console.log(event.target.name);
    const source = this.sources.filter(item => item.checked || item.value != "");
    this.data.source = source;
    //console.log(source)
  }
  public async DownloadTermFile() {
    await downloaderUserDoc(210, `/api/document/generation/210`);
  }
  public priceSelect = [
    this.$t("Prepayment"),
    this.$t("installment_plan_6_months"),
    this.$t("year_installment_plan_1"),
    this.$t("months_installment_plan_18"),
    this.$t("years_installment_plan_2"),
    this.$t("years_installment_plan_3")
  ];
  public downloadFile(id: number) {
    downloader(
      id,
      id => `/api/document/generation/${id}&user_id=${this.data.id}`
    );
  }
  public timeSelect = [
    {
      value: 6,
      label: this.$t("months_6")
    },
    {
      value: 12,
      label: this.$t("years_1")
    },
    {
      value: 18,
      label: this.$t("months_18")
    }
    /*,
    {
      value: 24,
      label: this.$t("years_2")
    },
    {
      value: 36,
      label: this.$t("years_3")
    }*/
  ];

  public formatselect = [
    {
      value: "full-time",
      label: this.$t("Full_time")
    },
    {
      value: "blended",
      label: this.$t("Blended")
    },
    {
      value: "online",
      label: this.$t("Online")
    }
  ];
  public reasons = [
    { name: "reason_1", title: "reason_1", checked: false },
    { name: "reason_2", title: "reason_2", checked: false },
    { name: "reason_3", title: "reason_3", checked: false },
    { name: "reason_4", title: "reason_4", checked: false },
    { name: "reason_5", title: "reason_5", checked: false },
    { name: "reason_6", title: "reason_6", checked: false },
    { name: "reason_7", title: "reason_7", checked: false },
    { name: "reason_8", title: "reason_8", value: "" }
  ];
  public sources = [
    { name: "source_1", title: "source_1", checked: false },
    { name: "source_2", title: "source_2", checked: false },
    { name: "source_3", title: "source_3", checked: false },
    { name: "source_4", title: "source_4", checked: false },
    { name: "source_5", title: "source_5", value: "" }
  ];
  public async created() {
    await this.fetchCoursesForUser();
    //console.log(typeof this.data.format)
    if (this.courses) {
      if (this.data) {
        if (this.data.programGraph) {
          this.programGraph = Number(this.data.programGraph);
          //ищем программу и кидаем её в выбранное
          const findItemProgram = find(this.courses.data, i => {
            return i.id === Number(this.data.programGraph);
          });
          this.selectedprogramGraph.push(findItemProgram);
        }
        if (this.data.format) {
          //ищем формат обучения и кидаем в выбранное
          const findItemFormat = find(this.formatselect, i => {
            return i.value === this.data.format;
          });
          this.selectedformat.push(findItemFormat);
          //console.log(this.selectedformat)
        }
        if (this.data.duration) {
          //ищем время обучения и кидаем в выбранное
          const findItemTime = find(this.timeSelect, i => {
            return i.value === this.data.duration;
          });
          this.selectedTime.push(findItemTime);
        }
        if (this.data.goal) {
          this.data.goal.forEach((element: any) => {
            this.reasons.find((item: any) => {
              if (element.name === item.name) {
                if (element.checked) {
                  item.checked = true;
                }
                if (element.value != "") {
                  item.value = element.value;
                }
              }
            });
          });
        }
        if (this.data.source) {
          this.data.source.forEach((element: any) => {
            this.sources.find((item: any) => {
              if (element.name === item.name) {
                if (element.checked) {
                  item.checked = true;
                }
                if (element.value != "") {
                  item.value = element.value;
                }
              }
            });
          });
        }
      }
    }
  }

  public serverParams = {
    sort: [],
    searchTerm: "",
    page: 1,
    perPage: this.courses?.total
  };
  public updateParams(newParams: any) {
    this.serverParams = Object.assign({}, this.serverParams, newParams);
  }
  public asyncFind(searchTerm: any) {
    this.isLoading = true;
    this.updateParams({ searchTerm });
    this.updateParams({ perPage: (this.courses as any).total });
    this.fetchCoursesForUser(makeQueryURL(this.serverParams));
    this.isLoading = false;
  }
  private timeChange(value: any) {
    this.data.duration = value.value;
  }
  private formatChange(value: any) {
    this.data.format = value.value;
  }
  private courseChange(selectedOption: any) {
    //console.log(selectedOption.name)
    this.data.programGraph = selectedOption.id;
  }
  public selectCourses: any[] = [];
  public isLoading = false;

  public onDateChange(value: any) {
    this.data.d_date = value;
  }
  public onDateStartChange(value: any) {
    this.data.date_start = value;
  }
  public changePayment(value: any) {
    console.log(value);
  }
}
</script>
<style lang="scss">

</style>
