<template lang="pug">
    .user-passport
        MembersList(
            type="groups"
            :title="$t('groups')",
            :placeholder="$t('groups_search')"
            :empty="$t('groups_empty')"
            :data="this.data.groups"
            :list="this.groups"
            @fetch="getGroups"
            @delete="deleteGroup"
            @add="addGroup"
        )
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
import { GroupInterface, Maybe, UserInterface } from "@/helpers/types";

import MembersList from "@/components/MembersList.vue";
import API from "@/api";

@Component({
  components: {
    MembersList
  }
})
export default class UserGroups extends Vue {
  @Prop({ required: true }) data!: UserInterface;
  @Action addGroupToUser!: (params: {
    user: UserInterface;
    id: number;
  }) => Promise<void>;
  @Action deleteGroupToUser!: (params: {
    user: UserInterface;
    id: number;
  }) => Promise<void>;
  public groups: Maybe<GroupInterface[]> = null;

  public created() {
    this.getAllGroups();
  }
  private checkGroups(groups: GroupInterface[]) {
    const { data } = this;

    if (groups) {
      return groups.map(group => {
        let access = false;
        const userInGroup = !data.groups?.some(
          userGroup => userGroup.id === group.id
        );

        if (userInGroup) {
          access = true;
        }

        return {
          ...group,
          access
        };
      });
    }

    return groups;
  }

  public async getGroups(value: string) {
    let list;

    if (value.length > 0) {
      const { data: response } = await API.group.getGroups(`name=${value}`);

      list = response;
    } else {
      list = null;
      this.getAllGroups();
    }

    this.groups = this.checkGroups(list);
  }

  public async getAllGroups() {
    const { data: response } = await API.group.getGroups();

    const list = response.data;

    this.groups = this.checkGroups(list);
  }

  public async addGroup(group: GroupInterface) {
    this.$set(group, "access", false);
    this.data.groups?.push(group);
    //console.log(group);
    await this.addGroupToUser({ user: this.data, id: group.id });
  }

  public async deleteGroup(group: GroupInterface) {
    const index = this.data.groups?.findIndex(({ id }) => id === group.id);

    if (typeof index !== "undefined") {
      this.data.groups?.splice(index, 1);
    }
    await this.deleteGroupToUser({ user: this.data, id: group.id });
    this.getAllGroups();
  }
}
</script>
