<template lang="pug">
    .autocomplete
        TextField.autocomplete__text-field(v-bind="$attrs" v-on="$listeners")
        ul.autocomplete__dropdown(v-if="showDropdown && isDropdown() === 'filled'")
            li.autocomplete__dropdown-item(
                v-for="(item, index) in fetchedData"
                :key="index"
                @click="handleSelectOption(item)"
            ) {{ item.label || item }}
        ul.autocomplete__dropdown.autocomplete__dropdown--empty(v-else-if="showDropdown && isDropdown() === 'empty'")
            li.autocomplete__dropdown-item Ничего не найдено
</template>

<script lang="ts">
import { Vue, Component, Emit, Prop, Watch } from "vue-property-decorator";
import { TextField } from "@/UI";

@Component({
  components: { TextField }
})
export default class Autocomplete extends Vue {
  @Prop() fetchedData!: { id: string | number; value: unknown }[] | unknown[];

  public showDropdown = false;

  @Watch("fetchedData")
  public isDropdown(): string {
    if (Array.isArray(this.fetchedData) && this.fetchedData.length > 0) {
      this.toggleDropdown(true);
      return "filled";
    } else if (
      Array.isArray(this.fetchedData) &&
      this.fetchedData.length === 0
    ) {
      this.toggleDropdown(true);
      return "empty";
    } else {
      this.toggleDropdown(false);
      return "hide";
    }
  }

  mounted() {
    window.addEventListener("keydown", this.onEscape);
  }

  beforeDestroy() {
    window.removeEventListener("keydown", this.onEscape);
  }

  @Emit("select")
  public handleSelectOption(value: unknown) {
    this.toggleDropdown(false);
    return value;
  }

  public toggleDropdown(value: boolean) {
    this.showDropdown = value;
  }

  public onEscape(e: KeyboardEvent) {
    if (e.key === "Escape") {
      e.preventDefault();
      this.toggleDropdown(false);
    }
  }
}
</script>

<style lang="scss">
.autocomplete {
  $root: autocomplete;

  position: relative;
  width: 100%;

  &__dropdown {
    @include radius;
    position: absolute;
    top: 100%;
    z-index: 9999;
    width: 100%;
    padding: 7px 0;
    background-color: $white;
    border: 1px solid $border;

    &:not(.#{$root}__dropdown--empty) {
      .#{$root}__dropdown-item {
        &:hover {
          background-color: rgba($main, 0.1);
          cursor: pointer;
        }
      }
    }
  }

  &__dropdown-item {
    padding: 4px 10px;
    user-select: none;
  }
}
</style>
