<template lang="pug">
    component.button(v-bind="$attrs" v-on="$listeners" :class="classes" :is="tag" :to="this.to")
        Loader(size="auto" :variant="this.variant === 'default' ? 'theme' : 'light'" :active="loading").button__loader
        Icon(v-if="icon && !loading" :name="icon").button__icon
        img(v-if="image && !loading" :src="image").button__image
        span(v-if="$slots.default").button__label
            slot(name="default")
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Loader from "@/UI/Loader.vue";

@Component({
  components: { Loader }
})
export default class Button extends Vue {
  @Prop({ default: "primary", type: String }) variant!:
    | "default"
    | "primary"
    | "danger"
    | "text";
  @Prop({ required: false, type: String }) to!: string;
  @Prop({ default: false, type: Boolean }) loading!: boolean;
  @Prop({ default: false, type: Boolean }) disabled!: boolean;
  @Prop({ default: false, type: Boolean }) circle!: boolean;
  @Prop({ required: false, type: String }) icon!: string;
  @Prop({ required: false, type: String }) image!: string;

  get classes() {
    return {
      [`button--${this.variant}`]: `button--${this.variant}`,
      "button--circle": this.circle,
      "button--disabled": this.disabled,
      "button--loading": this.loading,
      "button--icon": this.icon && !this.$slots.default
    };
  }

  public get tag() {
    return this.to ? "router-link" : "button";
  }
}
</script>

<style lang="scss">
.button {
  $root: button;

  @include button-reset;
  @include transition(0.2);
  @include radius;
  flex: 0 0 auto;
  border: 1px solid transparent;
  font-weight: 600;
  padding: 8px 20px;
  user-select: none;

  &--loading {
    pointer-events: none;
    opacity: 0.7;
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  &--icon {
    @include square(32, 32);
    padding: 0;
  }

  &--default {
    border-color: $border;
    color: $black;

    &:hover {
      background: darken($border, 1);
      border-color: darken($border, 1);
    }

    &:active {
      background: darken($border, 7);
      border-color: darken($border, 7);
    }
  }

  &--text {
    border-color: transparent;
    color: $black;

    &:hover {
      color: $darker-black;
    }
  }

  &--primary {
    background: #60c44a;
    border-color: $green;
    color: $white;

    &:hover {
      background: darken($green, 6);
      border-color: darken($green, 6);
    }

    &:active {
      background: darken($green, 10);
      border-color: darken($green, 10);
    }
  }

  &--danger {
    background: $red;
    border-color: $red;
    color: $white;

    &:hover {
      background: darken($red, 6);
      border-color: darken($red, 6);
    }

    &:active {
      background: darken($red, 15);
      border-color: darken($red, 15);
    }
  }

  &--circle {
    @include radius(50, "%");
  }

  &__loader {
    @include display-flex-centered;
    margin-right: $offset;
    font-size: 10px;

    .#{$root}--icon & {
      margin-right: 0;
      font-size: 50%;
    }
  }

  &__icon {
    @include display-flex-centered;
    @include square(20, 20);
    margin-right: $offset;

    .#{$root}--icon & {
      @include square(36, 36, "%");
      margin-right: 0;
    }
  }
  &__image {
    width: 25px;
    margin-right: 5px;
  }
}
</style>
