<template lang="pug">    
    div
      .relative.flex.items-start.cursor-pointer
        .flex.items-center.h-5
          input.h-4.w-4.text-blue-600.border-gray-300.rounded(v-model="checked" type='checkbox' class='focus:ring-blue-500')
        .ml-2.text-sm
          label.text-black-500
            slot
</template>

<script lang="ts">
import { Vue, Component, VModel, Prop } from "vue-property-decorator";

@Component
export default class Checkbox extends Vue {
  @VModel() checked!: boolean;
}
</script>

<style lang="scss">
.checkbox {
  $root: checkbox;

  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &:hover {
    .#{$root}__input:checked {
      ~ .#{$root}__mark {
        background-color: $darker-main;
        border-color: $darker-main;
      }
    }

    .#{$root}__mark {
      border-color: rgba($secondary, 0.7);
    }
  }

  &:active {
    .#{$root}__input:checked {
      ~ .#{$root}__mark {
        background-color: rgba($main, 0.8);
        border-color: rgba($main, 0);
      }
    }

    .#{$root}__mark {
      background-color: rgba($main, 0.15);
      border-color: rgba($main, 0);
    }
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;

    &:checked {
      ~ .#{$root}__mark {
        background-color: $main;
        border-color: $main;
      }
    }
  }

  &__mark {
    position: relative;
    display: inline-flex;
    @include square(16, 16);
    border: 1px solid $border;
    border-radius: 2px;
    @include transition(0.05);

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $white;
      border-radius: 9999px;
    }

    &::before {
      width: 5px;
      height: 2px;
      top: 7px;
      left: 2px;
      transform: rotate(50deg);
    }

    &::after {
      top: 6px;
      left: 4px;
      width: 9px;
      height: 2px;
      transform: rotate(-50deg);
    }
  }

  &__label {
    margin-left: 6px;
    line-height: initial;
  }
}
</style>
