<template lang="pug">
  Vue2DatePicker(
    :formatter="momentFormat"
    v-bind="$attrs",
    value-type="format"
    format=""
    @change="onDateChange",
    input-class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
    :lang="lang",
  )
</template>

<script lang="ts">
import { Vue, Component, Emit } from "vue-property-decorator";
import Vue2DatePicker from "vue2-datepicker";
import "vue2-datepicker/locale/ru";
import { Maybe } from "@/helpers/types";
import moment from "moment";

@Component({
  components: { Vue2DatePicker }
})
export default class Datepicker extends Vue {
  lang = {
    formatLocale: {
      // MMMM
      months: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ],
      // MMM
      monthsShort: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ],
      // dddd
      weekdays: [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ],
      // ddd
      weekdaysShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
      // dd
      weekdaysMin: ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"],
      // first day of week
      firstDayOfWeek: 1
    }
  };

  momentFormat = {
    //[optional] Date to String
    stringify: (date: any) => {
      return moment(date).format("DD.MM.YYYY");
    },
    //[optional]  String to Date
    parse: (value: any) => {
      return value ? moment(value, "DD.MM.YYYY").toDate() : null;
    },
    //[optional] getWeekNumber
    getWeek: () => {
      return; // a number
    }
  };

  @Emit("change")
  onDateChange(date: Maybe<Date> | Maybe<Date>[]) {
    return date;
  }
}
</script>
