<template lang="pug">
    Vue2DatePicker.datepicker.p-0.border-none(v-bind="$attrs" @change="onDateChange" format="YYYY-MM-DD" disabled="this.cant" type="date")
        template(slot="input")
            TextField(v-model="label" name="date" format="YYYY-MM-DD" :disabled="this.cant" autocomplete="off")
</template>

<script lang="ts">
import { Vue, Component, Emit, Prop } from "vue-property-decorator";
import Vue2DatePicker from "vue2-datepicker";
import "vue2-datepicker/locale/ru";
import { TextField } from "@/UI";
import { formatDateToString } from "@/helpers/utils/functions";
import { Maybe } from "@/helpers/types";

@Component({
  components: { Vue2DatePicker, TextField }
})
export default class Datepicker extends Vue {
  @Prop({ required: false, default: false }) cant!: boolean;
  @Prop() label!: string;
  @Emit("change")
  onDateChange(date: Maybe<Date> | Maybe<Date>[]) {
    if (Array.isArray(date)) {
      if (date[0] === null) return null;
      return [formatDateToString(date[0]), formatDateToString(date[1])];
    } else {
      return formatDateToString(date);
    }
  }
}
</script>

<style lang="scss">
@import "~vue2-datepicker/scss/index.scss";

.datepicker {
  width: 100%;
}
.datepicker .text-field--disabled {
  background: transparent;
}

.mx-datepicker-sidebar {
  width: 125px;

  + .mx-datepicker-content {
    margin-left: 125px;
  }
}
</style>
