<template lang="pug">
    draggable.draggable-list(v-model="computedList" @change="onComputedListChange")
        div(v-if="$slots.header" slot="header")
            slot(name="header")

        slot

        div(v-if="$slots.footer" slot="footer")
            slot(name="footer")
</template>

<script lang="ts">
import { Vue, Component, Emit } from "vue-property-decorator";
import draggable from "vuedraggable";

@Component({
  components: {
    draggable
  }
})
export default class DraggableList extends Vue {
  public list: any[] = [];

  public get computedList() {
    return (this.$attrs.value as unknown) as any[];
  }
  public set computedList(value: any[]) {
    this.list = value;
  }

  @Emit("change")
  onComputedListChange() {
    return this.list;
  }
}
</script>

<style lang="scss">
.draggable-list {
  padding: $offset $offset2x;
  border: 1px solid $border;
  border-radius: 4px;
}
</style>
