<template lang="pug">
    .draggable-list-item
        .draggable-list-item__info
            p.draggable-list-item__title {{title}}
            p.draggable-list-item__subtitle(v-if="subtitle") {{subtitle}}
        .draggable-list-item__actions(v-if="$slots.actions")
            slot(name="actions")
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({})
export default class DraggableListItem extends Vue {
  @Prop() title!: string;
  @Prop() subtitle!: string;
}
</script>

<style lang="scss"></style>
