<template lang="pug">
    .file-uploader
        .file-uploader__wrapper(@click="uploadFile")
            TextField(:value="this.name" :disabled="true" :placeholder="placeholder").file-uploader__name
            input(
                v-bind="$attrs"
                :value="computedValue"
                ref="file"
                type="file"
                @change="onChange"
            ).file-uploader__input
        Button(icon="download" variant="default" @click="uploadFile").file-uploader__button
    //.mt-1.flex.justify-center.px-6.pt-5.pb-6.border-2.border-gray-300.border-dashed.rounded-md(@click="uploadFile")
      .space-y-1.text-center
        svg.mx-auto.h-12.w-12.text-gray-400(stroke='currentColor' fill='none' viewbox='0 0 48 48' aria-hidden='true')
          path(d='M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        .flex.text-sm.text-gray-600
          label.relative.cursor-pointer.bg-white.rounded-md.font-medium.text-blue-600(for='file-upload' class='hover:text-blue-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-blue-500')
            span Загрузите файл
            input#file-upload.sr-only(
              name='file-upload'
              v-bind="$attrs"
              :value="computedValue"
              ref="file"
              type="file"
              @change="onChange")
          p.pl-1 или перенесите сюда
        p.text-xs.text-gray-500
          | PNG, JPG, GIF up to 10MB
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

import TextField from "./TextField.vue";
import Button from "./Button.vue";

@Component({
  inheritAttrs: false,
  components: { Button, TextField },
  name: "FileUploader"
})
export default class FileUploader extends Vue {
  @Prop({ type: [Number, String] }) value!: File;
  @Prop({ type: [Number, String] }) placeholder!: number | string;

  public newValue = this.value;
  public name = this.value?.name || "";

  get computedValue(): File {
    return this.newValue;
  }

  set computedValue(value: File) {
    this.newValue = value;
    this.name = value.name;
    this.$emit("change", value);
  }

  public onChange(event: Event) {
    const files = (event.target as HTMLInputElement)?.files;
    const file = files?.[0];

    if (file) {
      this.updateValue(file);
    }
  }

  public updateValue(value: File): void {
    this.computedValue = value;
  }

  public uploadFile() {
    (this.$refs.file as any).click();
  }
}
</script>
<style lang="scss">
.file-uploader {
  @include display-flex-centered;
  @include full-size;
  justify-content: flex-start;

  &__wrapper {
    @include full-size;
    position: relative;
  }

  &__input {
    display: none;
    opacity: 0;
    font-size: 0;
    line-height: 0;
    height: 0;
    width: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
  }

  &__name {
    width: 100%;
  }

  &__button {
    flex: 0 0 auto;
    margin-left: 8px;
  }
}
</style>
