<template lang="pug">
    router-link(v-bind="$attrs" v-on="$listeners" :to="to").link
        slot
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Link extends Vue {
  @Prop({ required: true, type: String }) to!: string;
}
</script>

<style lang="scss">
.link {
  color: $main;

  &:hover {
    color: $darker-main;
  }
}
</style>
