<template lang="pug">
    .loader(v-if="active", v-bind="$attrs" :style="styles" :class="classes")
        .loader-spinner
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({})
export default class Loader extends Vue {
  @Prop({ default: false }) center?: boolean;
  @Prop({ default: true }) active?: boolean;
  @Prop({ default: "36px" }) size?: string;
  @Prop({ default: "theme" }) variant?: "light" | "theme";

  get classes() {
    return {
      "loader--center": this.center,
      "loader--light": this.variant === "light",
      "loader--theme": this.variant === "theme"
    };
  }

  get styles() {
    return {
      fontSize: `${this.size}`
    };
  }
}
</script>

<style lang="scss">
.loader {
  @include display-flex-centered;
  display: inline-flex;

  &--theme {
    color: $main;
  }

  &--light {
    color: $white;
  }

  &--center {
    @include full-size;
  }
}
.loader-spinner {
  @include radius(50, "%");
  font-size: inherit;
  color: inherit;
  width: 1em;
  height: 1em;
  margin: 0.5em;
  text-indent: -9999em;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  animation: load 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes load {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>
