<template lang="pug">
    VModal.modal.modal-news(v-bind="$attrs" v-on="$listeners" :name="name" height="auto" :class="classes" :clickToClose="false")
        .modal__wrapper
            .modal__header(v-if="this.title")
                Title(:level="3" component="p") {{ this.title }}
            .modal__content
                slot
            .modal__footer
                slot(name="footer")
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";

import Button from "@/UI/Button.vue";
import Title from "@/UI/Title.vue";

@Component({
  name: "Popup",
  components: { Title, Button }
})
export default class Modal extends Vue {
  @Prop({ required: false, type: String }) title!: string;
  @Prop({ required: true, type: String }) name!: string;
  @Prop({ default: false, type: Boolean }) show!: boolean;

  mounted() {
    if (this.show) {
      this.$modal.show(this.name);
    }
  }

  public get classes() {
    return {
      "modal--without-header": !this.title
    };
  }

  public onClose() {
    this.$modal.hide(this.name);
  }

  @Watch("show")
  private changeShow(show: boolean) {
    if (show) {
      this.$modal.show(this.name);
    } else {
      this.$modal.hide(this.name);
      this.$modal.hide(this.name);
    }
  }
}
</script>

<style lang="scss">
.modal {
  &__wrapper {
    @include full-size;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__header,
  &__footer {
    padding: $offset $offset2x;
    background: lighten($light-grey, 4);
  }

  &__content {
    padding: $offset2x;

    .modal--without-header & {
      padding-top: calc(#{$offset2x} * 2.5);
    }
  }

  &__footer {
    @include display-flex-centered;
    margin-top: auto;

    @include children {
      @include not-last-child {
        margin-right: $offset;
      }
    }
  }

  &__close {
    @include display-flex-centered;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__close-icon {
    @include square(50, 50);
  }
}
.modal-news .vm--modal {
  top: 20px !important;
}
</style>
