<template lang="pug">
    div(:class="rootClasses").w-full
      .mt-1.relative.rounded-md.shadow-sm
        input.block.w-full.pr-10.border-0.password-auth.p-4(
          class='focus:ring-blue-500 focus:border-blue-500 sm:text-sm w-100'
          ref="password"
          :type="typeInput"
          :value="computedValue"
          v-bind="$attrs"
          :disabled="disabled"
          @input="onInput"
          @change="onChange")
        .absolute.inset-y-0.right-0.pr-3.flex.items-center(@click="switchVisibility")
          svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' v-if="this.typeInput === 'password'")
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 12a3 3 0 11-6 0 3 3 0 016 0z')
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z')
          svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' v-else)
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21')
</template>

<script lang="ts">
import { Component, Watch, Prop, Vue, Emit } from "vue-property-decorator";

@Component({
  inheritAttrs: false,
  name: "TextField"
})
export default class PasswordAuth extends Vue {
  @Prop({ type: [Number, String] }) value!: number | string;
  @Prop({ default: "text" }) type!: string;
  @Prop({ default: false }) disabled!: boolean;
  @Prop({ default: false }) lazy!: boolean;

  public newValue = this.value;
  public newType = this.type;
  public typeInput = "password";
  get computedValue(): number | string {
    return this.newValue;
  }

  set computedValue(value: number | string) {
    this.newValue = value;
    this.$emit("input", value);
  }

  get rootClasses() {
    return [
      {
        "text-field--disabled": this.disabled
      }
    ];
  }

  get valueLength() {
    if (typeof this.computedValue === "string") {
      return this.computedValue.length;
    } else if (typeof this.computedValue === "number") {
      return this.computedValue.toString().length;
    }
    return 0;
  }
  public switchVisibility() {
    if (this.typeInput === "password") {
      this.typeInput = "text";
    } else {
      this.typeInput = "password";
    }
  }

  @Watch("value")
  private changeValue(value: number | string): void {
    this.newValue = value;
  }

  public onInput(event: Event) {
    const target = event.target as HTMLInputElement;

    if (!this.lazy) {
      this.updateValue(target.value);
    }

    return target.value;
  }

  @Emit("change")
  public onChange(event: Event) {
    const target = event.target as HTMLInputElement;

    if (this.lazy) {
      this.updateValue(target.value);
    }

    return target.value;
  }

  public updateValue(value: number | string): void {
    this.computedValue = value;
  }
}
</script>
<style lang="scss">
//.text-field {
//  @include display-flex-centered;
//  @include radius;
//  justify-content: flex-start;
//  border: 1px solid $border;
//  width: 100%;
//  padding: 7px 10px;
//  color: $black;
//
//  input,
//  textarea {
//    @include full-size;
//    @include offset-reset;
//    border: none;
//    background: none;
//    color: inherit;
//
//    @include placeholder {
//      opacity: 0.5;
//    }
//  }
//
//  textarea {
//    min-height: 130px;
//    resize: vertical;
//  }
//
//  &--disabled {
//    background: $light-grey;
//  }
//}
.password {
  position: relative;
}
.password-ico {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.password-ico svg {
  display: block;
  max-width: 28px;
}
.password-auth {
  background: #00000021 !important;
  font-weight: 500 !important;
}
</style>
