<template lang="pug">
    .picture
        img(v-if="url" :src="url", :alt="alt").picture__tag
        Icon(v-else name="image").picture__placeholder
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Picture extends Vue {
  @Prop({ required: true }) readonly url!: string;
  @Prop({ required: false }) readonly alt!: string;
}
</script>

<style lang="scss">
.picture {
  @include display-flex-centered;
  @include full-size;

  &__tag {
    @include full-size;
    object-fit: cover;
  }

  &__placeholder {
    @include square(50, 50, "%");
    opacity: 0.3;
  }
}
</style>
