<template lang="pug">
    .progress-bar
        p.progress-bar__label {{$t('in_process')}} ({{ percent }}%)
        .progress-bar__line
            .progress-bar__current(:style="styles")
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({})
export default class ProgressBar extends Vue {
  @Prop({ default: 0, required: true, type: Number }) percent?: number;

  get styles() {
    return {
      width: `${this.percent}%`
    };
  }
}
</script>

<style lang="scss">
.progress-bar {
  width: 100%;

  &__label {
    color: $secondary;
    margin-bottom: 8px;
    font-size: 15px;
  }

  &__line {
    @include radius(5);
    background: #e5e8ea;
    content: "";
    overflow: hidden;
    height: 10px;
    position: relative;
  }

  &__current {
    @include display-flex-centered;
    @include transition;
    content: "";
    background: lighten($lighter-main, 10);
    height: 100%;
  }
}
</style>
