<template lang="pug">
    label.radio
        input.radio__input(type="radio" :value="label" :name="name" v-model="computedRadioValue")
        span.radio__mark(aria-hidden="true")
        span.radio__label
            slot {{ label }}
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class Radio extends Vue {
  @Prop({ required: false, default: "" }) label!: string;
  @Prop() value!: string | number;
  @Prop() name!: string;

  private get computedRadioValue() {
    return this.value;
  }
  private set computedRadioValue(value) {
    this.$emit("change", this.label);
  }
}
</script>

<style lang="scss">
.radio {
  $root: radio;

  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &:hover {
    .#{$root}__input:checked {
      ~ .#{$root}__mark {
        border-color: $darker-main;
      }
    }

    .#{$root}__mark {
      border-color: rgba($secondary, 0.7);
    }
  }

  &:active {
    .#{$root}__input:checked {
      ~ .#{$root}__mark {
        border-color: rgba($main, 0.8);

        &::before {
          background-color: rgba($main, 0.8);
        }
      }
    }

    .#{$root}__mark {
      &::before {
        background-color: rgba($main, 0.5);
      }
    }
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;

    &:checked {
      ~ .#{$root}__mark {
        border-color: $main;

        &::before {
          background-color: $main;
        }
      }
    }
  }

  &__mark {
    position: relative;
    display: inline-flex;
    @include square(16, 16);
    border: 1px solid $border;
    border-radius: 9999px;
    @include transition(0.05);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 6px;
      background-color: transparent;
      border-radius: 9999px;
      transform: translate(-50%, -50%);
    }
  }

  &__label {
    margin-left: 6px;
  }
}
</style>
