<template lang="pug">
  div.w-full
    Multiselect.select(
        v-bind="$attrs"
        v-on="$listeners"
        v-model="localValue"
        :searchable="false"
        :allow-empty="false"
        :show-labels="false"
    )
      template(slot="option", slot-scope="props" v-if="lang")
        span(v-if="props.option.value") {{$t(props.option.value.toLowerCase())}}
        span(v-else) {{$t(props.option)}}
      template(slot="singleLabel", slot-scope="props" v-if="lang")
        span(v-if="props.option.value") {{$t(props.option.value.toLowerCase())}}
        span(v-else) {{$t(props.option)}}
</template>

<script lang="ts">
import { Vue, Component, Watch, Prop } from "vue-property-decorator";
import Multiselect from "vue-multiselect";
import "vue-multiselect/dist/vue-multiselect.min.css";

@Component({
  components: { Multiselect }
})
export default class Select extends Vue {
  @Prop() value!: Record<string, any> | Record<string, any>[];
  @Prop() lang!: boolean;

  public localValue: Record<string, any> = this.value ?? null;

  @Watch("localValue")
  onChangeValue(value: {} | string | null) {
    this.$emit("change", value);
  }
}
</script>

<style lang="scss">
.select {
  min-height: 34px;

  .multiselect,
  .multiselect__input,
  .multiselect__single {
    font-size: 15px;
    color: $black;
  }

  .multiselect {
    &__select {
      width: 30px;
      height: calc(100% - 2px);

      &::before {
        top: 70%;
      }
    }

    &__single {
      margin-bottom: 0;
      padding-left: 0;
    }

    &__tags {
      min-height: 34px;
      padding: 7px 40px 3px 10px;
      border-radius: 4px;
      border-color: $border;
    }

    &__content-wrapper {
      border-color: $border;
    }

    &__option {
      padding: 10px;
      min-height: 34px;
      font-size: 14px;
      line-height: 1;

      &--highlight {
        background-color: rgba($main, 0.1);
        color: $black;
      }

      &--selected {
        background-color: $main;
        color: $white;
      }
    }
  }
}
.select-multiplie {
  padding: 0 !important;
  border: none;
}
.select-multiplie .multiselect__tag {
  margin: 0;
  margin-left: 5px;
}
.select-multiplie .multiselect__tags-wrap {
  display: flex;
}
.select-multiplie .multiselect__tags {
  padding: 0 !important;
  align-items: center;
  height: 100%;
  display: flex;
}
</style>
