<template lang="pug">
    hr.separator
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Separator extends Vue {}
</script>

<style lang="scss">
.separator {
  background: none;
  margin: 24px 0;
  border: 0;
  border-top: 1px solid $light-grey;
}
</style>
