<template lang="pug">
    component.subtitle(:is="tag" :class="classes")
        slot
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

type TitleLevelType = 1 | 2 | 3 | 4 | 5 | 6;

@Component
export default class Subtitle extends Vue {
  @Prop({ default: 1, required: false, type: Number }) level!: TitleLevelType;
  @Prop({ default: false, required: false, type: Boolean }) small!: boolean;
  @Prop({ default: "400", required: false, type: String }) weight!: string;
  @Prop({ required: false, type: String }) component!: string;

  public get classes() {
    return {
      "subtitle--small": this.small,
      [`subtitle--weight-${this.weight}`]: this.weight
    };
  }

  public get tag() {
    return this.component || `h${this.level}`;
  }
}
</script>

<style lang="scss">
.subtitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;

  &--small {
    font-size: 18px;
  }

  &--weight {
    &-400 {
      font-weight: 400;
    }
    &-500 {
      font-weight: 500;
    }
    &-600 {
      font-weight: 600;
    }
  }
}
</style>
