<template lang="pug">
    .text-field.w-full(:class="rootClasses")
        //input(
        //    v-if="type !== 'textarea'"
        //    ref="input"
        //    :type="newType"
        //    :value="computedValue"
        //    v-bind="$attrs"
        //    :disabled="disabled"
        //    @input="onInput"
        //    @change="onChange"
        //    class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
        //)
        .mt-1.relative.rounded-md.shadow-sm
          input#email.block.w-full.pr-10(
            v-if="type !== 'textarea'"
            ref="input"
            :type="newType"
            :value="computedValue"
            v-bind="$attrs"
            :disabled="disabled"
            @input="onInput"
            @change="onChange"
            :class='getInputClass()'
            class="sm:text-sm"
            aria-invalid='true'
            aria-describedby='email-error')
          .absolute.inset-y-0.right-0.pr-3.flex.items-center.pointer-events-none(v-if="errors.email")
            svg.h-5.w-5.text-red-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z' clip-rule='evenodd')
        p#email-error.mt-2.text-sm.text-red-600(v-if="errors.email") {{errors.email}}
        //textarea(
        //    v-else
        //    ref="textarea"
        //    :value="computedValue"
        //    v-bind="$attrs"
        //    :disabled="disabled"
        //    @input="onInput"
        //    @change="onChange"
        //    class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
        //)
</template>

<script lang="ts">
import { Component, Watch, Prop, Vue, Emit } from "vue-property-decorator";

@Component({
  inheritAttrs: false,
  name: "TextField"
})
export default class TextField extends Vue {
  @Prop({ type: [Number, String] }) value!: number | string;
  @Prop({ default: "text" }) type!: string;
  @Prop({ default: false }) disabled!: boolean;
  @Prop({ default: false }) lazy!: boolean;
  @Prop() errors!: any;

  public newValue = this.value;
  public newType = this.type;

  get computedValue(): number | string {
    return this.newValue;
  }

  set computedValue(value: number | string) {
    this.newValue = value;
    this.$emit("input", value);
  }

  get rootClasses() {
    return [
      {
        "text-field--disabled": this.disabled
      }
    ];
  }
  public getInputClass() {
    return {
      "border-red-300 text-red-900 placeholder-red-300 focus:ring-red-500 focus:border-red-500 rounded-md": this.errors.email,
      "shadow-sm focus:ring-blue-500 focus:border-blue-500 border-gray-300 rounded-md": !this.errors.email
    };
  }
  get valueLength() {
    if (typeof this.computedValue === "string") {
      return this.computedValue.length;
    } else if (typeof this.computedValue === "number") {
      return this.computedValue.toString().length;
    }
    return 0;
  }

  @Watch("value")
  private changeValue(value: number | string): void {
    this.newValue = value;
  }

  public onInput(event: Event) {
    const target = event.target as HTMLInputElement;

    if (!this.lazy) {
      this.updateValue(target.value);
    }

    return target.value;
  }

  @Emit("change")
  public onChange(event: Event) {
    const target = event.target as HTMLInputElement;

    if (this.lazy) {
      this.updateValue(target.value);
    }

    return target.value;
  }

  public updateValue(value: number | string): void {
    this.computedValue = value;
  }
}
</script>
<style lang="scss">
//.text-field {
//  @include display-flex-centered;
//  @include radius;
//  justify-content: flex-start;
//  border: 1px solid $border;
//  width: 100%;
//  padding: 7px 10px;
//  color: $black;
//
//  input,
//  textarea {
//    @include full-size;
//    @include offset-reset;
//    border: none;
//    background: none;
//    color: inherit;
//
//    @include placeholder {
//      opacity: 0.5;
//    }
//  }
//
//  textarea {
//    min-height: 130px;
//    resize: vertical;
//  }
//
//  &--disabled {
//    background: $light-grey;
//  }
//}
</style>
