<template lang="pug">
    .text-field.w-full(:class="rootClasses")
        input(
            v-if="type !== 'textarea'"
            ref="input"
            :type="newType"
            :value="computedValue"
            v-bind="$attrs"
            :disabled="disabled"
            @input="onInput"
            @change="onChange"
            class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
        )
        textarea(
            v-else
            ref="textarea"
            :value="computedValue"
            v-bind="$attrs"
            :disabled="disabled"
            @input="onInput"
            @change="onChange"
            class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
        )
</template>

<script lang="ts">
import { Component, Watch, Prop, Vue, Emit } from "vue-property-decorator";

@Component({
  inheritAttrs: false,
  name: "TextField"
})
export default class TextField extends Vue {
  @Prop({ type: [Number, String] }) value!: number | string;
  @Prop({ default: "text" }) type!: string;
  @Prop({ default: false }) disabled!: boolean;
  @Prop({ default: false }) lazy!: boolean;

  public newValue = this.value;
  public newType = this.type;

  get computedValue(): number | string {
    return this.newValue;
  }

  set computedValue(value: number | string) {
    this.newValue = value;
    this.$emit("input", value);
  }

  get rootClasses() {
    return [
      {
        "text-field--disabled": this.disabled
      }
    ];
  }

  get valueLength() {
    if (typeof this.computedValue === "string") {
      return this.computedValue.length;
    } else if (typeof this.computedValue === "number") {
      return this.computedValue.toString().length;
    }
    return 0;
  }

  @Watch("value")
  private changeValue(value: number | string): void {
    this.newValue = value;
  }

  public onInput(event: Event) {
    const target = event.target as HTMLInputElement;

    if (!this.lazy) {
      this.updateValue(target.value);
    }

    return target.value;
  }

  @Emit("change")
  public onChange(event: Event) {
    const target = event.target as HTMLInputElement;

    if (this.lazy) {
      this.updateValue(target.value);
    }

    return target.value;
  }

  public updateValue(value: number | string): void {
    this.computedValue = value;
  }
}
</script>
<style lang="scss">
//.text-field {
//  @include display-flex-centered;
//  @include radius;
//  justify-content: flex-start;
//  border: 1px solid $border;
//  width: 100%;
//  padding: 7px 10px;
//  color: $black;
//
//  input,
//  textarea {
//    @include full-size;
//    @include offset-reset;
//    border: none;
//    background: none;
//    color: inherit;
//
//    @include placeholder {
//      opacity: 0.5;
//    }
//  }
//
//  textarea {
//    min-height: 130px;
//    resize: vertical;
//  }
//
//  &--disabled {
//    background: $light-grey;
//  }
//}
</style>
