<template lang="pug">
    component.title(:is="tag" :class="classes")
        slot
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

type TitleLevelType = 1 | 2 | 3 | 4 | 5 | 6;

@Component
export default class Title extends Vue {
  @Prop({ default: 1, required: false, type: Number }) level!: TitleLevelType;
  @Prop({ default: false, required: false, type: Boolean }) big!: boolean;
  @Prop({ default: "400", required: false, type: String }) weight!: string;
  @Prop({ default: false, required: false, type: Boolean }) offset!: boolean;
  @Prop({ required: false, type: String }) component!: string;

  public get classes() {
    return {
      "title--big": this.big,
      "title--offset": this.offset,
      [`title--weight-${this.weight}`]: this.weight,
      [`title--level-${this.level}`]: this.level
    };
  }

  public get tag() {
    return this.component || `h${this.level}`;
  }
}
</script>

<style lang="scss">
.title {
  font-style: normal;
  line-height: 1.2;
}

.title--level {
  &-1 {
    font-size: 22px;

    @media screen and (max-width: 530px) {
      font-size: 15px;
    }
  }
  &-2 {
    font-size: 20px;
  }
  &-3 {
    font-size: 18px;
  }
  &-4,
  &-5,
  &-6 {
    font-size: 16px;
  }
}

.title--big {
  font-size: 28px;
}

.title--weight {
  &-400 {
    font-weight: 400;
  }
  &-500 {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
}

.title--bold {
  font-weight: 600;
}

.title--offset {
  margin-bottom: $offset2x;
  margin-top: $offset2x;
}
</style>
