<template lang="pug">
    Loader(v-if="!templates" :center="true")
    Page(v-else)
        PageHeader(title="Здесь вы можете скачать шаблоны различных документов")
        Table
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";

import {
  PageHeader,
  FormItem,
  TextField,
  Button,
  Loader,
  Table,
  Modal
} from "@/UI";

import { Maybe, DataInterface } from "@/helpers/types";
import { downloader } from "@/helpers/utils/downloader";
import Page from "@/UI/Page/Page.vue";

const columns = [
  {
    field: "name",
    label: "title",
    sortable: true,
    component: () => "a",
    action: (media: { id: number }) => {
      const { id } = media;
      downloader(id, id => `/api/document/generation/${id}`);
    }
  }
];

@Component({
  components: {
    Page,
    Modal,
    PageHeader,
    FormItem,
    TextField,
    Button,
    Loader,
    Table
  }
})
export default class PageTemplates extends Vue {
  @Action fetchTemplates!: (params?: string) => Promise<void>;
  @Getter("getTemplates") templates!: Maybe<DataInterface<any[]>>;

  public columns = columns;

  public created() {
    this.fetchTemplates();
  }
}
</script>

<style lang="scss">
.templates-links {
  @include card;
  padding: $offset2x;
}
</style>
