<template lang="pug">
    Loader(v-if="!this.file" :center="true")
    Page(v-else)
        PageHeader(:title="file.name_front || file.file_name")
            template(slot="actions")
                Button(variant="danger", @click="onDelete" :loading="isDeleting" v-if="!isAdmin") {{$t('delete')}}
        PageEditTabs
            Tabs
                TabContent(:title="$t('general')", id="General")
                    TabHeader(:title="$t('file_desc')")
                        Button(@click="onEdit" :loading="isLoading" :disabled="disableButton") {{$t('save')}}
                    Separator
                    Title(:offset="true") {{$t('general')}}
                    FormItem(:label="$t('title')" :required="true")
                        TextField(v-model="file.name_front" @input="handleInputChange" id="nameFront" name="nameFront")
                    FormItem(:label="$t('project')")
                        Checkbox(v-model="file.is_project" @input="handleInputChange")
                    FormItem(v-if="file.is_project" :label="'Зачёт или оценка за проект'")
                      Select(v-model="selectedTypeScore" name="type-score" :options="typeScoreSelect" @change="typeScoreChange" label="label" track-by="value")
                    FormItem(v-if="file.is_project" :label="$t('num_days')")
                        TextField(v-model="file.days" id="days" name="days" @input="handleInputChange")
                    FormItem(v-if="file.is_project" :label="$t('try_in_time')")
                        TextField(v-model="file.try_in_time" @input="handleInputChange")
                    FormItem(v-if="file.is_project" :label="$t('try_date_came_out')")
                        TextField(v-model="file.try_date_came_out" @input="handleInputChange")
                    Title(:offset="true") {{$t('file')}}
                    FormItem(:label="$t('file_curr')" class="w-100")
                        span {{file.name_front || file.file_name}} ({{fileSize(file.size)}})
                        a.source.action_button_link.action_button_source(@click="onDownload(file.id)") {{$t('file_download')}}
                        a.source.action_button_link.action_button_source(@click="onOpen(file)") {{$t('file_open')}}
                        a.replace.action_button_link.action_button_replace(@click="AddNewFile()") {{$t('file_change')}}
                    FormItem(:label="$t('file_new')" v-if="newFile")
                        span(v-if="fileUpload") {{fileUpload.name}} ({{fileSize(fileUpload.size)}})
                        FileUploader(id="file" @change="handleFileUpload" name="file" :placeholder="$t('file_select')")
                    FormItem
                        ProgressBar(v-if="this.percent" :percent="this.percent")
                    

</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import {
  Button,
  Checkbox,
  FileUploader,
  FormItem,
  Loader,
  Page,
  PageEditHeader,
  PageEditTabs,
  PageHeader,
  Picture,
  ProgressBar,
  Select,
  Separator,
  TabContent,
  TabHeader,
  Tabs,
  TextField,
  Title
} from "@/UI";

import {CourseInterface} from "@/helpers/types/courses";
import {Action, Getter} from "vuex-class";

import {URL} from "@/helpers/constants/url";
import {makeFormattedMediaType} from "@/helpers/utils/functions";
import {Maybe, MediaInterface} from "@/helpers/types";

import {CourseChapter, CourseChapterAdd} from "@/components/Course";
import MembersList from "@/components/MembersList.vue";
import Members from "@/components/Members.vue";
import {uploader} from "@/helpers/utils/uploader";
import find from "lodash/find";
import {downloader} from "@/helpers/utils/downloader";
import {downloaderTwo} from "@/helpers/utils/downloaderTwo";

const pluralize = require("numeralize-ru").pluralize;
const filesize = require("filesize");
@Component({
  components: {
    Page,
    PageEditTabs,
    PageEditHeader,
    Members,
    Separator,
    TabHeader,
    MembersList,
    CourseChapter,
    CourseChapterAdd,
    TextField,
    FormItem,
    Title,
    Loader,
    Tabs,
    Select,
    TabContent,
    Button,
    Picture,
    PageHeader,
    FileUploader,
    ProgressBar,
    Checkbox
  }
})
export default class PageCourseEdit extends Vue {
  //@Action fetchCourse!: (id: number) => Promise<void>;
  @Action getFileById!: (id: number) => Promise<void>;
  @Action deleteFileById!: (id: number) => Promise<void>;
  //@Action deleteCourse!: (id: number) => Promise<void>;
  //@Action editCourse!: (course: CourseInterface) => Promise<void>;
  //@Getter getCourse!: (id: number) => CourseInterface;
  @Getter("getFile") file!: Maybe<MediaInterface>;

  public URL = URL;
  public courseChapterAddView: "button" | "form" = "button";
  public id = +this.$route.params.id;
  public data: Maybe<CourseInterface> = null;
  public fileUpload: Maybe<File> = null;
  public isLoading = false;
  public isDeleting = false;
  public percent = 0;
  public isProject = false;
  public disableButton: boolean = true;
  public days = 0;
  public hours = 0;
  public mins = 0;
  public newFile = false;
  public selectedTypeScore: any = null;
  public typeScoreSelect = [
    {
      value: "pass",
      label: this.$t("exam_type_pass")
    },
    {
      value: "score",
      label: this.$t("exam_type_score")
    }
  ];

  public handleInputChange() {
    if(this.file?.is_project === true) {
      this.checkButton();
    } else {
      this.disableButton = false;
    }
  }

  public checkButton() {
    if (
      this.file?.try_in_time !== "" &&
      this.file?.try_date_came_out !== "" &&
      this.file?.try_in_time !== null &&
      this.file?.try_date_came_out !== null &&
      this.selectedTypeScore !== null
    ) {
      this.disableButton = false;
    } else {
      this.disableButton = true;
    }
  }

  async created(): Promise<void> {
    await this.getFileById(this.id);
    if (this.file?.type_score !== "null" && this.file?.type_score != null) {
      this.selectedTypeScore = find(this.typeScoreSelect, i => {
        return i.value === this.file?.type_score;
      });
    }
    if ((this.file as any).is_project === 1) {
      (this.file as any).is_project = true;
    }
    //this.getUpdate();
  }

  public handleFileUpload(value: File) {
    console.log(value);
    this.fileUpload = value;
    if (this.file?.name_front === "") {
      this.file.name_front = value.name;
    }
  }

  public onDownload(id: number) {
    downloaderTwo(id);
  }
  public onOpen(file: any) {
    if (makeFormattedMediaType(file.mime_type) === "video") {
      this.$router.push(`${URL.CONTENT}/info/${file.id}`);
    } else {
      downloader(file.id);
    }
  }
  public AddNewFile() {
    this.newFile = !this.newFile;
  }
  public typeScoreChange(value: any) {
    this.selectedTypeScore = value;
    this.handleInputChange();
  }
  public async onEdit() {
    try {
      const params = {
        name_front: this.file?.name_front,
        file: this.fileUpload,
        ...((this.file as any).is_project === true && {
          is_project: 1,
          days: (this.file as any).days,
          try_date_came_out: (this.file as any).try_date_came_out,
          try_in_time: (this.file as any).try_in_time,
          type_score: this.selectedTypeScore.value
            ? this.selectedTypeScore.value
            : (this.file as any).type_score
        })
      };
      this.isLoading = true;
      await uploader(
        `/admin/media/${this.file?.id}`,
        params,
        percent => (this.percent = percent)
      );
      this.isLoading = false;
      this.$emit("success-add");
    } finally {
      this.percent = 0;
      this.isLoading = false;
    }
  }
  //
  public async onDelete() {
    const id = this.file?.id;

    try {
      this.isDeleting = true;
      await this.deleteFileById(id as number);
      await this.$router.push(URL.FILE_MANAGER);
    } catch {
      this.isDeleting = false;
    }
  }
  public timeConvertToServer(hours: any, mins: any) {
    let hourss = 0;
    let minss = 0;
    if (hours > 0) {
      hourss = hours * 60;
    }
    if (mins > 0) {
      minss = mins;
    }
    const calc = hourss - -minss;
    (this.file as any).duration = calc;
    //this.$set(chapter, "duration", String(calc));
    return calc;
  }
  public converTime(mins: any) {
    const num = mins;
    const hours = num / 60;
    const rhours = Math.floor(hours);
    const minutes = (hours - rhours) * 60;
    const rminutes = Math.round(minutes);
    if (rhours > 0) {
      this.hours = rhours;
      this.mins = rminutes;
    } else {
      this.mins = rminutes;
    }
  }
  public normalise(value: number, one: string, two: string, three: string) {
    return pluralize(value, one, two, three);
  }
  public fileSize(size: number) {
    return filesize(size, { locale: "ru" });
  }
  get isAdmin() {
    return this.$store.getters.isAdmin;
  }
  //
  //public getUpdate() {
  //  this.data = this.getCourse(this.id);
  //  //console.log(this.data.chapter)
  //}
  //
  //public onChangeChapterAddView(view: "button" | "form") {
  //  scrollToElement("chapter-add");
  //  this.courseChapterAddView = view;
  //}
  //public async onSuccess(): Promise<void> {
  //  console.log("add chapter");
  //  await this.fetchCourse(this.id);
  //  this.getUpdate();
  //}
}
</script>
