<template lang="pug">
    VueGoodTable(
        :mode="this.mode"
        v-bind="$attrs"
        v-on="$listeners"
        :rows="this.rows"
        :columns="this.columns"
        :totalRows="this.total"
        @on-page-change="onPageChange"
        @on-column-filter="onColumnFilter"
        @on-sort-change="onSortChange"
        @on-per-page-change="onPerPageChange"
        @on-search="onSearch"
        @on-selected-rows-change="onSelectionChanged"
        :pagination-options="mode === 'remote' ? this.paginationOptions : false"
        :isLoading.sync="isLoading"
        :select-options="selectOptions"
        :search-options="searchOptions"
        :fixed-header="fixedHeader"
    )   
        template(slot='table-column' slot-scope='props')
          span {{ $t(props.column.label) }}
        //template(slot="selected-row-actions")
        //    router-link.actions_for_selected_rows_button(:to="`${URL.COURSES}/${selectedId}/edit`" v-if="selected.length <= 1")
        //        img(src="@/assets/svg/icons/edit.svg").actions_for_selected_rows_button_icon
        //        span.actions_for_selected_rows_button_text Редактировать
        //    a.actions_for_selected_rows_button(@click="onClone(selected)")
        //        img(src="@/assets/svg/icons/clone.svg").actions_for_selected_rows_button_icon
        //        span.actions_for_selected_rows_button_text Дублировать
        //    a.actions_for_selected_rows_button(@click="onDelete(selected)")
        //        img(src="@/assets/svg/icons/delete.svg").actions_for_selected_rows_button_icon
        //        span.actions_for_selected_rows_button_text Удалить
        template(slot="emptystate")
            span(v-if="serverParams.searchTerm") {{$t('search_empty')}}
            span(v-else) {{$t('havent_info')}}
        template(slot='table-row' slot-scope='props')
            component(
                v-if="props.column.component && props.column.component(props.row)"
                :is="props.column.component(props.row)"
                @click.prevent="props.column.action && props.column.component && props.column.component(props.row) ? props.column.action(props.row) : undefined"
            ) {{ props.formattedRow[props.column.field] }}
            router-link(
                v-else-if="props.column.link && props.column.icon"
                :to="props.column.link(props.row)"
            )
                img(:src="props.column.icon").actions_for_selected_rows_button_icon/ {{ props.formattedRow[props.column.field] }}
            router-link(
                v-else-if="props.column.link"
                :to="props.column.link(props.row)"
            ) {{ props.formattedRow[props.column.field] }}
            span(v-else) {{ props.formattedRow[props.column.field] }}
</template>

<script lang="ts">
import { Action } from "vuex-class";
import { Component, Emit, Prop, Vue, Watch } from "vue-property-decorator";
import { VueGoodTable } from "vue-good-table";

import { DataInterface } from "@/helpers/types";
import { makeQueryURL } from "@/helpers/utils/functions";

import { PaginationOptionsInterface } from "./types";
import { Link } from "@/UI";
import { URL } from "@/helpers/constants/url";
import i18n from "@/i18n";
const defaultPaginationOptions: PaginationOptionsInterface = {
    enabled: true,
  mode: "pages",
  position: "bottom",
  perPageDropdown: [3, 5, 7, 9, 10, 50],
  dropdownAllowAll: false,
  nextLabel: String(i18n.t("Next")),
  prevLabel: String(i18n.t("Back")),
  rowsPerPageLabel: String(i18n.t("output")),
  ofLabel: String(i18n.t("out_of")),
  pageLabel: String(i18n.t("page")),
  allLabel: String(i18n.t("all"))
};

@Component({
  components: {
    Link,
    VueGoodTable
  },
  name: "Table"
})
export default class Table extends Vue {
  @Action deleteCourses!: (params: any) => Promise<void>;
  @Action duplicateCourses!: (params: any) => Promise<void>;
  @Action cloneCourse!: (id: number) => Promise<void>;
  @Action deleteCourse!: (id: number) => Promise<void>;
  @Prop({ required: false, default: null }) fetch!: () => Promise<void>;
  @Prop({ required: true }) data!: DataInterface<any>;
  @Prop({ required: true }) columns!: any;
  @Prop({ required: false, default: false }) loading!: boolean;
  @Prop({ required: false }) dataPath!: string;
  @Prop({ required: false }) fixedHeader!: boolean;
  @Prop({
    required: false,
    default: () => ({
      enabled: true,
      selectOnCheckboxOnly: true,
      selectionText: i18n.t("item_selected"),
      clearSelectionText: i18n.t("deselect_all"),
      selectionInfoClass: "actions_for_selected_rows"
    })
  })
  selectOptions!: Record<string, any>;
  @Prop({
    required: false,
    default: () => ({ enabled: true })
  })
  searchOptions!: Record<string, any>;
  public selected: Array<any> = [];
  public selectedId = null;

  public isLoading = false;
  public mode = !this.$listeners.fetch ? "local" : "remote";
  public rows: Omit<DataInterface<any>, "data"> = this.setData();

  public total = this.data.total ? this.data.total : 0;
  public serverParams = {
    sort: [],
    searchTerm: "",
    page: this.data.current_page,
    perPage: this.data.per_page
  };
  public paginationOptions: PaginationOptionsInterface = {
    ...defaultPaginationOptions,
    ...this.serverParams
  };

  public URL = URL;

  private setData() {
    let data;

    if (this.dataPath) {
      data = this.data[this.dataPath as string];
    } else {
      data = this.data;
    }

    return data;
  }

  public updateParams(newParams: any) {
    this.serverParams = Object.assign({}, this.serverParams, newParams);
  }

  public onPageChange(params: any) {
    this.updateParams({ page: params.currentPage });
    this.fetchData();
  }

  public onPerPageChange(params: any) {
    this.updateParams({ perPage: params.currentPerPage });
    this.fetchData();
  }

  public onSortChange(params: any) {
    this.updateParams({
      sort: params ? JSON.stringify(params) : []
    });
    this.fetchData();
  }

  public onSearch({ searchTerm }: any) {
    this.updateParams({
      searchTerm
    });
    this.fetchData();
  }

  public onColumnFilter(params: any) {
    this.updateParams(params);
    this.fetchData();
  }
  public async onClone(data: string | any[]) {
    const ids: Array<any> = [];
    for (let i = 0; i < data.length; i++) {
      ids.push(data[i].id);
    }
    const params = {
      ids
    };
    try {
      await this.duplicateCourses(params);
    } catch (e) {
      console.error(e);
    }
    this.fetchData();
  }
  public async onDelete(data: string | any[]) {
    const ids: Array<any> = [];
    for (let i = 0; i < data.length; i++) {
      ids.push(data[i].id);
    }
    const params = {
      ids
    };
    try {
      await this.deleteCourses(params);
    } catch (e) {
      console.error(e);
    }
    this.fetchData();
  }

  @Emit("fetch")
  private fetchData() {
    // this.isLoading = true;
    return makeQueryURL(this.serverParams);
  }

  @Emit("select")
  private onSelectionChanged(data: { selectedRows: any[] }) {
    this.selected = data?.selectedRows;
    if (data?.selectedRows[0]) {
      this.selectedId = data?.selectedRows[0].id;
    } else {
      this.selectedId = null;
    }
    return data?.selectedRows;
  }

  @Watch("data")
  private changeData(data: DataInterface<any>) {
    this.rows = this.setData();
    this.total = data?.total;
  }

  @Watch("loading")
  private changeLoading(loading: boolean) {
    this.isLoading = loading;
  }
}
</script>
