<template lang="pug">
    Loader(v-if="!data" :center="true")
    Page(v-else)
        PageEditHeader(:title="data.displayname")
            template(slot="avatar")
                Avatar(v-if="data.avatar" :avatar="data.avatar.url" :size="50", @set="onSetAvatar")
        PageEditTabs
            Tabs
                TabContent(:title="$t('program')", id="Program")
                    TabHeader(:title="$t('user_program_page')")
                        Button(@click="onEdit" :loading="isLoading") {{$t('save')}}
                    Separator
                    UserProgram(:data="data")
                TabContent(:title="$t('general_info')", id="General")
                    TabHeader(:title="$t('users.desc')")
                        Button(@click="onEdit" :loading="isLoading") {{$t('save')}}
                    Separator
                    UserGeneralUser(:data="data")
                TabContent(:title="$t('address')", id="Address")
                    TabHeader(:title="$t('address_desc')")
                        Button(@click="onEdit" :loading="isLoading") {{$t('save')}}
                    Separator
                    UserAddress(:data="data")
                TabContent(:title="$t('contract')", id="Contract")
                    TabHeader(:title="$t('contract_desc')")
                        Button(@click="onEdit" :loading="isLoading") {{$t('save')}}
                    Separator
                    UserContractUser(:data="data")
                TabContent(:title="$t('passport_info')", id="Passport")
                    TabHeader(:title="$t('passport_info_desc')")
                        Button(@click="onEdit" :loading="isLoading") {{$t('save')}}
                    Separator
                    UserPassport(:data="data")
                TabContent(:title="$t('company_info')", id="Company")
                    TabHeader(:title="$t('company_info_desc')")
                        Button(@click="onEdit" :loading="isLoading") {{$t('save')}}
                    Separator
                    UserCompany(:data="data")
                //TabContent(title="Участие в группах", id="Groups" :disabled="isDisabled")
                //    TabHeader(title="На этой странице вы можете изменить данные о группах пользователя.")
                //        Button(@click="onEdit" :loading="isLoading") {{$t('save')}}
                //    Separator
                //    UserGroups(:data="data")
                //TabContent(title="Участие в программах", id="Programs")
                //    TabHeader(title="На этой странице вы можете увидеть все программы пользователя в которых он участвует")
                //        Button(@click="onEdit" :loading="isLoading") {{$t('save')}}
                //    Separator
                //    UserPrograms(:data="data")
                TabContent(:title="$t('calendar')", id="Calendar")
                    TabHeader(:title="$t('calendar_desc')")
                        Button(@click="onEdit" :loading="isLoading") {{$t('save')}}
                    Separator
                    UserCalendar(:data="data")
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {
  Button,
  Picture,
  Tabs,
  TabContent,
  Title,
  Loader,
  FormItem,
  Separator,
  TabHeader,
  Page,
  PageEditHeader,
  PageEditTabs,
  Select,
  TextField,
  Datepicker
} from "@/UI";

import { Action, Getter } from "vuex-class";

import { Maybe, UserInterface } from "@/helpers/types";

import Avatar from "@/modules/Avatar.vue";
import {
  UserGeneralUser,
  UserAddress,
  UserContractUser,
  UserPassport,
  UserCompany,
  UserProgram,
  UserActivity,
  UserCalendar
} from "@/components/User";
import UserPrograms from "@/components/User/UserPrograms.vue";
import UserGroups from "@/components/User/UserGroups.vue";

@Component({
  components: {
    UserPrograms,
    UserGroups,
    UserCompany,
    UserProgram,
    UserPassport,
    UserContractUser,
    UserAddress,
    UserGeneralUser,
    UserActivity,
    UserCalendar,
    Select,
    TabHeader,
    Separator,
    PageEditTabs,
    PageEditHeader,
    Page,
    Avatar,
    TextField,
    FormItem,
    Title,
    Loader,
    Tabs,
    TabContent,
    Button,
    Picture,
    Datepicker
  }
})
export default class PageUserEdit extends Vue {
  @Action editProfile!: (user: UserInterface) => Promise<void>;
  @Action setProfileAvatar!: (user: Maybe<UserInterface>) => Promise<void>;
  @Action fetchProfile!: () => Promise<void>;
  @Getter isAuthenticated!: boolean;
  @Getter("getProfile") profile!: Maybe<UserInterface>;

  public data: Maybe<UserInterface> = null;
  public isLoading = false;
  public isDisabled = true;

  async created(): Promise<void> {
    if (!this.profile) {
      await this.fetchProfile();
    }
    this.data = this.profile;
  }
  get isNew() {
    return this.$store.getters.isNew;
  }

  public async onEdit() {
    if (this.data) {
      try {
        this.isLoading = true;
        this.data.is_start = 0;
        await this.editProfile(this.data);
        await this.fetchProfile();
        this.isLoading = false;
      } catch {
        this.isLoading = false;
      }
    }
  }

  public async onSetAvatar(avatar: File) {
    if (this.data && avatar) {
      const data = {
        ...this.data,
        avatar
      };
      await this.setProfileAvatar(data);
      await this.fetchProfile();

      this.data = this.profile;
    }
  }
}
</script>
