<template lang="pug">
    Modal(:name="name" :title="$t('add_file')")
        FormItem(:label="$t('title')" :required="true")
            TextField(v-model="nameFront" id="nameFront" name="nameFront")
        FormItem(:label="$t('file')" :required="true")
            FileUploader(id="file" @change="handleFileUpload" name="file" :placeholder="$t('file_select')")
        FormItem(:label="$t('project')")
            Checkbox(v-model="isProject")
        FormItem(v-if="isProject" :label="'Зачёт или оценка за проект'" :is-full="true")
          Select(v-model="selectedTypeScore" name="type-score" :options="typeScoreSelect" @change="genderChange" label="label" track-by="value")
        FormItem(v-if="isProject" :label="$t('num_days')" :is-full="true")
            TextField(v-model="days" id="days" name="days")
        FormItem(v-if="isProject" :label="$t('try_in_time')" :is-full="true")
            TextField(v-model="try_in_time")
        FormItem(v-if="isProject" :label="$t('try_date_came_out')" :is-full="true")
            TextField(v-model="try_date_came_out")

        FormItem
            ProgressBar(v-if="this.percent" :percent="this.percent")
        template(slot='footer')
            Button(@click="onAddFile" :loading="this.isLoading") {{$t('add')}}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Select } from "@/UI";
import { Getter, Action } from "vuex-class";

import {
  Button,
  Modal,
  FormItem,
  TextField,
  FileUploader,
  ProgressBar,
  Checkbox
} from "@/UI";

import { Maybe, UserInterface } from "@/helpers/types";
import { uploader } from "@/helpers/utils/uploader";

@Component({
  components: {
    Button,
    Modal,
    FormItem,
    Select,
    TextField,
    FileUploader,
    ProgressBar,
    Checkbox
  }
})
export default class AddFileModal extends Vue {
  @Prop({ required: true }) name!: string;
  @Prop({ default: "/" }) basePath!: string;
  @Action addFile!: (params: any) => Promise<void>;
  @Getter("getProfile") profile!: Maybe<UserInterface>;

  public file: Maybe<File> = null;
  public nameFront = "";
  public isLoading = false;
  public percent = 0;
  public isProject = false;
  public days = 0;
  public try_in_time = 0;
  public try_date_came_out = 0;
  public selectedTypeScore: any = [];

  public typeScoreSelect = [
    {
      value: "pass",
      label: "Зачет"
    },
    {
      value: "score",
      label: "Оценка"
    }
  ];

  public onCloseModal() {
    this.$modal.hide(this.name);
  }

  public handleFileUpload(value: File) {
    console.log(value);
    this.file = value;
    if (this.nameFront === "") {
      this.nameFront = value.name;
    }
  }

  public async onAddFile() {
    try {
      const { path } = this.$route.params;

      const params = {
        collection: path ? `/${path}/` : this.basePath,
        name_front: this.nameFront,
        file: this.file,
        ...(this.isProject === true && {
          is_project: 1,
          days: this.days,
          try_in_time: this.try_in_time,
          try_date_came_out: this.try_date_came_out,
          type_score: this.selectedTypeScore.value
            ? this.selectedTypeScore.value
            : null
        })
      };

      this.isLoading = true;

      await uploader(
        "/admin/file",
        params,
        percent => (this.percent = percent)
      );

      this.isLoading = false;

      this.onCloseModal();
      this.$emit("success-add");
    } finally {
      this.percent = 0;
      this.isLoading = false;
    }
  }
}
</script>
