<template lang="pug">
    Modal(:name="name" :title="modalTitle")
        FormItem(:label="formItemTitle" :required="true")
            TextField(v-model="folderName", id="folderName", name="folderName", :placeholder="modalPlaceholder")
        template(slot='footer')
            Button(@click="onCreateFolder" :loading="this.isLoading") {{modalButton}}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Action } from "vuex-class";
import i18n from "@/i18n";

import { Button, Modal, FormItem, TextField, FileUploader } from "@/UI";

@Component({
  components: {
    Button,
    Modal,
    FormItem,
    TextField,
    FileUploader
  }
})
export default class CreateFolderModal extends Vue {
  @Prop({ required: true }) name!: string;
  @Prop({ default: "/" }) basePath!: string;
  @Action createFolder!: (path: string) => Promise<void>;

  modalTitle = i18n.t("create_folder");
  formItemTitle = i18n.t("title");
  modalPlaceholder = i18n.t("create_folder_name");
  modalButton = i18n.t("create");

  public folderName = "";
  public isLoading = false;

  public onCloseModal() {
    this.$modal.hide(this.name);
  }

  public async onCreateFolder() {
    try {
      const { path } = this.$route.params;
      const { folderName, basePath } = this;

      this.isLoading = true;
      await this.createFolder(`${basePath}${path || ""}/${folderName}`);
      this.isLoading = false;

      this.onCloseModal();
    } finally {
      this.isLoading = false;
    }
  }
}
</script>
