<template lang="pug">
    Modal(:name="name" :title="$t('file_change')" )
        FormItem(:label="$t('title')" :required="true")
            TextField(v-model="media.name_front" id="nameFront" name="nameFront")
        FormItem(:label="$t('file')" :required="true")
            FileUploader(id="file" @change="handleFileUpload" name="file" placeholder="Выберите файл")
        FormItem(:label="$t('project')")
            Checkbox(v-model="isProject")
        FormItem(v-if="isProject" :label="$t('num_days')")
            TextField(v-model="days" name="days" type="number" placeholder="10")
        FormItem
            ProgressBar(v-if="this.percent" :percent="this.percent")
        template(slot='footer')
            Button(@click="onAddFile" :loading="this.isLoading") {{$t('save')}}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";

import {
  Button,
  Modal,
  FormItem,
  TextField,
  FileUploader,
  ProgressBar,
  Checkbox
} from "@/UI";
import { Maybe, MediaInterface, UserInterface } from "@/helpers/types";
import { uploaderPut } from "@/helpers/utils/uploaderPut";

@Component({
  components: {
    Button,
    Modal,
    FormItem,
    TextField,
    FileUploader,
    ProgressBar,
    Checkbox
  }
})
export default class AddFileModal extends Vue {
  //@Prop({ required: true }) name!: string;
  @Prop({ required: true }) media!: MediaInterface;
  @Prop({ default: "/" }) basePath!: string;
  @Action addFile!: (params: any) => Promise<void>;
  @Getter("getProfile") profile!: Maybe<UserInterface>;

  public name = "editFile";
  //public media?: Maybe<MediaInterface[]>;
  //
  //public async beforeOpen(data: {
  //  params: {
  //    media?: Maybe<MediaInterface[]>;
  //  };
  //}) {
  //  this.media = data?.params?.media;
  //}

  public file: Maybe<File> = null;
  public nameFront = "";
  public isLoading = false;
  public percent = 0;
  public isProject = false;
  public days = 0;

  public onCloseModal() {
    this.$modal.hide(this.name);
  }

  public handleFileUpload(value: File) {
    this.file = value;
    if (this.nameFront === "") {
      this.nameFront = value.name;
    }
  }

  public async onAddFile() {
    try {
      const { path } = this.$route.params;

      const params = {
        //collection: path ? `/${path}/` : this.basePath,
        name_front: this.media.name_front,
        file: this.file,
        ...(this.isProject === true && {
          is_project: 1,
          days: this.days
        })
      };

      this.isLoading = true;

      await uploaderPut(
        `/admin/media/${this.media.id_media}`,
        params,
        percent => (this.percent = percent)
      );

      this.isLoading = false;

      this.onCloseModal();
      this.$emit("success-add");
    } finally {
      this.percent = 0;
      this.isLoading = false;
    }
  }
}
</script>
