<template lang="pug">
    .file-transfer
        .file-transfer__url
            .file-transfer__url-label {{$t('current_path')}}
            .file-transfer__url-current {{ getPath() }}
        .file-transfer__wrapper
            .file-transfer__list.file-transfer__before
               span(v-if="isLoading") {{$t('loading')}}
               ul(v-else)
                   li(v-if="isFolder" @click="goBack").file-transfer-item
                       span.file-transfer-item__type
                           Icon(name="arrow-left")
                       strong.file-transfer-item__name {{$t('file_manager_back')}}
                   li(v-for="(item, index) in this.items.data" :key="index" @click="item.type === 'file' ? addToSelected(item) : getFolder(item.name)").file-transfer-item
                        span.file-transfer-item__type
                            Icon(v-if="item.type === 'folder'" name="folder")
                            Icon(v-else name="file-alt")
                        span.file-transfer-item__name {{ item.name_front || item.name }}
                   li(v-if="!this.items || this.items.length === 0" ).file-transfer-item
                        span.file-transfer-item__name {{$t('file_manager_empty')}}
            .file-transfer__list.file-transfer__after
                ul(v-if="this.selected.length > 0")
                    li(v-for="(item, index) in this.selected" :key="index" @click="deleteFromSelected(index)").file-transfer-item
                        span.file-transfer-item__name {{ item.name_front || item.name }}
                        span.file-transfer-item__delete
                            Icon(name="trash-alt")
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";

import {
  Button,
  Modal,
  FormItem,
  TextField,
  FileUploader,
  ProgressBar
} from "@/UI";

import { Maybe, FolderInterface, MediaInterface } from "@/helpers/types";

@Component({
  components: {
    Button,
    Modal,
    FormItem,
    TextField,
    FileUploader,
    ProgressBar
  }
})
export default class FileTransfer extends Vue {
  @Action fetchFiles!: (path?: string) => Promise<void>;
  @Getter("getFiles") items!: Maybe<FolderInterface | MediaInterface[]>;

  public isLoading = true;
  public selected: MediaInterface[] = [];
  public path = ["/"];

  async created() {
    await this.fetchFiles(this.path[0]);
    this.isLoading = false;
  }

  get isFolder() {
    return this.path?.length > 1;
  }

  getPath() {
    if (this.path.length === 1) {
      return this.path.toString();
    }

    return this.path.join("/").slice(2);
  }

  getUrl(inPath?: string) {
    if (inPath) {
      this.path.push(inPath);
    } else {
      this.path.splice(-1, 1);
    }

    const url = this.getPath();

    return url;
  }

  async getFolder(path?: string) {
    this.isLoading = true;

    await this.fetchFiles(this.getUrl(path));

    this.isLoading = false;
  }

  async goBack() {
    await this.getFolder();
  }

  public addToSelected(file: MediaInterface) {
    this.selected.push(file);
  }

  public deleteFromSelected(index: number) {
    this.selected.splice(index, 1);
  }

  @Watch("selected")
  private changeSelected(list: MediaInterface[]) {
    this.$emit("change", list);
  }
}
</script>

<style lang="scss">
.file-transfer {
  &__wrapper {
    display: flex;
  }

  &__url {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    //white-space: nowrap;
    margin-bottom: 10px;
    flex-wrap: wrap;
    &-label {
      font-weight: bold;
      margin-right: 4px;
    }
    &-current {
      & > * {
        &:hover {
          color: $main;
        }
      }
    }
  }
  &__list {
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    height: 320px;
    width: 100%;
    max-width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 0 0 auto;
    padding: 16px;

    & + & {
      max-width: calc(50% - 3%);
      margin-left: 3%;
    }
  }
}

.file-transfer-item {
  @include display-flex-centered;
  justify-content: flex-start;
  cursor: pointer;

  &:hover {
    color: $main;
  }

  &__type {
    @include display-flex-centered;
    @include square(16, 16);
    margin-right: 10px;
    flex: 0 0 auto;
  }

  &__delete {
    margin-left: auto;
    font-weight: bold;
  }
  & + * {
    margin-top: 10px;
  }
}
</style>
