<template lang="pug">
    .quiz_settings
      FormItem(:label="$t('title')")
          TextField(v-model="quiz.title" name="title" placeholder="Новый тест")
      FormItem(:label="$t('max_attempt')")
          TextField(v-model="quiz.max_attempt" name="maxAttempt" placeholder="10")
      FormItem(:label="$t('response_time')")
          TextField(v-model="quiz.response_time" name="responseTime" placeholder="10")
      FormItem(:label="$t('text_for_preview')")
          TextField(v-model="quiz.description" type="textarea")
      FormItem(:label="$t('image')")
          FileUploader(id="file" @change="handleFileUpload" name="file" placeholder="Выберите файл")
      //FormItem(label="Максимальное количество баллов")
      //    TextField(v-model="quizMaxScore" name="maxScore" placeholder="10")
      FormItem(:label="$t('type_sort')")
          Select(v-model="selectedSort" name="sort" :options="sortSelect" @change="sortChange" label="label" track-by="value")
      FormItem(:label="$t('type_score')")
          Select(v-model="selectedType" name="sort" :options="typeSelect" @change="typeChange" label="label" track-by="value")
      FormItem(label="Оценивание теста")
        .flex.flex-col.w-full(v-if="quiz.type_score === 'exam' || quiz.type_score.value === 'exam'")
          fieldset#exam(v-for="item, index in scores" :key="index")
            .mt-1.bg-white.rounded-md.-space-y-px
              .flex.-space-x-px.items-center.relative
                span.font-medium.text-gray-700.mr-2 {{index + 1}}.
                .flex-1.min-w-0
                  label(for='score').text-sm.font-medium.text-gray-700 Оценка
                  input#score.relative.block.w-full.rounded-bl-md.bg-transparent.border-gray-300.rounded-tl-md(@input="updateRatioPercentages" v-model="item.score" type='number' name='score' class='focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm' placeholder='Оценка')
                .flex-1.min-w-0
                  label(for='from').text-sm.font-medium.text-gray-700 От %
                  input#from.relative.block.w-full.bg-transparent.border-gray-300(@input="updateRatioPercentages" v-model="item.percent_from" min="0" max="100" type='number' name='percent_from-cvc' class='focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm' placeholder='Процент от')
                .flex-1.min-w-0
                  label(for='to').text-sm.font-medium.text-gray-700 До %
                  input#to.relative.block.w-full.rounded-br-md.bg-transparent.border-gray-300.rounded-tr-md(@input="updateRatioPercentages" v-model="item.percent_to"  min="0" max="100" type='number' name='percent_to-cvc' class='focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm' placeholder='Процент до')
                .flex.flex-col.w-5
                  div
                    button(v-if="(index + 1) === scores.length" @click="scoresPlus" class="ml-2 inline-flex items-center p-1 border border-transparent rounded-full shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500")
                      svg.h-5.w-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z' clip-rule='evenodd')
                    button(v-if="index > 0" @click="scoresMinus(index)" class="ml-2 inline-flex items-center p-1 border border-transparent rounded-full shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500")
                      svg.h-5.w-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(fill-rule='evenodd' d='M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z' clip-rule='evenodd')
        .flex.w-full(v-else-if="quiz.type_score === 'pass' || quiz.type_score.value === 'pass'")
          div#pass
            label.block.text-sm.font-medium.text-gray-700(for='percentFrom') Проходной процент
            .mt-1
              input#percentFrom.shadow-sm.block.w-full.border-gray-300.rounded-md(@input="updateRatioPercentages" v-model="percentFrom.percent_from" type='number' name='percentFrom' class='focus:ring-blue-500 focus:border-blue-500 sm:text-sm' placeholder='Процент')
      FormItem(:label="$t('active')")
          CheckboxOne(v-model="quiz.visible")
      FormItem(:label="$t('answer_show')")
          CheckboxOne(v-model="quiz.is_show_answer")
      FormItem(label="Показывать отчёт в конце")
          CheckboxOne(v-model="quiz.is_report")
      FormItem(label="Уведомлять администратора")
          CheckboxOne(v-model="quiz.is_notifications")
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from "vue-property-decorator";
import {
  Modal,
  FormItem,
  TextField,
  Checkbox,
  CheckboxOne,
  Button,
  FileUploader,
  Select
} from "@/UI";
import { Quiz } from "@/helpers/types/quiz";
import { uploader } from "@/helpers/utils/uploader";
@Component({
  components: {
    Modal,
    FormItem,
    TextField,
    Checkbox,
    CheckboxOne,
    Button,
    FileUploader,
    Select
  }
})
export default class QuizActionModal extends Vue {
  @Prop() quiz!: Quiz;
  private name = "quizModal";

  private isLoading = false;
  public percentFrom: object = { percent_from: null };
  public selectedSort: object = {};
  public selectedType: object = {};
  public scores = [{ score: null, percent_from: null, percent_to: null }];
  public scoresPlus() {
    this.scores.push({ score: null, percent_from: null, percent_to: null });
  }
  public scoresMinus(index: number) {
    this.scores.splice(index ,1);
  }
  public updateRatioPercentages() {
    switch ((this.selectedType as any).value) {
      case "exam":
        this.quiz.ratio_percentages_and_score = this.scores;
        break;
      case "pass":
        this.quiz.ratio_percentages_and_score = this.percentFrom;
        break;
    }
    console.log(this.quiz.ratio_percentages_and_score)
  }
  public typeSelect = [
    {
      value: "exam",
      label: "Экзамен"
    },
    {
      value: "pass",
      label: "Зачет"
    },
    {
      value: "poll",
      label: "Опрос"
    }
  ];
  public sortSelect = [
    {
      value: "scatter",
      label: "В разброс"
    },
    {
      value: "order",
      label: "По порядку"
    }
  ];
  public typeChange(value: any) {
    this.quiz.type_score = value;
  }
  public sortChange(value: any) {
    this.quiz.type_sort = value;
  }
  private title = "";
  public percent = 0;
  private action = "";
  private actionTitle = "";
  private quizId: Quiz["id"];
  private quizTitle: Quiz["title"] = "";
  private quizMaxAttempt: Quiz["max_attempt"] | string = "";
  private quizMaxScore: Quiz["max_score"] | string = null;
  private quizResponseTime: Quiz["response_time"] | string = "";
  private description: Quiz["description"] | string = "";
  private image: Quiz["image"] | File;
  private quizVisible = true;
  private quizNotification = false;
  private quizReport = false;
  private quizShowAnswers = true;
  public async handleFileUpload(value: File) {
    this.quiz.image = value;
    try {
      const params = {
        id: this.quiz.id,
        title: this.quiz.title,
        image: this.quiz.image,
        _method: "put"
      };
      await uploader(
        `/admin/quiz/${this.quizId}`,
        params,
        percent => (this.percent = percent)
      );
      // eslint-disable-next-line no-empty
    } catch (error) {}
    //console.log(this.image);
  }
  public created() {
    //this.title = data?.params?.title || "";
    //this.action = data?.params?.action || "";
    //this.actionTitle = data?.params?.actionTitle || "";
    this.quizId = this.quiz?.id;
    this.quizTitle = this.quiz?.title || "";
    this.description = this.quiz?.description || "";
    this.quizMaxAttempt = this.quiz?.max_attempt || "";
    this.quizMaxScore = this.quiz?.max_score || "";
    this.quizResponseTime = this.quiz?.response_time || "";
    this.quizVisible = this.quiz?.visible === 1;
    this.quizShowAnswers = this.quiz?.is_show_answer === 1;
    this.quizNotification = this.quiz?.is_notifications === 1;
    this.quizReport = this.quiz?.is_report === 1;
    switch (this.quiz.type_sort) {
      case "scatter":
        this.selectedSort = {
          value: "scatter",
          label: "В разброс"
        };
        break;
      case "order":
        this.selectedSort = {
          value: "order",
          label: "По порядку"
        };
        break;
    }
    switch (this.quiz.type_score) {
      case "exam":
        this.selectedType = {
          value: "exam",
          label: "Экзамен"
        };
        break;
      case "pass":
        this.selectedType = {
          value: "pass",
          label: "Зачет"
        };
        break;
      case "poll":
        this.selectedType = {
          value: "poll",
          label: "Опрос"
        };
        break;
    }
    if (this.quiz.ratio_percentages_and_score) {
      if (this.quiz.ratio_percentages_and_score[0]) {
        this.scores = this.quiz.ratio_percentages_and_score;
      } else {
        this.percentFrom = this.quiz.ratio_percentages_and_score;
      }
    }
  }

  @Emit("submit")
  private async handleSubmit() {
    this.isLoading = true;

    try {
      const params = {
        ...(this.quizId && { id: +this.quizId }),
        title: this.quizTitle,
        ...(this.quizMaxAttempt && {
          max_attempt: this.quiz.max_attempt
        }),
        ...(this.quizMaxScore && { max_score: +this.quizMaxScore }),
        ...(this.quizResponseTime && {
          response_time: this.quiz.response_time
        }),
        ...(this.description != "" && {
          description: this.description
        }),
        ...(this.image && {
          image: this.image
        }),
        visible: this.quiz.visible ? 1 : 0,
        is_show_answer: this.quiz.is_show_answer ? 1 : 0,
        ...(this.quizNotification && {
          is_notifications: this.quiz.is_notifications ? 1 : 0
        }),
        ...(this.quizReport && {
          is_report: this.quiz.is_report ? 1 : 0
        }),
        ...(this.selectedSort && { type_sort: this.selectedSort }),
        ...(this.action === "update" && { _method: "put" })
      };
      switch (this.action) {
        case "add":
          //addQuiz
          //await this.$store.dispatch(this.action, {
          //  ...(this.quizId && { id: +this.quizId }),
          //  title: this.quizTitle,
          //  ...(this.quizMaxAttempt && {
          //    max_attempt: +this.quizMaxAttempt
          //  }),
          //  ...(this.quizMaxScore && { max_score: +this.quizMaxScore }),
          //  ...(this.quizResponseTime && {
          //    response_time: +this.quizResponseTime
          //  }),
          //  ...(this.text && {
          //    text: +this.text
          //  }),
          //  ...(this.image && {
          //    image: this.image
          //  }),
          //  visible: this.quizVisible ? 1 : 0,
          //  is_show_answer: this.quizShowAnswers ? 1 : 0
          //});
          await uploader(
            `/admin/quiz`,
            params,
            percent => (this.percent = percent)
          );
          break;
        case "update":
          await uploader(
            `/admin/quiz/${this.quizId}`,
            params,
            percent => (this.percent = percent)
          );
          break;
      }
      this.$modal.hide(this.name);
      // eslint-disable-next-line no-empty
    } catch (error) {}

    this.isLoading = false;
  }
}
</script>

<style lang="scss">
.quiz-action-modal {
  .form-item__label {
    width: 30%;
  }
}
</style>
