<template lang="pug">
    .quiz_settings
      FormItem(:label="$t('question')")
            TextField(v-model="question.question" name="question")
      FormItem(:label="$t('question_type')")
          Select(
              v-model="questionTypeSelectValue"
              :value="questionTypeSelectValue"
              :options="questionTypeSelectOptions"
              @change="typeChange"
              track-by="id"
              label="label"
          )
      FormItem(:label="$t('image')")
          FileUploader(id="file" @change="handleFileUpload" name="file" placeholder="Выберите файл")
      FormItem(:label="$t('active')")
          CheckboxOne(v-model="question.active")
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit, Watch } from "vue-property-decorator";
import {
  Modal,
  FormItem,
  TextField,
  Checkbox,
  CheckboxOne,
  Button,
  FileUploader,
  Select
} from "@/UI";
import { Quiz, Question } from "@/helpers/types/quiz";
import { uploader } from "@/helpers/utils/uploader";
@Component({
  components: {
    Modal,
    FormItem,
    TextField,
    Checkbox,
    CheckboxOne,
    Button,
    FileUploader,
    Select
  }
})
export default class QuizActionModal extends Vue {
  @Prop() question!: Question;
  private name = "quizModal";
  private questionTypeSelectValue = {};
  private questionType = "";
  private percent = 0;
  private questionTypeSelectOptions = [
    {
      id: "radio",
      label: this.$t("radio")
    },
    {
      id: "checkbox",
      label: this.$t("checkbox")
    },
    {
      id: "text",
      label: this.$t("text")
    }
  ];
  public typeChange(value: any) {
    this.question.type = value.id;
  }
  private isLoading = false;
  //public percentFrom: object = { percent_from: null };
  //public selectedSort: object = {};
  //public selectedType: object = {};
  //public scores = [{ score: null, percent_from: null, percent_to: null }];
  //public scoresPlus() {
  //  this.scores.push({ score: null, percent_from: null, percent_to: null });
  //}
  //public scoresMinus() {
  //  this.scores.splice(-1);
  //}
  //public updateRatioPercentages() {
  //  switch ((this.selectedType as any).value) {
  //    case "exam":
  //      this.quiz.ratio_percentages_and_score = this.scores;
  //      break;
  //    case "pass":
  //      this.quiz.ratio_percentages_and_score = this.percentFrom;
  //      break;
  //  }
  //  console.log(this.quiz.ratio_percentages_and_score)
  //}
  //public typeSelect = [
  //  {
  //    value: "exam",
  //    label: "Экзамен"
  //  },
  //  {
  //    value: "pass",
  //    label: "Зачет"
  //  }
  //];
  //public sortSelect = [
  //  {
  //    value: "scatter",
  //    label: "В разброс"
  //  },
  //  {
  //    value: "order",
  //    label: "По порядку"
  //  }
  //];
  //public typeChange(value: any) {
  //  this.quiz.type_score = value;
  //}
  //public sortChange(value: any) {
  //  this.quiz.type_sort = value;
  //}
  //private title = "";
  //public percent = 0;
  //private action = "";
  //private actionTitle = "";
  //private quizId: Quiz["id"];
  //private quizTitle: Quiz["title"] = "";
  //private quizMaxAttempt: Quiz["max_attempt"] | string = "";
  //private quizMaxScore: Quiz["max_score"] | string = null;
  //private quizResponseTime: Quiz["response_time"] | string = "";
  //private description: Quiz["description"] | string = "";
  //private image: Quiz["image"] | File;
  //private quizVisible = true;
  //private quizNotification = false;
  //private quizReport = false;
  //private quizShowAnswers = true;
  public async handleFileUpload(value: File) {
    this.question.image = value;
    try {
      const params = {
        ...(this.question.id !== undefined && { id: +this.question.id }),
        question: this.question.question,
        ...(this.question.quiz_id && { quiz_id: +this.question.quiz_id }),
        ...(this.question.image && {
          image: this.question.image
        }),
        type: this.questionType,
        visible: this.question.active,
        _method: "put"
      };
      await uploader(
        `/admin/question/${this.question.id}`,
        params,
        percent => (this.percent = percent)
      );
      // eslint-disable-next-line no-empty
    } catch (error) {}
    this.questionUpdate();
    //console.log(this.image);
  }
  public created() {
    this.questionTypeSelectValue =
      this.questionTypeSelectOptions.find(
        option => option.id === this.question.type
      ) ?? {};
    //this.title = data?.params?.title || "";
    //this.action = data?.params?.action || "";
    //this.actionTitle = data?.params?.actionTitle || "";
    //this.quizId = this.quiz?.id;
    //this.quizTitle = this.quiz?.title || "";
    //this.description = this.quiz?.description || "";
    //this.quizMaxAttempt = this.quiz?.max_attempt || "";
    //this.quizMaxScore = this.quiz?.max_score || "";
    //this.quizResponseTime = this.quiz?.response_time || "";
    //this.quizVisible = this.quiz?.visible === 1;
    //this.quizShowAnswers = this.quiz?.is_show_answer === 1;
    //this.quizNotification = this.quiz?.is_notifications === 1;
    //this.quizReport = this.quiz?.is_report === 1;
    //switch (this.quiz.type_sort) {
    //  case "scatter":
    //    this.selectedSort = {
    //      value: "scatter",
    //      label: "В разброс"
    //    };
    //    break;
    //  case "order":
    //    this.selectedSort = {
    //      value: "order",
    //      label: "По порядку"
    //    };
    //    break;
    //}
    //switch (this.quiz.type_score) {
    //  case "exam":
    //    this.selectedType = {
    //      value: "exam",
    //      label: "Экзамен"
    //    };
    //    break;
    //  case "pass":
    //    this.selectedType = {
    //      value: "pass",
    //      label: "Зачет"
    //    };
    //    break;
    //}
  }
  @Watch("questionTypeSelectValue")
  onQuestionTypeSelectValueChange(value: { id: string; label: string }) {
    this.questionType = value.id;
  }
  @Emit("question-update")
  private async questionUpdate() {
    console.log("update");
  }
  //@Emit("submit")
  //private async handleSubmit() {
  //  this.isLoading = true;
  //
  //  try {
  //    const params = {
  //      ...(this.quizId && { id: +this.quizId }),
  //      title: this.quizTitle,
  //      ...(this.quizMaxAttempt && {
  //        max_attempt: +this.quizMaxAttempt
  //      }),
  //      ...(this.quizMaxScore && { max_score: +this.quizMaxScore }),
  //      ...(this.quizResponseTime && {
  //        response_time: +this.quizResponseTime
  //      }),
  //      ...(this.description != "" && {
  //        description: this.description
  //      }),
  //      ...(this.image && {
  //        image: this.image
  //      }),
  //      visible: this.quizVisible ? 1 : 0,
  //      is_show_answer: this.quizShowAnswers ? 1 : 0,
  //      ...(this.quizNotification && {
  //        is_notifications: this.quizNotification ? 1 : 0
  //      }),
  //      ...(this.quizReport && {
  //        is_report: this.quizReport ? 1 : 0
  //      }),
  //      ...(this.selectedSort && { type_sort: this.selectedSort }),
  //      ...(this.action === "update" && { _method: "put" })
  //    };
  //    switch (this.action) {
  //      case "add":
  //        //addQuiz
  //        //await this.$store.dispatch(this.action, {
  //        //  ...(this.quizId && { id: +this.quizId }),
  //        //  title: this.quizTitle,
  //        //  ...(this.quizMaxAttempt && {
  //        //    max_attempt: +this.quizMaxAttempt
  //        //  }),
  //        //  ...(this.quizMaxScore && { max_score: +this.quizMaxScore }),
  //        //  ...(this.quizResponseTime && {
  //        //    response_time: +this.quizResponseTime
  //        //  }),
  //        //  ...(this.text && {
  //        //    text: +this.text
  //        //  }),
  //        //  ...(this.image && {
  //        //    image: this.image
  //        //  }),
  //        //  visible: this.quizVisible ? 1 : 0,
  //        //  is_show_answer: this.quizShowAnswers ? 1 : 0
  //        //});
  //        await uploader(
  //          `/admin/quiz`,
  //          params,
  //          percent => (this.percent = percent)
  //        );
  //        break;
  //      case "update":
  //        await uploader(
  //          `/admin/quiz/${this.quizId}`,
  //          params,
  //          percent => (this.percent = percent)
  //        );
  //        break;
  //    }
  //    this.$modal.hide(this.name);
  //    // eslint-disable-next-line no-empty
  //  } catch (error) {}
  //
  //  this.isLoading = false;
  //}
}
</script>

<style lang="scss">
.quiz-action-modal {
  .form-item__label {
    width: 30%;
  }
}
</style>
