<template lang="pug">
    Modal.quiz-question-option-action-modal(:name="name" :title="title" @before-open="beforeOpen")
        FormItem(:label="$t('answer')")
            TextField(v-model="questionOptionTitle" name="option")
        FormItem(:label="$t('answer_score')")
            TextField(v-model="questionOptionScore" name="score" placeholder="5")

        template(slot="footer")
            Button(:loading="isLoading" @click="handleSubmit") {{ actionTitle }}
</template>

<script lang="ts">
import { Vue, Component, Emit } from "vue-property-decorator";
import { Modal, FormItem, TextField, Button } from "@/UI";
import { QuestionOption } from "@/helpers/types/quiz";

@Component({
  components: {
    Modal,
    FormItem,
    TextField,
    Button
  }
})
export default class QuizQuestionOptionActionModal extends Vue {
  private name = "questionOptionModal";

  private isLoading = false;

  private title = "";
  private action = "";
  private actionTitle = "";
  private questionId?: number;
  private questionOptionId?: number;
  private questionOptionTitle = "";
  private questionOptionScore = "";
  private questionOption: any;

  private async beforeOpen(data: {
    params: {
      title: string;
      action: string;
      actionTitle: string;
      questionId?: number;
      questionOption: QuestionOption;
    };
  }) {
    this.title = data?.params?.title || "";
    this.action = data?.params?.action || "";
    this.actionTitle = data?.params?.actionTitle || "";
    this.questionId = data?.params?.questionId;
    this.questionOptionId = data?.params?.questionOption?.id;
    this.questionOptionTitle = data?.params?.questionOption?.option || "";
    this.questionOption = data?.params?.questionOption;
    this.questionOptionScore =
      data?.params?.questionOption?.score?.toString() || "";
  }

  @Emit("question-option-action")
  private async handleSubmit() {
    this.isLoading = true;

    try {
      await this.$store.dispatch(this.action, {
        ...(this.questionOptionId !== undefined && {
          id: +this.questionOptionId
        }),
        option: this.questionOptionTitle,
        ...(this.questionId && { question_id: +this.questionId }),
        score: this.questionOptionScore
      });

      this.$modal.hide(this.name);
      // eslint-disable-next-line no-empty
    } catch (error) {
      console.error(error);
    }
    this.$events.$emit("forceUpdateQuizModal", this.questionOption);
    this.isLoading = false;
  }
}
</script>

<style lang="scss">
.quiz-question-option-action-modal {
  .form-item__label {
    width: 30%;
  }
}
</style>
