<template lang="pug">
    Modal.quiz-question-action-modal(:name="name" :title="title" @before-open="beforeOpen")
        FormItem(:label="$t('question')")
            TextField(v-model="questionTitle" name="question")
        FormItem(:label="$t('question_type')")
            Select(
                v-model="questionTypeSelectValue"
                :value="questionTypeSelectValue"
                :options="questionTypeSelectOptions"
                track-by="id"
                label="label"
            )
        FormItem(:label="$t('image')")
            FileUploader(id="file" @change="handleFileUpload" name="file" placeholder="Выберите файл")
        FormItem(:label="$t('active')")
            Checkbox(v-model="questionActive")
        div(v-if="questionId")
            Separator
            PageContent.quiz-question-action-modal__options
                Loader(v-if="isLoading" :center="true")
                QuizQuestionOptions(
                    v-else
                    :question-id="questionId"
                    :question-options="questionOptions"
                    @question-option-delete="emitUpdateQuizAction"
                    @question-option-add="emitUpdateQuizAction"
                )
        template(slot="footer")
            Button(:loading="isLoading" @click="handleSubmit") {{ actionTitle }}
</template>

<script lang="ts">
import { Vue, Component, Emit, Watch } from "vue-property-decorator";
import {
  Modal,
  FormItem,
  TextField,
  Checkbox,
  Select,
  Separator,
  PageContent,
  Loader,
  Button,
  FileUploader
} from "@/UI";
import { Question, QuestionOption } from "@/helpers/types/quiz";
import QuizQuestionOptions from "./QuizQuestionOptions.vue";
import { uploader } from "@/helpers/utils/uploader";
@Component({
  components: {
    QuizQuestionOptions,
    Separator,
    Modal,
    FormItem,
    TextField,
    Checkbox,
    Select,
    PageContent,
    Loader,
    Button,
    FileUploader
  }
})
export default class QuizQuestionActionModal extends Vue {
  private name = "questionModal";

  private isLoading = false;

  private title = "";
  private action = "";
  private actionTitle = "";
  private quizId = 0;
  private percent = 0;
  private questionId = "";
  private questionActive = true;
  private questionTitle = "";
  private questionType = "";
  private questionOptions: QuestionOption[] = [];
  private image: QuestionOption["image"] | File;
  private questionTypeSelectValue = {};
  public handleFileUpload(value: File) {
    console.log(value);
    this.image = value;
  }
  private questionTypeSelectOptions = [
    {
      id: "radio",
      label: this.$t("radio")
    },
    {
      id: "checkbox",
      label: this.$t("checkbox")
    },
    {
      id: "text",
      label: this.$t("text")
    }
  ];

  @Watch("questionTypeSelectValue")
  onQuestionTypeSelectValueChange(value: { id: string; label: string }) {
    this.questionType = value.id;
  }

  private async beforeOpen(data: {
    params: {
      title: string;
      action: string;
      actionTitle: string;
      quizId?: number;
      question: Question;
    };
  }) {
    this.title = data?.params?.title || "";
    this.action = data?.params?.action || "";
    this.actionTitle = data?.params?.actionTitle || "";
    this.quizId = data?.params?.quizId || 0;
    this.questionId = data?.params?.question?.id || "";
    this.questionTitle = data?.params?.question?.question || "";
    this.questionType = data?.params?.question?.type || "";
    this.questionActive = true;
    this.questionOptions = data?.params?.question?.options || [];

    this.questionTypeSelectValue =
      this.questionTypeSelectOptions.find(
        option => option.id === this.questionType
      ) ?? {};
  }

  @Emit("question-action")
  private async handleSubmit() {
    this.isLoading = true;

    try {
      //await this.$store.dispatch(this.action, {
      //  ...(this.questionId !== undefined && { id: +this.questionId }),
      //  question: this.questionTitle,
      //  ...(this.quizId && { quiz_id: +this.quizId }),
      //  ...(this.image && {
      //    image: this.image
      //  }),
      //  type: this.questionType,
      //  visible: this.questionActive
      //});
      const params = {
        ...(this.questionId !== undefined && { id: +this.questionId }),
        question: this.questionTitle,
        ...(this.quizId && { quiz_id: +this.quizId }),
        ...(this.image && {
          image: this.image
        }),
        type: this.questionType,
        visible: this.questionActive,
        ...(this.action === "updateQuestion" && { _method: "put" })
      };
      switch (this.action){
        case "addQuestion":
          await uploader(
            `/admin/question`,
            params,
            percent => (this.percent = percent)
          );
          break;
        case "updateQuestion":
          await uploader(
            `/admin/question/${this.quizId}`,
            params,
            percent => (this.percent = percent)
          );
          break;
      }
      

      this.$modal.hide(this.name);
      // eslint-disable-next-line no-empty
    } catch (error) {
      console.error(error);
    }

    this.isLoading = false;
  }

  public emitUpdateQuizAction() {
    this.$emit("question-action");
  }
}
</script>

<style lang="scss">
.quiz-question-action-modal {
  .form-item__label {
    width: 30%;
  }

  &__options {
    padding: 0;
    border: 0;
  }
}
</style>
