<template lang="pug">
    Modal.quiz-action-modal(:name="name" :title="title" @before-open="beforeOpen")
        FormItem(:label="$t('title')")
            TextField(v-model="quizTitle" name="title" placeholder="Новый тест")
        FormItem(:label="$t('max_attempt')")
            TextField(v-model="quizMaxAttempt" name="maxAttempt" placeholder="10")
        FormItem(:label="$t('response_time')")
            TextField(v-model="quizResponseTime" name="responseTime" placeholder="10")
        FormItem(:label="$t('text_for_preview')")
            TextField(v-model="description" type="textarea")
        FormItem(:label="$t('image')")
            FileUploader(id="file" @change="handleFileUpload" name="file" placeholder="Выберите файл")
        //FormItem(label="Максимальное количество баллов")
        //    TextField(v-model="quizMaxScore" name="maxScore" placeholder="10")
        FormItem(:label="$t('type_sort')")
            Select(v-model="selectedSort" name="sort" :options="genderSelect" @change="sortChange" label="label" track-by="value")
        FormItem(:label="$t('type_score')")
          Select(v-model="selectedType" name="sort" :options="typeSelect" @change="typeChange" label="label" track-by="value")
        FormItem(:label="$t('active')")
            Checkbox(v-model="quizVisible" :checked="quizVisible")
        FormItem(:label="$t('answer_show')")
            Checkbox(v-model="quizShowAnswers")
        FormItem(label="Показывать отчёт в конце")
            Checkbox(v-model="quizReport")
        FormItem(label="Уведомлять администратора")
            Checkbox(v-model="quizNotification")
        template(slot="footer")
            Button(:loading="isLoading" @click="handleSubmit") {{ actionTitle }}
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from "vue-property-decorator";
import {
  Modal,
  FormItem,
  TextField,
  Checkbox,
  Button,
  FileUploader,
  Select
} from "@/UI";
import { Quiz } from "@/helpers/types/quiz";
import { uploader } from "@/helpers/utils/uploader";
@Component({
  components: {
    Modal,
    FormItem,
    TextField,
    Checkbox,
    Button,
    FileUploader,
    Select
  }
})
export default class QuizActionModal extends Vue {
  private name = "quizModal";

  private isLoading = false;
  public selectedSort: object = {};
  public selectedType: object = {};
  public genderSelect = [
    {
      value: "scatter",
      label: "В разброс"
    },
    {
      value: "order",
      label: "По порядку"
    }
  ];
  public typeSelect = [
    {
      value: "exam",
      label: "Экзамен"
    },
    {
      value: "pass",
      label: "Зачет"
    },
    {
      value: "poll",
      label: "Опрос"
    }
  ];
  public sortChange(value: any) {
    this.selectedSort = value;
  }
  public typeChange(value: any) {
    this.selectedType = value;
  }
  private title = "";
  public percent = 0;
  private action = "";
  private actionTitle = "";
  private quizId: Quiz["id"];
  private quizTitle: Quiz["title"] = "";
  private quizMaxAttempt: Quiz["max_attempt"] | string = "";
  private quizMaxScore: Quiz["max_score"] | string = null;
  private quizResponseTime: Quiz["response_time"] | string = "";
  private description: Quiz["description"] | string = "";
  private image: Quiz["image"] | File;
  private quizVisible = true;
  private quizNotification = false;
  private quizReport = false;
  private quizShowAnswers = true;
  public handleFileUpload(value: File) {
    this.image = value;
    console.log(this.image);
  }
  private beforeOpen(data: {
    params: {
      title: string;
      action: string;
      actionTitle: string;
      quiz: Quiz;
    };
  }) {
    this.title = data?.params?.title || "";
    this.action = data?.params?.action || "";
    this.actionTitle = data?.params?.actionTitle || "";
    this.quizId = data?.params?.quiz?.id;
    this.quizTitle = data?.params?.quiz?.title || "";
    this.description = data?.params?.quiz?.description || "";
    this.quizMaxAttempt = data?.params?.quiz?.max_attempt || "";
    this.quizMaxScore = data?.params?.quiz?.max_score || "";
    this.quizResponseTime = data?.params?.quiz?.response_time || "";
    this.quizVisible = data?.params?.quiz?.visible === 1;
    this.quizShowAnswers = data?.params?.quiz?.is_show_answer === 1;
    this.quizNotification = data?.params?.quiz?.is_notifications === 1;
    this.quizReport = data?.params?.quiz?.is_report === 1;
    switch (data?.params?.quiz?.type_sort) {
      case "scatter":
        this.selectedSort = {
          value: "scatter",
          label: "В разброс"
        };
        break;
      case "order":
        this.selectedSort = {
          value: "order",
          label: "По порядку"
        };
        break;
    }
  }

  @Emit("submit")
  private async handleSubmit() {
    this.isLoading = true;

    try {
      const params = {
        ...(this.quizId && { id: +this.quizId }),
        title: this.quizTitle,
        ...(this.quizMaxAttempt && {
          max_attempt: +this.quizMaxAttempt
        }),
        ...(this.quizMaxScore && { max_score: +this.quizMaxScore }),
        ...(this.quizResponseTime && {
          response_time: +this.quizResponseTime
        }),
        ...(this.description != "" && {
          description: this.description
        }),
        ...(this.image && {
          image: this.image
        }),
        visible: this.quizVisible ? 1 : 0,
        is_show_answer: this.quizShowAnswers ? 1 : 0,
        ...(this.quizNotification && {
          is_notifications: this.quizNotification ? 1 : 0
        }),
        ...(this.quizReport && {
          is_report: this.quizReport ? 1 : 0
        }),
        ...(this.selectedSort && { type_sort: (this.selectedSort as any).value }),
        ...(this.selectedType && { type_score: (this.selectedType as any).value }),
        ...(this.action === "update" && { _method: "put" })
      };
      switch (this.action) {
        case "add":
          //addQuiz
          //await this.$store.dispatch(this.action, {
          //  ...(this.quizId && { id: +this.quizId }),
          //  title: this.quizTitle,
          //  ...(this.quizMaxAttempt && {
          //    max_attempt: +this.quizMaxAttempt
          //  }),
          //  ...(this.quizMaxScore && { max_score: +this.quizMaxScore }),
          //  ...(this.quizResponseTime && {
          //    response_time: +this.quizResponseTime
          //  }),
          //  ...(this.text && {
          //    text: +this.text
          //  }),
          //  ...(this.image && {
          //    image: this.image
          //  }),
          //  visible: this.quizVisible ? 1 : 0,
          //  is_show_answer: this.quizShowAnswers ? 1 : 0
          //});
          await uploader(
            `/admin/quiz`,
            params,
            percent => (this.percent = percent)
          );
          break;
        case "update":
          await uploader(
            `/admin/quiz/${this.quizId}`,
            params,
            percent => (this.percent = percent)
          );
          break;
      }
      this.$modal.hide(this.name);
      // eslint-disable-next-line no-empty
    } catch (error) {}

    this.isLoading = false;
  }
}
</script>

<style lang="scss">
.quiz-action-modal {
  .form-item__label {
    width: 30%;
  }
}
</style>
