<template lang="pug">
    .quiz-page-questions
        PageHeader.quiz-page-questions__header(:title="$t('quiz_questions')")
            template(slot="actions")
                Button(icon="plus-circle" @click="handleAddQuestion") {{$t('add_question')}}

        Loader(v-if="!questions" :center="true")
        ul.quiz-page-questions__list.draggable-list
          li(v-for="item in questions" :key="item.id").draggable-list-item.w-full
            .flex.items-center.justify-between.w-full
              .draggable-list-item__info
                p.draggable-list-item__title {{item.question}}
                small.border-b.draggable-list-item__option(class="pb-0.5" v-for="(option, index) in item.options") {{$t('variant_answer')}} №{{index + 1}} - {{option.option}}
              .draggable-list-item__action.flex.flex-col
                Button(icon="pen" variant="default" @click="handleEditQuestion(item)")
                Button(icon="trash-alt" variant="danger" @click="handleDeleteQuestion(item)")
        div.quiz-page-questions__placeholder(v-if="questions && questions.length === 0")
            Subtitle(:level="4") {{$t('no_question')}}
            p {{$t('question_desc')}}
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from "vue-property-decorator";
import { Action } from "vuex-class";
import { Maybe } from "@/helpers/types";
import { Question, Quiz } from "@/helpers/types/quiz";
import { PageHeader, Loader, Subtitle, Button, Separator } from "@/UI";
import { QuizQuestionActionModal } from "@/components/Quiz";
import router from "@/router";
import { URL } from "@/helpers/constants";
@Component({
  components: {
    PageHeader,
    Loader,
    Subtitle,
    Button,
    QuizQuestionActionModal,
    Separator
  }
})
export default class QuizQuestions extends Vue {
  @Action deleteQuestion!: (question: Question) => Promise<void>;

  @Prop() quizId!: Quiz["id"];
  @Prop() questions?: Maybe<Question[]>;

  public test = [
    { title: "1", id: "1" },
    { title: "2", id: "2" },
    { title: "3", id: "3" }
  ];
  public created() {
    this.$events.$on("forceUpdateQuizModal", question => console.log(question));
  }
  private handleAddQuestion() {
    this.$modal.show("questionModal", {
      title: this.$t("add_question"),
      action: "addQuestion",
      actionTitle: this.$t("save"),
      quizId: this.quizId
    });
  }

  private handleEditQuestion(question: Question) {
    //this.$modal.show("questionModal", {
    //  title: this.$t("edit_question"),
    //  action: "updateQuestion",
    //  actionTitle: this.$t("save"),
    //  quizId: this.quizId,
    //  question
    //});
    router.push(`${URL.QUIZZES}/${this.quizId}/edit/question/${question.id}`);
  }

  @Emit("question-delete")
  private async handleDeleteQuestion(question: Question) {
    await this.deleteQuestion(question);
  }
}
</script>

<style lang="scss">
.quiz-page-questions {
  &__header {
    padding: 0;
  }

  &__list {
    margin-top: $offset2x;
  }

  &__placeholder {
    padding-top: $offset2x;
    text-align: center;
    color: $secondary;
  }
}
.draggable-list {
  padding: $offset $offset2x;
  border: 1px solid $border;
  border-radius: 4px;
}
.draggable-list-item {
  display: flex;
  align-items: center;
  min-height: 42px;
  padding: $offset 0;
  flex-wrap: wrap;

  &__info {
    
    margin-right: $offset2x;
  }

  &__item,
  &__subtitle {
    pointer-events: none;
    user-select: none;
  }

  &__actions {
    @include children {
      @include not-last-child {
        margin-right: $offset;
      }
    }
  }
  &__option {
    display: block;
    padding-left: 15px;
  }
}
.separator {
  display: flex;
  width: 100%;
  margin: 10px 0;
}
</style>
