<template lang="pug">
    .quiz-page-question-options
        PageHeader.quiz-page-question-options__header(:title="$t('variants_answer')")
            template(slot="actions")
                Button(icon="plus-circle" @click="handleAddQuestionOption") {{$t('add_answer')}}

        Loader(v-if="!questionOptions" :center="true")
        DraggableList.quiz-page-question-options__list(
            v-if="questionOptions && questionOptions.length > 0"
            v-model="questionOptions"
        )
            DraggableListItem(v-for="item in questionOptions" :key="item.id" :title="item.option")
                template(slot="actions")
                    Button(icon="pen" variant="default" @click="handleEditQuestionOption(item)")
                    Button(icon="trash-alt" variant="danger" @click="handleDeleteQuestionOption(item)")

        div.quiz-page-question-options__placeholder(v-if="questionOptions && questionOptions.length === 0")
            Subtitle(:level="4" small) {{$t('no_answers')}}
            p {{$t('no_answers_desc')}}
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from "vue-property-decorator";
import { Action } from "vuex-class";
import { Maybe } from "@/helpers/types";
import { Question, QuestionOption } from "@/helpers/types/quiz";
import {
  PageHeader,
  Loader,
  Subtitle,
  Button,
  DraggableList,
  DraggableListItem
} from "@/UI";
import { QuizQuestionActionModal } from "@/components/Quiz";

@Component({
  components: {
    PageHeader,
    Loader,
    Subtitle,
    Button,
    DraggableList,
    DraggableListItem,
    QuizQuestionActionModal
  }
})
export default class QuizQuestionOptions extends Vue {
  @Action deleteQuestionOption!: (
    questionOption: QuestionOption
  ) => Promise<void>;

  @Prop() questionId!: Question["id"];
  @Prop() questionOptions?: Maybe<QuestionOption[]>;

  private handleAddQuestionOption() {
    this.$modal.show("questionOptionModal", {
      title: this.$t("add_answer"),
      action: "addQuestionOption",
      actionTitle: this.$t("save"),
      questionId: this.questionId
    });
  }

  private handleEditQuestionOption(questionOption: QuestionOption) {
    this.$modal.show("questionOptionModal", {
      title: this.$t("edit_answer"),
      action: "updateQuestionOption",
      actionTitle: this.$t("save"),
      questionId: this.questionId,
      questionOption
    });
  }

  @Emit("question-option-delete")
  private async handleDeleteQuestionOption(questionOption: QuestionOption) {
    await this.deleteQuestionOption(questionOption);
  }
}
</script>

<style lang="scss">
.quiz-page-question-options {
  &__header {
    padding: 0;
  }

  &__list {
    margin-top: $offset2x;
  }

  &__placeholder {
    padding-top: $offset2x;
    text-align: center;
    color: $secondary;
  }
}
</style>
