<template lang="pug">
    Modal(:name="name" :title="$t('add_document')")
        FormItem(:label="$t('title')" :required="true")
            TextField(v-model="FileName" id="FileName" name="FileName")
        FormItem(label="Файл" :required="true")
            FileUploader(id="file" @change="handleFileUpload" name="file" placeholder="Выберите файл")
        FormItem
            ProgressBar(v-if="this.percent" :percent="this.percent")
        template(slot='footer')
            Button(@click="onAddFile" :loading="this.isLoading") Добавить
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";

import {
  Button,
  Modal,
  FormItem,
  TextField,
  FileUploader,
  ProgressBar,
  Checkbox
} from "@/UI";

import { Maybe, UserInterface } from "@/helpers/types";
import { uploader } from "@/helpers/utils/uploader";

@Component({
  components: {
    Button,
    Modal,
    FormItem,
    TextField,
    FileUploader,
    ProgressBar,
    Checkbox
  }
})
export default class AddFileModal extends Vue {
  @Prop({ required: true }) name!: string;
  @Prop({ default: "/" }) basePath!: string;
  @Action addFile!: (params: any) => Promise<void>;
  @Getter("getProfile") profile!: Maybe<UserInterface>;

  public file: Maybe<File> = null;
  public FileName = "";
  public isLoading = false;
  public percent = 0;
  public isProject = false;
  public days = 0;

  public onCloseModal() {
    this.$modal.hide(this.name);
  }

  public handleFileUpload(value: File) {
    console.log(value);
    this.file = value;
    if (this.FileName === "") {
      this.FileName = value.name;
    }
  }

  public async onAddFile() {
    try {
      const { path } = this.$route.params;

      const params = {
        name: this.FileName,
        file: this.file
      };

      this.isLoading = true;

      await uploader(
        "/admin/document",
        params,
        percent => (this.percent = percent)
      );

      this.isLoading = false;

      this.onCloseModal();
      this.$emit("success-add");
    } finally {
      this.percent = 0;
      this.isLoading = false;
    }
  }
}
</script>
