<template lang="pug">
    .page-edit-tabs
        slot
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
@Component
export default class PageEditTabs extends Vue {}
</script>

<style lang="scss"></style>
