<template lang="pug">
    div.page-content
        slot
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component
export default class PageContent extends Vue {}
</script>

<style lang="scss">
.page-content {
  @include card;
  padding: $offset2x;

  .page-header {
    padding: 0;
  }
}
</style>
