<template lang="pug">
    .page-header
        .page-header__inner(v-if="title || $slots.actions")
            .page-header__title
                Subtitle(weight="500") {{ title }}
                .page-header__description(v-if="description" v-html="description")
            .page-header__actions
                slot(name="actions")
        .page-header__slot(v-if="$slots.default")
            slot
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Subtitle } from "@/UI";

@Component({
  components: { Subtitle }
})
export default class PageHeader extends Vue {
  @Prop({ required: true, type: String }) title!: string;
  @Prop({ required: false, type: String }) description!: string;
}
</script>

<style lang="scss">
.page-header {
  @include card;
  $root: page-header;

  padding: $offset2x;

  &__inner {
    @include display-flex-centered;
    justify-content: space-between;

    + .#{$root}__slot {
      margin-top: $offset2x;
    }
  }

  &__actions {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    > * + * {
      margin-left: $offset;
    }
  }

  &__description {
    //max-width: 700px;
    margin-top: 10px;
    font-size: 14px;
  }
}
</style>
