<template lang="pug">
    .page-edit-header
        .page-edit-header__avatar(v-if="$slots.avatar")
            slot(name="avatar")
        .page-edit-header__title
            Title(weight="500" :big="true") {{ this.title }}
        .page-edit-header__actions
            slot(name="actions")
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Title } from "@/UI";
@Component({
  components: { Title }
})
export default class PageEditHeader extends Vue {
  @Prop({ required: true, type: String }) title!: string;
}
</script>

<style lang="scss">
.page-edit-header {
  @include card;
  @include display-flex-centered;
  padding: $offset2x;
  justify-content: flex-start;

  &__image {
    @include radius;
    border: 1px solid $border;
    flex: 0 0 auto;
    margin-right: $offset2x;
    height: 100px;
    width: 140px;
  }

  &__avatar {
    > * {
      flex: 0 0 auto;
      margin-right: $offset2x;
    }
  }

  &__title {
    @include children {
      @include not-last-child {
        margin-bottom: calc(#{$offset} / 2);
      }
    }
  }

  &__actions {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    & > * {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}
</style>
