<template lang="pug">
    Loader(v-if="this.loading" :center="true")
    .page(v-else :class="classes")
        slot
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Loader from "@/UI/Loader.vue";
@Component({
  components: { Loader }
})
export default class Page extends Vue {
  @Prop({ default: false, required: false, type: Boolean }) loading!: boolean;
  @Prop({ default: false, required: false, type: Boolean })
  fullSize!: boolean;

  get classes() {
    return {
      "page--full-size": this.fullSize
    };
  }
}
</script>

<style lang="scss">
.page {
  &--full-size {
    @include full-size;
  }

  & > * {
    &:not(:last-child) {
      margin-bottom: $offset;
    }
  }
}
</style>
