<template lang="pug">
    Loader(v-if="!reports" :center="true")

    .page(v-else)
        PageContent
            p {{$t('report_info')}}
            p {{$t('report_info_two')}}

            ReportsList(:data="reports")
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import { Loader, PageContent } from "@/UI";
import { ReportsList } from "@/components/Reports";
import { ReportLinkType } from "@/helpers/types";
import { Getter } from "vuex-class";

@Component({
  components: {
    ReportsList,
    PageContent,
    Loader
  }
})
export default class PageReports extends Vue {
  @Getter("getReports") reports!: ReportLinkType[];
}
</script>
