<template lang="pug">
    page
        PageHeader(:title="$t('Payment_for_education')")
        Loader(v-if="!payment.name" :center="true")
        PageContent(v-else)
          h3.mb-2 {{$t('Bank_transfer_details')}}
          p {{payment.name}}
          p
            b {{$t('inn')}}:
            |  {{payment.inn}}
          p
            b {{$t('kpp')}}:
            |  {{payment.kpp}}
          p
            b {{$t('rs')}}:
            |  {{payment.rs}}
          p
            b {{$t('ks')}}:
            |  {{payment.ks}}
          p
            b {{$t('bank')}}:
            |  {{payment.bank}}
          p
            b {{$t('ogrn')}}:
            |  {{payment.ogrn}}
          p
            b {{$t('bik')}}:
            |  {{payment.bik}}
          p
            b {{$t('email')}}:
            |  {{payment.email}}
          p
            b {{$t('address')}}:
            |  {{payment.address}}
          p
            b {{$t('address_bank')}}:
            |  {{payment.bank_address}}
          h3.mt-2.mb-2 {{$t('Payment_by_card_using_the_acquiring_system')}}
          Button(@click="pay" v-if="payment.link.link_payment") {{$t('Pay')}}
          h4.mt-2.mb-2 {{$t('Upload_scan_of_payment_check')}}
          .row-group
            .form-control.form-control-3
              file-upload(
                ref="upload-1"
                v-model="scan"
                @input="inputFileScan"
                :size="5120"
                class="uploader"
                :drop="true"
                name="scan"
              )
                i.icon.icon-upload(:class="{ loaded: scan[0] }")
                span(v-if="scan[0]").loaded {{scan[0].name}}
        
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";

import {
  PageHeader,
  PageContent,
  FormItem,
  TextField,
  Button,
  Loader,
  Table,
  Modal,
  TableScore
} from "@/UI";

import { Maybe, DataInterface, UserInterface } from "@/helpers/types";
import { downloader } from "@/helpers/utils/downloader";
import Page from "@/UI/Page/Page.vue";
import { uploader } from "@/helpers/utils/uploader";
@Component({
  components: {
    Page,
    Modal,
    PageHeader,
    PageContent,
    FormItem,
    TextField,
    Button,
    Loader,
    Table,
    TableScore
  }
})
export default class PageDocuments extends Vue {
  @Action getUserPayment!: () => Promise<void>;
  @Getter("getPayment") payment!: any;
  @Getter("getProfile") profile!: Maybe<UserInterface>;
  public scan = [];
  public scanFile: Maybe<File> = null;
  public percent = 0;
  async created() {
    await this.getUserPayment();
  }
  public pay() {
    window.open(this.payment.link.link_payment, "_blank");
  }
  public async inputFileScan(value: any) {
    console.log(value);
    this.scanFile = value[0].file;
    try {
      const params = {
        collection: "payment",
        id: this.profile?.id,
        file: this.scanFile
      };
      await uploader(
        "/api/document",
        params,
        percent => (this.percent = percent)
      );
    } finally {
      this.percent = 0;
    }
  }
}
</script>

<style lang="scss"></style>
