<template lang="pug">
    .report-card-body-params
        ul.report-card-body-params__selects(v-if="data")
            li.report-card-body-params__select(v-if="'eventType' in data")
                label.report-card-body-params__select-label
                    span Тип мероприятия:
                    Select(
                        v-model="eventTypeValue"
                        :value="eventTypeValue"
                        :options="data.eventType"
                        track-by="id"
                        label="label"
                    )

            li.report-card-body-params__select(v-if="'group' in data")
                label.report-card-body-params__select-label
                    span {{$t('group')}}:
                    Autocomplete(
                        v-model="selectedGroupLabel"
                        :fetchedData="fetchedGroups"
                        @input="fetchGroups"
                        @select="onSelectGroup"
                    )

            li.report-card-body-params__select(v-if="'datepicker' in data")
                label.report-card-body-params__select-label
                    span {{$t('range')}}: 
                    Datepicker(
                        v-model="dateRange"
                        :label="dateRangeLabel"
                        :shortcuts="dateRangeShortcuts"
                        :range="true"
                        @change="onDateRangeChange"
                    )

            li.report-card-body-params__select(v-if="'user' in data")
                label.report-card-body-params__select-label
                    span Пользователь:
                    Autocomplete(v-model="userValue")

            li.report-card-body-params__select(v-if="'showAllUsers' in data")
                Checkbox(v-model="showAllUsersValue") Показать всех пользователей

            li.report-card-body-params__select(v-if="'onlyUnverified' in data")
                Checkbox(v-model="onlyUnverifiedValue") Показать только неподтвержденные

            li.report-card-body-params__select(v-if="'hideUnassigned' in data")
                Checkbox(v-model="hideUnassignedValue") Скрыть неназначенные

        p.report-card-body-params__warning(v-if="'warningMessage' in data")
            span Внимание: {{ " " }}
            span {{ data.warningMessage }}
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit, Watch } from "vue-property-decorator";
import { debounce } from "decko";
import API from "@/api";
import {
  GroupInterface,
  Maybe,
  ReportCardParamsType,
  ReportCardReturnedParamsType,
  ReportParamsDateRangeLocale
} from "@/helpers/types";
import { dateRangeShortcuts } from "./helpers";
import { Select, TextField, Autocomplete, Datepicker, Checkbox } from "@/UI";

@Component({
  components: { Select, Datepicker, TextField, Autocomplete, Checkbox }
})
export default class ReportCardBodyParams extends Vue {
  @Prop() data!: ReportCardParamsType;

  // All values
  public localValues: ReportCardReturnedParamsType = {
    eventType: this.data?.eventType?.[0],
    group_id: "",
    dateRange: this.data.datepicker,
    user: this.data.user,
    showAllUsers: this.data.showAllUsers,
    onlyUnverified: this.data.onlyUnverified,
    hideUnassigned: this.data.hideUnassigned
  };

  // Event type select
  private eventType: any = this.data?.eventType?.[0];
  private get eventTypeValue() {
    return this.data?.eventType?.[0];
  }
  private set eventTypeValue(value) {
    this.eventType = value;
    this.onChangeValue(value, "eventType");
  }

  // Group autocomplete
  private selectedGroupLabel = this.data?.group || "";
  private foundGroups: Maybe<GroupInterface[]> = null;
  private get fetchedGroups(): { id: number; label: string }[] | null {
    return this.foundGroups
      ? this.foundGroups.map(g => ({ id: g.id, label: g.name }))
      : [];
  }
  @debounce(500)
  private async fetchGroups(value: string) {
    let list: GroupInterface[];

    if (value.length > 0) {
      const { data: response } = await API.group.getGroups(`name=${value}`);
      list = response;
    } else {
      list = [];
    }

    this.foundGroups = list;
  }
  private onSelectGroup(value: { id: number; label: string }) {
    if (this.selectedGroupLabel) {
      this.selectedGroupLabel = value.label;
      this.onChangeValue(value.id, "group_id");
    } else {
      this.selectedGroupLabel = this.data?.group ?? "";
      this.onChangeValue([], "group_id");
    }

    this.$emit("params:changeGroup", value.id ?? [], "group_id");
  }

  // Date range
  private dateRange = this.data?.datepicker || null;
  private dateRangeShortcuts = dateRangeShortcuts;
  private dateRangeLabel: ReportParamsDateRangeLocale | string =
    String(this.$t('select_dates'));
  private onDateRangeChange(dates: Maybe<string> | Maybe<string>[]) {
    if (!dates || !dates[0]) {
      this.dateRangeLabel = ReportParamsDateRangeLocale.ALL_TIME;
      this.onChangeValue(dates, "dateRange");
      this.$emit("params:changeDateRange", null, "dateRange");
    }

    this.onChangeValue(dates, "dateRange");

    if (Array.isArray(dates)) {
      this.dateRangeLabel = `${dates[0]} ~ ${dates[1]}`;
    } else {
      this.dateRangeLabel = dates as string;
    }

    this.$emit("params:changeDateRange", null, "dateRange");
  }

  // User autocomplete
  public user = "";
  get userValue() {
    return this.user;
  }
  set userValue(value) {
    this.user = value;
  }
  @Watch("userValue")
  private onUserChange(value: string) {
    this.$emit("params:changeUser", value, "user");
  }

  // showAllUsers
  public showAllUsers: boolean | undefined = this.data?.showAllUsers;
  public get showAllUsersValue() {
    return this.showAllUsers;
  }
  public set showAllUsersValue(value) {
    this.showAllUsers = value;
  }
  @Watch("showAllUsersValue")
  private onShowAllUsersChange(value: boolean) {
    this.$emit("params:changeShowAllUsers", value, "showAllUsers");
  }

  // onlyUnverified
  public onlyUnverified = this.data.onlyUnverified;
  public get onlyUnverifiedValue() {
    return this.onlyUnverified;
  }
  public set onlyUnverifiedValue(value) {
    this.onlyUnverified = value;
  }
  @Watch("onlyUnverifiedValue")
  private onOnlyUnverifiedChange(value: boolean) {
    this.$emit("params:changeOnlyUnverified", value, "onlyUnverified");
  }

  // hideUnassigned
  public hideUnassigned = this.data.hideUnassigned;
  public get hideUnassignedValue() {
    return this.hideUnassigned;
  }
  public set hideUnassignedValue(value) {
    this.hideUnassigned = value;
  }
  @Watch("hideUnassignedValue")
  private onHideUnassignedChange(value: boolean) {
    this.$emit("params:changeHideUnassigned", value, "hideUnassigned");
  }

  @Emit("params:change")
  created() {
    this.onChangeValue();
  }

  @Emit("params:change")
  public onChangeValue(
    value?: any,
    key?: string
  ): ReportCardReturnedParamsType {
    if (key !== undefined && value !== undefined && key in this.localValues) {
      this.localValues = { ...this.localValues, [key]: value };
    }

    return this.localValues;
  }
}
</script>

<style lang="scss">
.report-card-body-params {
  &__select {
    @include not-last-child {
      margin-bottom: $offset;
    }
  }

  &__select-label {
    display: flex;
    align-items: center;

    > span {
      min-width: 150px;
    }

    > select {
      min-width: 200px;
    }
  }

  &__warning {
    margin-top: $offset2x;

    span {
      font-size: 12px;

      &:first-child {
        color: #f00000;
      }
    }
  }
}
</style>
