<template lang="pug">
    div(:class="classes")
        ReportCardHead(
            v-if="data.title"
            :number="number"
            :title="data.title"
            :type="type"
        )
        ReportCardBody(:type="type")
            ReportCardBodyTable(
                v-if="type === 'table'"
                :key="cardId"
                :data="data.content"
                v-on="$listeners"
            )

            ReportCardBodyParams(
                v-if="type === 'params'"
                :key="cardId"
                :data="data.content"
                v-on="$listeners"
            )

            ReportCardBodyResult(
                v-if="type === 'result'"
                :key="cardId"
                :is-loading="isLoading"
                :data="data.content"
                v-on="$listeners"
            )
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Loader } from "@/UI";
import { ReportCardType, ReportView } from "@/helpers/types";
import ReportCardHead from "./ReportCardHead.vue";
import ReportCardBody from "./ReportCardBody.vue";
import ReportCardBodyTable from "./ReportCardBodyTable.vue";
import ReportCardBodyParams from "./ReportCardBodyParams.vue";
import ReportCardBodyResult from "./ReportCardBodyResult.vue";
import ReportCardBodyStep from "./ReportCardBodyStep.vue";

@Component({
  components: {
    Loader,
    ReportCardHead,
    ReportCardBody,
    ReportCardBodyTable,
    ReportCardBodyParams,
    ReportCardBodyResult,
    ReportCardBodyStep
  }
})
export default class ReportCard extends Vue {
  @Prop() private cardId!: string;
  @Prop() private number!: number;
  @Prop() private data!: ReportCardType;
  @Prop() private isLoading!: boolean;

  public get classes() {
    return {
      "report-card": true
    };
  }

  public get type(): ReportView {
    return this.data.view;
  }
}
</script>

<style lang="scss">
.report-card {
  @include card;
  width: 100%;

  &--resizable {
    height: 600px;
    min-height: calc(350px + #{$offset});
    max-height: 700px;
    resize: vertical;
    overflow: hidden;
  }
}
</style>
