<template lang="pug">
    .report-result
        .report-result__head
            Subtitle.report-result__title {{ $t(title) }}
            .report-result__actions
                //a.button.button--text(href="http://api.studixy.com/api/document/generation/6" target="_blank" rel="nofollow noopener noreferrer")
                //    Icon.report-result__action-icon(name="print")
                //    | Печать
                //Button.report-result__action(variant="text")
                //    Icon.report-result__action-icon(name="envelope")
                //    | Email
                Button.report-result__action(variant="text" @click="expReport")
                    Icon.report-result__action-icon(name="file-export")
                    | {{$t('export')}}
                //Button.report-result__action(variant="text" @click="expReportExcel")
                    Icon.report-result__action-icon(name="file-export")
                    | {{$t('export')}} Excel
        .report-result__info(v-if="showInfo")
            Separator
            ul.report-result__info-list
                li.report-result__info-item(v-if="date") {{ date }}
                li.report-result__info-item(v-else) {{$t('ALL_tme')}}
                li.report-result__info-item {{$t('passed')}}/{{$t('not_passed')}} {{$t('attempts')}}: {{report.main.success_attempt}}/{{report.main.count_attempt - report.main.success_attempt}}
                li.report-result__info-item {{$t('passed')}}/{{$t('not_passed')}} {{$t('users_report')}}: {{report.main.success_user}}/{{report.main.count_user - report.main.success_user}}
                li.report-result__info-item {{$t('avg_score')}}: {{report.main.avg_score}}

        .report-result__table
            div(v-if='type === "quizAnswerBreakdown"')
              div(v-for="(question, index) in report.rows[0].questions")
                div.table-title
                  p.question_title {{index + 1}}. {{question.name}}
                  p(v-for="(answer, index) in question.options") {{$t('variant')}} {{index + 1}} – {{answer.option}}
                Table(  
                    :data="question.options"
                    :select-options="{ enabled: false }"
                    :search-options="{ enabled: false }"
                    :columns="tableColumns"
                    fixed-header
                )
            div(v-else-if='type === "userActivity" && report')
              Table(
                  :data="report"
                  data-path="rows"
                  :select-options="{ enabled: false }"
                  :search-options="{ enabled: false }"
                  :columns="tableColumns"
                  fixed-header
                  @select="userActivitySelect"
              )
            div(v-else-if='type === "trafficlights" && report')
              //span {{report}}
              .vgt-responsive(ref="trafficLights" id="trafficLights")
                table.vgt-table.bordered 
                  thead
                    tr
                      th(v-for="(i, index) in report.hr" v-if="index <= (report.rows[0].section.length * 5) + 1")
                        span {{i}}
                  tbody
                    tr(v-for="item in report.rows")
                      td
                        span {{item.user.last_name}} {{item.user.name}} {{item.user.patronymic}}
                      td
                        span {{item.groups.join(', ')}}
                      template(v-for="(section, index) in item.section")
                        td
                          span(v-if="section.debt.progress") {{section.debt.progress}}%
                        td(:class="{'bg-green-500' : section.debt.count === 0, 'bg-yellow-300' : (section.debt.count === 1 || section.debt.count === 2), 'bg-yellow-600' : (section.debt.count === 4 || section.debt.count === 5), 'bg-red-500' : (section.debt.count > 5)}")
                          span {{section.debt.count}}
                        td
                          span(v-for="debt in section.debt.debt").block {{debt.name}} - {{debt.date.date | moment("DD.MM.YYYY")}}
                        td
                          textarea.text-field(v-model="section.debt.comment" @change="commentOnDebt($event, section.debt.id)" v-if="section.debt.id")
                        td(v-if="(report.type === 'week') || (report.type === 'month')")
                          span(v-for="comment in section.comments.text" v-if="comment.comment").block {{comment.date}} - {{comment.comment}}
              .flex.justify-evenly.mt-5
                Button(@click="tableScroll('left')") Прокрутить влево
                Button(@click="tableScroll('right')") Прокрутить вправо
            div(v-else-if="type === 'submittedProject' && report")
              .vgt-responsive(ref="trafficLights" id="trafficLights")
                table.vgt-table.bordered 
                  thead
                    tr
                      th
                        span {{$t('user')}}
                      th
                        span {{$t('submittedProject_module')}}
                      template(v-for="item in report.max_version+1")
                        th
                          span {{$t('version')}} {{item}}
                        th
                          span {{$t('date')}}
                        th
                          span {{$t('submittedProject_update')}}
                  tbody
                    template(v-for="row in report.rows")
                      tr(v-for="rowUserProject in row.project")
                        td
                          span {{row.user_name}}
                        td
                          span {{rowUserProject.name}}
                        template(v-for="(itemVersion, index) in rowUserProject.version")
                          td
                            span {{findUserNameById(itemVersion.trainer_id).name}}
                          td
                            span {{itemVersion.created_at | moment("DD.MM.YYYY")}}
                          td
                            span {{itemVersion.updated_at | moment("DD.MM.YYYY")}}
              //.vgt-responsive(ref="trafficLights" id="trafficLights")
                table.vgt-table.bordered 
                  thead
                    tr
                      th
                        span Студент
                      template(v-for="item in report.rows[0].project")
                        th
                          span Модуль, название проекта
                        template(v-for="(itemVersion, index) in item.version")
                          th
                            span Версия {{index + 1}}
                          th
                            span Дата
                          th
                            span Последние обновления преподавателями
                  tbody
                    tr(v-for="row in report.rows")
                      td
                        span {{row.user_name}}
                      template(v-for="item in row.project")
                        td
                          span {{item.name}}
                        template(v-for="(itemVersion, index) in item.version")
                          td
                            span {{findUserNameById(itemVersion.trainer_id).name}}
                          td
                            span {{itemVersion.created_at | moment("DD.MM.YYYY")}}
                          td
                            span {{itemVersion.updated_at | moment("DD.MM.YYYY")}}
              .flex.justify-evenly.mt-5
                Button(@click="tableScroll('left')") Прокрутить влево
                Button(@click="tableScroll('right')") Прокрутить вправо
            Table(v-else-if="report"
                id="my-table"
                :data="report"
                data-path="rows"
                :select-options="{ enabled: false }"
                :search-options="{ enabled: false }"
                :columns="tableColumns"
                fixed-header
            )
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";
import {
  Maybe,
  ReportLayoutType,
  ReportType,
  DataInterface,
  UserInterface
} from "@/helpers/types";
import { Separator, Subtitle, Button, Table } from "@/UI";
import { makeQueryURL } from "@/helpers/utils/functions";
import find from "lodash/find";
/**
 * TODO Заменить ссылки на сгенерированные отчёты
 * Сейчас они захардкожены, т.к. это хардкод со стороны бэка
 */

@Component({
  components: { Separator, Subtitle, Button, Table }
})
export default class ReportResult extends Vue {
  @Action exportReport!: (params: any) => Promise<void>;
  @Action setCommentToDebt!: (params: any) => Promise<void>;
  @Action fetchUsers!: (params: any) => Promise<void>;
  @Getter("getReport") report!: Maybe<ReportType[]>;
  @Getter("getUsers") users!: Maybe<DataInterface<UserInterface[]>>;
  @Prop() title!: string;
  @Prop() showInfo!: boolean;
  @Prop() type!: string;
  @Prop() lastReportRequestParams!: any;
  @Prop() tableColumns!: ReportLayoutType["result"]["table"]["columns"];
  @Prop() date!: string | number | number[] | Date | Date[] | string[] | null;
  public tableScroll(way: "left" | "right") {
    const element: HTMLElement = this.$refs.trafficLights as HTMLElement;
    const currPosition = element.scrollLeft;
    switch (way) {
      case "left":
        element.scrollTo({
          left: currPosition - 450,
          behavior: "smooth"
        });
        break;
      case "right":
        element.scrollTo({
          left: currPosition + 450,
          behavior: "smooth"
        });
        break;
    }
  }
  public created() {
    this.fetchUsers(makeQueryURL({ perPage: -1 }));
  }
  public findUserNameById(id: number) {
    const user = find(this.users?.data, i => {
      return i.id === Number(id);
    });
    return user;
  }
  public expReport() {
    let report_name = "";
    switch (this.lastReportRequestParams.type) {
      case "learning-path-summary":
        report_name = "learningPathSummary";
        break;
      case "quiz-score-results":
        report_name = "quizScoreResults";
        break;
      case "quiz-answer-breakdown":
        report_name = "quizAnswerBreakdown";
        break;
      case "user-activity":
        report_name = "getUserActivity";
        break;
      case "traffic-lights":
        report_name = "trafficLights";
        break;
    }
    this.lastReportRequestParams.params["report_name"] = report_name;
    console.log(makeQueryURL(this.lastReportRequestParams.params));
    //this.exportReport(makeQueryURL(this.lastReportRequestParams.params));
    window.open(
      `https://api.studixy.com/admin/excel/export?${makeQueryURL(
        this.lastReportRequestParams.params
      )}`,
      "_blank"
    );
  }
  public userActivitySelect(data: any) {
    console.log(data);
  }
  public async commentOnDebt(event: any, id: number) {
    console.log(event?.target?.value);
    console.log(id);
    const params = {
      id: id,
      comment: event?.target?.value
    };
    await this.setCommentToDebt(params);
  }
}
</script>

<style lang="scss">
.report-result {
  @include full-size;
  display: flex;
  flex-direction: column;

  &__head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__action-icon {
    margin-right: 0.4em;
  }

  &__table {
    margin-top: $offset2x;
  }
}
.vue-html2pdf .content-wrapper {
  width: 100% !important;
}
</style>
