<template lang="pug">
    .report-grid
        .report-grid__item
            slot(name="single")

        .report-grid__item.report-grid__item--multiple
            slot(name="multiple")
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component({
  components: {}
})
export default class ReportGrid extends Vue {}
</script>

<style lang="scss">
.report-grid {
  @include row;
  @include two-grid-items;

  &__item {
    flex: 0 0 60%;
    min-width: 240px;

    &--multiple {
      flex: 0 0 40%;

      @include children {
        @include not-last-child {
          margin-bottom: $offset;
        }
      }
    }
  }
}
</style>
