<template lang="pug">
    div(:class="classes")
        slot
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { ReportView } from "@/helpers/types";
import ReportCardBodyTable from "./ReportCardBodyTable.vue";
import ReportCardBodyParams from "./ReportCardBodyParams.vue";
import ReportCardBodyResult from "./ReportCardBodyResult.vue";

@Component({
  components: {
    ReportCardBodyTable,
    ReportCardBodyParams,
    ReportCardBodyResult
  }
})
export default class ReportCardBody extends Vue {
  @Prop() type!: string;

  public get classes() {
    return {
      "report-card-body": true,
      "report-card-body--table": this.type === ReportView.TABLE
    };
  }
}
</script>

<style lang="scss">
.report-card-body {
  max-height: calc(100% - 57px);
  padding: $offset;

  &--table {
    height: 100%;
    max-height: calc(100% - 55px);
    margin: -1px;
    padding: 0;
    overflow-y: auto;
  }
}
</style>
