<template lang="pug">
    .report-card-body-result
        //.report-card-body-result__checkboxes
            label.report-card-body-result__checkbox
                Checkbox(v-model="showReportBelowValue") {{$t('show_report_bottom')}}
        p(v-if="data.requiredDatepicker && isDisabledCreateButton").font-medium.text-red-600.text-lg {{$t('datepicker_required')}}
        Button.report-card-body-result__create-button(
            :loading="isLoading"
            @click="onCreateButtonClick"
            :disabled="isDisabledCreateButton"
        )  {{$t('create_report')}}
</template>

<script lang="ts">
import { Vue, Component, Emit, Prop } from "vue-property-decorator";
import { Checkbox, Button } from "@/UI";
import {
  ReportCardReturnedResultType,
  ReportCardParamsType
} from "@/helpers/types";

@Component({
  components: { Checkbox, Button }
})
export default class ReportCardBodyResult extends Vue {
  @Prop() private isLoading!: boolean;
  @Prop() data!: ReportCardParamsType;
  public isDisabledCreateButton = false;
  public showReportBelow = false;
  public created() {
    if (this.data) {
      if (this.data.requiredDatepicker) {
        this.isDisabledCreateButton = true;
      } else {
        this.isDisabledCreateButton = false;
      }
    }
    this.$events.$on("changeDateRange", () => {
      this.isDisabledCreateButton = false;
    });
  }
  get showReportBelowValue() {
    return this.showReportBelow;
  }
  set showReportBelowValue(value) {
    this.showReportBelow = value;
  }

  @Emit("result:create")
  public onCreateButtonClick(): ReportCardReturnedResultType {
    return {
      showReportBelow: this.showReportBelowValue
    };
  }
}
</script>

<style lang="scss">
.report-card-body-result {
  &__checkbox {
    display: flex;
    align-items: center;

    @include not-last-child {
      margin-bottom: calc(#{$offset} / 2);
    }

    > input {
      margin-right: calc(#{$offset} / 2);
    }
  }

  &__create-button {
    margin-top: $offset2x;
  }
}
</style>
