<template lang="pug">
    .report-card-body-table
        Loader(v-if="!tableData" :center="true")
        //TableOneSelect(
            v-else-if="data.type === 'userActivity'"
            data-path="data"
            :data="tableData"
            :columns="columns"
            fixed-header
            :select-on-checkbox-only="false"
            @fetch="fetchTableData"
            @select="onSelectData"
          )
        //Table(
            v-else
            data-path="data"
            :data="tableData"
            :columns="columns"
            fixed-header
            :select-on-checkbox-only="false"
            @fetch="fetchTableData"
            @select="onSelectData"
          )
        AgGridVue(
          v-else
          style="width: 100%; height: 100%;"
          class="ag-theme-alpine"
          id="myGrid"
          :columnDefs="columnDefs"
          @grid-ready="onGridReady"
          :defaultColDef="defaultColDef"
          :rowSelection="rowSelection"
          :rowData="rowData"
          @selection-changed="onSelectData"
          :pagination="true"
          :paginationPageSize="10"
          :rowModelType="rowModelType"
          :cacheBlockSize="cacheBlockSize"
          :serverSideStoreType="serverSideStoreType"
          :localeText="TRANSLATIONS[this.$i18n.locale]"
          :key="this.$i18n.locale"
          )
</template>

<script lang="ts">
import "ag-grid-community/dist/styles/ag-grid.css";
import "ag-grid-community/dist/styles/ag-theme-alpine.css";
import { AgGridVue } from "@ag-grid-community/vue";
import {
  ModuleRegistry,
  ColDef,
  GridApi,
  ColumnApi
} from "@ag-grid-community/core";
import { Vue, Component, Prop, Emit, Watch } from "vue-property-decorator";
import {
  CourseInterface,
  DataInterface,
  Maybe,
  ReportCardTableType
} from "@/helpers/types";
import { Loader, Table, TableOneSelect } from "@/UI";
import { AllModules } from "@ag-grid-enterprise/all-modules";
import { makeQueryURL } from "@/helpers/utils/functions";
import HeaderTableComponent from "@/modules/HeaderTableComponent.vue";
import { TRANSLATIONS } from "@/i18n/Transaltions";
ModuleRegistry.registerModules(AllModules);
@Component({
  components: { Loader, Table, TableOneSelect, AgGridVue, HeaderTableComponent }
})
export default class ReportCardBodyTable extends Vue {
  @Prop() data!: ReportCardTableType;
  public columnDefs = [
    {
      headerName: `${this.data.action}.${this.data?.titleField}`,
      field: this.data?.titleField,
      headerComponentFramework: HeaderTableComponent,
      ...(this.data.selectType === "multiple" && { checkboxSelection: true })
    }
  ];
  
  //public columnDefs = [
  //  { field: "athlete", minWidth: 220 },
  //  { field: "country", minWidth: 200 },
  //  { field: "year" },
  //  { field: "sport", minWidth: 200 },
  //  { field: "gold" },
  //  { field: "silver" },
  //  { field: "bronze" }
  //];
  public TRANSLATIONS = TRANSLATIONS;
  private gridApi: GridApi | null | undefined;
  private gridColumnApi: ColumnApi | null | undefined;
  public columnApi = null;
  private rowModelType: string = "";
  private serverSideStoreType: string = "";
  private cacheBlockSize: number = 0;
  public localeText: any;
  //public localeTextFunc: any;
  private defaultColDef: ColDef | null | undefined = {
    flex: 1,
    minWidth: 100
  };
  public rowSelection: string = "";
  public rowData = null;
  public rowDatabase: Array<any> = [];
  public beforeMount() {
    this.rowSelection = this.data?.selectType;
    this.rowModelType = "serverSide";
    this.serverSideStoreType = "partial";
    this.cacheBlockSize = 10;
  }
  public localeTextFunc(key: any, defaultValue: any) {
    return this.$t(key);
  }
  public onSelectionChanged() {
    const selectedRows = this.gridApi?.getSelectedRows();
  }
  public onGridReady(params: any) {
    this.gridApi = params.api;
    this.gridColumnApi = params.columnApi;

    //const updateData = (data: any) => {
    //  this.rowData = data;
    //};
    //
    //updateData(this.$store.getters[this.data.getter].data);

    const updateData = () => {
      params.api.setServerSideDatasource({
        getRows: async (params: any) => {
          try {
            const pageNum = params.request.endRow / 10;
            await this.fetchTableData(makeQueryURL({ page: pageNum }));
            params.successCallback(
              this.$store.getters[this.data.getter].data,
              this.$store.getters[this.data.getter].total
            );
          } catch (err) {
            console.error(err);
            params.failCallback();
          }
        }
      });
    };

    updateData();
  }
  public createServerSideDatasource = function createServerSideDatasource(
    server: any
  ) {
    return {
      getRows: function(params: any) {
        console.log("[Datasource] - rows requested by grid: ", params.request);
        const response = server.getData(params.request);
        setTimeout(function() {
          if (response.success) {
            params.success({ rowData: response.rows });
          } else {
            params.fail();
          }
        }, 500);
      }
    };
  };

  public createFakeServer = function createFakeServer(allData: any) {
    return {
      getData: function(request: any) {
        console.log(request);
        const requestedRows = allData.slice();
        return {
          success: true,
          rows: requestedRows
        };
      }
    };
  };
  public createFakeServerTwo = function createFakeServer(allData: any) {
    return {
      getData: function(request: any) {
        const requestedRows = allData.slice();
        return {
          success: true,
          rows: requestedRows
        };
      }
    };
  };
  public columns = [
    {
      field: this.data?.titleField,
      label: "Имя",
      sortable: true
    }
  ];
  public selectedData: unknown;

  public get tableData(): Maybe<DataInterface<CourseInterface[]>> {
    return this.$store.getters[this.data.getter];
  }

  public fetchTableData(params?: any): Promise<void> {
    return this.$store.dispatch(this.data?.action, params);
  }

  public mounted() {
    this.fetchTableData();
  }

  @Emit("table:select")
  private onSelectData(data: any[]) {
    this.selectedData = this.gridApi
      ?.getSelectedRows()
      .map(value => value.id || value);
    return this.selectedData;
  }
}
</script>

<style lang="scss">
.report-card-body-table {
  height: 100%;

  .vgt-wrap,
  .vgt-inner-wrap {
    height: 100%;
  }

  .vgt-global-search {
    border: 1px solid #dcdfe6;
  }

  .vgt-responsive {
    height: calc(100% - 112px);
  }

  .vgt-selection-info-row ~ .vgt-responsive {
    height: calc(100% - 143px);
  }

  .vgt-table {
    border-top: 0;
    border-bottom: 0;
  }

  .vgt-table thead tr:first-child td,
  .vgt-table thead tr:first-child th {
    border-top: 0;
  }
}
</style>
