<template lang="pug">
    div(:class="classes")
        Subtitle.report-card-head__number(component="span" small) {{ number }}
        Subtitle.report-card-head__title(weight="400" component="h2") {{ $t(title) }}
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Subtitle } from "@/UI";
import { ReportView } from "@/helpers/types";

@Component({
  components: { Subtitle }
})
export default class ReportCardHead extends Vue {
  @Prop() public number!: number;
  @Prop() public title!: string;
  @Prop() public type!: ReportView;

  public get classes() {
    return {
      "report-card-head": true,
      "report-card-head--highlighted": this.type === ReportView.TABLE
    };
  }
}
</script>

<style lang="scss">
.report-card-head {
  display: flex;
  padding: $offset;
  border-bottom: 1px solid $border;

  &__number {
    @include circle(30);
    @include display-flex-centered;
    background-color: $lighter-main;
    color: $white;
    line-height: 1;
  }

  &__title {
    margin-left: 10px;
  }

  &--highlighted {
    background-color: rgba($main, 0.05);
  }
}
</style>
