<template lang="pug">
    Loader(v-if="isLoading" :center="true")
    .max-w-7xl.mx-auto(v-else)
      .max-w-none.mx-auto
        .bg-white.overflow-hidden.shadow(class='sm:rounded-lg')
          ul.divide-y.divide-gray-200(aria-disabled='true' v-if="news.data && news.data.length > 0" )
            li(v-for="(item,index) in news.data" :key="index")
              .block(class='hover:bg-gray-50')
                .px-4.py-4(class='sm:px-6')
                  .flex.items-center.justify-between
                    .text-sm.font-medium.text-blue-600.truncate
                      template(v-if="item.title !== null") {{item.title}}
                      template(v-else) {{$t('Untitled')}}
                    .ml-2.flex-shrink-0.flex
                      span.px-2.inline-flex.text-xs.leading-5.font-semibold.rounded-full.bg-green-100.text-green-800 {{item.created_at | moment("DD.MM.YYYY")}}
                  .mt-2.flex.justify-between
                    .mr-6.flex.items-center.text-sm.text-gray-500.whitespace-pre-wrap
                      template(v-if="item.body !== null") {{item.body}}
                      template(v-else) {{$t('Without_text')}}
          div(v-else)
            .px-4.py-4(class='sm:px-6')
              .flex.items-center.justify-center
                span.text-2xl {{$t('no_news')}}
          .bg-white.px-4.py-3.flex.items-center.justify-between.border-t.border-gray-200(class='sm:px-6')
            div(class='sm:flex-1 sm:flex sm:items-center' v-if="news.last_page > 1")
              nav.relative.z-0.inline-flex.rounded-md.shadow-sm.-space-x-px(aria-label='Pagination')
                button.relative.inline-flex.items-center.px-2.py-2.rounded-l-md.border.border-gray-300.bg-white.text-sm.font-medium.text-gray-500(class='hover:bg-gray-50' @click="PrevPage")
                  span.sr-only {{$t('Back')}}
                  svg.h-5.w-5(x-description='Heroicon name: solid/chevron-left' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                    path(fill-rule='evenodd' d='M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z' clip-rule='evenodd')
                button.relative.inline-flex.items-center.px-4.py-2.border.text-sm.font-medium(class='hover:bg-gray-50' v-for="n in news.last_page" @click="ChangePage(n)" :class="{ 'bg-white border-gray-300 text-gray-500' : news.current_page != n, 'z-10 bg-blue-50 border-blue-500 text-blue-600' : news.current_page === n}")
                  | {{ n }}
                button.relative.inline-flex.items-center.px-2.py-2.rounded-r-md.border.border-gray-300.bg-white.text-sm.font-medium.text-gray-500(class='hover:bg-gray-50' @click="NextPage")
                  span.sr-only {{$t('Next')}}
                  svg.h-5.w-5(x-description='Heroicon name: solid/chevron-right' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                    path(fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd')
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";
import { Page, PageHeader, Button, Loader } from "@/UI";
import { makeQueryURL } from "@/helpers/utils/functions";
import NewsList from "@/components/News/NewsList.vue";
import Subtitle from "@/UI/Subtitle.vue";
import Separator from "@/UI/Separator.vue";

@Component({
  components: {
    Separator,
    Subtitle,
    NewsList,
    Page,
    PageHeader,
    Button,
    Loader
  }
})
export default class PageNews extends Vue {
  @Action fetchNews!: (params?: any) => Promise<void>;
  @Getter("getNews") news!: any;

  public name = "";
  public isLoading = false;

  public async created() {
    this.isLoading = true;
    await this.fetchNews();
    this.isLoading = false;
  }

  public ChangePage(n: any) {
    if (this.news.current_page != n) {
      this.fetchNews(makeQueryURL({ page: n }));
      // eslint-disable-next-line no-empty
    }
  }

  public NextPage() {
    if (this.news.current_page < this.news.last_page) {
      this.fetchNews(makeQueryURL({ page: this.news.current_page + 1 }));
    }
  }

  public PrevPage() {
    if (this.news.current_page > 1) {
      this.fetchNews(makeQueryURL({ page: this.news.current_page - 1 }));
    }
  }
}
</script>
<style lang="scss"></style>
