<template lang="pug">
    .alert
        .alert__wrapper
            .alert__header
                .alert__title.subtitle.subtitle--small.subtitle--bold Добро пожаловать в Online университет Бизнес-школы EMAS!
            .alert__content
                p Выберите курс для изучения.
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Alert extends Vue {}
</script>

<style lang="scss">
.alert {
  @include card();

  &__wrapper {
    padding: 26px 28px;
  }

  &__title {
    margin-bottom: 14px;
  }

  &__content {
    color: $secondary;
  }
}
</style>
