<template lang="pug">
    .auth-welcome.flex.flex-col.justify-center.text-center.mx-auto(class="md:text-left lg:text-left md:mx-0 lg:mx-0 mb-3 lg:mb-0 md:lg-0")
      .auth-welcome__main__text.mb-3(class="md:mb-12 lg:mb-12")
        h1.text-3xl.text-white.font-semibold(class="md:text-5xl lg:text-5xl xl:text-8xl") {{$t('welcome')}}
      .auth-welcome__description__text.mb-3(class="md:mb-12 lg:mb-12 md:w-1/2 lg:w-1/2")
        p.text-xl.text-white.font-light(class="mg:text-3xl lg:text-3xl") {{$t('welcome_desc')}}
      .auth-welcome__logo
        img(:src="logo" alt="logo" class="mx-auto lg:mx-0 md:mx-0 w-1/3 md:w-1/3 lg:w-1/3")
</template>

<script lang="ts">
import logo from "@/assets/images/logo.svg";
import { Vue } from "vue-property-decorator";
export default class AuthWelcome extends Vue {
  public logo: string = logo;
}
</script>

<style lang="scss">

</style>
