<template lang="pug">
    .dashboard-stats
        .dashboard-stats__wrapper
            .dashboard-stats__item
                .dashboard-stats__item-icon.dashboard-stats__item-icon--materials
                    Icon(name="file-alt")
                .dashboard-stats__item-name.subtitle
                    a(href="asklasdk").dashboard-stats__item-count 3612
                    span.dashboard-stats__item-label материала
            .dashboard-stats__item
                .dashboard-stats__item-icon.dashboard-stats__item-icon--users
                    Icon(name="user")
                .dashboard-stats__item-name.subtitle
                    a(href="asklasdk").dashboard-stats__item-count 334
                    span.dashboard-stats__item-label пользователя
            .dashboard-stats__item
                .dashboard-stats__item-icon.dashboard-stats__item-icon--groups
                    Icon(name="users")
                .dashboard-stats__item-name.subtitle
                    a(href="asklasdk").dashboard-stats__item-count 133
                    span.dashboard-stats__item-label группы
            .dashboard-stats__item
                .dashboard-stats__item-icon.dashboard-stats__item-icon--enters
                    Icon(name="glasses")
                .dashboard-stats__item-name.subtitle
                    span.dashboard-stats__item-count 230
                    span.dashboard-stats__item-label входов за период

</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class DashboardStats extends Vue {}
</script>

<style lang="scss">
.dashboard-stats {
  @include display-flex-centered;
  @include card;
  padding: $offset $offset2x;

  &__wrapper {
    @include display-flex-centered;
    @include full-size;
    justify-content: space-between;
  }

  &__item {
    @include display-flex-centered;

    a {
      color: $main;
    }
  }

  &__item-icon {
    @include display-flex-centered;
    @include circle(34);
    flex: 0 0 auto;
    color: $white;
    margin-right: 10px;

    &--materials {
      background: lightgreen;
    }

    &--users {
      background: #66a9ca;
    }

    &--groups {
      background: #ffce43;
    }

    &--enters {
      background: lightcoral;
    }
  }

  &__item-count {
    margin-right: 4px;
    display: inline-block;
  }
}
</style>
