<template lang="pug">
    .members-list
        .members-list__wrapper
            .members-list__header
                p.members-list__title {{ title }}
                TextField(v-model="search" :placeholder="placeholder").members-list__search
            .members-list__main
                Loader(v-if="isLoading" :center="true" size="16px").members-list__loader
                .members-item(v-else v-for="(item, index) in (this.list ? this.list : this.data)", :key="index" :id="index")
                    .members-item__wrapper
                        .members-item__name
                            p(v-if="type === 'users'") {{ item.last_name }} {{ item.first_name }} ({{item.email}})
                            p(v-else) {{ item.name }}
                        Button.members-item__action.text-xs(
                            v-if="!item.access"
                            variant="danger"
                            :loading="item.delete"
                            @click="deleteItem(item)"
                        ) {{ $t('remove_access') }}
                        Button.members-item__action.text-xs(
                            v-else
                            :loading="item.add"
                            @click="addItem(item)"
                        ) {{ $t('give_access') }}
                .members-item(v-if="this.list && this.list.length === 0")
                    .members-item__wrapper
                        .members-item__name
                            p {{ $t('blanks') }}
                .members-item(v-if="this.data.length === 0 && !this.list")
                    .members-item__wrapper
                        .members-item__name
                            p {{ empty }}
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { Button, TextField, Loader } from "@/UI";

@Component({
  components: { Loader, Button, TextField }
})
export default class MembersList extends Vue {
  @Prop({ required: false, default: null }) list!: any[];
  @Prop({ required: true }) data!: any;
  @Prop({ required: true }) title!: string;
  @Prop({ required: true }) placeholder!: string;
  @Prop({ required: true }) empty!: string;
  @Prop({ required: true }) type!: "groups" | "users";

  public search = "";
  public isLoading = false;

  public deleteItem(item: any) {
    this.$emit("delete", item);
  }

  public addItem(item: any) {
    this.$emit("add", item);
  }

  @Watch("list")
  private changeList() {
    this.isLoading = false;
  }

  @Watch("data")
  private changeData() {
    this.search = "";
    this.isLoading = false;
  }

  @Watch("search")
  private changeSearch(value: string) {
    this.isLoading = true;
    this.$emit("fetch", value);
  }
}
</script>

<style lang="scss" scoped>
.members-list {
  &__wrapper {
    @include radius;
    overflow: hidden;
    height: 400px;
    border: 1px solid #bed0db;
    display: flex;
    flex-direction: column;
  }

  &__header {
    @include display-flex-centered;
    border-bottom: 1px solid #eeeeee;
    background: #f9fbfc;
    padding: 10px 10px 10px 15px;
    flex: 0 0 auto;
  }

  &__title {
    font-weight: bold;
    flex: 0 0 auto;
    padding-right: $offset2x;
  }

  &__search {
    background: $white;
    margin-left: auto;
    flex: 1 1 auto;
    max-width: 250px;
  }

  &__main {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    flex: 1 1 auto;
  }
}
.members-item {
  &__wrapper {
    @include display-flex-centered;
    justify-content: flex-start;
    padding: 10px 15px;
    border-bottom: 1px solid #dfe5eb;

    label.members-item & {
      cursor: pointer;
    }

    &:hover {
      background: $light-grey;
    }

    .members-item:last-child {
      border-bottom: none;
    }
  }

  &__checkbox {
    @include display-flex-centered;
    flex: 0 0 auto;
    margin-right: 10px;
  }

  &__action {
    flex: 0 0 auto;
    cursor: pointer;
    margin-left: auto;
    border: none;
  }

  &__plus {
    color: $green;
  }

  &__delete {
    color: $red;
  }
}
</style>
