<template lang="pug">
    .members
        MembersList(
            type="groups"
            :title="$t('groups')",
            :placeholder="$t('groups_search')"
            :empty="$t('groups_empty')"
            :data="this.data.group"
            :list="this.groups"
            @delete="deleteGroup"
            @add="addGroup"
            @fetch="getGroups"
        )
        MembersList(
            type="users"
            :title="$t('users.title')",
            :placeholder="$t('users.search')"
            :empty="$t('users.empty')"
            :data="this.data.users"
            :list="this.users"
            @delete="deleteUser"
            @add="addUser"
            @fetch="getUsers"
        )
</template>

<script lang="ts">
import sortBy from "lodash/sortBy";
import groupBy from "lodash/groupBy";
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { Button, TextField, Loader } from "@/UI";
import {
  CourseInterface,
  GroupInterface,
  Maybe,
  UserInterface
} from "@/helpers/types";
import API from "@/api";
import { Action, Getter } from "vuex-class";
import MembersList from "@/components/MembersList.vue";

@Component({
  components: { MembersList, Loader, Button, TextField }
})
export default class Members extends Vue {
  @Prop({ required: true }) data!: CourseInterface;
  @Prop({ required: true, type: Number }) id!: number;
  @Action addUserToCourse!: (params: {
    user: UserInterface;
    id: number;
  }) => Promise<void>;
  @Action deleteUserFromCourse!: (params: {
    user: UserInterface;
    id: number;
  }) => Promise<void>;
  @Action addGroupToCourse!: (params: {
    group: GroupInterface;
    id: number;
  }) => Promise<void>;
  @Action deleteGroupFromCourse!: (params: {
    group: GroupInterface;
    id: number;
  }) => Promise<void>;

  public groups: Maybe<GroupInterface[]> = null;
  public users: Maybe<UserInterface[]> = null;
  public created() {
    this.getAllGroups();
    this.getAllUsers();
  }
  private checkUsersProgram(users: UserInterface[]) {
    const { data } = this;

    if (users) {
      return users.map(user => {
        let access = false;

        const userInProgram = !data.users?.some(({ id }) => id === user.id);

        if (userInProgram) {
          access = true;
        }

        return {
          ...user,
          access
        };
      });
    }

    return users;
  }

  private checkGroupsProgram(groups: GroupInterface[]) {
    const { data } = this;

    if (groups) {
      console.log("Member groups", groups)
      return groups.map(group => {
        let access = false;

        const userInGroup = !data.group?.some(({ id }) => id === group.id);

        if (userInGroup) {
          access = true;
        }

        return {
          ...group,
          access
        };
      });
    }

    return groups;
  }

  public async getUsers(value: string) {
    let list;

    if (value.length > 0) {
      const { data: response } = await API.user.getUsers(`searchTerm=${value}`);

      list = response.data;
    } else {
      list = null;
      this.getAllUsers();
    }

    this.users = this.checkUsersProgram(list);

    //sortBy(this.users, [(o) => o.])
  }

  public async getGroups(value: string) {
    let list;

    if (value.length > 0) {
      const { data: response } = await API.group.getGroups(`searchTerm=${value}`);

      list = response.data;
    } else {
      list = null;
      this.getAllGroups();
    }

    this.groups = this.checkGroupsProgram(list);
  }
  public async getAllGroups() {
    const { data: response } = await API.group.getGroups();

    const list = response.data;

    this.groups = this.checkGroupsProgram(list);
    this.groups = sortBy(this.groups, ["name"]) as any;
    this.groups = sortBy(this.groups, ["access"]) as any;
    //console.log(this.groups)
  }
  public async getAllUsers() {
    const { data: response } = await API.user.getUsers(`perPage=-1`);

    const list = response.data;

    this.users = this.checkUsersProgram(list);
    //this.users = groupBy(this.users, function(item) {
    //  return (item as any).access;
    //}) as any;
    this.users = sortBy(this.users, ["last_name", "first_name"]) as any;
    this.users = sortBy(this.users, ["access"]) as any;
    //console.log(this.users);
  }

  public async addUser(user: UserInterface) {
    this.$set(user, "add", true);
    await this.addUserToCourse({ user, id: this.id });
    this.$set(user, "add", false);
    this.$emit("update", this.id);
    this.getAllUsers();
  }

  public async deleteUser(user: UserInterface) {
    this.$set(user, "delete", true);
    await this.deleteUserFromCourse({ user, id: this.id });
    this.$set(user, "delete", false);
    this.$emit("update", this.id);
    this.getAllUsers();
  }

  public async addGroup(group: GroupInterface) {
    this.$set(group, "add", true);
    await this.addGroupToCourse({ group, id: this.id });
    this.$set(group, "add", false);
    this.$emit("update", this.id);
    this.getAllGroups();
  }

  public async deleteGroup(group: GroupInterface) {
    this.$set(group, "delete", true);
    await this.deleteGroupFromCourse({ group, id: this.id });
    this.$set(group, "delete", false);
    this.$emit("update", this.id);
    this.getAllGroups();
  }
}
</script>

<style lang="scss" scoped>
.members {
  display: flex;
  margin: calc(#{$offset} * -1);

  @include children {
    width: 50%;
    padding: $offset;
  }
}
</style>
