<template lang="pug">
    ModalRequired(:name="name" :title="$t('req_news')")
        div(v-if="news && news.length > 0" v-for="(item,index) in news" :key="index")
          .emas-message
            .emas-message-header
              h3.text-xl.font-medium
                template(v-if="item.title !== null") {{item.title}}
                template(v-else) {{$t('Untitled')}}
              span {{item.created_at | moment("DD.MM.YYYY")}}
            .emas-message-body.whitespace-pre-wrap
              p(v-if="item.body !== null") {{item.body}}
              p(v-else) {{$t('Without_text')}}
            Button(:loading="isLoading" @click="makeRead(item.id)").flex.m-auto
              template(v-if="item.title_button") {{item.title_button}}
              template(v-else) {{$t('i_read')}}
        //template(slot="footer")
          .flex.flex-col
            span(v-if="YouNotReadAll").font-medium.text-center.text-lg.text-red-500 Вы не прочли все новости
            Button(:loading="isLoading" @click="makeReadAll") {{$t('i_read_all')}}
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit, Watch } from "vue-property-decorator";
import { ModalRequired, FormItem, TextField, Checkbox, Button } from "@/UI";
import { Quiz } from "@/helpers/types/quiz";
import { Getter, Action } from "vuex-class";
import isEqual from "lodash/isEqual";
import uniq from "lodash/uniq";
@Component({
  components: {
    ModalRequired,
    FormItem,
    TextField,
    Checkbox,
    Button
  }
})
export default class NewsRequiredModal extends Vue {
  @Action fetchNews!: (params?: any) => Promise<void>;
  @Getter("getNews") news!: any;
  @Action makeReadNews!: (id: any) => Promise<void>;
  private name = "NewsRequired";
  private isLoading = false;
  private YouNotReadAll = false;
  public newsIds = [];
  public readNewsIds: any[] = [];
  public created() {
    this.newsIds = this.news.map((item: { id: number }) => item.id);
    //console.log(this.newsIds)
  }
  public makeReadAll() {
    if (isEqual(this.newsIds.sort(), this.readNewsIds.sort())) {
      this.$modal.hide(this.name);
    } else {
      this.YouNotReadAll = true;
    }
  }
  public async makeRead(id: number) {
    this.readNewsIds.push(id);
    this.readNewsIds = uniq(this.readNewsIds);
    //console.log(this.readNewsIds);
    await this.makeReadNews(id);
    await this.fetchNews({ required: true });
  }
  @Watch("news")
  public newsChange() {
    this.newsIds = this.news.map((item: { id: number }) => item.id);
    if (this.newsIds.length === 0) {
      this.$modal.hide(this.name);
    }
  }
}
</script>

<style lang="scss"></style>
