<template lang="pug">
    .not-found
        .not-found__wrapper
            .not-found__icon
                span 404
            .not-found__content
                Title(weight="500", :level="2", component="p").not-found__title Страница, которую вы пытаетесь просмотреть, больше не существует
                p.not-found__description Пожалуйста, повторите попытку позже или вернитесь назад
                router-link(:to="URL.INDEX").not-found__back
                    Icon(name="arrow-left").not-found__back-icon
                    span.not-found__back-label Вернуться на главную
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { URL } from "@/helpers/constants/url";
import Title from "@/UI/Title.vue";
@Component({
  components: { Title }
})
export default class NotFound extends Vue {
  public URL = URL;
}
</script>

<style lang="scss">
.not-found {
  @include full-size;

  &__wrapper {
    @include full-size;
    @include display-flex-centered;
    flex-direction: column;
  }

  &__icon {
    @include circle(240);
    @include display-flex-centered;
    color: $white;
    flex: 0 0 auto;
    margin-bottom: 40px;
    background: #a2b3b9;

    span {
      font-size: 100px;
      font-weight: 500;
      line-height: 0;
    }
  }

  &__content {
    text-align: center;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__back {
    @include display-flex-centered;
    color: $lighter-main;
    margin-top: 30px;

    &-icon {
      margin-right: 10px;
    }
    &-label {
      line-height: 0;
      font-weight: 500;
    }
  }
}
</style>
