<template>
  <div class="faq">
    <div class="faq-header flex justify-between items-center pt-2 pb-2">
      <h5 class="faq-question">
        <slot name="question"></slot>
      </h5>
      <button
        @click="active = !active"
        type="button"
        class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-blue-700 bg-blue-100 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
      >
        <slot name="open" v-if="!active"></slot>
        <slot name="close" v-else></slot>
      </button>
    </div>
    <transition-expand>
      <div v-show="active" class="pr-4 pr-lg-5 animated fadeIn faster">
        <slot name="answer"></slot>
      </div>
    </transition-expand>
  </div>
</template>

<script>
import { TransitionExpand } from "vue-transition-expand";
import "vue-transition-expand/dist/vue-transition-expand.css";
export default {
  components: {
    TransitionExpand
  },
  data() {
    return {
      active: false
    };
  },
};
</script>

<style lang="scss"></style>
