<template lang="pug">
    .video__item
        .video__item__title(v-if="this.title") {{$t('title')}} - {{this.title}}
        .video__item__video
            video(:id="'player-' + this.name" :ref="'player-' +this.name" controls crossorigin playsinline autoplay :poster="this.poster")
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import Plyr from "plyr";
import Hls from "hls.js";
import {
  Page,
  PageHeader,
  Button,
  Loader,
  Modal,
  FormItem,
  TextField
} from "@/UI";

@Component({
  components: {
    Page,
    PageHeader,
    Button,
    Loader,
    Modal,
    FormItem,
    TextField
  }
})
export default class PageVideoManager extends Vue {
  @Prop({ required: true }) video!: string;
  @Prop({ required: true }) poster!: string;
  @Prop({ required: true }) name!: string;
  @Prop({ required: true }) id!: number;
  @Prop({ required: false, default: null }) title!: string;
  public source = "/cdn/proxy/" + this.id + "/" + this.video;
  public player = new Plyr(
    this.$refs[`player-${this.name}`] as HTMLVideoElement,
    {
      captions: {
        active: true,
        update: true,
        language: "ru"
      }
    }
  );
  public config = {
    debug: false, //debug
    maxBufferLength: 20,
    maxBufferSize: 10 * 1000 * 1000,
    fetchSetup: function(context: any, initParams: any) {
      // Always send cookies, even for cross-origin calls.
      initParams.credentials = "include";
      return new Request(context.url, initParams);
    },
    xhrSetup: function(xhr: any) {
      xhr.withCredentials = true; // do send cookies
    },
    licenseXhrSetup: function(xhr: any, url: any) {
      xhr.withCredentials = true; // do send cookies
      if (!xhr.readyState) {
        // Call open to change the method (default is POST) or modify the url
        xhr.open("GET", url, true);
        // Append headers after opening
        xhr.setRequestHeader("Content-Type", "application/octet-stream");
      }
    }
  };
  public hls = new Hls(this.config);
  public mounted() {
    const PlayerElement = this.$refs[`player-${this.name}`] as HTMLVideoElement;
    if (!Hls.isSupported()) {
      PlayerElement.src = this.source;
    } else {
      this.hls.loadSource(this.source);
      this.hls.attachMedia(PlayerElement);
    }
  }
}
</script>
<style lang="scss"></style>
