<template lang="pug">
    Page.quiz-page
        Loader(v-if="!currentQuiz" :center="true")

        PageHeader(v-else :title="quiz.title")
            template(slot="actions")
                Button(icon="eye", variant="default", :to="`${URL.QUIZZES}/${this.id}`" target="_blank") {{$t('view')}}
                //Button(icon="pen" variant="default" @click="handleEditQuiz") {{$t('edit_quiz')}}
                Button(icon="trash-alt" variant="danger" :loading="isLoading" @click="handleDeleteQuiz") {{$t('delete_quiz')}}
        PageEditTabs(v-if="currentQuiz")
          Tabs
            TabContent(title="Вопросы", id="Questions")
              QuizQuestions(
                  :quiz-id="currentQuiz.id"
                  :questions="currentQuiz && currentQuiz.questions"
                  @question-delete="updateCurrentQuiz"
              )
            TabContent(title="Настройки", id="Settings")
              TabHeader(title="На этой странице вы можете изменить настройки теста")
                  Button(@click="onEdit") {{$t('save')}}
              QuizActionTab(:quiz="currentQuiz")
        QuizActionModal(
            v-if="currentQuiz"
            @submit="updateCurrentQuiz"
        )

        QuizQuestionActionModal(
            v-if="currentQuiz && currentQuiz.id"
            @question-action="updateCurrentQuiz"
        )

        QuizQuestionOptionActionModal(
            v-if="currentQuiz && currentQuiz.id"
            @question-option-action="updateCurrentQuiz"
        )
</template>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
import { Maybe } from "@/helpers/types";
import { Quiz } from "@/helpers/types/quiz";
import { URL } from "@/helpers/constants/url";
import isNull from "lodash/isNull";
import {
  Page,
  PageHeader,
  PageContent,
  Loader,
  Table,
  Button,
  DraggableList,
  Subtitle,
  PageEditHeader,
  PageEditTabs,
  Tabs,
  TabContent,
  TabHeader
} from "@/UI";
import {
  QuizQuestions,
  QuizActionModal,
  QuizQuestionActionModal,
  QuizQuestionOptionActionModal,
  QuizActionTab
} from "@/components/Quiz";
import { uploader } from "@/helpers/utils/uploader";
@Component({
  components: {
    Page,
    PageHeader,
    PageContent,
    Loader,
    Table,
    Button,
    Subtitle,
    DraggableList,
    QuizQuestions,
    QuizActionModal,
    QuizQuestionActionModal,
    QuizQuestionOptionActionModal,
    PageEditHeader,
    PageEditTabs,
    Tabs,
    TabContent,
    TabHeader,
    QuizActionTab
  }
})
export default class QuizPage extends Vue {
  /**
   * FIXME: Добиться того, чтобы Андрей определил точную типизацию тестов и вопросов!
   * Сейчас названия полей и их типы отличаются в параметрах запроса и объекте ответа,
   * из-за этого приходится переводить типы из одного в другой
   * и деконструировать объекты, чтобы указать правильные поля и типы полей.
   * Например:
   * Типы поля quiz_id в объекте Question
   * Поле visible/active и его тип (1/0, "1"/"0", true/false) в объекте Question
   */

  @Action fetchQuiz!: (id: Quiz["id"]) => Promise<void>;
  @Action deleteQuiz!: (quiz: Quiz) => Promise<void>;
  @Getter("getQuiz") quiz!: Quiz;
  public URL = URL;
  public id = +this.$route.params.id;
  private currentQuiz: Maybe<Quiz> = null;
  private isLoading = false;
  public percent = 0;
  public async mounted() {
    await this.updateCurrentQuiz();
  }

  private async updateCurrentQuiz() {
    await this.fetchQuiz(+this.$route.params?.id);
    this.currentQuiz = this.quiz;
  }
  public async onEdit() {
    let params = {};
    params = {
      ...(this.quiz.id && { id: +this.quiz.id }),
      title: this.quiz.title,
      ...(this.quiz.max_attempt && {
        max_attempt: +this.quiz.max_attempt
      }),
      ...(this.quiz.max_score && { max_score: +this.quiz.max_score }),
      response_time: Number(this.quiz.response_time),
      ...(this.quiz.description != "" && {
        description: this.quiz.description
      }),
      ...(this.quiz.image && {
        image: this.quiz.image
      }),
      visible: this.quiz.visible,
      is_show_answer: this.quiz.is_show_answer,
      ...(this.quiz.is_notifications && {
        is_notifications: this.quiz.is_notifications
      }),
      ...(this.quiz.is_report && {
        is_report: this.quiz.is_report
      }),
      ...(this.quiz.type_sort && {
        type_sort: (this.quiz.type_sort as any).value
      }),
      ...(this.quiz.type_score && {
        type_score: (this.quiz.type_score as any).value
      }),
      ...(this.quiz.ratio_percentages_and_score && {
        ratio_percentages_and_score: this.quiz.ratio_percentages_and_score
      }),
      _method: "put"
    };
    try {
      await this.$store.dispatch("updateQuiz", params);
      await this.updateCurrentQuiz();
      // eslint-disable-next-line no-empty
    } catch (error) {}
  }
  public handleEditQuiz() {
    this.$modal.show("quizModal", {
      title: this.$t("edit_quiz"),
      action: "update",
      actionTitle: this.$t("save"),
      quiz: this.quiz
    });
  }

  private async handleDeleteQuiz() {
    this.isLoading = true;
    try {
      if (this.currentQuiz) {
        await this.deleteQuiz(this.currentQuiz);
        this.$router.back();
      }
      // eslint-disable-next-line no-empty
    } catch (error) {}
    this.isLoading = false;
  }
}
</script>
