<template lang="pug">
  Page.quiz-client-page
    //Уже есть попытка
    template
      div(v-if="quiz && quiz.old && showOldAttemptDialog").bg-white.shadow.rounded-lg.divide-y.divide-gray-200.fixed-width-height.flex.flex-col.m-auto
        .px-4.py-5(class='sm:p-6').text-center.h-full
          p.text-xl {{$t('find_attempt')}}
        .px-4.py-5(class='sm:p-6').flex.justify-center
          Button(@click="newAttemptReview").mr-3 {{$t('new_attempt_quiz')}}
          Button(@click="continueAttemptReview") {{$t('continue_attempt_quiz')}}
    //Новая попытка
    div(v-if="quiz && isNewAttempt && showPreview" :class=" quiz.quiz.url ? 'bg-preview-active' : ''").bg-white.shadow.rounded-lg.divide-y.divide-gray-200.block__child.fixed-width-height.flex.flex-col.m-auto
      .px-4.py-5(class='sm:p-6 sm:pt-16' :class=" quiz.quiz.url ? 'bg-preview-active-content' : ''" :style=" quiz.quiz.url ? { 'background-image': 'url(' + quiz.quiz.url + ')'} : '' ").text-center.h-full
        p.text-2xl(v-if="quiz.quiz.title") {{quiz.quiz.title}}
        p.text-xl.whitespace-pre-wrap(v-if="quiz.quiz.description") {{quiz.quiz.description}}
        //img(v-if="quiz.quiz.url" :src="quiz.quiz.url").m-auto.max-h-56
      .px-4.py-5(class='sm:p-6').flex.justify-center
        Button(@click="startQuiz") {{$t('start_attempt_quiz')}}
    //Вопросы теста
    template
      div(v-if="showQuestions" ref="questions").bg-white.shadow.rounded-lg.divide-y.divide-gray-200.relative.fixed-width-height.flex.flex-col.m-auto
        QuizQuestionBlock(
            v-if="currentQuizQuestion.Question"
            :question="currentQuizQuestion.Question"
            @select-value="kek"
          )
          template(slot="header")
            Subtitle(v-if="currentQuizQuestion.QuizAttempt.progressAnswer && currentQuizQuestion.QuizAttempt.countQuestion") {{$t("question")}} {{currentQuizQuestion.QuizAttempt.progressAnswer}} {{$t("of")}} {{currentQuizQuestion.QuizAttempt.countQuestion}}
            QuizQuestionTimer(:timer="quiz.quiz.response_time * 60" :alternate-text="$t('time_up')" @time-over="timeOverReview")
        span(v-if="isShowAnswer" :class="questionUserAnswer ? 'correct bg-green-100' : 'incorrect bg-red-100'").absolute.bg-opacity-60.border-none.flex.h-full.items-center.justify-center.leading-5.text-2xl.top-0.w-full {{questionUserAnswer ?"Правильно":"Неправильно"}}
        .px-4.py-5.mt-auto.quiz_action_button(class='sm:p-6')
            Button(
              @click="nextQuestionReview"
              :disabled="!((currentQuizQuestion.Question && currentQuizQuestion.Question.type === 'text') || (currentAnswer && (currentAnswer.answer_id !== undefined || currentAnswer.alternative !== undefined)))"
            )
              template(v-if="currentQuizQuestion.QuizAttempt.progressAnswer === currentQuizQuestion.QuizAttempt.countQuestion")
                template(v-if="isShowAnswer") {{$t('end_attempt_quiz')}}
                template(v-else) {{$t('send_answer')}}
              template(v-else-if="isShowAnswer") {{$t("next_question")}}
              template(v-else) {{$t('send_answer')}}
    //Окончание теста
    div(v-if="endQuiz").bg-white.overflow-hidden.shadow.rounded-lg.divide-y.divide-gray-200.fixed-width-height.flex.flex-col.justify-center.m-auto.max-h-full
      div.px-4.py-5.text-center
        p.text-xl.mb-3(v-if="currentQuizQuestion.QuizAttempt.quiz.type_score === 'poll'") {{$t("poll_end_quiz")}}
        p.text-xl(v-if="currentQuizQuestion.QuizAttempt.quiz.type_score === 'exam'") {{$t("passed_test_on")}} <b>{{currentQuizQuestion.QuizAttempt.score}}</b> набрав <b>{{currentQuizQuestion.QuizAttempt.point}}</b> {{$t("points_from")}} <b>{{quiz.quiz.max_score}}</b> {{$t("possible_points")}}
        p.text-xl(v-if="currentQuizQuestion.QuizAttempt.quiz.type_score === 'pass'")
          | {{$t('you')}} 
          b.text-green-600(v-if="currentQuizQuestion.QuizAttempt.score === 1") {{$t('quiz_passed')}}
          b.text-red-600(v-if="currentQuizQuestion.QuizAttempt.score === 0") {{$t('quiz_not_passed')}}
          | {{$t('passed_on')}} 
          b {{currentQuizQuestion.QuizAttempt.point}} 
          | {{$t("points_from")}} 
          b {{quiz.quiz.max_score}} 
          | {{$t("possible_points")}}
        .flex.items-center.justify-center.relative(v-if="currentQuizQuestion.QuizAttempt.quiz.type_score !== 'poll'")
          svg.transform.-rotate-90.w-72.h-72
            circle.text-gray-700(cx='145' cy='145' r='80' stroke='currentColor' stroke-width='30' fill='transparent')
            circle.text-blue-500(cx='145' cy='145' r='80' stroke='currentColor' stroke-width='30' fill='transparent' :stroke-dasharray='circumference' :stroke-dashoffset='circumference - currentQuizQuestion.QuizAttempt.percent / 100 * circumference')
          span.absolute.text-xl {{currentQuizQuestion.QuizAttempt.percent}}%
        .flex.justify-center
          Button(
            @click="newAttemptTwo"
          ) {{$t("new_attempt")}}
          Button.ml-2(
            @click="endQuizRedirect"
          ) {{$t('end_attempt_quiz')}}
      div(v-if="quiz.quiz.is_report").px-4.py-5
        Loader(v-if="loadingAnswers")
        ul(
          class="answer-list"
          v-else
        )
          li(
            v-for='(item,index) in answer'
          )
            p(
              class="list-head"
            ) {{$t("question")}} №{{index+1}}
              span(
                v-if="item.type != 'text'"
                :class="item.right?'correct':'incorrect'"
              )  {{item.right?$t('right'):$t('unright')}}
            p(
              class="list-question"
            ) {{item.question}}
            template(v-if="item.type === 'text'" v-for="text in item.alternative")
                span {{text}}
            span(
              v-for='option in item.options'
              :class="checkAnswer(option)"
            )
              span.checkbox__mark(:class="option.checked?'bg-primary':''" v-if="!(item.type==='text')")
              | {{option.option}} - {{option.score}}  {{normalise(option.score, $t('score_answer'),  $t('2score_answer'),  $t('5score_answer'))}} 
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
const pluralize = require("numeralize-ru").pluralize;
import {
  QuizAttemptData,
  Question,
  Quiz,
  currentQuizQuestionInterface,
  QuestionUserAnswer,
  QuizWithAnswersData
} from "@/helpers/types/quiz";
import {
  Page,
  PageHeader,
  PageContent,
  Loader,
  Separator,
  Subtitle,
  Button,
  Checkbox
} from "@/UI";
import { QuizQuestionBlock, QuizQuestionTimer } from "@/components/Quiz/client";
import { Maybe } from "@/helpers/types";
import { URL } from "@/helpers/constants/url";
@Component({
  components: {
    Page,
    PageHeader,
    PageContent,
    Loader,
    Separator,
    Subtitle,
    QuizQuestionBlock,
    QuizQuestionTimer,
    Button,
    Checkbox
  }
})
export default class QuizPage extends Vue {
  //получаем квиз
  @Action fetchQuiz!: (id: Quiz["id"]) => Promise<void>;
  @Action addQuestionUserAnswer!: (
    questionUserAnswer: QuestionUserAnswer
  ) => Promise<void>;
  @Action fetchQuizAttemptData!: (id: Quiz["id"]) => Promise<QuizAttemptData>;
  @Action fetchQuizNewAttemptData!: (
    id: Quiz["id"]
  ) => Promise<QuizAttemptData>;
  //получаем вопросы к квизу
  @Getter("getQuizError") quizError!: Array<any>;
  @Action fetchQuizQuestion!: (quiz: QuizAttemptData) => Promise<Question>;
  @Action fetchQuestionWithAnswer!: (
    quiz: Maybe<QuizAttemptData>
  ) => Promise<QuizWithAnswersData>;
  @Getter("getQuizAttemptData") quiz!: Maybe<QuizAttemptData>;
  @Getter("getQuizWithAnswer") answer!: Maybe<QuizWithAnswersData>;
  @Getter("getQuestionUserAnswer") questionUserAnswer!: any;

  @Getter("getCurrentQuizQuestion") currentQuizQuestion!: Maybe<
    currentQuizQuestionInterface
  >;
  public URL = URL;
  private isLoading = false;

  private isQuestionLoading = false;
  public isNextButtonDisabled = true;
  private currentQuestionIndex = 0;
  public isContinueAttempt = false;
  public currentAnswer: QuestionUserAnswer[] = [];
  vm: any;

  //Code Review
  public circumference = ((2 * 22) / 7) * 80;
  public quizLoader = false;
  public loadingAnswers = false;
  public endQuiz = false;
  public oldAttemptLoader = false;
  public newAttemptLoader = false;
  public showPreview = false;
  public showQuestions = false;
  public showOldAttemptDialog = false;
  public isNewAttempt = false;
  public isShowAnswer = false;
  public async newAttemptReview() {
    this.newAttemptLoader = true;
    await this.fetchQuizNewAttemptData(+this.$route.params?.id);
    this.newAttemptLoader = false;
    this.isNewAttempt = true;
    this.showPreview = true;
  }
  public async endQuizRedirect() {
    await this.$router.push(this.URL.SCORE);
  }
  public async continueAttemptReview() {
    this.quizLoader = true;
    await this.fetchQuizQuestion(this.quiz as any);
    this.showOldAttemptDialog = false;
    this.showQuestions = true;
    this.quizLoader = false;
  }
  public async startQuiz() {
    this.quizLoader = true;
    await this.fetchQuizQuestion(this.quiz as any);
    this.showPreview = false;
    this.showQuestions = true;
    this.quizLoader = false;
  }
  public async nextQuestionReview() {
    let answer: any;

    if (typeof (this.currentAnswer as any).quiz_id !== "undefined") {
      if (
        (this.currentAnswer as any).question_id !=
        (this.currentQuizQuestion as any).Question.id
      ) {
        answer = {
          quiz_id: (this.currentQuizQuestion as any).Question.quiz_id,
          question_id: (this.currentQuizQuestion as any).Question.id,
          alternative: "Нет ответа"
        };
        this.$events.$emit("stopTimer");
        await this.addQuestionUserAnswer(answer);
        await this.nextQuestionFunction();
      } else {
        if (!this.isShowAnswer === true && this.quiz?.quiz?.is_show_answer) {
          this.$events.$emit("stopTimer");
          await this.addQuestionUserAnswer(this.currentAnswer as any);
          if (this.quiz?.quiz?.is_show_answer) {
            if (
              this.questionUserAnswer === true ||
              this.questionUserAnswer === false
            ) {
              this.isShowAnswer = true;
              //console.log("показываем ответы");
            } else {
              this.nextQuestionFunction();
            }
          }
        } else if (this.isShowAnswer && this.quiz?.quiz?.is_show_answer) {
          this.$events.$emit("stopTimer");
          this.isShowAnswer = false;
          this.nextQuestionFunction();
        } else if (!this.quiz?.quiz?.is_show_answer) {
          this.$events.$emit("stopTimer");
          await this.addQuestionUserAnswer(this.currentAnswer as any);
          this.nextQuestionFunction();
        } else {
          this.$events.$emit("stopTimer");
          this.nextQuestionFunction();
        }
      }
    } else if ((this.currentQuizQuestion as any).Question.type === "text") {
      answer = {
        quiz_id: (this.currentQuizQuestion as any).Question.quiz_id,
        question_id: (this.currentQuizQuestion as any).Question.id,
        alternative: "Нет ответа"
      };
      this.$events.$emit("stopTimer");
      await this.addQuestionUserAnswer(answer);
      await this.nextQuestionFunction();
    }
  }
  public async nextQuestionFunction() {
    this.currentAnswer = [];
    this.$events.$emit("resetAnswers");
    await this.fetchQuizQuestion(this.quiz as any);
    if (this.currentQuizQuestion?.status == "IN_PROCESS") {
      this.quizLoader = false;
      this.currentQuestionIndex++;
    } else if (this.currentQuizQuestion?.status == "FINISHED") {
      this.showQuestions = false;
      this.isLoading = true;
      this.endQuiz = true;
      this.loadingAnswers = true;
      await this.fetchQuestionWithAnswer(this.quiz);
      this.loadingAnswers = false;
      this.isLoading = false;
    }
    this.$events.$emit("startTimer");
  }
  public async timeOverReview() {
    console.log(this.currentAnswer);
    let answer: any;
    if (typeof (this.currentAnswer as any).quiz_id !== "undefined") {
      if (
        (this.currentAnswer as any).question_id !=
        (this.currentQuizQuestion as any).Question.id
      ) {
        answer = {
          quiz_id: (this.currentQuizQuestion as any).Question.quiz_id,
          question_id: (this.currentQuizQuestion as any).Question.id,
          alternative: "Нет ответа"
        };
        await this.addQuestionUserAnswer(answer);
        await this.nextQuestionFunction();
      } else {
        await this.addQuestionUserAnswer(this.currentAnswer as any);
        await this.nextQuestionFunction();
      }
    } else {
      answer = {
        quiz_id: (this.currentQuizQuestion as any).Question.quiz_id,
        question_id: (this.currentQuizQuestion as any).Question.id,
        alternative: "Нет ответа"
      };
      await this.addQuestionUserAnswer(answer);
      await this.nextQuestionFunction();
    }
    //if ((this.currentAnswer as any).question_id != 1)
    //if (typeof (this.currentAnswer as any).quiz_id !== "undefined") {
    //  if (this.currentAnswer) {
    //    await this.addQuestionUserAnswer(this.currentAnswer as any);
    //    this.isQuestionLoading = true;
    //    if (this.quiz) {
    //      this.nextQuestionFunction();
    //    }
    //    if (this.currentQuizQuestion?.status == "IN_PROCESS") {
    //      this.isQuestionLoading = false;
    //    } else if (this.currentQuizQuestion?.status == "FINISHED") {
    //      this.isQuestionLoading = true;
    //    }
    //  }
    //} else {
    //  const answer: any = {
    //    quiz_id: (this.currentQuizQuestion as any).Question.quiz_id,
    //    question_id: (this.currentQuizQuestion as any).Question.id,
    //    alternative: "Нет ответа"
    //  };
    //  await this.addQuestionUserAnswer(answer);
    //  this.isQuestionLoading = true;
    //  if (this.quiz) {
    //    this.nextQuestionFunction();
    //  }
    //  if (this.currentQuizQuestion?.status == "IN_PROCESS") {
    //    this.isQuestionLoading = false;
    //    this.currentQuestionIndex++;
    //  } else if (this.currentQuizQuestion?.status == "FINISHED") {
    //    this.isQuestionLoading = true;
    //  }
    //}
  }
  //End Code Review

  public async mounted() {
    this.isLoading = true;
    this.oldAttemptLoader = true;
    //получаем квиз
    await this.fetchQuizAttemptData(+this.$route.params?.id);

    this.isLoading = false;

    this.isQuestionLoading = true;
    if (typeof this.quiz?.quiz_id === "number") {
      await this.fetchQuizQuestion(this.quiz);
    }
    this.isQuestionLoading = false;
    this.oldAttemptLoader = false;

    //Code Review
    if (this.quiz?.old) {
      this.showOldAttemptDialog = true;
      this.isNewAttempt = false;
      this.showPreview = false;
    } else {
      this.showOldAttemptDialog = false;
      this.isNewAttempt = true;
      this.showPreview = true;
    }
    //End Code Review
  }

  private prevQuestion() {
    this.currentQuestionIndex--;
  }

  checkAnswer(option: any) {
    if (option.score > 0) {
      return "correct";
    } else if (option.checked && option.score === 0) {
      return "incorrect";
    }
  }

  private async nextQuestion() {
    await this.addQuestionUserAnswer(this.currentAnswer as any);
    this.$events.$emit("stopTimer");
    this.isQuestionLoading = true;
    if (this.quiz) {
      await this.fetchQuizQuestion(this.quiz);
    }
    if (this.currentQuizQuestion?.status == "IN_PROCESS") {
      this.isQuestionLoading = false;
      this.currentQuestionIndex++;
    } else if (this.currentQuizQuestion?.status == "FINISHED") {
      this.isQuestionLoading = true;
      this.isLoading = true;
      await this.fetchQuestionWithAnswer(this.quiz);
      this.isLoading = false;
    }
  }

  public normalise(value: number, one: string, two: string, three: string) {
    return pluralize(value, one, two, three);
  }

  public async newAttempt() {
    this.isQuestionLoading = true;
    await this.fetchQuizNewAttemptData(+this.$route.params?.id);
    await this.fetchQuizQuestion(this.quiz as any);
    this.isQuestionLoading = false;
  }

  public newAttemptTwo() {
    window.location.reload();
  }

  public continueAttempt() {
    this.isContinueAttempt = true;
  }

  // TODO: Сделать отправку запроса на добавление ответа
  public kek(value: any) {
    //console.log(value);
    this.currentAnswer = value;
    //console.log(this.currentAnswer);
    if (this.currentAnswer) {
      if ((this.currentAnswer as any).alternative === "") {
        (this.currentAnswer as any).alternative = "Нет ответа";
      }
      if (
        !(
          typeof (this.currentAnswer as any).answer_id !== "undefined" &&
          (this.currentAnswer as any).answer_id.length > 0
        ) &&
        !(
          typeof (this.currentAnswer as any).alternative !== "undefined" &&
          (this.currentAnswer as any).alternative.length > 0
        )
      ) {
        this.isNextButtonDisabled = true;
      } else {
        this.isNextButtonDisabled = false;
      }
    }
  }

  public async timeOver() {
    console.log(this.currentAnswer);
    if (typeof (this.currentAnswer as any).quiz_id !== "undefined") {
      if (this.currentAnswer) {
        await this.addQuestionUserAnswer(this.currentAnswer as any);
        this.isQuestionLoading = true;
        if (this.quiz) {
          await this.fetchQuizQuestion(this.quiz);
        }
        if (this.currentQuizQuestion?.status == "IN_PROCESS") {
          this.isQuestionLoading = false;
        } else if (this.currentQuizQuestion?.status == "FINISHED") {
          this.isQuestionLoading = true;
        }
      }
    } else {
      const answer: any = {
        quiz_id: (this.currentQuizQuestion as any).Question.quiz_id,
        question_id: (this.currentQuizQuestion as any).Question.id,
        alternative: "Нет ответа"
      };
      await this.addQuestionUserAnswer(answer);
      this.isQuestionLoading = true;
      if (this.quiz) {
        await this.fetchQuizQuestion(this.quiz);
      }
      if (this.currentQuizQuestion?.status == "IN_PROCESS") {
        this.isQuestionLoading = false;
        this.currentQuestionIndex++;
      } else if (this.currentQuizQuestion?.status == "FINISHED") {
        this.isQuestionLoading = true;
      }
    }
  }
}
</script>

<style lang="scss">
.correct {
  color: #17a53e;
}

.incorrect {
  color: #d63030;
}

.answer-list {
  li {
    border: 1px solid #eee;
    margin: 5px 0 10px 0;
    padding: 0 0 10px 0;
  }

  .list-head {
    font-weight: 600;
    border-bottom: 1px solid #eee;
    background-color: #eee;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .list-question {
    padding: 10px;
    font-weight: 600;
  }
}

.answer-list {
  span {
    display: flex;
    align-items: center;
    margin: 5px 10px;
  }
}

.checkbox__mark.bg-primary {
  background-color: rgba($main, 1);
  border-color: rgba($main, 1);
}
.bg-preview-active {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bg-preview-active-content {
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fixed-width-height {
  max-width: 724px;
  min-height: 600px;
  max-height: 600px;
  overflow: auto;
  justify-content: space-between;
}
.fixed-width {
  max-width: 724px;
}
.quiz_action_button {
  text-align: end;
  z-index: 1;
}
.quiz-client-question-block__title {
  max-width: 620px;
}
</style>
