<template lang="pug">
    .courses
        .courses__wrapper
            router-link.courses__item(
                v-for="course in data"
                :key="course.id"
                :to="`${URL.COURSES}/${course.id}`"
            )
                CourseCard(:course="course")
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { CourseInterface } from "@/helpers/types/courses";
import CourseCard from "@/components/Course/CourseCard.vue";
import { URL } from "@/helpers/constants/url";

@Component({
  components: { CourseCard }
})
export default class CoursesList extends Vue {
  public URL = URL;

  @Prop() data!: CourseInterface[];
}
</script>

<style lang="scss">
.courses__wrapper {
  @include three-grid-items;
}

.courses__item {
  min-width: 250px;

  @media screen and (max-width: 530px) {
    flex: 1 1;
  }
}
</style>
