<template lang="pug">
    Loader(v-if="!price" :center="true")
    Page(v-else)
        PageHeader(:title="price.name")
        PageEditTabs
            Tabs
                TabContent(:title="$t('general')", id="General")
                    TabHeader(:title="$t('price')")
                        Button(@click="onEdit" :loading="isLoading") {{$t('save')}}
                        Button(variant="danger", @click="onDelete" :loading="isDeleting") {{$t('delete')}}
                    Separator
                    Title(:offset="true") {{$t('general')}}
                    FormItem(:label="$t('title')" :required="true")
                        TextField(v-model="price.name" id="name" name="name")
                    FormItem(:label="$t('lang')" :required="true")
                        Select(v-model="selectedLang" :value="selectedLang" :lang="true" track-by="value" label="label" :options="langSelect")
                    FormItem(:label="$t('price')" class="w-100")
                        .flex.flex-col
                            div
                              label.block.text-sm.font-medium.text-gray-700(for='price_full') {{$t('curr')}}
                              .mt-1
                              Select.select-multiplie(v-model="selectedCurr" @change="currChange" name="curr" track-by="value" label="label" :options="currSelect" :multiple="true")
                            div.flex
                              div(v-for="(item, index) in price.settings").mr-2
                                div
                                  span.block.text-xl.text-red-500.font-medium {{$t('curr')}} {{item.curr}}
                                div
                                  label.block.text-sm.font-medium.text-gray-700(for='price_full' :key="item.curr") {{$t('price_full')}}
                                  .mt-1
                                      input#price_full.shadow-sm.block.w-full.border-gray-300.rounded-md(
                                      v-model="item.price_full"
                                      type='text'
                                      name='price_full'
                                      class='focus:ring-blue-500 focus:border-blue-500 sm:text-sm')
                                div
                                  label.block.text-sm.font-medium.text-gray-700(for='price_dist' :key="item.curr") {{$t('price_dist')}}
                                  .mt-1
                                      input#price_dist.shadow-sm.block.w-full.border-gray-300.rounded-md(
                                      v-model="item.price_dist"
                                      type='text'
                                      name='price_dist'
                                      class='focus:ring-blue-500 focus:border-blue-500 sm:text-sm')
                                div
                                  label.block.text-sm.font-medium.text-gray-700(for='price_online' :key="item.curr") {{$t('price_online')}}
                                  .mt-1
                                      input#price_online.shadow-sm.block.w-full.border-gray-300.rounded-md(
                                      v-model="item.price_online"
                                      type='text'
                                      name='price_online'
                                      class='focus:ring-blue-500 focus:border-blue-500 sm:text-sm')
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {
  Button,
  Picture,
  Tabs,
  TabHeader,
  TabContent,
  Separator,
  Title,
  Loader,
  FormItem,
  TextField,
  PageEditTabs,
  PageEditHeader,
  PageHeader,
  Page,
  FileUploader,
  ProgressBar,
  Checkbox,
  Select
} from "@/UI";

import { CourseInterface } from "@/helpers/types/courses";
import { Action, Getter } from "vuex-class";

import { URL } from "@/helpers/constants/url";
import { Maybe } from "@/helpers/types";

import { CourseChapter, CourseChapterAdd } from "@/components/Course";
import MembersList from "@/components/MembersList.vue";
import Members from "@/components/Members.vue";
const pluralize = require("numeralize-ru").pluralize;
const filesize = require("filesize");
import remove from "lodash/remove";
import difference from "lodash/difference";
import find from "lodash/find";
@Component({
  components: {
    Page,
    PageEditTabs,
    PageEditHeader,
    Members,
    Separator,
    TabHeader,
    MembersList,
    CourseChapter,
    CourseChapterAdd,
    TextField,
    FormItem,
    Title,
    Loader,
    Tabs,
    TabContent,
    Button,
    Picture,
    PageHeader,
    FileUploader,
    ProgressBar,
    Checkbox,
    Select
  }
})
export default class PagePriceEdit extends Vue {
  //@Action fetchCourse!: (id: number) => Promise<void>;
  @Action fetchPriceById!: (id: number) => Promise<void>;
  @Action updatePrice!: (params: any) => Promise<void>;
  @Action deletePriceById!: (id: number) => Promise<void>;
  @Getter("getPrice") price!: any;
  public selectedCurr: any[] = [];
  public currChange(value: any) {
    this.selectedCurr = value;
    this.selectedCurr.forEach(item => {
      if (!find(this.price.settings, { curr: item.value })) {
        this.price.settings.push({
          curr: item.value,
          price_dist: null,
          price_full: null,
          price_online: null
        });
      }
    });

    const currIsSelected = this.selectedCurr.map(item => item.value);
    const currInSettings = this.price.settings.map((item: any) => item.curr);
    const diff = difference(currInSettings, currIsSelected);
    if (diff !== []) {
      diff.forEach(diffItem => {
        remove(this.price.settings, item => {
          return (item as any).curr === diffItem;
        });
      });
    }
    this.price.settings = [...this.price.settings];
  }
  public currSelect = [
    {
      value: "ru",
      label: "Рубли"
    },
    {
      value: "usd",
      label: "Доллары"
    },
    {
      value: "euro",
      label: "Евро"
    }
  ];
  public selectedLang: Array<any> = [];
  public langSelect = [
    {
      value: "en",
      label: this.$t("en")
    },
    {
      value: "ru",
      label: this.$t("ru")
    }
  ];
  public URL = URL;
  public courseChapterAddView: "button" | "form" = "button";
  public id = +this.$route.params.id;
  public data: Maybe<CourseInterface> = null;
  public fileUpload: Maybe<File> = null;
  public isLoading = false;
  public isDeleting = false;
  public percent = 0;
  public isProject = false;
  public days = 0;
  public hours = 0;
  public mins = 0;
  public newFile = false;

  public async created() {
    await this.fetchPriceById(this.id);
    this.selectOptions();
  }
  public selectOptions() {
    const findPrice = this.langSelect.find(
      option => option.value === this.price.lang
    );
    this.selectedLang.push(findPrice);
    /*this.selectedLang =
      this.langSelect.find(option => option.value === this.price.lang) ?? {};*/

    this.price.settings.forEach((item: { curr: string }) => {
      this.selectedCurr.push(
        this.currSelect.find(option => option.value === item.curr)
      );
    });
    //this.selectedCurr =
    //  this.currSelect.find(
    //    option => option.value === this.price.settings[0].curr
    //  ) ?? {};
  }
  public async onEdit() {
    this.isLoading = true;
    await this.updatePrice(this.price);
    await this.fetchPriceById(this.id);
    this.isLoading = false;
  }
  public async onDelete() {
    this.isDeleting = true;
    await this.deletePriceById(this.id);
    await this.$router.push(URL.PRICE);
    this.isDeleting = false;
  }
  get isAdmin() {
    return this.$store.getters.isAdmin;
  }
  //
  //public getUpdate() {
  //  this.data = this.getCourse(this.id);
  //  //console.log(this.data.chapter)
  //}
  //
  //public onChangeChapterAddView(view: "button" | "form") {
  //  scrollToElement("chapter-add");
  //  this.courseChapterAddView = view;
  //}
  //public async onSuccess(): Promise<void> {
  //  console.log("add chapter");
  //  await this.fetchCourse(this.id);
  //  this.getUpdate();
  //}
}
</script>
