<template lang="pug">
    Loader(v-if="!prices" :center="true")
    Page(v-else)
        PageHeader(:title="$t('price_title')")
          template(slot='actions')
            Button(tag="button" @click="onOpenAddFile") {{$t('add_price')}}
        Table(
          data-path="data"
          :data="prices"
          :columns="columns"
          :loading="this.isLoading"
          @fetch="fetchPrice"
        )
        AddPriceModal(name="add-price" @success-add="afterAddFile")
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";

import {
  PageHeader,
  FormItem,
  TextField,
  Button,
  Loader,
  Table,
  Modal
} from "@/UI";
import { AddPriceModal } from "@/components/Price";
import router from "@/router";
import { Maybe, DataInterface } from "@/helpers/types";
import { downloaderUserDoc } from "@/helpers/utils/downloaderUserDoc";
import Page from "@/UI/Page/Page.vue";
import { downloader } from "@/helpers/utils/downloader";
import { URL } from "@/helpers/constants";
@Component({
  components: {
    Page,
    Modal,
    PageHeader,
    FormItem,
    TextField,
    Button,
    Loader,
    Table,
    AddPriceModal
  }
})
export default class PageDocuments extends Vue {
  @Action fetchPrice!: () => Promise<void>;
  @Getter("getPrices") prices!: Maybe<DataInterface<any[]>>;
  public isLoading = false;
  public columns = [
    {
      field: "name",
      label: "title",
      sortable: true,
      component: () => "a",
      action: (media: { id: number }) => {
        router.push(`${URL.PRICE}/${media.id}/edit`);
      }
    }
  ];

  public created() {
    this.fetchPrice();
  }
  public afterAddFile() {
    this.isLoading = true;
    this.fetchPrice();
    this.isLoading = false;
  }
  public onOpenAddFile() {
    this.$modal.show("add-price");
  }
}
</script>

<style lang="scss"></style>
