<template lang="pug">
    .quiz-question-timer
        Subtitle(v-if="currentTime >= 0" weight="500") {{ currentTimeValue }}
        Subtitle.error(v-else weight="500") {{ alternateText }}
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from "vue-property-decorator";
import { Subtitle } from "@/UI";
import { numberToTime } from "@/helpers/utils/functions";

@Component({
  components: {
    Subtitle
  }
})
export default class QuizQuestionTimer extends Vue {
  @Prop({ default: null }) timer!: number;
  @Prop() alternateText!: string;
  @Prop({ default: false }) showHours!: boolean;

  private currentTime = 0;
  private currentTimeValue = "";
  private intervalTimerId: number | null = null;

  public mounted() {
    this.currentTime = this.timer;

    this.startTimer();
    this.$events.$on("stopTimer", () => {
      this.HandleStopTimer();
    });
    this.$events.$on("startTimer", () => {
      this.currentTime = this.timer;
      this.startTimer();
    });
  }

  public beforeDestroy() {
    //this.stopTimer();
  }

  private startTimer() {
    this.intervalTimerId = setInterval(() => {
      if (this.currentTime >= 0) {
        this.currentTimeValue = numberToTime(this.currentTime, this.showHours);
        this.currentTime--;
      } else {
        this.stopTimer();
      }
    }, 1000);
  }
  private HandleStopTimer() {
    if (typeof this.intervalTimerId === "number") {
      clearInterval(this.intervalTimerId);
      this.intervalTimerId = null;
    }
  }

  @Emit("time-over")
  private stopTimer() {
    if (typeof this.intervalTimerId === "number") {
      clearInterval(this.intervalTimerId);
      this.intervalTimerId = null;
    }
  }
}
</script>

<style lang="scss">
.quiz-question-timer {
  > .error {
    color: $red;
  }
}
</style>
