<template lang="pug">
    div.divide-y.divide-gray-200
      .px-4.py-3.flex.items-center.justify-between.border-none(class='sm:px-6')
        slot(name="header")
      .p-4(class='sm:px-6')
        Subtitle.quiz-client-question-block__title {{ question.question }}
      .px-4.py-5.quiz_questions(class='sm:p-6')
        img(v-if="question.url" :src="question.url").max-h-56
        .quiz-client-question-block__option(v-if="(question.type === 'checkbox') || (question.type === 'radio')" v-for="o in question.options" :key="o.id" :class="getStatusClass(o.option, o.score)")
            template(v-if="question.type === 'checkbox'")
                Checkbox(@input="() => selectValue(o.id)") {{ o.option }}
            template(v-if="question.type === 'radio'")
                Radio(:value="o.id" :name="question.question" @change="() => selectValue(o.id)") {{ o.option }}
        div(v-if="(question.type === 'text')" :key="question.id").quiz-client-question-block__option
            TextField(@input="selectValue")
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Question, QuestionUserAnswer } from "@/helpers/types/quiz";
import { Subtitle, Checkbox, Radio, TextField } from "@/UI";
import { Action } from "vuex-class";
import { RequestInterface } from "@/helpers/types/common";

@Component({
  components: {
    Subtitle,
    Checkbox,
    Radio,
    TextField
  }
})
export default class QuizQuestionBlock extends Vue {
  @Action addQuestionUserAnswer!: (
    answer: QuestionUserAnswer
  ) => Promise<RequestInterface<QuestionUserAnswer>>;
  @Prop() question!: Question;
  @Prop() showAnswers!: number;
  public isActiveShowResults = false;
  selectedValue: QuestionUserAnswer["answer_id" | "alternative"] = [];
  private get isValueSelected() {
    if (Array.isArray(this.selectedValue)) {
      return this.selectedValue.length > 0;
    } else {
      return !!this.selectedValue;
    }
  }

  private isValueValid(optionValue: string, score: number) {
    switch (this.question.type) {
      case "radio":
      case "checkbox":
        return +score > 0;
      case "text":
        return (
          typeof this.selectedValue === "string" &&
          this.selectedValue === optionValue
        );
      default:
        return false;
    }
  }

  public getStatusClass(optionValue: string, score: number) {
    if (this.showAnswers) {
      return {
        correct:
          this.isValueSelected &&
          this.isValueValid(optionValue, score) &&
          this.isActiveShowResults,
        incorrect:
          this.isValueSelected &&
          !this.isValueValid(optionValue, score) &&
          this.isActiveShowResults
      };
    }
  }
  public mounted() {
    this.$events.$on("resetAnswers", () => {
      this.selectedValue = [];
    });
    this.$events.$on("changeClassToAnswers", () => {
      this.isActiveShowResults = true;
    });
  }
  public beforeDestroy() {
    this.isActiveShowResults = false;
    this.$events.$off("changeClassToAnswers");
  }
  public selectValue(value: string | number) {
    switch (this.question.type) {
      case "checkbox":
        if (
          /* Если значение есть в массиве */ (this
            .selectedValue as QuestionUserAnswer["answer_id"])?.find(
            v => v === (value as number)
          )
        ) {
          // Находим индекс элемента
          const idx = (this
            .selectedValue as QuestionUserAnswer["answer_id"])?.findIndex(
            v => v === (value as number)
          );
          // Уделяем элемент из массива по индексу
          (this.selectedValue as QuestionUserAnswer["answer_id"])?.splice(
            idx as number,
            1
          );
        } /* Если элемент не найден в массиве */ else {
          // Добавляем элемент в массив
          (this.selectedValue as QuestionUserAnswer["answer_id"])?.push(
            value as number
          );
        }
        this.emitSelectValue();
        break;

      case "radio":
        (this.selectedValue as QuestionUserAnswer["answer_id"]) = [
          value as number
        ];
        this.emitSelectValue();
        break;

      case "text":
        (this
          .selectedValue as QuestionUserAnswer["alternative"]) = value as string;
        this.emitSelectValue();
        break;

      default:
        break;
    }
  }

  public emitSelectValue() {
    this.$emit("select-value", {
      quiz_id: this.question.quiz_id,
      question_id: this.question.id,
      ...(typeof this.selectedValue !== "string" && {
        answer_id: this.selectedValue
      }),
      ...(typeof this.selectedValue === "string" && {
        alternative: this.selectedValue
      })
    });
  }
}
</script>

<style lang="scss">
.quiz-client-question-block {
  @include card;
  padding: $offset;

  &__options {
    margin-top: $offset2x;
  }

  &__option {
    @include not-last-child {
      margin-bottom: $offset;
    }

    &.correct {
      * {
        color: $green;
      }
    }

    &.incorrect {
      * {
        color: $red;
      }
    }
  }
}
.quiz_questions{
  min-height: 371px;
  //overflow: auto;
}

</style>
