<template lang="pug">
    Loader(v-if="!files" :center="true")
    Page(v-else)
        PageHeader(:title="$t('filemanager_desc')")
            template(slot='actions')
                Button(tag="button" variant="default" @click="onOpenCreateFolder" :image="Folder") {{$t('new_folder')}}
                Button(tag="button" @click="onOpenAddFile") {{$t('add_file')}}
        TableFiles(
            :data="this.files.data"
            :columns="this.columns"
            :loading="this.isLoading"
            @fetch="this.fetchFiles"
            class="table-files"
            @select="selectFiles"
        )
        CreateFolderModal(name="create-folder")
        AddFileModal(name="add-file" @success-add="afterAddFile")
        EditFileModal(v-if="selectedMedia" :media="selectedMedia" @success-add="afterAddFile")
        Modal(name="move-file" :title="$t('move')")
          FileMove(@change="onChangeSelectedMedia" :selected="selected" @changePath="pathChange")
          template(slot='footer')
              Button(@click="onMoveFile" :loading="this.isLoading") {{$t('move_here')}}
        Modal(name="copy-file" :title="$t('copy')")
          FileCopy(@change="onChangeSelectedMedia" :selected="selected" @changePath="pathChange")
          template(slot='footer')
              Button(@click="onCopyFile" :loading="this.isLoading") {{$t('copy_here')}}
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";
import FileMove from "@/components/FileManager/FileMove.vue";
import FileCopy from "@/components/FileManager/FileCopy.vue";
import {
  Page,
  PageHeader,
  Button,
  Loader,
  Modal,
  FormItem,
  TextField,
  FileUploader,
  TableFiles
} from "@/UI";
import { Maybe, MediaInterface } from "@/helpers/types";
import { URL } from "@/helpers/constants";
import {
  AddFileModal,
  CreateFolderModal,
  EditFileModal
} from "@/components/FileManager";
import { downloader } from "@/helpers/utils/downloader";
import File from "@/assets/svg/icons/file.svg";
import Folder from "@/assets/svg/icons/folder.svg";
import router from "@/router";

@Component({
  components: {
    CreateFolderModal,
    Page,
    PageHeader,
    Button,
    Loader,
    TableFiles,
    Modal,
    FormItem,
    TextField,
    AddFileModal,
    EditFileModal,
    FileUploader,
    FileMove,
    FileCopy
  }
})
export default class PageFileManager extends Vue {
  @Action fetchFiles!: (path?: string) => Promise<void>;
  @Getter("getFiles") files!: Maybe<MediaInterface[]>;
  @Action moveFile!: (params: any) => Promise<void>;
  @Action copyFile!: (params: any) => Promise<void>;
  public Folder = Folder;
  public File = File;
  public name = "";
  public isLoading = false;
  public selectedMedia = [];
  public pathToMove: any = "/";
  public selected: MediaInterface[] = [];
  public columns = [
    {
      field: "type",
      label: "type"
    },
    {
      field: "name_front",
      label: "title",
      width: "95%",
      icon: ({ type }: { type: string }) => {
        return type === "file" ? File : Folder;
      },
      component: ({ type }: { type: string }) => {
        return type === "file" ? "a" : undefined;
      },
      action: (media: any) => {
        const { id_media } = media;
        if (this.isAdmin || this.isSuperAdmin) {
          //this.attachSelectedMedia(media);
          router.push(`${URL.FILE}/${id_media}/edit`);
        } else {
          downloader(id_media);
        }
      },
      link: (media: { path: string; file_name: string }) => {
        const { path, file_name } = media;
        return `${URL.FILE_MANAGER}/${path || file_name}`;
      }
    }
  ];
  public selectFiles(data: MediaInterface[]) {
    this.selected = data;
    //console.log(this.selected);
  }
  public pathChange(path: any) {
    this.pathToMove = path;
    this.pathToMove = this.pathToMove.join("/").slice(2);
    //console.log(this.pathToMove);
  }
  public attachSelectedMedia(media: any) {
    this.selectedMedia = media;
    this.$modal.show("editFile");
  }
  private basePath = "/";

  public async created() {
    this.isLoading = true;
    const { path } = this.$route.params;
    await this.fetchFiles(path || this.basePath);
    this.isLoading = false;
    this.$events.$on("resetPath", () => {
      this.pathToMove = [];
    });
  }
  public onChangeSelectedMedia(data: any) {
    
  }
  public async onMoveFile(data: any) {
    const media_ids: Array<any> = [];
    let path_to = this.pathToMove;

    if (
      path_to === "/" ||
      path_to === [] ||
      path_to.length === 0 ||
      path_to === ""
    ) {
      path_to = "/";
    } else {
      path_to = "/" + path_to + "/";
    }
    for (let i = 0; i < this.selected.length; i++) {
      media_ids.push(this.selected[i].id_media);
    }
    const params = {
      media_ids,
      path_to
    };
    try {
      await this.moveFile(params);
      this.$modal.hide("move-file");
      const { path } = this.$route.params;
      await this.fetchFiles(path || this.basePath);
    } catch (e) {
      console.error(e);
    }
  }
  public async onCopyFile(data: any) {
    const media_ids: Array<any> = [];
    let path_to = this.pathToMove;

    if (
      path_to === "/" ||
      path_to === [] ||
      path_to.length === 0 ||
      path_to === ""
    ) {
      path_to = "/";
    } else {
      path_to = "/" + path_to + "/";
    }
    for (let i = 0; i < this.selected.length; i++) {
      media_ids.push(this.selected[i].id_media);
    }
    const params = {
      media_ids,
      path_to
    };
    try {
      await this.copyFile(params);
      this.$modal.hide("copy-file");
      const { path } = this.$route.params;
      await this.fetchFiles(path || this.basePath);
    } catch (e) {
      console.error(e);
    }
  }
  public async afterAddFile() {
    this.isLoading = true;
    const { path } = this.$route.params;
    await this.fetchFiles(path || this.basePath);
    this.isLoading = false;
  }

  public onOpenAddFile() {
    this.$modal.show("add-file");
  }

  public onOpenCreateFolder() {
    this.$modal.show("create-folder");
  }

  get isAdmin() {
    return this.$store.getters.isAdmin;
  }
  get isSuperAdmin() {
    return this.$store.getters.isSuperAdmin;
  }

  @Watch("$route.params")
  private async changeRoutePath({ path }: { path: string }) {
    this.isLoading = true;
    await this.fetchFiles(path || this.basePath);
    this.isLoading = false;
  }
}
</script>
