<template lang="pug">
    Loader(v-if="!setting" :center="true")
    Page(v-else)
        PageHeader(:title="$t('setting_edit')")
        PageEditTabs
            Tabs
                TabContent(:title="$t('general')", id="General")
                    TabHeader(:title="$t('setting')")
                        Button(@click="onEdit" :loading="isLoading") {{$t('save')}}
                    Separator
                    Title(:offset="true") {{$t('general')}}
                    FormItem(:label="$t('value')" :required="true")
                      TextField(v-model="setting.value" id="value" name="value")
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {
  Button,
  Picture,
  Tabs,
  TabHeader,
  TabContent,
  Separator,
  Title,
  Loader,
  FormItem,
  TextField,
  PageEditTabs,
  PageEditHeader,
  PageHeader,
  Page,
  FileUploader,
  ProgressBar,
  Checkbox,
  Select
} from "@/UI";

import { CourseInterface } from "@/helpers/types/courses";
import { Action, Getter } from "vuex-class";

import { URL } from "@/helpers/constants/url";
import { scrollToElement } from "@/helpers/utils/functions";
import { Maybe, MediaInterface } from "@/helpers/types";

import { CourseChapter, CourseChapterAdd } from "@/components/Course";
import MembersList from "@/components/MembersList.vue";
import Members from "@/components/Members.vue";
import { uploader } from "@/helpers/utils/uploader";
const pluralize = require("numeralize-ru").pluralize;
const filesize = require("filesize");
import { downloader } from "@/helpers/utils/downloader";
import { downloaderTwo } from "@/helpers/utils/downloaderTwo";
import { makeFormattedMediaType } from "@/helpers/utils/functions";
@Component({
  components: {
    Page,
    PageEditTabs,
    PageEditHeader,
    Members,
    Separator,
    TabHeader,
    MembersList,
    CourseChapter,
    CourseChapterAdd,
    TextField,
    FormItem,
    Title,
    Loader,
    Tabs,
    TabContent,
    Button,
    Picture,
    PageHeader,
    FileUploader,
    ProgressBar,
    Checkbox,
    Select
  }
})
export default class PageSettingEdit extends Vue {
  //@Action fetchCourse!: (id: number) => Promise<void>;
  @Action fetchSetting!: (id: number) => Promise<void>;
  @Action editSetting!: (params: any) => Promise<void>;
  @Getter("getSetting") setting!: any;
  public URL = URL;
  public courseChapterAddView: "button" | "form" = "button";
  public id = +this.$route.params.id;
  public data: Maybe<CourseInterface> = null;
  public fileUpload: Maybe<File> = null;
  public isLoading = false;
  public isDeleting = false;
  public percent = 0;
  public isProject = false;
  public days = 0;
  public hours = 0;
  public mins = 0;
  public newFile = false;

  public async created() {
    await this.fetchSetting(this.id);
  }
  public async onEdit() {
    this.isLoading = true;
    await this.editSetting(this.setting);
    await this.fetchSetting(this.id);
    this.isLoading = false;
  }
  get isAdmin() {
    return this.$store.getters.isAdmin;
  }
  //
  //public getUpdate() {
  //  this.data = this.getCourse(this.id);
  //  //console.log(this.data.chapter)
  //}
  //
  //public onChangeChapterAddView(view: "button" | "form") {
  //  scrollToElement("chapter-add");
  //  this.courseChapterAddView = view;
  //}
  //public async onSuccess(): Promise<void> {
  //  console.log("add chapter");
  //  await this.fetchCourse(this.id);
  //  this.getUpdate();
  //}
}
</script>
