<template lang="pug">
    Loader(v-if="!settings" :center="true")
    Page(v-else)
        Table(
          data-path="data"
          :data="settings"
          :columns="columns"
          :loading="this.isLoading"
          @fetch="fetchSettings"
        )
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";

import {
  PageHeader,
  FormItem,
  TextField,
  Button,
  Loader,
  Table,
  Modal
} from "@/UI";
import { AddPriceModal } from "@/components/Price";
import router from "@/router";
import { Maybe, DataInterface } from "@/helpers/types";
import { downloaderUserDoc } from "@/helpers/utils/downloaderUserDoc";
import Page from "@/UI/Page/Page.vue";
import { downloader } from "@/helpers/utils/downloader";
import { URL } from "@/helpers/constants";
@Component({
  components: {
    Page,
    Modal,
    PageHeader,
    FormItem,
    TextField,
    Button,
    Loader,
    Table,
    AddPriceModal
  }
})
export default class PageSettings extends Vue {
  @Action fetchSettings!: () => Promise<void>;
  @Getter("getSettings") settings!: Maybe<DataInterface<any[]>>;
  public isLoading = false;
  public columns = [
    {
      field: "key",
      label: "Key",
      sortable: true,
      component: () => "a",
      action: (setting: { id: number }) => {
        router.push(`${URL.SETTING}/${setting.id}/edit`);
      }
    }
  ];

  public created() {
    this.fetchSettings();
  }
  
}
</script>

<style lang="scss"></style>
