<template lang="pug">
  div
    Page
        PageHeader(v-if="planError" :title="$t('error_program')")
        div(v-else-if="userPlan.lines")
          PageHeader(:title="$t('Your_grades')")
          .vgt-responsive.table-scores
              table.vgt-table.bordered 
                thead
                  tr
                    th
                      span {{$t('module')}}
                    th
                      
                      span {{$t('Grade_for_subject')}}
                    th
                      
                      span {{$t('Grade_for_project')}}
                    th
                      span {{$t('Exam_date')}}
                    th
                      span {{$t('Project_date')}}
                    th
                      span {{$t('Common_Grade_for_project')}}
                tbody
                  tr(v-for="item in userPlan.lines")
                    td
                      span {{item.name}}
                    td
                      span(v-if="item.quiz_score") {{item.quiz_score}}
                    td
                      span(v-if="item.scores") {{$t(item.scores)}}
                    td
                      span(v-if="item.date_to") {{new Date(item.date_to) | moment("DD.MM.YYYY")}}
                    td
                      span(v-if="item.project_to") {{new Date(item.project_to) | moment("DD.MM.YYYY")}}
                    td
                      span(v-if="item.quiz_score && item.scores") {{ (item.quiz_score + item.scores)/2 }}
          PageHeader(:title="$t('rating.history')").mt-2
          .vgt-responsive
              table.vgt-table.bordered 
                thead
                  tr
                    th
                      span {{$t('year_mounth')}}
                    th
                      span {{$t('Number_of_points')}}
                    th
                      span {{$t('Place_in_the_rating')}}
                    th
                      span {{$t('Academic_performance')}}
                    th
                      span {{$t('Social_activity')}}
                    th
                      span {{$t('Meeting_schedule_deadlines')}}
                tbody
                  tr(v-for="item in userPlan.rating")
                    td
                      span {{new Date(item.date) | moment('subtract', '2 months','MMMM')}} {{new Date(item.date).getFullYear()}} - {{new Date(item.date) | moment('MMMM')}} {{new Date(item.date).getFullYear()}}
                    td
                      span {{item.total_score}}
                    td
                      span {{item.place}}
                    td
                      span {{item.academic}}
                    td
                      span {{item.social}}
                    td
                      span {{item.att}}
          template(v-if="profile.format === 'blended'")
            PageHeader(title="Мои очные сессии").mt-2
            .vgt-responsive
                table.vgt-table.bordered 
                  thead
                    tr
                      th
                        span Название сессии
                      th
                        span Начало сессии
                      th
                        span Окончание сессии
                  tbody
                    tr(v-for="item in profile.sessions")
                      td
                        span {{item.name}}
                      td
                        span {{item.date_from | moment("DD.MM.YYYY")}}
                      td
                        span {{item.date_to | moment("DD.MM.YYYY")}}
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";
import isEmpty from "lodash/isEmpty";
import { isEmptyArray } from "@/helpers/utils/functions";
import {
  PageHeader,
  FormItem,
  TextField,
  Button,
  Loader,
  Table,
  Modal,
  TableScore
} from "@/UI";

import { Maybe, DataInterface, UserInterface } from "@/helpers/types";
import { downloader } from "@/helpers/utils/downloader";
import Page from "@/UI/Page/Page.vue";

const columns = [
  {
    field: "name",
    label: "Модуль",
    width: "50%",
    sortable: false
  },
  {
    field: "quiz_score",
    label: "Оценка за экзамен",
    sortable: false
  },
  {
    field: "scores",
    label: "Оценка за проект",
    sortable: false
  },
  {
    field: "date_to.date",
    label: "Дата экзамена",
    type: "date",
    dateInputFormat: "yyyy-MM-dd HH:mm:ss.SSSSSS",
    dateOutputFormat: "dd.MM.yyyy (HH:mm)",
    sortable: false
  },
  {
    field: "project_to.date",
    label: "Дата сдачи проекта",
    type: "date",
    dateInputFormat: "yyyy-MM-dd HH:mm:ss.SSSSSS",
    dateOutputFormat: "dd.MM.yyyy (HH:mm)",
    sortable: false
  }
];

@Component({
  components: {
    Page,
    Modal,
    PageHeader,
    FormItem,
    TextField,
    Button,
    Loader,
    Table,
    TableScore
  }
})
export default class PageDocuments extends Vue {
  @Getter("getterUserPlan") userPlan!: any;
  @Getter("getUserRating") userRating!: any;
  @Getter("errorUserPlanGet") planError!: any;
  @Getter("getProfile") profile!: Maybe<UserInterface>;
  private plan = null;
  private columns = columns;
  public isLoading = true;
  public isHaveLines = false;
  async mounted() {
    this.plan = this.userPlan;
  }
  public isEmpty(array: any) {
    return isEmpty(array);
  }
  public isEmptyArray(array: any) {
    return isEmptyArray(array);
  }
  @Watch("userPlan")
  public console() {
    this.isHaveLines = true;
    this.isLoading = false;
  }
  @Watch("planError")
  public error() {
    console.log("update");
  }
}
</script>

<style lang="scss"></style>
