<template lang="pug">
    Page(:fullSize="true")
        NotFound

</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import NotFound from "@/components/NotFound.vue";
import Page from "@/UI/Page/Page.vue";
@Component({
  components: { Page, NotFound }
})
export default class Page404 extends Vue {}
</script>
