<template lang="pug">
    .courses
        .courses__wrapper
          

</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import NewsCard from "@/components/News/NewsCard.vue";
import { URL } from "@/helpers/constants/url";

@Component({
  components: { NewsCard }
})
export default class CoursesList extends Vue {
  public URL = URL;

  @Prop() data!: any[];
}
</script>

<style lang="scss">
.courses {
  &__wrapper {
    @include three-grid-items;
  }
}
</style>
