<template lang="pug">
    .course-card
        .course-card__wrapper
            .course-card__content
                p.course-card__title.subtitle.subtitle--small {{ news.title }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { CourseInterface } from "@/helpers/types/courses";
import { Picture } from "@/UI";

@Component({
  components: { Picture }
})
export default class CourseCard extends Vue {
  @Prop() news!: any;
}
</script>

<style lang="scss">
.course-card {
  @include full-size();
  @include card();
  overflow: hidden;

  &__wrapper {
    @include full-size();
    position: relative;
  }

  &__content {
    padding: $offset2x;
  }

  &__image {
    width: 100%;
    height: 150px;
    flex: 0 0 auto;
    background: #f8f8f8;
  }

  &__title {
    color: $darker-black;
    margin-bottom: 6px;
  }

  &__footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__progress {
    color: $darker-main;
    &-status {
      margin-right: 5px;
    }
  }
}
</style>
