<template lang="pug">
        .app
            VueExtendLayouts
            Notification
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import VueExtendLayouts from "vue-extend-layout";
import { Action, Getter } from "vuex-class";

import { Maybe, UserInterface } from "@/helpers/types";

import Notification from "@/modules/Notification.vue";

@Component({
  name: "App",
  components: { Notification, VueExtendLayouts }
})
export default class App extends Vue {
  @Getter isAuthenticated!: boolean;
  @Action fetchProfile!: () => Promise<void>;
  @Getter("getProfile") profile!: Maybe<UserInterface>;

  created() {
    if (this.isAuthenticated && !this.profile) {
      this.fetchProfile();
    }
  }
}
</script>
<style lang="scss">
.app {
  @include full-size;
}
</style>
