<template lang="pug">
    .auth-layout
        router-view

</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class AuthLayout extends Vue {}
</script>

<style lang="scss">
@import "~@/assets/scss/main";

.auth-layout {
  @include full-size;
  @include display-flex-centered;
  min-height: 100vh;
  background: url("/img/auth_backgroud.png");
  background-size: cover;
  background-position: center;
  //background: $background-main;
}
</style>
