<template lang="pug">
    .default-layout
        .default-layout__wrapper
            Sidebar(@hideSidebar="hideSidebar" :isSidebarShown="isSidebarShown" :class="{ 'sidebar--opened': isSidebarShown }").default-layout__sidebar
            .default-layout__inner
                .default-layout__header
                    Header(@showSidebar="showSidebar")
                main.default-layout__main.relative
                    router-view
                    NewsRequiredModal(v-if="news" :news="news")
                    .links.fixed.bottom-0.flex.right-8.items-center.bg-white.p-3.rounded-t-md.shadow-md(v-if="settings")
                      span {{$t('bug_report')}}
                      a.ml-2(v-for="item in settings" v-if="validLink(item) && shiwWithLang(item)" :href="getLink(item)")
                        Icon.h-7.w-7(:name="`brands/${(item.key).split('_')[0]}`")
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import Sidebar from "@/modules/Sidebar.vue";
import Header from "@/modules/Header.vue";
import { Getter, Action } from "vuex-class";
import NewsRequiredModal from "@/components/NewsRequiredModal.vue";

const moment = require("moment");

@Component({
  components: { Header, Sidebar, NewsRequiredModal }
})
export default class DefaultLayout extends Vue {
  @Action fetchSettingSocial!: () => Promise<void>;
  @Action fetchNews!: (params?: any) => Promise<void>;

  @Getter("getSettingSocial") settings!: any;
  @Getter("getNews") news!: any;

  isSidebarShown: boolean = false;
  lang: string = "ru";

  @Watch("$i18n.locale")
  private changeLang(val: any) {
    this.lang = val;
  }

  public getLink(item: any) {
    switch (item.key) {
      case "telegram_en":
      case "telegram":
        return "tg://resolve?domain=" + item.value;
      case "whatsapp_en":
      case "whatsapp":
        return "https://wa.me/" + item.value;
    }
  }

  public validLink(item: any) {
    return item.value !== null && item.value !== '' && item.name !== null && item.name !== '';
  }

  public shiwWithLang(item: any) {
    if (this.lang === "ru") {
      return item.id === 1 || item.id === 2;
    } else if(this.lang === 'en') {
      return item.id === 4 || item.id === 5;
    }
  }

  hideSidebar() {
    this.isSidebarShown = false;
  }

  showSidebar() {
    this.isSidebarShown = true;
  }

  beforeCreate() {
    localStorage.setItem("language", this.$i18n.locale);
    moment.locale(localStorage.getItem("language"));
  }

  async created() {
    await this.fetchNews({ required: true });
    await this.fetchSettingSocial();

    if (this.news.length > 0) {
      this.$modal.show("NewsRequired");
    }

    const token = localStorage.getItem("user-token") || "";
    Vue.$cookies.set("api_token", token, "", "/", "emas-admin.ru");
  }
}
</script>

<style lang="scss">
@import "~@/assets/scss/main";

$sidebarWidth: 350px;

.default-layout {
  height: 100%;
}

.default-layout__wrapper {
  position: relative;
  display: flex;
  height: 100%;
}

.default-layout__sidebar {
  width: 0;
  flex: 0 0 auto;
  height: 100vh;
  z-index: 2;

  @media screen and (min-width: 900px) {
    width: $sidebarWidth;
  }
}

.default-layout__inner {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: auto;
  max-width: 100%;

  @media screen and (min-width: 900px) {
    max-width: calc(100% - #{$sidebarWidth});
  }
}

.default-layout__header {
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  flex: 0 0 auto;
  z-index: 5;
}

.default-layout__main {
  background: $background-main;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: $offset;
  padding-bottom: 60px;
}

.sidebar--opened {
  width: 350px;
  z-index: 6;
  position: fixed;
}
</style>
