<template lang="pug">
    Page.quizzes
        PageHeader(:title="$t('quizzes')")
            template(slot="actions")
                Button(icon="plus-circle" @click="handleOpenModal") {{$t('add_quiz')}}

        PageContent
            Loader(v-if="!quizzes" :center="true")
            Table(
                v-else
                :data="quizzes"
                data-path="data"
                :columns="columns"
                @fetch="fetchQuizzes"
            )

        QuizActionModal(
            name="add-quiz"
            title="Создать новый тест"
            action="addQuiz"
            action-title="Создать тест"
        )
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
import { URL } from "@/helpers/constants";
import {
  Page,
  PageHeader,
  PageContent,
  Loader,
  Table,
  Modal,
  FormItem,
  TextField,
  Checkbox,
  Button
} from "@/UI";
import { DataInterface, Maybe } from "@/helpers/types";
import { QuizActionModal } from "@/components/Quiz";
import { Quiz } from "@/helpers/types/quiz";

@Component({
  components: {
    Page,
    PageHeader,
    PageContent,
    Loader,
    Table,
    Modal,
    FormItem,
    TextField,
    Checkbox,
    Button,
    QuizActionModal
  }
})
export default class QuizzesPage extends Vue {
  @Action fetchQuizzes!: () => Promise<void>;
  @Getter("getQuizzes") quizzes!: DataInterface<Quiz[]>;

  @Action addQuiz!: (id: Quiz["id"], params: Quiz) => Promise<void>;
  @Action fetchQuiz!: (id: Quiz["id"]) => Promise<void>;
  @Action updateQuiz!: (id: Quiz["id"], params: Partial<Quiz>) => Promise<void>;
  @Getter("getQuiz") quiz!: Maybe<Quiz>;

  private columns = [
    {
      field: "title",
      label: "quiz_title",
      width: "50%",
      link: ({ id }: { id: number }) => `${URL.QUIZZES}/${id}/edit`,
      sortable: true
    },
    {
      field: "created_at",
      label: "date_start",
      type: "date",
      dateInputFormat: "yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'",
      dateOutputFormat: "dd.MM.yyyy (HH:mm)",
      sortable: false
    }
  ];

  async created() {
    await this.fetchQuizzes();
  }

  private handleOpenModal() {
    this.$modal.show("quizModal", {
      title: "quizModal",
      action: "addQuiz",
      actionTitle: this.$t("save")
    });
  }
}
</script>
