<template lang="pug">
  Loader(v-if="!Object.keys(data).length", :center="true")
  Page(v-else)
    PageEditHeader(:title="data.name")
      template(slot="avatar")
        Avatar(
          :avatar="data.avatar ? data.avatar.url : '/img/avatar.svg'",
          :size="50",
          @set="onSetAvatar",
          download="true",
          :id="data.avatar ? data.avatar.id : 0"
        )
      template(slot="actions")
        Button(variant="danger", @click="onDelete", :loading="isDeleting") {{ $t('remove_user') }}
    PageEditTabs
      Tabs 
        TabContent#General(:title="$t('general_info')")
          TabHeader(:title="$t('users.desc')")
            Button(@click="onEdit", :loading="isLoading") {{ $t('save') }}
          Separator
          UserGeneral(:data="data")
        TabContent#Address(:title="$t('address')")
          TabHeader(:title="$t('address_desc')")
            Button(@click="onEdit", :loading="isLoading") {{ $t('save') }}
          Separator
          UserAddress(:data="data")
        TabContent#Contract(:title="$t('contract')")
          TabHeader(:title="$t('contract_desc')")
            Button(@click="onEdit", :loading="isLoading") {{ $t('save') }}
          Separator
          UserContract(:data="data")
        TabContent#Passport(:title="$t('passport_info')")
          TabHeader(:title="$t('passport_info_desc')")
            Button(@click="onEdit", :loading="isLoading") {{ $t('save') }}
          Separator
          UserPassport(:data="data")
        TabContent#Company(:title="$t('company_info')")
          TabHeader(:title="$t('company_info_desc')")
            Button(@click="onEdit", :loading="isLoading") {{ $t('save') }}
          Separator
          UserCompany(:data="data")
        TabContent#Groups(:title="$t('participation_groups')")
          TabHeader(:title="$t('participation_groups_desc')")
          Separator
          UserGroups(:data="data")
        TabContent#Programs(:title="$t('participation_programs')")
          TabHeader(:title="$t('participation_programs_desc')")
          Separator
          UserPrograms(:data="data")
        TabContent#Activity(:title="$t('Social_activity')")
          UserActivity(:data="data")
        TabContent#Progress(:title="$t('Academic_schedule')")
          UserProgress(
            :userSessions="data.sessions",
            @editUserData="onEdit",
            :userPlan="userPlan",
            @changeSession="changeSession",
            @dateChange="scheduleDatesChange"
            @scoresChange="scoresChange"
          )
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {
  Button,
  Tabs,
  TabContent,
  Loader,
  Separator,
  TabHeader,
  Page,
  PageEditHeader,
  PageEditTabs
} from "@/UI";
import { Action, Getter, Mutation } from "vuex-class";
import { UserInterface } from "@/helpers/types";
import Avatar from "@/modules/Avatar.vue";
import {
  UserGeneral,
  UserAddress,
  UserContract,
  UserPassport,
  UserCompany,
  UserActivity,
  UserProgress
} from "@/components/User";
import UserGroups from "@/components/User/UserGroups.vue";
import UserPrograms from "@/components/User/UserPrograms.vue";
import { URL } from "@/helpers/constants/url";
import uniqBy from "lodash/uniqBy";
import { StringToDate } from "@/helpers/utils/functions";

@Component({
  components: {
    UserPrograms,
    UserGroups,
    UserCompany,
    UserPassport,
    UserContract,
    UserAddress,
    UserGeneral,
    UserActivity,
    UserProgress,
    TabHeader,
    Separator,
    PageEditTabs,
    PageEditHeader,
    Page,
    Avatar,
    Loader,
    Tabs,
    TabContent,
    Button
  }
})
export default class PageUserEdit extends Vue {
  @Action fetchUser!: (id: number) => Promise<void>;
  @Action editUser!: (user: UserInterface) => Promise<void>;
  @Action editUserActivity!: (params: any) => Promise<void>;
  @Action deleteUser!: (id: number) => Promise<void>;
  @Action setUserAvatar!: (user: UserInterface) => Promise<void>;
  @Action getAdminUserPlan!: (id: number) => Promise<void>;
  @Action setScore!: (params: any) => Promise<void>;

  @Mutation saveUserPlan!: (userPlan: any) => void;

  @Getter getUser!: (id: number) => UserInterface;

  id = +this.$route.params.id;
  data: UserInterface = {};
  isDeleting = false;
  isLoading = false;

  async created(): Promise<void> {
    if (!this.getUser(this.id)) {
      await this.fetchUser(this.id);
    }

    this.data = this.getUser(this.id);

    await this.getAdminUserPlan(this.id);

    this.$events.$on("updateUserData", () => {
      this.updateData();
    });
  }

  get userPlan() {
    return {
      ...this.$store.state.UserModule.userPlan,
      lines: this.transformDates(this.$store.state.UserModule.userPlan?.lines)
    };
  }

  transformDates(lines: any[] = []): any[] {
    return lines.map((item: any) => {
      if (item.date_to) {
        item.date_to = StringToDate(item.date_to);
      }

      if (item.project_to) {
        item.project_to = StringToDate(item.project_to);
      }

      if (item.date_from) {
        item.date_from = StringToDate(item.date_from);
      }

      return item;
    });
  }

  scheduleDatesChange({ value, item, key, index }: any) {
    if (!this.data.plan) {
      this.data.plan = [];
    }

    const updatedUserPlan = {
      ...this.userPlan,
      lines: this.userPlan.lines.map((x: any, i: number) =>
        i === index ? { ...x, [key]: value } : x
      )
    };

    this.saveUserPlan(updatedUserPlan);

    const updatedItem = { ...item, [key]: value };
    this.updateUserPlan(updatedItem);

    this.data.plan = uniqBy(this.data.plan, "chapter_id");

    this.onEdit();
  }

  async scoresChange(payload: any) {
    await this.setScore(payload);
  }

  updateUserPlan(item: any) {
    const findedIndex = this.data?.plan!.findIndex(
      ({ chapter_id }) => item.id_chapter === chapter_id
    );
    const planItem = {
      chapter_id: item.id_chapter,
      ...(item.date_to && { date_to: item.date_to }),
      ...(item.project_to && { project_to: item.project_to }),
      ...(item.date_from && { date_from: item.date_from })
    };

    if (findedIndex >= 0) {
      this.data.plan?.splice(findedIndex, 1, planItem);
    } else {
      this.data.plan?.push(planItem);
    }
  }

  async updateData() {
    await this.fetchUser(this.id);

    this.data = this.getUser(this.id);
  }

  changeSession(session: any) {
    this.data!.sessions = session;
  }

  async onEdit() {
    this.isLoading = true;

    if (this.data) {
      try {
        await this.editUser(this.data);
        this.updateData();
      } catch (e) {
        console.log(e);
      } finally {
        this.isLoading = false;
      }
    }
  }

  async onSetAvatar(avatar: File) {
    if (this.data && avatar) {
      const data = { ...this.data, avatar };

      await this.setUserAvatar(data);
      await this.fetchUser(this.id);

      this.data = this.getUser(this.id);
    }
  }

  async onDelete() {
    this.isDeleting = true;

    try {
      await this.deleteUser(this.data.id!);
      await this.$router.push(URL.USERS);
    } catch (e) {
      console.log(e);
    } finally {
      this.isDeleting = false;
    }
  }
}
</script>
