<template lang="pug">
    Loader(v-if="!users" :center="true")
    Page(v-else)
        Tabs(:offset="false")
            TabContent(:title="$t('users.title')", id="Users")
                PageHeader(:title="$t('users.list')")
                    template(slot='actions')
                        Button(tag="button" @click="onOpenAddUsers") {{$t('users.add')}}
                UsersTable(v-if="users")
            TabContent(:title="$t('groups')", id="Groups")
                PageHeader(:title="$t('groups_list')")
                    template(slot='actions')
                        Button(tag="button" @click="onOpenAddGroup") {{$t('groups_add')}}
                GroupsTable
        AddUserModal(name="add-users")
        AddGroupModal(name="add-group")

</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";

import {
  PageHeader,
  Tabs,
  TabContent,
  FormItem,
  TextField,
  Button,
  Loader,
  Table,
  Modal
} from "@/UI";

import {
  Maybe,
  DataInterface,
  GroupInterface,
  UserInterface
} from "@/helpers/types";

import Page from "@/UI/Page/Page.vue";
import GroupsTable from "@/components/Users/GroupsTable.vue";
import UsersTable from "@/components/Users/UsersTable.vue";
import AddUserModal from "@/components/Users/AddUserModal.vue";
import AddGroupModal from "@/components/Users/AddGroupModal.vue";

@Component({
  components: {
    AddUserModal,
    AddGroupModal,
    UsersTable,
    GroupsTable,
    Page,
    Tabs,
    TabContent,
    Modal,
    PageHeader,
    FormItem,
    TextField,
    Button,
    Loader,
    Table
  }
})
export default class PageUsers extends Vue {
  @Action fetchUsers!: (params?: string) => Promise<void>;
  @Action fetchGroups!: (params?: string) => Promise<void>;
  @Getter("getUsers") users!: Maybe<DataInterface<UserInterface[]>>;
  @Getter("getGroups") groups!: Maybe<DataInterface<GroupInterface[]>>;

  public created() {
    this.fetchUsers();
    this.fetchGroups();
  }
  // public mounted() {
  //  this.fetchUsers();
  //  this.fetchGroups();
  //}

  public onOpenAddUsers() {
    this.$modal.show("add-users");
  }
  public onOpenAddGroup() {
    this.$modal.show("add-group");
  }
}
</script>
