<template lang="pug">
    Loader(v-if="!coursesDone" :center="true")
    Page(v-else)
        PageHeader(title="Список завершенных курсов")
        CoursesList(v-if="coursesDone.data && coursesDone.data.length > 0" :data="coursesDone.data")
        .courses-empty(v-else)
            Subtitle(small component="p" ) В данный момент у вас нет законченных программ обучения
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";

import { Page, PageHeader, Button, Loader } from "@/UI";

import { Maybe, DataInterface, CourseInterface } from "@/helpers/types";
import CoursesList from "@/components/Courses/CoursesList.vue";
import Subtitle from "@/UI/Subtitle.vue";
import Separator from "@/UI/Separator.vue";

@Component({
  components: {
    Separator,
    Subtitle,
    CoursesList,
    Page,
    PageHeader,
    Button,
    Loader
  }
})
export default class PageCoursesDone extends Vue {
  @Action fetchCoursesDone!: () => Promise<void>;
  @Getter("getCoursesDone") coursesDone!: Maybe<
    DataInterface<CourseInterface[]>
  >;

  public name = "";
  public isLoading = false;

  public created() {
    if (!this.coursesDone) {
      this.fetchCoursesDone();
    }
  }
}
</script>
<style lang="scss">
.courses-empty {
  @include card;
  padding: $offset2x;
}
</style>
