<template lang="pug">
    Loader(v-if="!this.data" :center="true")
    Page(v-else)
        PageEditHeader(:title="this.data.name")
            template(slot="image")
                Picture(url="")
            template(slot="actions")
                Button(icon="eye", variant="default", :to="`${URL.COURSES}/${this.id}`" target="_blank") {{$t('view')}}
                Button(variant="danger", @click="onDelete" :loading="isDeleting") {{$t('delete')}}
        PageEditTabs
            Tabs
                TabContent(:title="$t('program_main')", id="General")
                    TabHeader(:title="$t('program_edit')")
                        Button(@click="onEdit" :loading="isLoading") {{$t('save')}}
                    Separator
                    Title(:offset="true") {{$t('general')}}
                    FormItem(:label="$t('title_technical')")
                        TextField(v-model="data.name" name="name")
                    FormItem(:label="$t('title')")
                        TextField(v-model="data.name_front" name="name_front")
                    FormItem(:label="$t('title_en')")
                        TextField(v-model="data.name_front_eng" name="name_front_eng")
                    FormItem(:label="$t('desc')")
                        TextField(v-model="data.description" name="description", type="textarea")
                    FormItem(:label="$t('duration')")
                        TextField(v-model="data.duration" name="duration")
                    FormItem(:label="'Последовательность прохождения программы'")
                      Select(v-model="selectedSequence" name="sequence" :options="sequenceSelect" @change="sequenceChange" label="label" track-by="value" :lang="true")
                    FormItem(:label="$t('telegram')")
                        TextField(v-model="data.telegram" name="telegram")
                    FormItem(:label="$t('whatsapp')")
                        TextField(v-model="data.whatsapp" name="whatsapp")
                TabContent(:title="$t('program_content')", id="Structure")
                    TabHeader(:title="$t('program_content_desc')")
                        Button(:disabled="isLoading" @click="onChangeChapterAddView('form')") {{$t('add_chapter')}}
                    Separator
                    draggable(:list="this.data.chapter" handle=".drag_and_drop_control_chapter" draggable=".course-chapter" @change="sortProgramChapter($event)")
                      CourseChapterAdmin(v-for="(chapter, index) in this.data.chapter" :key="index" :chapter="chapter")
                    CourseChapterAdd(
                        :view="this.courseChapterAddView"
                        @change-view="onChangeChapterAddView"
                        @success-add-chapter="onSuccess"
                        :program-id="this.id"
                        id="chapter-add"
                    )
                TabContent(:title="$t('access')", id="Access")
                    TabHeader(:title="$t('access_desc')")
                    Separator
                    Members(:id="this.id" :data="this.data", @update="getUpdate")
</template>

<script lang="ts">
import draggable from "vuedraggable";
import { Component, Vue } from "vue-property-decorator";
import {
  Button,
  Picture,
  Tabs,
  TabHeader,
  TabContent,
  Separator,
  Select,
  Title,
  Loader,
  FormItem,
  TextField,
  PageEditTabs,
  PageEditHeader,
  Page
} from "@/UI";

import { CourseInterface } from "@/helpers/types/courses";
import { Action, Getter, Mutation } from "vuex-class";

import { URL } from "@/helpers/constants/url";
import { scrollToElement } from "@/helpers/utils/functions";
import { Maybe, ChapterInterface } from "@/helpers/types";

import { CourseChapterAdmin, CourseChapterAdd } from "@/components/Course";
import MembersList from "@/components/MembersList.vue";
import Members from "@/components/Members.vue";
import find from "lodash/find";
@Component({
  components: {
    Page,
    PageEditTabs,
    PageEditHeader,
    Members,
    Select,
    Separator,
    TabHeader,
    MembersList,
    CourseChapterAdmin,
    CourseChapterAdd,
    TextField,
    FormItem,
    Title,
    Loader,
    Tabs,
    TabContent,
    Button,
    Picture,
    draggable
  }
})
export default class PageCourseEdit extends Vue {
  @Action fetchCourseAdmin!: (id: number) => Promise<void>;
  @Action deleteCourse!: (id: number) => Promise<void>;
  @Action editCourse!: (course: CourseInterface) => Promise<void>;
  @Getter getCourse!: (id: number) => CourseInterface;
  @Action fetchQuizzes!: () => Promise<void>;
  @Action sortChapter!: (params: any) => Promise<void>;
  public URL = URL;
  public courseChapterAddView: "button" | "form" = "button";
  public id = +this.$route.params.id;
  public data: Maybe<CourseInterface> = null;
  public isLoading = false;
  public isDeleting = false;
  public selectedSequence: any = [];
  public sequenceSelect = [
    {
      value: "arbitrary",
      label: "Произвольный"
    },
    {
      value: "strictly",
      label: "Строго последовательный"
    }
  ];

  async created(): Promise<void> {
    if (!this.getCourse(this.id)) {
      await this.fetchCourseAdmin(this.id);
    }
    this.getUpdate();
    await this.fetchQuizzes();
    if(this.data?.completion_order) {
      const findSequence = find(this.sequenceSelect, i => {
        return i.value === this.data?.completion_order;
      });
      this.selectedSequence.push(findSequence);
    }
  }
  public async sortProgramChapter(event: any) {
    const sortedIds: Array<any> = [];
    this.data?.chapter?.forEach((item: any, index: number) => {
      item.sort = index;
      sortedIds.push(item.id);
    });

    const data = {
      ids_chapter: sortedIds,
      id: this.data?.id
    };
    try {
      await this.sortChapter(data);
    } catch (e) {
      console.error(e);
    }
  }
  public async onEdit() {
    if (this.data) {
      try {
        this.data.completion_order = this.selectedSequence.value;
        this.isLoading = true;

        await this.editCourse(this.data);
        this.isLoading = false;
      } catch {
        this.isLoading = false;
      }
    }
  }

  public sequenceChange(value: any) {
    this.selectedSequence = value;
  }

  public async onDelete() {
    const id = this.data?.id;

    try {
      this.isDeleting = true;
      await this.deleteCourse(id as number);
      await this.$router.push(URL.COURSES);
    } catch {
      this.isDeleting = false;
    }
  }

  public getUpdate() {
    this.data = this.getCourse(this.id);
    //console.log(this.data.chapter)
  }

  public onChangeChapterAddView(view: "button" | "form") {
    scrollToElement("chapter-add");
    this.courseChapterAddView = view;
  }
  public async onSuccess(): Promise<void> {
    console.log("add chapter");
    await this.fetchCourseAdmin(this.id);
    this.getUpdate();
  }
}
</script>
