<template lang="pug">
    Loader(v-if="!courses" :center="true")
    Page(v-else)
        PageHeader(:title="$t('program_list')")
            template(slot='actions')
                Button(tag="button" @click="onOpenModal") {{$t('program_new')}}
        TableCourses(
            :data="this.courses"
            data-path="data"
            :columns="this.columns"
            @fetch="this.fetchCourses"
            styleClass="vgt-table"
            ref="program"
        )
        Modal(name="add-program" :title="$t('program_create')")
            FormItem(:label="$t('title')")
                TextField(v-model="name" name="name" :placeholder="$t('title')")
            template(slot='footer')
                Button(:loading="this.isLoading" @click="onCreateCourse") {{$t('program_create')}}
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";
//import { AgGridVue } from "ag-grid-vue";
import {
  PageHeader,
  FormItem,
  TextField,
  Button,
  Loader,
  TableCourses,
  Modal
} from "@/UI";
import { URL } from "@/helpers/constants/url";
import { Maybe, DataInterface, CourseInterface } from "@/helpers/types";
import Page from "@/UI/Page/Page.vue";
import FileQuiz from "@/assets/svg/icons/filequiz.svg";
import HeaderTableComponent from "@/modules/HeaderTableComponent.vue";
const moment = require("moment");
import { makeQueryURL } from "@/helpers/utils/functions";
@Component({
  components: {
    Page,
    Modal,
    PageHeader,
    FormItem,
    TextField,
    Button,
    Loader,
    TableCourses,
    HeaderTableComponent
  }
})
export default class PageCourses extends Vue {
  @Action fetchCourses!: (params?: string) => Promise<void>;
  @Action deleteCourses!: (params: any) => Promise<void>;
  @Action createCourse!: (data: CourseInterface) => Promise<void>;
  @Getter("getCourses") courses!: Maybe<DataInterface<CourseInterface[]>>;
  @Action duplicateCourses!: (params: any) => Promise<void>;
  @Action cloneCourse!: (id: number, name: string) => Promise<void>;
  @Action deleteCourse!: (id: number) => Promise<void>;
  public name = "";
  public cloneName = "";
  public isLoading = false;
  public cloneModal = false;
  private appInit: boolean = false;
  private selected: Array<any> = [];
  public searchTerm: string = "";
  private URL = URL;
  public serverParams = {
    sort: [],
    searchTerm: "",
    page: this.courses?.current_page,
    perPage: this.courses?.per_page
  };
  public updateParams(newParams: any) {
    this.serverParams = Object.assign({}, this.serverParams, newParams);
  }
  private async fetchData() {
    await this.fetchCourses(makeQueryURL(this.serverParams));
  }
  public async onClone(data: string | any[]) {
    const ids: Array<any> = [];
    for (let i = 0; i < data.length; i++) {
      ids.push(data[i].id);
    }
    const params = {
      ids,
      name: this.cloneName
    };
    try {
      await this.duplicateCourses(params);
    } catch (e) {
      console.error(e);
    }
    this.$modal.hide("clone-program");
    await this.fetchData();
  }
  public async onDelete(data: string | any[]) {
    const ids: Array<any> = [];
    for (let i = 0; i < data.length; i++) {
      ids.push(data[i].id);
    }
    const params = {
      ids
    };
    try {
      await this.deleteCourses(params);
    } catch (e) {
      console.error(e);
    }
    await this.fetchData();
  }

  async mounted() {
    await this.fetchCourses();
  }

  public columns = [
    {
      field: "name",
      label: "program",
      width: "50%",
      link: ({ id }: { id: number }) => `${URL.COURSES}/${id}/edit`,
      icon: FileQuiz,
      sortable: true
    },
    {
      field: "created_at",
      label: "date_start",
      type: "date",
      dateInputFormat: "yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'",
      dateOutputFormat: "dd.MM.yyyy (HH:mm)",
      sortable: true
    },
    {
      field: "updated_at",
      label: "date_update",
      type: "date",
      dateInputFormat: "yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'",
      dateOutputFormat: "dd.MM.yyyy (HH:mm)",
      sortable: false
    }
  ];
  get isAdmin() {
    return this.$store.getters.isAdmin;
  }
  get isSuperAdmin() {
    return this.$store.getters.isSuperAdmin;
  }
  public async created() {
    await this.fetchCourses();
  }


  public onOpenModal() {
    this.$modal.show("add-program");
  }
  public onCloneModal() {
    this.$modal.show("clone-program");
  }

  public async onCreateCourse() {
    const { name } = this;
    this.isLoading = true;
    await this.createCourse({ name });
     this.$modal.hide("add-program");
    this.isLoading = false;
  }
}
</script>
<style lang="scss">
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
</style>
