<template lang="pug">
    Loader(v-if="!this.data" :center="true")
    Page(v-else)
        .course
            .course-header.relative
                Title(:big="true" weight="500").course-header__title {{ this.data.name }}
                .links.absolute.bottom-0.flex.right-5
                  .tg(v-if="data.telegram")
                    a.flex.items-center(:href="data.telegram")
                      svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                        path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z')
                      span.ml-1 Telegram
                  .wa.ml-5(v-if="data.whatsapp")
                    a.flex.items-center(:href="data.whatsapp")
                      svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                        path(d='M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z')
                      span.ml-1 WhatsApp
            .course-detailed(v-if="this.data.description")
                .course-info
                    h2.course-info__label.subtitle {{$t('program_about')}}
                    .course-info__description(v-html="this.data.description")
                    .course-info__time
                        Icon(name="clock").course-info__time-icon
                        .course-info__time-value {{$t('duration')}} {{ this.data.duration }} дня
            .course-chapters(v-if="!isEmptyChapter(this.data.chapter)")
                    CourseChapter(v-for="(chapter, index) in this.data.chapter", :key="index" :chapter="chapter" :class="{'--disabled': chapter.block }")
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
import { isEmptyArray } from "@/helpers/utils/functions";
import { Maybe, ChapterInterface, CourseInterface } from "@/helpers/types";
import { CourseChapter } from "@/components/Course";
import { Title, Loader } from "@/UI";
import Page from "@/UI/Page/Page.vue";
import Separator from "@/UI/Separator.vue";

@Component({
  components: { Separator, Page, Title, CourseChapter, Loader }
})
export default class PageCourse extends Vue {
  @Action fetchCourse!: (id: number) => Promise<void>;
  @Action editCourse!: (course: CourseInterface) => Promise<void>;
  @Getter getCourse!: (id: number) => CourseInterface;

  public id = +this.$route.params.id;
  public data: Maybe<CourseInterface> = null;
  public isLoading = false;

  public isEmptyChapter(array: ChapterInterface[]) {
    return isEmptyArray(array);
  }

  async created(): Promise<void> {
    await this.fetchCourse(this.id);
    this.data = this.getCourse(this.id);
    this.$events.$on("updateChapter", () => {
      this.getUpdate();
    });
  }

  public async getUpdate() {
    await this.fetchCourse(this.id);
    this.data = this.getCourse(this.id);
  }
}
</script>
<style lang="scss">
.course {
  @include children {
    margin-bottom: $offset2x;
  }
}

.course-header {
  @include display-flex-centered;

  flex-direction: column;
  color: $white;
  background-color: lighten($main, 5);
  background-image: linear-gradient(
      56deg,
      $main 12%,
      transparent 12.5%,
      transparent 87%,
      $main 87.5%,
      $main
    ),
    linear-gradient(
      150deg,
      $main 12%,
      transparent 12.5%,
      transparent 87%,
      $main 87.5%,
      $main
    ),
    linear-gradient(
      56deg,
      $main 12%,
      transparent 12.5%,
      transparent 87%,
      $main 87.5%,
      $main
    ),
    linear-gradient(
      150deg,
      $main 12%,
      transparent 12.5%,
      transparent 87%,
      $main 87.5%,
      $main
    ),
    linear-gradient(
      56deg,
      lighten($main, 2) 25%,
      transparent 25.5%,
      transparent 75%,
      lighten($main, 2) 75%,
      lighten($main, 2)
    ),
    linear-gradient(
      56deg,
      lighten($main, 2) 25%,
      transparent 25.5%,
      transparent 75%,
      lighten($main, 2) 75%,
      lighten($main, 2)
    );
  background-size: 23px 30px;
  min-height: 100px;
  padding: 54px 20px;
}
.course-detailed {
  border: 1px solid $border;
  background: $white;
  padding: 24px 24px 34px;
}

.course-progress {
  max-width: 470px;
}

.course-progress__label {
  color: $secondary;
  margin-bottom: 8px;
  font-size: 15px;
}

.course-progress__bar {
  @include radius(5);

  background: #e5e8ea;
  content: "";
  overflow: hidden;
  height: 10px;
  position: relative;
}

.course-progress__bar-current {
  @include display-flex-centered;

  content: "";
  background: lighten($lighter-main, 10);
  height: 100%;
}

.course-info__label {
  margin-bottom: 10px;
  color: $black;
}

.course-info__description {
  margin-bottom: 24px;
  & > * {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.course-info__time {
  @include display-flex-centered;

  justify-content: flex-start;
  color: $secondary;
}

.course-info__time-icon {
  margin-right: 10px;
}
</style>
