<template lang="pug">
    Loader(v-if="!courses" :center="true")
    Page(v-else)
        PageHeader(:title="$t('program_list')")
        CoursesList(v-if="courses && courses.length > 0" :data="courses")
        .courses-empty(v-else)
            Subtitle(small component="p" ) В данный момент у вас нет программ для обучения
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";

import { Page, PageHeader, Button, Loader } from "@/UI";

import {
  Maybe,
  DataInterface,
  CourseInterface,
  UserInterface
} from "@/helpers/types";
import CoursesList from "@/components/Courses/CoursesList.vue";
import Subtitle from "@/UI/Subtitle.vue";
import Separator from "@/UI/Separator.vue";

@Component({
  components: {
    Separator,
    Subtitle,
    CoursesList,
    Page,
    PageHeader,
    Button,
    Loader
  }
})
export default class PageCourses extends Vue {
  @Action fetchCoursesForUser!: (params?: string) => Promise<void>;
  @Getter("getCourses") courses!: Maybe<DataInterface<CourseInterface[]>>;
  @Getter("getProfile") profile!: Maybe<UserInterface>;
  public name = "";
  public isLoading = false;

  public mounted() {
    this.fetchCoursesForUser();
  }
}
</script>
<style lang="scss">
.courses-empty {
  @include card;
  padding: $offset2x;
}
</style>
