<template lang="pug">
    .form-item
        .form-item__label(:class="{'w-100': isFull}")
          span.form-item__label-value {{ label }}
          sup.form-item__label-required(v-if="required") *
        .form-item__component
            slot
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class FormItem extends Vue {
  @Prop({ required: false, default: "", type: String }) label!: string;
  @Prop({ required: false, default: false, type: Boolean })
  required!: boolean;
  @Prop() isFull!: boolean;
}
</script>

<style lang="scss">
.form-item {
  @include display-flex-centered;

  justify-content: flex-start;
  width: 100%;
  padding-left: 8%;
  flex-wrap: wrap;

  @media screen and (max-width: 540px) {
    padding-left: 0;
  }
}

.form-item.disabled {
  pointer-events: none;
  & .form-item__component {
    opacity: 0.7;
  }
}

.form-item + .form-item {
  margin-top: $offset2x;
}

.form-item__label {
  flex: 0 0 auto;
  width: 18%;
  margin-right: $offset2x;
  margin-bottom: 10px;

  @media screen and (max-width: 900px) {
    width: 100%;
    padding: 0;
  }
}

.form-item__label-required {
  color: $red;
  margin-left: 4px;
}

.form-item__component {
  @include display-flex-centered;

  justify-content: flex-start;
  width: 100%;
  flex: 1 1 auto;
  max-width: 500px;
  position: relative;

  & .form-value {
    position: absolute;
    left: 10px;
  }
}

.form-item.w-100 .form-item__component {
  width: 100%;
  max-width: unset;
}

.validation-field .form-item__component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
</style>
