<template lang="pug">
    Page
        .video__wrapper
            Button(:to="`${URL.CONTENT}/info/205`") ID 205
            VideoItem(
              v-if="video"
              video="/video/testemasVideo.m3u8"
              poster="https://bitdash-a.akamaihd.net/content/sintel/poster.png"
              name="2"
              title="Второе"
            )
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";
import Plyr from "plyr";
import Hls from "hls.js";
import {
  Page,
  PageHeader,
  Button,
  Loader,
  Modal,
  FormItem,
  TextField
} from "@/UI";
import { Maybe, MediaInterface } from "@/helpers/types";
import { URL } from "@/helpers/constants";
import VideoItem from "@/components/VideoItemTwo.vue";

@Component({
  components: {
    Page,
    PageHeader,
    Button,
    Loader,
    Modal,
    FormItem,
    TextField,
    VideoItem
  }
})
export default class PageVideoManager extends Vue {
  @Action getVideo!: (id: number) => Promise<void>;
  @Getter("getterVideo") video!: any;
  public source = "https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8";
  //public player = new Plyr(this.$refs["player"] as HTMLVideoElement, {
  //  captions: {
  //    active: true,
  //    update: true,
  //    language: "ru"
  //  }
  //});
  //public hls = new Hls();
  public URL = URL;
  async created() {
    await this.getVideo(205);
    //const PlayerElement = this.$refs["player"] as HTMLVideoElement;
    //if (!Hls.isSupported()) {
    //  PlayerElement.src = this.source;
    //} else {
    //  this.hls.loadSource(this.source);
    //  this.hls.attachMedia(PlayerElement);
    //}
  }
}
</script>
<style lang="scss"></style>
